﻿<div class="NewsList">
        
        <!--@If Defined(News:Search)-->
        	<div class="NewsSearch">
              <!--@News:Search-->
             </div>
        <!--@EndIf(News:Search)-->
          
          <!--@If Defined(News:RSS)-->
            <div class="Rss" style="text-align:right; margin-bottom:10px;">
              <!--@News:RSS-->
                <!--@If Defined(News:FusionGoogle)-->&nbsp;<!--@News:FusionGoogle--><!--@EndIf(News:FusionGoogle)-->
                <!--@If Defined(News:WindowsLive)-->&nbsp;<!--@News:WindowsLive--><!--@EndIf(News:WindowsLive)-->
            </div>
            <!--@EndIf(News:RSS)-->
        
            <!--@LoopStart(NewsList)-->
            <div class="Holder">
              
              <div class="col-md-4" style="padding-left:0px;">
                <div class="NewsImage">
                <!--@If Defined(News:SmallImage)-->
                    <a href="<!--@News:Href-->"><img src="/admin/public/getimage.ashx?Image=<!--@News:SmallImageClean-->&Resolution=72&Compression=80&Width=1000&Height=600&Crop=0" border="0"></a>
                <!--@EndIf(News:SmallImage)-->
                <!--@If Not Defined(News:SmallImage)-->
                <!--@If Defined(News:ImageClean)-->
                    <a href="<!--@News:Href-->"><img src="/admin/public/getimage.ashx?Image=<!--@News:ImageClean-->&Resolution=72&Compression=80&Width=1000&Height=600&Crop=0" border="0"></a>
                <!--@EndIf(News:ImageClean)-->
                <!--@EndIf(News:SmallImage)-->
                </div><!-- NewsImage-->
              </div><!-- col-md-4 -->
              
              <div class="col-md-8" style="padding:0px;">
                <div class="NewsTeaser">
                <div class="newslist-date"><!--@If Not(News:CategoryName<contains>'uden dato')--><span class="NewsDate"><!--@News:Date.Day-->.<!--@News:Date.Month-->.<!--@News:Date.Year-->&nbsp;&nbsp;·&nbsp;&nbsp;</span><!--@EndIf--><!--@News:CategoryDescription--></div>
                    <a style="color:#333; text-decoration:none;" href="<!--@News:Href-->">
                        <h2><!--@News:Heading--></h2>
                    </a>
                    <p><!--@News:Manchet--><!--@News:FirstXChar--></p>
                    <!--@News:TotalNewsLinkClean-->
                </div>
                <!--NewsTeaser -->
                <div class="NewsEditor"><!--News:FrontendEdit--></div>
              </div><!-- col-md-8 -->
            
            </div><!-- row Holder-->
            <!--@LoopEnd(NewsList)-->
            
            <!--@If Defined(News:Paging.List)-->
            <div class="NewsNavigation"><!--@News:Paging.Back--> &nbsp;<!--@News:Paging.List-->&nbsp; <!--@News:Paging.Forward--></div>
            <!--@EndIf(News:Paging.List)-->
            
            <!--@News:NoNewsMessage-->



</div>