<div class="row">
    <div class="col-med-12">
        <a name="<!--@ParagraphID-->"></a>
        <h1 class="line-through"><span><!--@ParagraphHeader--></span></h1>
        <!--@If Defined(ParagraphImage)-->
        <div class="image">
            <!--@If Defined(ParagraphImageLinkClean)--><a href="<!--@ParagraphImageLinkClean-->" <!--@If Defined(ParagraphImageLinkTarget)--> target="<!--@ParagraphImageLinkTarget-->"<!--@EndIf(ParagraphImageLinkTarget)-->><!--@EndIf(ParagraphImageLinkClean)-->
            <img src="/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Resolution=72&Compression=90&Width=1000" border="0" alt="<!--@ParagraphImageLinkAlt-->" title="<!--@ParagraphImageLinkAlt-->"     class="img-responsive  c-width100"  >
            <!--@If Defined(ParagraphImageLinkClean)--></a>
            <!--@EndIf(ParagraphImageLinkClean)-->
            <!--@If Defined(ParagraphImageCaption)-->
            <div class="imagetext">
                <!--@ParagraphImageCaption-->
            </div>
            <!--@EndIf(ParagraphImageCaption)-->
        </div>
        <!--@EndIf(ParagraphImage)-->
        <!--@If Defined(ParagraphText)-->
        <div class="text activities">
            <!--@ParagraphText-->
        </div>
        <!--@EndIf(ParagraphText)-->
        <!--@If Defined(ParagraphModule)-->
        <div class="module">
            <!--@ParagraphModule-->
        </div>
        <!--@EndIf(ParagraphModule)-->
    </div>
</div>