<div class="slider-content orange">
    <img src="/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Resolution=72&Compression=90&height=450&width=1400&Crop=0" border="0" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-text">
                    <a href="<!--@ParagraphImageLinkClean-->">
                        <!--@ParagraphImageCaption-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>