﻿<div class="slider">
    <div class="ecom-grouplist slides_container">

    <!--@LoopStart(Groups)-->
        <!--@If Defined(Ecom:Group.LargeImage)-->
            <div style="background-image: url('<!--@Ecom:Group.LargeImage-->')" class="grouplist-section-wrapper slider-section">
                <div class="grouplist-section">
                    <h4><!--@Ecom:Group.Name--></h4>
                    <!--@If Defined(Ecom:Group.Description)-->
                    <div class="group-description"><!--@Ecom:Group.Description--></div>
                    <!--@EndIf(Ecom:Group.Description)-->
                    <p><a href="<!--@Ecom:Group.Link.Clean-->"><!--@Translate(seallevarer, 'Se alle varer')--></a></p>
                </div>
            </div>
        <!--@EndIf(Ecom:Group.LargeImage)-->
    <!--@LoopEnd(Groups)-->

    </div>
    <a href="#" class="arrow prev"></a>
    <a href="#" class="arrow next"></a>
</div>
