<div id="group-list">
	<!-- @Include(../eCommerce01_mobile/searchbar.html)-->

	<ul data-role="listview" class="group-list">
		<!--@LoopStart(Groups)-->
		<li>
			<a href="<!--@Ecom:Group.Link.Clean-->" data-transition="slide">
				<!--@If Defined(Ecom:Group.SmallImage)-->
				<img src="/Admin/Public/GetImage.aspx?Image=<!--@Ecom:Group.SmallImage-->&amp;Width=80" alt="" title="<!--@Ecom:Group.Name-->" />
				<!--@EndIf(Ecom:Group.SmallImage)-->
				<h3><!--@Ecom:Group.Name--></h3>
				<!--<span class="ui-li-count"><!-\-@Ecom:Group.ProductCount-\-></span>-->
			</a>
		</li>
		<!--@LoopEnd(Groups)-->
	</ul>
</div>
