﻿<p>@GetString("Ecom:Group.Description")</p>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        @foreach (var group in GetLoop("Groups")){

        var image = group.GetString("Ecom:Group.LargeImage");

        	<div class=" col-xs-12 col-md-4">
                <div class="thumbnail object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">

                    <a href="@group.GetString("Ecom:Group.Link.Clean")"><img src='/admin/public/getimage.aspx?Image=@image&Format=jpg&Width=375&Height=150&Crop=0' /></a>
                    <div class="caption">
                        <h3><a href="@group.GetString("Ecom:Group.Link.Clean")">@group.GetString("Ecom:Group.Name")</a></h3>
                        <p class="divider"></p>

                        @Truncate(group.GetString("Ecom:Group.Description"),100)
                        <a href="@group.GetString("Ecom:Group.Link.Clean")" class="btn btn-primary">Vis produkter</a>


                    </div>
                </div>
             </div>



        }
    </div>
</div>
@functions {
    private string Truncate (string value, int count)
    {
        if (value.Length > count)
        {
        value = value.Substring(0, count - 1) + "...</p>";
        }

        return value;
    }
}