<!--@If(UserManagement:User.Login.Action==Recovery)-->
<div id="LostloginBox" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Send kodeord</h4>

			</div>
			
		<div class="modal-body row">

		

			 <form method="post" action="/Default.aspx?id=<!--@Global:Page.ID-->">
        <input type="hidden" name="ForgotPasswordMailTemplate" value="<!--@UserManagement:User.Login.EmailTemplate-->" />
        <input type="hidden" name="ForgotPasswordSenderEmail" value="<!--@UserManagement:User.Login.EmailSender-->" />
        <input type="hidden" name="ForgotPasswordMailSubject" value="<!--@UserManagement:User.Login.EmailSubject-->" />
        <!--@If(UserManagement:User.Login.FoundUsersCount=0 || UserManagement:User.Login.FoundUsersCount>1)-->
        <div class="col-xs-12"><p>Vi fandt ikke nogen bruger med de oplysninger!</p></div>
        <!--@Else-->
        <div class="col-xs-12"><p>Udfyld din email adresse for at få tilsendt dit kodeord</p></div>
        <!--@EndIf-->
        <!--@LoopStart(UserManagement:User.Login.Fields)-->
        
        <div class="form-group has-feedback col-xs-12 col-sm-12">
            <label class="title" for="<!--@Field.Name-->">
                <!--@Field.Title-->:
            </label>
            <input type="text" id="<!--@Field.Name-->" class="form-control" name="<!--@Field.Name-->" value="" />
            
            <!--@If Defined(Field.Error)-->
            <label class="error" for="<!--@Field.Name-->"><!--@Field.Error--></label>
            <!--@EndIf-->
        </div>
        <!--@LoopEnd(UserManagement:User.Login.Fields)-->
        <div class="pr-field commands">
           
        </div>

    


				

		</div>


		<div class="modal-footer">
		 <button type="submit" class="btn btn-primary" name="LoginAction" value="Recovery">Send</button>
		<a class="btn btn-default" href="/Default.aspx?id=<!--@Global:Page.ID-->">Luk</a>

		</div>
</form>





		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--@EndIf-->
<!--@If(UserManagement:User.Login.Action=PasswordSent)-->
<div id="LostloginBox" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Kodeord sendt</h4>

			</div>
			
		<div class="modal-body row">

		<div class="col-xs-12"><p>Vi har sendt dit kodeord til din emailadresse</p>
</div>
			 

    


				

		</div>


		<div class="modal-footer">
		<a class="btn btn-primary" href="/Default.aspx?id=<!--@Global:Page.ID-->">OK</a>

		</div>






		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--@EndIf-->

<!--@SnippetStart(scripts)-->
<script>
$(function () {
		  $('#LostloginBox').modal('show');
		})
</script>
<!--@SnippetEnd(scripts)-->