<style type="text/css">
         /* Client-specific Styles */
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  */
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important;}
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {color: #33b9ff;text-decoration: none;text-decoration:none!important;}
         /*STYLES*/
         table[class=full] { width: 100%; clear: both; }
         /*IPAD STYLES*/
         @media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #33b9ff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #33b9ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 440px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         img[class=banner] {width: 440px!important;height:220px!important;}
         img[class=colimg2] {width: 440px!important;height:220px!important;}


         }
         /*IPHONE STYLES*/
         @media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #ffffff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #ffffff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         img[class=banner] {width: 280px!important;height:140px!important;}
         img[class=colimg2] {width: 280px!important;height:140px!important;}
         td[class="padding-top15"]{padding-top:15px!important;}


         }
      </style>

<!-- Start of preheader -->

<!-- End of preheader -->

<!-- Start of header -->

<!-- End of Header -->

<!-- Start of main-banner -->

<!-- End of main-banner -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- Start of heading -->

<!-- End of heading -->

<!-- 2columns -->

<!-- end of 2 columns -->

<!-- 2columns -->

<!-- end of 2 columns -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- Start of heading -->

<!-- End of heading -->

<!-- article -->

<!-- end of article -->

<!-- article -->

<!-- end of article -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- footer -->

<!-- end of footer -->

<!-- Start of Postfooter -->

<!-- End of postfooter -->


<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="100%" max-width="622px" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td align="center" height="60" style="font-size:1px; line-height:1px;" st-content="separator">
								<p></p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="banner">
	<tbody>
		<tr>
			<td>
				<table width="60" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="100%" max-width="622px" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
									<tbody>
										<tr>
										<!-- start of image -->
											<td style="border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;text-align: center;">
												<div class="imgpop">
													<a href="#"><img width="620" border="0" height="80" alt="" style="display:block; border:none; outline:none; text-decoration:none;" src="http://www.levendehistorie.dk/files/System/mailimg/logo.png" class="banner" st-image="banner-image" id="5eydfco2unwgsyvi"></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
										<!-- end of image -->
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="622px" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true" bgcolor="#ffffff">
					<tbody>
						<tr>
							<td style="height: 30px; font-size:1px; line-height:1px;border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;text-align: center;" st-content="separator">
								<p></p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="622" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true" bgcolor="#ffffff">
					<tbody>
						<tr>
							<td align="center" style="height: 30px;font-size:1px; line-height:1px; border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;" st-content="separator">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="preheader">
	<tbody>
		<tr>
			<td>
				<table width="622" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" bgcolor="#ffffff" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="622" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
									<tbody>
										<tr>
											<td style="border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;">
												<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td align="left" valign="middle" style="font-family: Arial, sans-serif; font-size: 13px;color: #282828; padding-left: 31px;padding-right: 31px;" st-content="viewonline">
																<p style="padding-bottom: 20px;">
																	<span style="text-decoration: none; color: rgb(51, 51, 51); font-size: 22px;"><strong>Loginoplysninger</strong></span>
																</p>
																<p>Nedenstående er det brugernavn og kodeord vi har registeret på denne mailadresse.</p>
																<!--@If Defined(DWPasswordRecoveryUrl)-->
<!--@DWExtranetUsername-->,
<br />
Tryk <a href="<!--@DWPasswordRecoveryUrl-->">her</a> for at ændre password!
<!--@Else-->
Brugernavn: <!--@DWExtranetUsername--><br/>
Kodeord: <!--@DWExtranetPassword-->
<!--@EndIf-->
																



																<p style="padding-bottom: 10px;"></p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>


<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="banner">
	<tbody>
		<tr>
			<td>
				<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
									<tbody>
										<tr>
								<!-- start of image -->
											<td align="center">
												<div class="imgpop">
													<a href="#"><img width="622" border="0" height="62" alt="" style="display: block; border: none; outline: none; text-decoration: none;" src="http://www.levendehistorie.dk/files/System/mailimg/cfaa4ec58b8b45b59d4c07b3f79498d8.png" class="banner" st-image="banner-image" id="y543u4hobxcd6lxr"></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- end of image -->
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="622" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td align="center" height="30" style="font-size:1px; line-height:1px;" st-content="separator">
								<p>
									<span style="font-size: 24pt;">&nbsp;</span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" st-sortable="2-images-columns">
	<tbody>
		<!-- Spacing -->
		<tr>
			<td width="100%" height="60"></td>
		</tr>
		<!-- Spacing -->
		<tr>
			<td>
				<table width="622" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
									<tbody>
										<tr>
											<td>
												<table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
													<tbody>
														<tr>
															<td>
															<!-- start of text content table -->
																<table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
																	<tbody>
																		<!-- image -->
																		<tr>
																			<td width="270" align="center" class="devicewidth">
																				<div class="imgpop">
																					<img src="http://www.levendehistorie.dk/files/System/mailimg/26e3cae1ae544812b1af711b12e3639e.png" alt="" border="0" width="69" height="60" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" st-image="right-image" id="ck21tksty6sthuxr">
																				</div>
																			</td>
																		</tr>
																		<!-- Spacing -->
																		<tr>
																			<td width="100%" height="20"></td>
																		</tr>
																		<!-- Spacing -->
																		<!-- title -->
																		<tr>
																			<td width="270">
																				<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
																					<tbody>
																						<tr>
																							<td style="font-family: Arial, sans-serif; font-size: 18px; color: #555555; padding-left: 10px; padding-right: 10px;" align="center" height="50" st-content="text-content">
																								<p>
																									<span style="color: rgb(51, 51, 51);"><strong><span style="font-size: 13px;">Museet for Varde By og Omegn</span></strong></span>
																									
																								</p>
																								<p>
																									<span style="font-size: 12px; color: #555555; line-height: 20px;">+45 75 22 08 77</span>
																									
																								</p>
																								<p>
																									<a href="mailto:vam@vardemuseum.dk"><span style="font-size: 12px; color: #555555; line-height: 20px;">vam@vardemuseum.dk</span></a>
																									
																								</p>
																								<p>
																									<a href="http://www.vardemuseum.dk"><span style="font-size: 12px; color: #c5892f; line-height: 20px;"><strong>www.vardemuseum.dk</strong></span></a>
																								</p>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<!-- end of title -->
																	</tbody>
																</table>
															</td>
														</tr>
													<!-- end of text content table -->
													</tbody>
												</table>
												<!-- end of left column -->
												<!-- start of right column -->

												<table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
													<tbody>
														<tr>
															<td>
															<!-- start of text content table -->
																<table width="270" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
																	<tbody>
																		<!-- image -->
																		<tr>
																			<td width="270" align="center" class="devicewidth">
																				<div class="imgpop">
																					<img src="http://www.levendehistorie.dk/files/System/mailimg/Ringkobing-Skjern_Museum.png" alt="" border="0" width="69" height="60" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" st-image="right-image" id="npl7lffz8ouhaor">
																				</div>
																			</td>
																		</tr>
																		<!-- Spacing -->
																		<tr>
																			<td width="100%" height="20"></td>
																		</tr>
																		<!-- Spacing -->
																		<!-- title -->
																		<tr>
																			<td width="270">
																				<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
																					<tbody>
																						<tr>
																							<td style="font-family: Arial, sans-serif; font-size: 18px; color: #555555; padding-left: 10px; padding-right: 10px;" align="center" height="50" st-content="text-content">
																								<p>
																									<span style="color: rgb(51, 51, 51);"><strong><span style="font-size: 13px;">Ringk&oslash;bing-Skjern Museum</span></strong></span>
																									
																								</p>
																								<p>
																									<span style="font-size: 12px; color: #555555; line-height: 20px;">+45 9736 23 43</span>
																									
																								</p>
																								<p>
																									<a href="mailto:info@levendehistorie.dk"><span style="font-size: 12px; color: #555555; line-height: 20px;">info@levendehistorie.dk</span></a>
																									
																								</p>
																								<p>
																									<a href="http://www.levendehistorie.dk"><span style="font-size: 12px; color: #c5892f; line-height: 20px;"><strong>www.levendehistorie.dk</strong></span></a>
																								</p>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<!-- end of title -->
																		<!-- end of content -->
																	</tbody>
																</table>
															</td>
														</tr>
														<!-- end of text content table -->
													</tbody>
												</table>
												<!-- end of right column -->
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!-- Spacing -->
		<tr>
			<td width="100%" height="60"></td>
		</tr>
		<!-- Spacing -->
	</tbody>
</table>

