<div id="LoginloginBox" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Log ind</h4>

			</div>
			<form method="post" action="/Default.aspx?id=<!--@Global:Page.ID-->">
		<div class="modal-body row">



			<!--@If(DW_extranet_error_uk<defined>)-->
			<div class="info-pane error"><!--@DW_extranet_error_uk--></div>
			<!--@EndIf-->


				<input type="hidden" name="ID" value="<!--@Global:Page.ID-->" />
				<!--@If Defined(UserManagement:User.Login.SuccessRedirectToPage)-->
				<input type="hidden" name="Redirect" value="<!--@UserManagement:User.Login.SuccessRedirectToPage-->" />
				<!--@EndIf-->

				<div class="form-group has-feedback col-xs-12 col-sm-6">
					<label for="<!--@UserManagement:User.Email.InputName-->"><!--@Translate(user, "Brugernavn")--></label>

					<input type="text" id="login-username" class="form-control" name="username" value="<!--@If(Server:Request.username<defined>)--><!--@Server:Request.username--><!--@EndIf-->" />
				</div>
				<div class="form-group has-feedback col-xs-12 col-sm-6">
					<label for="<!--@UserManagement:User.Email.InputName-->"><!--@Translate(password, "Password")--></label>

					<input type="password" class="form-control" id="login-password" name="password" value="<!--@If(Server:Request.password<defined>)--><!--@Server:Request.password--><!--@EndIf-->" />
					<a href="/Default.aspx?id=<!--@Global:Page.ID-->&amp;LoginAction=Recovery">Glemt password?</a>
				</div>

		</div>


		<div class="modal-footer">
		<button id="search" type="submit" class="btn btn-primary" name="LoginAction" value="Login">Log ind</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>

		</div>
</form>





		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

