<!--@If Defined(Global:Extranet.UserName)-->
<!--@If Defined(Server:Request.addquoteid)-->
<script type="text/javascript">


        window.location.href = 'Default.aspx?ID=1355';

</script>
<!--@EndIf(Server:Request.addquoteid)-->
<script type="text/javascript">

    function changeQuoteState(quoteID, stateID) {
        location = '<!--@Ecom:CustomerCenter.Quotes.BaseUrl-->' + "&quoteID=" + quoteID + "&stateID=" + stateID;
    }

</script>
<h2>Mine forespørgsler</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn
            </th>
            <th>Dato
             </th>
            <th>Ordre ID
             </th>
            <th>Pris

            </th>
            <th align="right" >

            </th>
        </tr>
    </thead>
    <tbody>
        <!--@If Defined(Ecom:CustomerCenter.Quotes.EmptyList)-->

		<!--@EndIf(Ecom:CustomerCenter.Quotes.EmptyList)-->

		<!--@If Not Defined(Ecom:CustomerCenter.Quotes.EmptyList)-->
		 <!--@LoopStart(Quotes)-->
        <!--@If(Ecom:Order.ID<contains>"quote")-->
		<tr>
<td>

        <!--@LoopStart(OrderLines)-->
        <!--@If(OrderLines.LoopCounter==1)-->
					<!--@Ecom:Order:OrderLine.ProductName-->
			<!--@EndIf-->
		  <!--@LoopEnd(OrderLines)-->
</td>

		    <td><!--@Ecom:Order.Date--></td>
		    <td><!--@Ecom:Order.ID--></td>
		    <td><!--@Ecom:Order.OrderLines.Total.Price--></td>

			<td>
				<!--@LoopStart(AvailableQuoteStates)-->
<!--@If(QuoteState.AllowOrder==True)-->

<a class="btn btn-default" href="<!--@Ecom:CustomerCenter.Quotes.AddToCart-->">Gennemse og godkend ordre</a>

<!--@Else-->
<!--@If(QuoteState.IsCurrent==True)-->
Tilbud er under udarbejdelse
<!--@EndIf-->
<!--@EndIf-->
				<!--@LoopEnd(AvailableQuoteStates)-->


			</td>

        </tr>
<!--@EndIf-->
        <!--@LoopEnd(Quotes)-->



        <!--@EndIf(Ecom:CustomerCenter.Quotes.EmptyList)-->
    </tbody>
</table>
<!--@If Defined(Ecom:CustomerCenter.Quotes.HasBeenResent)-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        alert("<!--@Ecom:CustomerCenter.Order.HasBeenResent.Message-->");
    });
</script>
<!--@EndIf(Ecom:CustomerCenter.Quotes.HasBeenResent)-->
<!--@EndIf(Global:Extranet.UserName)-->
