﻿<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />

<div class="items">
    <div class="item-edit-form">
        <form method="post">
            <input type="hidden" name="Continue" value="/Default.aspx?ID=<!--@ItemPublisher:Global.PageId-->&PID=<!--@ItemPublisher:Global.ParagraphId-->" />
            <div class="item-edit-fields-outer">
                <!--@ItemPublisher:Edit.Form-->   
            </div> 

            <div class="item-edit-submission">
                <input type="button" value='<!--@Translate(ItemPublisher:Edit.Cancel, "Cancel")-->' onclick="javascript:window.history.go(-1);" />
                <input type="submit" value='<!--@Translate(ItemPublisher:Edit.Save, "Save changes")-->' />
            </div>

            <div class="items-clear"></div>
        </form>
    </div>
</div>

