﻿	<div class="panel panel-default" id="panel<!--@Global.ParagraphId-->">
		<form class="form-vertical-filter">
			<div class="panel-heading">
				 <h4 class="panel-title">
                   <a data-toggle="collapse" class="collapsed" href="#pg<!--@Global.ParagraphId-->" >
                      <label class="control-label" for="checkboxes"><!--@Item.Title--></label>
                    </a>
				</h4>
			</div>
			<div id="pg<!--@Global.ParagraphId-->" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="accordion-inner">
						<h4><!--@Item.Headline1--></h4>
						<p><!--@Item.Text1--></p>
						<h4><!--@Item.Headline2--></h4>
						<p><!--@Item.Text2--></p>
					</div>
				</div>
			</div>
		</form>
	</div>

