﻿  <div class="boxoffset <!--@Item.Width_Mobile--> <!--@Item.Widthdesktop-->">
      <div class="thumbnail object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
          <a href="<!--@Item.Link.Value-->">
            <!--@If(Item.Icon<>"")-->
            <img src="admin/public/getimage.ashx?Image=<!--@Item.Image-->&Format=jpg&Width=340&Height=245&Crop=0" alt="<!--@Item.Heading-->" />
            <!--@EndIf-->
            <img src="admin/public/getimage.ashx?Image=<!--@Item.Image-->&Format=jpg&Width=340&Height=245&Crop=0" alt="<!--@Item.Heading-->">

            <div class="caption">
                  	<h5 class="text-center"><!--@Item.Heading--></h5>
              		<p class="divider"></p>
                  	<p class="text-center"><!--@Item.Text1--></p>
              		<p class="text-center"><!--@Item.Text2--></p>
                  	<!--@ParagraphModule-->
            </div>
          </a>
      </div>

</div>


