﻿<div class="row grid-space-20">
<!--@LoopStart(Item.Boxes)-->

<div class="col-xs-12 col-md-6">
							<div class="image-box team-member ">
								<div class="overlay-container ">
									<!--@If(Item.Boxes.Icon<>"")-->
									<!--@If(Item.Boxes.Button_Link<>"")-->
									<a href="<!--@Item.Boxes.Button_Link-->">
											<img src="<!--@Item.Boxes.Icon-->" alt="">
									</a>


									<!--@Else-->
									<img src="<!--@Item.Boxes.Icon-->" alt="">
									<!--@EndIf-->


									<!--@EndIf-->
								</div>
								<div class="image-box-body ">
									<h3 class="title"><!--@Item.Boxes.Headline--></h3>
									<small><!--@Item.Boxes.Titel--></small>
									<div class="separator-2"></div>
									<!--@Item.Boxes.Text.Crop(100)-->
									<ul class="list-unstyled">
										<!--@If(Item.Boxes.Telefon<>"")-->
											<li><i class="fa fa-phone pr-10"></i><!--@Item.Boxes.Telefon--></li>
										<!--@EndIf-->
										<!--@If(Item.Boxes.Mobil<>"")-->
											<li><i class="fa fa-mobile pr-10 pl-5"></i><!--@Item.Boxes.Mobil--></li>
										<!--@EndIf-->
										<!--@If(Item.Boxes.Mail<>"")-->
											<li><i class="fa fa-envelope pr-10"></i><a href="mailto:<!--@Item.Boxes.Mail-->"><!--@Item.Boxes.Mail--></a></li>
										<!--@EndIf-->

									</ul>
									<!--@If(Item.Boxes.Button_Text<>"")-->
									<div style="text-align:center">
											<a href="<!--@Item.Boxes.Button_Link-->" class="btn-default btn"><!--@Item.Boxes.Button_Text--></a>
										</div>
											<!--@EndIf-->
								</div>
							</div>
						</div>
<!--@LoopEnd(Item.Boxes)-->
</div>


