﻿<!--@DwTemplateTags-->

<div class="boxoffset <!--@Item.Width_Mobile--> <!--@Item.Widthdesktop-->">
	<div class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
		<div class="col-md-offset-4 col-md-8">
			<h3><!--@ParagraphHeader--></h3>
		</div>
		
			<!--@ParagraphModule-->
	</div>

</div>


