﻿	<!-- Loading Screen -->

		<div class="swiper-slide col-sm-12 color-<!--@Item.Background.Value-->">
			<div class="img">
				<img data-u="image" src="<!--@Item.Image-->" alt="<!--@Item.Heading-->" />
			</div>
				<div class="textwrapper">
				<div>
					<h3><!--@Item.Heading--></h3>
			<p><!--@Item.Text--></p>
			<a class="btn btn-primary btn-large" href="<!--@Item.Button-->"><!--@Item.ButtonText--></a>
			<!--@ParagraphModule-->
			</div>
				</div>
			
		</div>


