﻿
  	
	<!--@If(Item.Position=="over" || Item.Image=="")-->
	<div class="<!--@Item.Width_Mobile--> <!--@Item.Widthdesktop-->">

	<!--@If(Item.Heading<>"")-->
	<h1><!--@Item.Heading--></h1>
	<!--@EndIf-->
 	<!--@If(Item.Image<>"")-->
	<img src="<!--@Item.Image-->" alt="" >
	<!--@EndIf-->
	<!--@If(Item.Text1<>"")-->
	<!--@Item.Text1-->
	<!--@EndIf-->
	<!--@ParagraphContent-->
	<!--@ParagraphModule-->
	<!--@If(Item.Button1Text<>"")-->
		<p><a href="<!--@Item.Button1Link-->" class="btn btn-primary"><!--@Item.Button1Text--></a></p>
	<!--@EndIf-->
	</div>
	<!--@Else-->
	<div class="row">
		<div class='col-md-8 <!--@If(Item.Position=="left")-->col-md-push-4<!--@EndIf-->'>
<!--@If(Item.Heading<>"")-->
	<h1><!--@Item.Heading--></h1>
	<!--@EndIf-->
		<!--@If(Item.Text1<>"")-->
	<!--@Item.Text1-->
	<!--@EndIf-->
	<!--@ParagraphContent-->
	<!--@ParagraphModule-->
	<!--@If(Item.Button1Text<>"")-->
		<p><a href="<!--@Item.Button1Link-->" class="btn btn-primary"><!--@Item.Button1Text--></a></p>
	<!--@EndIf-->
		</div>
		<div class='col-md-4 <!--@If(Item.Position=="left")-->col-md-pull-8<!--@EndIf-->'><img src="<!--@Item.Image-->" alt="" ></div>

	</div>

	<!--@EndIf-->

<!--@If(Item.Position=="left")--><!--@EndIf-->
