﻿	<!-- Loading Screen -->

	<div class="boxoffset <!--@Item.Width_Mobile--> <!--@Item.Widthdesktop-->" style="background-image:url('/admin/public/getimage.ashx?Image=<!--@Item.Logo-->&Format=jpg&Width=60&Height50px=&Crop=&Compression=')">

	
		<address>
          <strong><a href="<!--@Item.HeadingLink-->" title="<!--@Item.Heading-->"><!--@Item.Heading--></a></strong>
			<!--@Item.Text1--><br>
			<!--@Item.Text2-->
          	<!--@If(Item.Abbreviation<>"")--><abbr title="<!--@Item.Abbreviation-->"><a href="<!--@Item.AbbreviationLink-->"><!--@Item.Abbreviation--></a></abbr><!--@EndIf-->
			<a href="<!--@Item.ButtonLinkt1-->" title="<!--@Item.ButtonText1-->"><!--@Item.ButtonText1--></a><br>
			<a href="<!--@Item.ButtonLinkt2-->" title="<!--@Item.ButtonText2-->"><!--@Item.ButtonText2--></a>
		</address>
	</div>