<div class="main-hr">
	<div class="<!--@Item.BoxSettings.Width_Mobile--> <!--@Item.BoxSettings.Widthdesktop-->">
		<h4><!--@Item.Headline--></h4>
		<h4><!--@Item.SmallHeadline--></h4>
		<p><!--@Item.Text--></p>
	</div>
</div>
