<div class="<!--@If(Item.Width_Mobile=="")-->col-sm-12<!--@EndIf--> <!--@If(Item.Width_Mobile=="")-->col-md-12<!--@EndIf--> <!--@Item.Width_Mobile--> <!--@Item.Widthdesktop--> ">
<div class=" <!--@If(Item.Panel=="True")-->well<!--@EndIf-->">
<!--@If(Item.Headline<>"")-->
<h1><!--@Item.Headline--></h1>
<!--@EndIf-->
<!--@If(Item.Icon<>"")-->
<img src="<!--@Item.Icon-->" alt="">
<!--@EndIf-->
<!--@If(Item.Text<>"")-->
<!--@Item.Text-->
<!--@EndIf-->
<!--@ParagraphModule-->
<!--@If(Item.Button_Text<>"")-->
			<p><a href="<!--@Item.Button_Link-->" class="btn btn-primary right"><!--@Item.Button_Text--></a></p>
			<!--@EndIf-->
</div>
</div>
