
	
	
	

	<div class="boxoffset col-sm-3 <!--@Item.BoxSettings.Width_Mobile--> <!--@Item.BoxSettings.Widthdesktop-->">
		<div class="row">
		<p><!--@Item.Text1--></p>
		<p><!--@Item.Text2--></p>
		<p><!--@Item.Text3--></p>
		<p><!--@Item.Text4--></p>
		<p><!--@Item.Text5--></p>
		</div>
	</div>
	



