﻿<div class="<!--@Item.Indstillilnger.Width_Mobile--> <!--@Item.Indstillilnger.Widthdesktop-->">
									<!-- google maps start -->
									<div id="map-canvas"></div>
									<!-- google maps end -->
								</div>


<!--@SnippetStart(loadscripts)--><script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script><!--@SnippetEnd(loadscripts)-->
<!--@SnippetStart(scripts)-->

		// Google Maps
		//-----------------------------------------------
		if ($("#map-canvas").length>0) {
			var map, myLatlng, myZoom, marker;
			// Set the coordinates of your location
			myLatlng = new google.maps.LatLng(<!--@Item.Latlng-->);
			myZoom = 12;
			function initialize() {
				var mapOptions = {
					zoom: myZoom,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					center: myLatlng,
					scrollwheel: false
				};
				map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
				marker = new google.maps.Marker({
					map:map,
					draggable:true,
					animation: google.maps.Animation.DROP,
					position: myLatlng
				});
				google.maps.event.addDomListener(window, "resize", function() {
					map.setCenter(myLatlng);
				});
			}
			google.maps.event.addDomListener(window, "load", initialize);
		}

<!--@SnippetEnd(scripts)-->