﻿	<!-- Loading Screen -->

	<h3 class="text-center">
	  <!--@Item.Heading-->
	</h3>
	<p class="text-center">
		<!--@Item.Text1-->
	</p>
	<p class="text-center">
		<!--@Item.Text2-->
	</p>
	<p class="text-center btn-main">
		<a class="btn btn-primary btn-large" href="<!--@Item.Button1Link-->"><!--@Item.Button1Text--></a>
		<a class="btn btn-primary btn-large" href="<!--@Item.Button2Link-->"><!--@Item.Button2Text--></a>
	</p>


