<div class="<!--@Item.BoxSettings.Width_Mobile--> <!--@Item.BoxSettings.Widthdesktop-->">

	<h4><!--@Item.Headline--></h4>
	<h5 class="experience"><!--@Item.SmallHeadline1--></h5>
	<div class="row">
		<div class="col-sm-6">
			<p><!--@Item.Experience1Left--></p>
			<p><!--@Item.Experience2Left--></p>
		</div>
		<div class="col-sm-6 text-right">
			<p><!--@Item.Experience1Right--></p>
			<p><!--@Item.Experience2Right--></p>
		</div>
	</div>
	
	<h5 class="experience"><!--@Item.SmallHeadline2--></h5>
	
	<div class="row">
		<div class="col-sm-6">
			<p><!--@Item.Options1Left--></p>
			<p><!--@Item.Options2Left--></p>
		</div>
		<div class="col-sm-6 text-right">
			<p><!--@Item.Options1Right--></p>
			<p><!--@Item.Options2Right--></p>
		</div>
	</div>

	
	<hr>
	<div class="row">
		<div class="col-md-12">
			<span><!--@Item.HeaderLeft--></span>
			<big class="pull-right"><!--@Item.TotalPriceRight--></big>
		</div>
	</div>
	<hr>
	
	<div class="row">
		<div class="col-md-12">
			<p class="small"><!--@Item.Text--> <a class="SeeMore" href="<!--@Item.Link-->" title="<!--@Item.Link-->"> <!--@Item.LinkText--></a>.</p>
		</div>
	</div>
	
	
	
</div>
