﻿<div class="col-md-12 description">
<div class="row">
  <div class="col-md-12">
			<!--@If(Item.HeadlineStrong<>"")--><p><strong><!--@Item.HeadlineStrong--></strong></p><!--@EndIf-->	
			<p><!--@Item.Text--></p>	
</div>
</div>
</div>


