﻿<div class="item <!--@If(ParagraphContainerIsFirst=="True")-->active<!--@EndIf-->">
	<img src="<!--@Item.Image-->" alt="">

  	<!--div class="container"-->

        <div class="carousel-caption">
			<img src="<!--@Item.ImagePerfect-->" alt="">
        	<h2><!--@Item.Caption.Value--></h2>
        </div>
</div>
