<div class="teammember col-xs-12 col-sm-6" data-animation-effect="fadeInUpSmall" data-effect-delay="0">

<div class="row">
<!--@If(Item.Icon<>"")-->
<div class="col-xs-12 col-sm-6">
<img src="<!--@Item.Icon-->" alt="">
</div>
<!--@EndIf-->


											<!--@If(Item.Headline<>"")-->
											<div class="col-xs-12 col-sm-6">
<h3 class="title"><!--@Item.Headline--></h3>
<small><!--@Item.Titel--></small>
<!--@EndIf-->
											<!--@Item.Text-->
										</div>

</div>

									</div>