<div class="item <!--@If(ParagraphContainerIsFirst=="True")-->active<!--@EndIf-->">
	<img src="/admin/public/getimage.ashx?Image=<!--@Item.Image-->&Format=jpg&Width=1000&Height=333&Crop=0" alt="<!--@Item.Headline-->">

  	<!--div class="container"-->

        <div class="carousel-caption">
        	<h2><!--@Item.Caption.Value--></h2>
        </div>
</div>
