<div class="<!--@Item.BoxSettings.Width_Mobile--> <!--@Item.BoxSettings.Widthdesktop-->">
<h3 class="title margin-top-clear"><!--@Item.Headline--></h3>
											<div class="embed-responsive embed-responsive-16by9">
												<iframe class="embed-responsive-item" src="<!--@Item.Text-->"></iframe>

											</div>
</div>

