<style>
#signup tr th,#signup tr td{padding-top:5px; vertical-align:top;}
#signup input[type="radio"]{margin:0px 5px 5px 0px;}
</style>
<h2>Tilmeld</h2>
<!--@LoopStart(FormValidationErrors)-->
	<!--@HeaderStart-->
		<div id="errormessages">
			<ul>
	<!--@HeaderEnd-->
				<li>Fejl i feltet "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
	<!--@FooterStart-->
			</ul>
		</div>
	<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->

<!--@UserManagement:User.FormStart-->



<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Name.InputName-->"><!--@Translate(Name, "Navn")-->*</label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Name.InputName-->" name="<!--@UserManagement:User.Name.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.JobTitle.InputName-->"><!--@Translate(JobTitle, "Stillingsbetegnelse")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.JobTitle.InputName-->" name="<!--@UserManagement:User.JobTitle.InputName-->" placeholder="">
</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Company.InputName-->"><!--@Translate(Company, "Ans&aelig;ttelsessted")-->:</label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Company.InputName-->" name="<!--@UserManagement:User.Company.InputName-->" placeholder="">
</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Department.InputName-->"><!--@Translate(Department, "Afdeling / Kontor")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Department.InputName-->" name="<!--@UserManagement:User.Department.InputName-->" placeholder="">
</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Address.InputName-->"><!--@Translate(Address, "Adresse (arbejde)")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Address.InputName-->" name="<!--@UserManagement:User.Address.InputName-->" placeholder="">
</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Zip.InputName-->"><!--@Translate(Zip, "Postnummer")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Zip.InputName-->" name="<!--@UserManagement:User.Zip.InputName-->" placeholder="">
</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.City.InputName-->"><!--@Translate(City, "By")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.City.InputName-->" name="<!--@UserManagement:User.City.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Phone.InputName-->"><!--@Translate(PhoneBusiness, "Telefon (arbejde)")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Phone.InputName-->" name="<!--@UserManagement:User.Phone.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.PhoneMobile.InputName-->"><!--@Translate(PhoneMobile, "Telefon (mobil)")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.PhoneMobile.InputName-->" name="<!--@UserManagement:User.PhoneMobile.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Email.InputName-->"><!--@Translate(Email, "E-mail")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Email.InputName-->" name="<!--@UserManagement:User.Email.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@User.CustomField.AccessUser_gender.InputName-->"><!--@Translate(gender, "Mand / Kvinde")--></label>
<label>
    <input type="radio" name="<!--@User.CustomField.AccessUser_gender.InputName-->" id="<!--@User.CustomField.AccessUser_gender.InputName-->" value="man">
    Mand
  </label>
  <label>
    <input type="radio" name="<!--@User.CustomField.AccessUser_gender.InputName-->" id="<!--@User.CustomField.AccessUser_gender.InputName-->" value="woman">
    Kvinde
  </label>

</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@User.CustomField.AccessUser_birthday.InputName-->"><!--@Translate(birthday, "F&oslash;dselsdato")--></label>
<div style="clear:both">
	<!--@UserManagement:User.CustomField.AccessUser_birthday.Input-->
</div>
</div>

	<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.CustomField.AccessUser_EAN.InputName-->"><!--@Translate(ean, "EAN-nummer")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.CustomField.AccessUser_EAN.InputName-->" name="<!--@UserManagement:User.CustomField.AccessUser_EAN.InputName-->" placeholder="">
</div>

	<div class="form-group has-feedback col-xs-12 col-sm-6">

		<label>
    <input type="checkbox" name="<!--@UserManagement:User.CustomField.AccessUser_Approved.InputName-->" id="<!--@UserManagement:User.CustomField.AccessUser_Approved.InputName-->"value="">
    <!--@Translate(approved, "Tilmelding godkendt af organisation")-->
  </label>

</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="CustomField.AccessUser_AccessUser_course">&Oslash;nsket kursus</label>

	<select id="CustomField.AccessUser_AccessUser_course" name="CustomField.AccessUser_AccessUser_course" class="form-control"/>
				<option value="">V&aelig;lg kursus</option>
<!--@LoopStart(SelectableGroups)-->
<option value="<!--@UserManagement:User.SelectableGroup.Name-->"><!--@UserManagement:User.SelectableGroup.Name--></option>
 <!--@LoopEnd(SelectableGroups)-->
		</select>
</div>
<hr>
<div class="col-xs-12">
<hr>
	<b>Brugernavn og Password:</b>
Du skal v&aelig;lge et brugernavn og password du vil bruge til at logge ind for at hente filer relateret til kurset.<br/><br/>
	</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.UserName.InputName-->"><!--@Translate(UserName, "Brugernavn")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.UserName.InputName-->" name="<!--@UserManagement:User.UserName.InputName-->" placeholder="">
</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.NewPassword.InputName-->"><!--@Translate(password, "Password")--></label>

	<input type="password" class="form-control" id="<!--@UserManagement:User.NewPassword.InputName-->" name="<!--@UserManagement:User.NewPassword.InputName-->" placeholder="">
	<br/>
<label for="<!--@UserManagement:User.NewPasswordConfirm.InputName-->"><!--@Translate(repeat_password, "Gentag Password")--></label>

	<input type="password" class="form-control" id="<!--@UserManagement:User.NewPasswordConfirm.InputName-->" name="<!--@UserManagement:User.NewPasswordConfirm.InputName-->" placeholder="">
</div>

<div class="form-group has-feedback col-xs-12 col-sm-6">

</div>

<div class="form-group has-feedback col-xs-12 col-sm-12">

	<input type="submit" class="btn btn-default" id="submitter" value="<!--@Translate(send, "Send")-->">
</div>
<!--@UserManagement:User.FormEnd-->