<div id="LoginBox" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    	<!--@UserManagement:User.FormStart-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Opret bruger</h4>

      </div>
      <div class="modal-body row">


<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.UserName.InputName-->"><!--@Translate(UserName, "Brugernavn")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.UserName.InputName-->" name="<!--@UserManagement:User.UserName.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.Email.InputName-->"><!--@Translate(Email, "E-mail")--></label>

	<input type="text" class="form-control" id="<!--@UserManagement:User.Email.InputName-->" name="<!--@UserManagement:User.Email.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
	<label for="<!--@UserManagement:User.NewPassword.InputName-->"><!--@Translate(password, "Password")--></label>

	<input type="password" class="form-control" id="<!--@UserManagement:User.NewPassword.InputName-->" name="<!--@UserManagement:User.NewPassword.InputName-->" placeholder="">
</div>
<div class="form-group has-feedback col-xs-12 col-sm-6">
<label for="<!--@UserManagement:User.NewPasswordConfirm.InputName-->"><!--@Translate(repeat_password, "Gentag Password")--></label>

	<input type="password" class="form-control" id="<!--@UserManagement:User.NewPasswordConfirm.InputName-->" name="<!--@UserManagement:User.NewPasswordConfirm.InputName-->" placeholder="">
</div>


</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
        <button type="submit" class="btn btn-primary">Opret bruger</button>
        <button type="button" data-toggle="modal" href="#LoginloginBox"  data-dismiss="modal" class="btn left  btn-default">Log ind</button>
      </div>
      <!--@UserManagement:User.FormEnd-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


