<div class="news item button">
<div class="row">
	<div class="col-md-12">

            <div>
            
						<div class="newslist-date"><!--@If Not(News:CategoryName<contains>'uden dato')--><span class="NewsDate"><!--@News:Date.Day-->.<!--@News:Date.Month-->.<!--@News:Date.Year-->&nbsp;&nbsp;·&nbsp;&nbsp;</span><!--@EndIf--><!--@News:CategoryDescription--></div>                        
                        <h1><!--@News:Heading--></h1>
                        
                        <!--@If Defined(News:Manchet)-->
                        <p class="manchet"><!--@News:Manchet--></p>
                        <!--@EndIf(News:Manchet)-->
                        
                        <!--@If Defined(News:Author)-->
                        <h6>
                            <!--@News:Author-->
                        </h6>
                        <!--@EndIf(News:Author)-->
                        <!--@If Defined(News:Text)-->
                        
                </div> <!--  -->
                
                
                <div><!--@News:Text--></div>
                <!--@EndIf(News:Text)-->
    
                <!--@If Defined(News:ImageClean)-->
                    <img src="/admin/public/getimage.aspx?Image=<!--@News:ImageClean-->&Resolution=72&Compression=80&Width=1000" alt="" border="0" class="img-responsive">
                    <!--@EndIf(News:ImageClean)-->
                    <!--@If Defined(News:ImageText)-->
        <div class="imagetext">
        <!--@News:ImageText-->
        </div>
        <!--@EndIf(News:ImageText)-->
    
                <!--@If Defined(News:Initials)-->
                    <!--@News:Initials-->
                <!--@EndIf(News:Initials)-->
                
    <!--@If Defined(News:RelatedNewsGroupName)-->
    
    	<h3><!--@News:RelatedNewsGroupName--></h3>
        <!--@LoopStart(News:RelatedNews)-->
        <a href="<!--@News:Href-->"><!--@News:Heading--><!--@If Not(News:CategoryName<contains>'uden dato')-->&nbsp;<!--@News:NewsDate--><!--@EndIf--></a>
        <!--@LoopEnd(News:RelatedNews)-->
    
    <!--@EndIf(News:RelatedNewsGroupName)-->
    <div><!--@News:BackPicture--><!--@News:BackText--></div>
    
    </div> <!-- col-md-12 -->
</div><!-- row -->
</div><!-- rnews item button -->