<div class="news item right">
<div class="row">

   		
             <div class="col-md-6">
            <div>
						<div class="newslist-date"><!--@If Not(News:CategoryName<contains>'uden dato')--><span class="NewsDate"><!--@News:Date.Day-->.<!--@News:Date.Month-->.<!--@News:Date.Year-->&nbsp;&nbsp;·&nbsp;&nbsp;</span><!--@EndIf--><!--@News:CategoryDescription--></div>                        
                        <h1><!--@News:Heading--></h1>
                        
                        <!--@If Defined(News:Manchet)-->
                        <p class="manchet"><!--@News:Manchet--></p>
                        <!--@EndIf(News:Manchet)-->
                        
                        <!--@If Defined(News:Author)-->
                        <h6>
                            <!--@News:Author-->
                        </h6>
                        <!--@EndIf(News:Author)-->
                        <!--@If Defined(News:Text)-->
                        
               
                
           
                <div><!--@News:Text--></div>
                <!--@EndIf(News:Text)-->
    

    
                <!--@If Defined(News:Initials)-->
                    <!--@News:Initials-->
                <!--@EndIf(News:Initials)-->
                
    <!--@If Defined(News:RelatedNewsGroupName)-->
    
    	<h3><!--@News:RelatedNewsGroupName--></h3>
        <!--@LoopStart(News:RelatedNews)-->
        <a href="<!--@News:Href-->"><!--@News:Heading--><!--@If Not(News:CategoryName<contains>'uden dato')-->&nbsp;<!--@News:NewsDate--><!--@EndIf--></a>
        <!--@LoopEnd(News:RelatedNews)-->
    
    <!--@EndIf(News:RelatedNewsGroupName)-->
    
    
    <div><!--@News:BackPicture--><!--@News:BackText--></div>
     </div> <!--text -->
    	</div> <!-- col-md-6 -->
        
        	 <div class="col-md-6">
    
    
    
			<!--@If Defined(News:ImageClean)-->
                    <img src="/admin/public/getimage.aspx?Image=<!--@News:ImageClean-->&Resolution=72&Compression=80&Width=1000" alt="" border="0" class="img-responsive">
                    <!--@If Defined(News:ImageText)-->
                    <!--@EndIf(News:ImageText)-->
                    <!--@News:ImageText-->
                    <!--@EndIf(News:ImageClean)-->
            
            </div>
          
</div><!-- row -->
</div><!-- news item right -->
