<link rel="Stylesheet" href="/Files/Templates/Gallery/List/lightbox2.05/css/lightbox.css" />
<script type="text/javascript" src="/Files/Templates/Gallery/List/lightbox2.05/js/prototype.js"></script>
<script type="text/javascript" src="/Files/Templates/Gallery/List/lightbox2.05/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/Files/Templates/Gallery/List/lightbox2.05/js/lightbox.js"></script>

<style type="text/css">
	.LBimg
	{
		text-align: center;
		vertical-align: middle;
		margin: 15px 0;
	}
	.LBimg a
	{
		text-align: center;
		vertical-align: middle;
		display: block;
		height: 100%;
	}
	.LBimg a:hover
	{
		background-color: #f2f2f2;
	}
</style>
<!--@LoopStart(Images)-->
<div class="LBimg col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<a href="<!--@Gallery.Image.Thumb.Large.Path-->" rel="lightbox[img]" title="<!--@Gallery.Image.Name-->">
		<img src="<!--@Gallery.Image.Path-->" class="img-responsive" />
		<!--Gallery.Image.Thumb.Medium--><!--DwTemplateTags-->
	</a>
</div>
<!--@LoopEnd(Images)-->
<div class="clearfix"></div>
<!--@Gallery.List.NoImagesText-->