<!--@Layout.Title(Underside skabelon)-->
<!--@Layout.Description(nyhedsbrev billede højre-->
<a name="<!--@ParagraphID-->"></a>

   <!-- content mbk -->

<table width="100%" bgcolor="#f2f2f2">
   <tbody>
      <tr>
         <td bgcolor="#f2f2f2">

    <table width="49%" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth" bgcolor="#f2f2f2">
   <tbody>
      <tr>
         <td>
            <!-- start of text content table -->
            <table width="270px" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
               <tbody>
                  <!-- image -->
                   <tr>
                     <td style="font-family: Helvetica, arial, sans-serif;  font-weight:300;  font-size: 18px;  color: #333333; text-align:left;line-height: 24px;">
                        <!--@If Defined(Item.Overskrift)--><!--@Item.Overskrift.Value--><!--@EndIf(Item.Overskrift)-->
                     </td>
                  </tr>
                  <!-- end of title -->
                  <!-- Spacing -->
                  <tr>
                     <td width="100%" height="1"></td>
                  </tr>
                  <!-- /Spacing -->
                  <!-- content -->
                  <tr>
                     <td style="font-family: Helvetica Neue, Helvetica, arial, sans-serif; font-size: 14px; color: #333333; text-align:left;line-height: 24px;">
                        <!--@If Defined(Item.Br_dtekst)--><!--@Item.Br_dtekst--><!--@EndIf(Item.Br_dtekst)-->
                     </td>
                  </tr>
                  <!-- end of content -->
                    <!-- button -->
                  
                  <tr>
      
                     <td>
                        <table width:"100px" align="left" cellpadding="0" cellspacing="0" border="0" >
                        <!-- Vis enten link som knap eller tekst - afhængig af checkbox valg i afsnit -->
                           <!--@If Defined(Item.VisLinkSomKnap)-->
                            <!-- Spacing -->
                           <tr>
                              <td width="100%" height="7"></td>
                           </tr>
                              <!-- /Spacing --> 
                           <tr>
                              <td width="auto" valign="middle" height="30" align="center" style=" background-color:#c88817; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family:Helvetica Neue, Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:18px; padding-right:18px;">
                              
                                 <span style="color: #ffffff; font-weight: 300;">
                                 <!--@If Defined(Item.Link.Value)-->
                                    <a href="http://<!--@Global:Request.Host-->/<!--@Item.Link.Value-->" style="color: #ffffff; text-align:center;text-decoration: none;"><!--@Item.LinkTekst--></a>
                                    <!--@EndIf(Item.Link.Value)-->
                                 </span>
                              </td>
                           </tr>
                           <!--@EndIf(Item.VisLinkSomKnap)--> 

                           <!--@If Not Defined(Item.VisLinkSomKnap)-->
                           <tr>
                              <td width="100%" height="7"></td>
                           </tr> 
                           <tr>
                              <td style="font-family: Helvetica Neue, Helvetica, arial, sans-serif; font-size: 14px; color: #333333; text-align:left;line-height: 24px;">
                                 <!--@If Defined(Item.Link.Value)-->
                                 <a href="http://<!--@Global:Request.Host-->/<!--@Item.Link.Value-->" style="color:#c88817;text-decoration:none;font-weight:bold;"><!--@Item.LinkTekst--></a>
                                 <!--@EndIf(Item.Link.Value)-->
                              </td>
                           </tr>

                           <!--@EndIf(Item.VisLinkSomKnap)-->

                        </table> 
                     </td>
                  </tr>
                  <!-- /button -->
               </tbody>
            </table>
         </td>
      </tr>
      <!-- end of text content table -->
      <!-- Spacing -->
      <tr>
         <td width="100%" height="20"></td>
      </tr>
      <!-- Spacing -->
   </tbody>
</table>


   <table width="49%" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth" bgcolor="#f2f2f2">
   <tbody>
      <tr>
         <td>
            <!-- start of text content table -->
            <table width="270px" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
               <tbody>
                  <!-- image -->
                  <tr>
                     <td width="270px" height="150" align="center" class="devicewidth">
                     <!-- img -->
                     <!--@If Defined(Item.Billede.Value)-->
                        <img src="http://<!--@Global:Request.Host-->/admin/public/getimage.ashx?Image=<!--@Item.Billede.Value-->&Resolution=72&Compression=90&Width=270&Height=150&Crop=0" alt="<!--@Item.BilledeAltTekst-->" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2"> 

                        <!--@EndIf(Item.Billede.Value)-->
                     </td>
                  </tr>
                  <!-- /button -->
               </tbody>
            </table>
         </td>
      </tr>
      <!-- end of text content table -->
      <!-- Spacing -->
      <tr>
         <td width="100%" height="25"></td>
      </tr>
      <!-- Spacing -->
   </tbody>
</table>
<!-- end of left column -->




  </td>
      </tr>

   </tbody>
</table>

<!--@If Defined(ParagraphModule)-->
                <!--@ParagraphModule-->
            <!--@EndIf(ParagraphModule)-->