<!--@Layout.Title(Sidefod nyhedsbrev)-->
<!--@Layout.Description(Layout til footer)-->


<a name="<!--@ParagraphID-->"></a>
<p style="line-height:20px;">
   <!-- footer -->
<!--@If Defined(Item.Firmanavn)--><!--@Item.Firmanavn--> · <!--@EndIf(Item.Firmanavn)-->
<!--@If Defined(Item.Adresse)--><!--@Item.Adresse--> · <!--@EndIf(Item.Adresse)-->
<!--@If Defined(Item.Hjemmeside)--> <a style="color:#999999; text-decoration: underline; font-family:helvetica neue, helvetica, arial, sans-serif;" href="<!--@Item.Hjemmeside-->"><!--@Item.HjemmesideNavn--></a> · <!--@EndIf(Item.Hjemmeside)-->
<!--@If Defined(Item.Tlf_)--><!--@Item.Tlf_--> · <!--@EndIf(Item.Tlf_)-->
<!--@If Defined(Item.Email)--><span class="link-color"><a style="color:#999999" href="mailto:<!--@Item.Email-->"><!--@Item.Email--></a></span><!--@EndIf(Item.Email)--> <br /><br />
<!--@If Defined(EmailMarketing:Email.UnsubscribeLink.Clean)--> <a style="color:#999999; font-family:helvetica neue, helvetica, arial, sans-serif;" href="<!--@EmailMarketing:Email.UnsubscribeLink.Clean-->">Afmeld nyhedsbrevet</a> <!--@EndIf(EmailMessaging:Email.UnsubscribeLink.Clean)-->  
</p>

