<!--@Layout.Title(Underside skabelon)-->
<!--@Layout.Description(Nyhedsbrev billede top)-->
<a name="<!--@ParagraphID-->"></a>


<!--Nyt mbk-->
  
<!-- start textbox-with-title and image -->
<table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table width="580" bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" border="0" align="center" class="template-img-top">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="#f2f2f2" width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <!--@If Defined(Item.Billede.Value)-->
                              <tr>
                               	<td align="center">
                                    
                                    <img width="560" border="0" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="http://<!--@Global:Request.Host-->/admin/public/getimage.ashx?Image=<!--@Item.Billede.Value-->&Resolution=72&Compression=90&Width=560&crop=0&height=250" class="topimg" alt="<!--@Item.BilledeAltTekst-->">
                                    

                                 </td>
                              </tr>
                              <tr>
                                 <td width="100%" height="20"></td>
                              </tr>
                              <!--@EndIf(Item.Billede.Value)-->
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                       <tbody>
                                          <!-- Title -->
                                          <tr>
                                             <td style="font-family:Helvetica Neue,  Helvetica, arial, sans-serif;  font-weight:300;  font-size: 18px; color: #333333; text-align:left;line-height: 24px;">

                                                <!--@If Defined(Item.Overskrift)--><!--@Item.Overskrift.Value--><!--@EndIf(Item.Overskrift)-->
                                             </td>
                                          </tr>
                                          <!-- End of Title -->
                                          <!-- spacing -->
                                          <tr>
                                             <td height="7"></td>
                                          </tr>
                                          <!-- End of spacing -->
                                          <!-- content -->
                                          <tr>
                                             <td style="font-family:Helvetica Neue,  Helvetica, arial, sans-serif; font-size: 14px; color: #333333; text-align:left;line-height: 24px;">
                                                <!--@If Defined(Item.Br_dtekst)--><!--@Item.Br_dtekst--><!--@EndIf(Item.Br_dtekst)-->
                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                          <!-- button -->
                                          
                                             <tr>
                                                <td>
                                                <table width:"100px" align="left" cellpadding="0" cellspacing="0" border="0" >
                                                <!-- Vis enten link som knap eller tekst - afhængig af checkbox valg i afsnit -->
                                                   <!--@If Defined(Item.VisLinkSomKnap)-->
                                                    <!-- Spacing -->
                                                   <tr>
                                                      <td width="100%" height="7"></td>
                                                   </tr>
                                                   <!-- /Spacing --> 
                                                   <tr>
                                                      <td width="auto" valign="middle" height="30" align="center" style=" background-color:#c88817; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:18px; padding-right:18px;">
                                                      
                                                         <span style="color: #ffffff; font-weight: 300;">
                                                         <!--@If Defined(Item.Link.Value)-->
                                                            <a href="http://<!--@Global:Request.Host-->/<!--@Item.Link.Value-->" style="color: #ffffff; text-align:center;text-decoration: none;"><!--@Item.LinkTekst--></a>
                                                            <!--@EndIf(Item.Link.Value)-->
                                                         </span>
                                                      </td>
                                                   </tr>
                                                   <!--@EndIf(Item.VisLinkSomKnap)--> 

                                                   <!--@If Not Defined(Item.VisLinkSomKnap)-->
                                                   <tr>
                                                      <td width="100%" height="7"></td>
                                                   </tr> 
                                                   <tr>
                                                      <td style="font-family:Helvetica Neue, Helvetica, arial, sans-serif; font-size: 14px; color: #333333; text-align:left;line-height: 24px;">
                                                         <!--@If Defined(Item.Link.Value)-->
                                                         <a href="http://<!--@Global:Request.Host-->/<!--@Item.Link.Value-->" style="color:#c88817;text-decoration:none;"><!--@Item.LinkTekst--></a>
                                                         <!--@EndIf(Item.Link.Value)-->
                                                      </td>
                                                   </tr>

                                                   <!--@EndIf(Item.VisLinkSomKnap)-->
                                                </table> 
                                                </td>
                                             </tr>
                                            
                                          <!-- /button -->
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="25"></td>
                                          </tr>
                                          <!-- Spacing -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>

<!--@If Defined(ParagraphModule)-->
               <!--@ParagraphModule-->
<!--@EndIf(ParagraphModule)-->
