<!--@Layout.Title(Underside skabelon)-->
<!--@Layout.Description(Nyhedsbrev sociale medier)-->
<a name="<!--@ParagraphID-->"></a>


<!--Nyt mbk-->
  
<!-- start textbox-with-title and image -->
<table width="100%" bgcolor="#e8eaed" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td >
            <table width="580" bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" border="0" align="center" class="template-img-top">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="#f2f2f2" width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                       <tbody>
                                          <!-- content -->
                                          <tr>
                                             <td width="100%" style="text-align:center">
                                                <span style="font-family: Helvetica Neue, Helvetica, arial, sans-serif; font-size: 13px;color: #3e3e3e"><!--@Item.TekstOverDeSocialeMedier.Value--></span><br /><br />
                                                <!--@LoopStart(Item.SocialMedie)-->
                                                   <a style="text-decoration:none;" href="<!--@Item.SocialMedie.Link.Value-->" title="<!--@Item.SocialMedie.Mouseover.Value-->">
                                                       <img src="http://<!--@Global:Request.Host-->/admin/public/getimage.ashx?Image=<!--@Item.SocialMedie.Billede.Value-->&Resolution=72&Compression=90&Width=44&crop=0&height=43">
                                                   </a>
                                                <!--@LoopEnd(Item.SocialMedie)-->
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td width="100%" height="15"></td>
                              </tr>
                              <!-- Spacing -->

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>

<!--@If Defined(ParagraphModule)-->
               <!--@ParagraphModule-->
<!--@EndIf(ParagraphModule)-->
