.help{margin-bottom:0px;} /*style.scss:1290;*/
/*
ecom cart checkout*/
.registration{position: relative}
.registration img{height:240px;}
.registration .carousel-caption{top:100px;height:80px;}
.btn.primary{    background-color: #c5892f;
    color: #ffffff !important;
    border: 1px solid #ab7729;
    min-width: 130px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;}
    a.btn.primary{line-height: 36px;}