body {
  font-family: "Glegoo", serif;
  color: #333333; }

h2 {
  font-size: 28px !important; }

.container {
  max-width: 970px; }

.header-block {
  background-color: #61152f !important; }

.breadcrumb-wrapper {
  background-color: #eaeaea; }

.navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 0px;
  border: none; }
  .navbar .navbar-nav {
    margin: 0px -15px; }
    .navbar .navbar-nav li > a {
      font-size: 13px;
      color: #ffffff !important;
      padding: 10px 10px;
      text-transform: uppercase;
      font-weight: bold; }
  .navbar .navbar-toggle {
    margin-top: 27px;
    margin-bottom: 27px;
    margin-right: 0px;
    padding: 15px 10px !important;
    border-radius: 30px !important;
    background-color: #c5892f !important;
    border: 1px solid #c5892f !important; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #ffffff !important; }
  .navbar .navbar-toggle:hover .icon-bar {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-transition: opacity 0.2s !important;
    transition: opacity 0.2s !important; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    height: 100px;
    line-height: 100px;
    padding: 10px 0px; }
    .navbar-default .navbar-brand small {
      font-size: 16px;
      color: #cc9933 !important;
      text-transform: none; }
    .navbar-default .navbar-brand .navbar-brand:focus, .navbar-default .navbar-brand .navbar-brand:hover {
      color: #ffffff !important; }
  .navbar-default .navbar-nav .active > a {
    background-color: #cc9933 !important;
    text-decoration: underline !important; }
  .navbar-default .navbar-nav a:hover {
    background-color: #cc9933 !important; }
  .navbar-default .navbar-nav .dropdown-menu li:hover a {
    background-color: #cc9933 !important; }
  .navbar-default .navbar-nav li > a:hover, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:focus, .navbar-default .navbar-nav .open > a:hover {
    text-decoration: underline !important; }
  .navbar-default .navbar-nav .dropdown > a:after {
    content: "\e114";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100 !important;
    line-height: 1;
    padding-left: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .navbar-default .navbar-nav li .dropdown-menu {
    background-color: #61152f !important;
    padding-top: 0px;
    padding: 0px;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0); }
    .navbar-default .navbar-nav li .dropdown-menu a {
      text-transform: capitalize; }
    .navbar-default .navbar-nav li .dropdown-menu .caret {
      margin-left: 50%;
      margin-top: -31px;
      border-top: none;
      border-bottom: 7px dashed;
      color: #c5892f;
      border-bottom: 7px solid\9;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent; }
  .navbar-default .navbar-nav li a {
    color: #ffffff !important; }
  .navbar-default .navbar-nav .dropdown:hover .dropdown-menu {
    display: block !important; }
  .navbar-default .navbar-nav .dropdown a span.glyphicon.glyphicon-chevron-down {
    font-size: 10px;
    color: #c5892f;
    font-weight: 100 !important; }
  .navbar-default .navbar-nav .dropdown a:hover span.glyphicon.glyphicon-chevron-down {
    color: #ffffff; }
  .navbar-default .navbar-collapse {
    border: none; }

.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:focus, .navbar-default .navbar-nav .open > a:hover {
  background-color: transparent !important; }

.carousel-block {
  border-top: 1px solid #cc9933;
  border-bottom: 2px solid #cc9933; }
  .carousel-block .container-fluid .row {
    position: relative; }
    .carousel-block .container-fluid .row .form-horizontal {
      position: absolute;
      bottom: 20%;
      width: 65%;
      margin: 0px auto !important;
      right: 0;
      left: 0; }
      .carousel-block .container-fluid .row .form-horizontal select {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        color: #555555;
        padding: 0px 10px;
        margin-bottom: 10px;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
        background-image: url("../images/arrow-2.png");
        background-repeat: no-repeat;
        background-position: right 15px top;
        background-position-y: 20px; }
        .carousel-block .container-fluid .row .form-horizontal select option {
          color: #555555; }
      .carousel-block .container-fluid .row .form-horizontal .control-group .controls .btn-search {
        background-color: #c5892f;
        color: #ffffff !important;
        border: 1px solid #ab7729;
        min-width: 130px;
        height: 50px;
        font-weight: bold;
        text-transform: uppercase; }
        .carousel-block .container-fluid .row .form-horizontal .control-group .controls .btn-search span {
          padding-right: 10px; }
      .carousel-block .container-fluid .row .form-horizontal .control-group .controls .btn-search:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8; }

select {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background-image: url("../images/arrow-2.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 15px top;
  background-position-y: 20px;
  width: 100%;
  font-size: 14px !important;
  height: 50px !important;
  line-height: 50px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  border: 1px solid #e0e0e0 !important;
  color: #555555 !important;
  padding: 0px 10px !important;
  margin-bottom: 10px !important; }

.input-group.date {
  width: 100%;
  font-size: 14px !important;
  height: 50px !important;
  line-height: 50px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  border: none !important;
  color: #555555 !important;
  margin-bottom: 10px !important; }
  .input-group.date .form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    border-right: none !important; }
  .input-group.date input {
    font-weight: bold !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #e0e0e0 !important;
    color: #555555 !important;
    height: 50px !important;
    line-height: 50px !important; }
  .input-group.date .input-group-addon {
    background-color: #ffffff !important;
    border-top: 1px solid #e0e0e0 !important;
    border-right: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-left: none !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important; }
  .input-group.date .input-group-addon:hover {
    cursor: pointer; }
  .input-group.date .glyphicon-calendar:before {
    color: #c5892f; }

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  /*padding-left: 30px;*/ }

.features .control-group {
  padding-left: 30px; }
  .features .control-group .checkbox, .features .control-group .radio {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    color: #999999; }
    .features .control-group .checkbox span.total, .features .control-group .radio span.total {
      float: right; }
      .features .control-group .checkbox span.total a, .features .control-group .radio span.total a {
        color: #999999;
        font-size: 12px;
        padding: 3px 0px;
        text-decoration: underline; }
  .features .control-group strong {
    color: #555555; }
  .features .control-group .checkbox-white {
    background-image: url("../images/checkbox-white.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    height: 22px;
    width: 22px;
    margin-left: -30px !important;
    margin-top: -1px; }
  .features .control-group .checkbox-white[type="checkbox"]:checked {
    background-image: url("../images/checkbox-white-checked.png") !important;
    background-repeat: no-repeat; }
.features select.form-control.input-lg {
  margin-bottom: 0px !important; }
.features span {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700; }

.SeeMore {
  font-size: 12px !important;
  color: #c5892f !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  display: inline-block !important; }

.input-lg {
  line-height: 46px !important; }

.hr {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #eee;
  overflow: hidden; }

.both {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden; }

#easyTooltip {
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  color: #333333; }

.carousel-inner .item img {
  width: 100%; }
.carousel-inner .item .carousel-caption {
  top: 22% !important; }
  .carousel-inner .item .carousel-caption h2 {
    font-weight: bold; }

.registration-wrapper {
  background-color: #f9f9f9; }
  .registration-wrapper .registration {
    background-color: #6f1835;
    margin-top: 15px; }
    .registration-wrapper .registration img {
      width: 100%; }
    .registration-wrapper .registration .navbar {
      min-height: 40px !important;
      margin-top: 40px; }
      .registration-wrapper .registration .navbar .navbar-inner {
        width: 85% !important;
        margin: 0 auto !important;
                /*.nav-pills>li.active:nth-child(1) {

                    .timeline {
                        background-image: url(../images/timeline-active-center.png);
                    }
                }*/ }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li {
          width: 33%; }
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li a {
            color: #ffffff; }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active > a, .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active > a:focus, .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active > a:hover {
          color: #c5892f;
          font-weight: 600;
          background-color: transparent; }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li > a:focus, .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li > a:hover {
          color: #c5892f;
          font-weight: 600;
          background-color: transparent; }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li {
          position: relative; }
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li .timeline {
            position: absolute;
            top: 41px;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat; }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(1) .timeline {
          left: 30px;
          background-image: url(../images/timeline-left.jpg); }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(2) {
          text-align: center; }
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(2) .timeline {
            left: 50%;
            background-image: url(../images/timeline-center.png); }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(3) {
          text-align: right; }
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(3) .timeline {
            right: 30px;
            background-image: url(../images/timeline-last.jpg); }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active:nth-child(2) .timeline {
          background-image: url(../images/timeline-active-center-hover.png); }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active:nth-child(3) .timeline {
          background-image: url(../images/timeline-active-center.png); }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:hover .timeline {
          background-image: url(../images/timeline-active-center-hover.png); }
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.selected .timeline {
          background-image: url(../images/timeline-active-center.png) !important; }
    .registration-wrapper .registration .progress {
      overflow: inherit;
      height: 4px;
      background-color: #61152f;
      border-radius: 0px;
      width: 75% !important;
      margin: 15px auto 45px; }
      .registration-wrapper .registration .progress .progress-bar-main {
        background-color: #c5892f; }

.step-wrapper .step-main {
  padding-top: 45px; }
  .step-wrapper .step-main a {
    font-size: 18px;
    color: #333333;
    display: block;
    font-weight: 700; }
    .step-wrapper .step-main a .badge {
      color: #fff;
      background-color: #6f1835;
      margin-right: 15px;
      height: 29px;
      width: 29px;
      vertical-align: middle;
      font-size: 21px;
      border-radius: 20px; }

.request {
  padding-top: 45px; }
  .request h3 {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    margin: 0px 0px 30px; }
  .request p {
    font-size: 16px;
    color: #555555; }
  .request .request-description h4 {
    margin: 16px 0px 0px !important;
    font-size: 18px !important;
    color: #333333;
    font-weight: bold; }
  .request .request-description h5 {
    margin: 25px 0px 0px !important;
    font-size: 15px !important;
    color: #333333;
    font-weight: bold; }
  .request .request-description p {
    font-size: 14px !important;
    color: #333333; }
  .request .request-description p.small {
    font-size: 12px !important; }
    .request .request-description p.small a {
      text-transform: lowercase;
      font-size: 12px !important; }
  .request .request-description h5.experience {
    margin-bottom: 20px !important; }
  .request .request-description big.pull-right {
    font-size: 18px !important;
    color: #555555;
    font-weight: bold; }
  .request .commentary p {
    color: #666666; }
  .request .commentary h4 {
    margin: 16px 0px 0px !important;
    font-size: 18px !important;
    color: #333333;
    font-weight: bold; }

.thumbnail-wrapper h3 {
  margin: 40px 0px; }

.accordion {
  border-bottom: 1px solid #e0e0e0; }

.accordion, .thumbnail-wrapper {
  background-color: #f9f9f9;
  padding-bottom: 50px; }
  .accordion h4, .thumbnail-wrapper h4 {
    /*font-size: 24px;*/
    font-size: 18px !important;
    color: #333333;
    font-weight: bold;
    /*margin: 40px $margin-null;*/ }
  .accordion .thumbnail, .thumbnail-wrapper .thumbnail {
    border: 1px solid #e0e0e0;
    padding: 0px; }
    .accordion .thumbnail .caption, .thumbnail-wrapper .thumbnail .caption {
      padding: 15px; }
      .accordion .thumbnail .caption h5, .thumbnail-wrapper .thumbnail .caption h5 {
        font-size: 15px !important;
        font-weight: bold;
        color: #333333;
        margin: 15px 0px;
        min-height: 32px; }
      .accordion .thumbnail .caption .divider, .thumbnail-wrapper .thumbnail .caption .divider {
        height: 2px;
        margin: 15px auto;
        background-color: #c5892f;
        max-width: 40px; }
      .accordion .thumbnail .caption p, .thumbnail-wrapper .thumbnail .caption p {
        color: #999999;
        font-size: 15px;
        font-weight: bold; }
  .accordion .filter-form, .thumbnail-wrapper .filter-form {
    /*padding-top: 15px;*/ }
    .accordion .filter-form .panel, .thumbnail-wrapper .filter-form .panel {
      background-color: transparent;
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 20px 0px;
      margin: 0px; }
      .accordion .filter-form .panel .form-vertical-filter .panel-title a:hover, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-title a:hover {
        cursor: pointer !important; }
      .accordion .filter-form .panel .form-vertical-filter .panel-heading, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading {
        padding: 0;
        background-color: transparent;
        border: none !important; }
        .accordion .filter-form .panel .form-vertical-filter .panel-heading h4, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading h4 {
          font-size: 18px;
          color: #333333;
          font-weight: bold; }
          .accordion .filter-form .panel .form-vertical-filter .panel-heading h4 a:after, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading h4 a:after {
            font-family: 'Glyphicons Halflings';
            content: "\2212";
            float: right;
            color: #ffffff !important;
            font-size: 11px;
            background-color: #999999;
            border-radius: 20px;
            text-align: center !important;
            width: 18px !important;
            height: 18px !important;
            padding-right: 0.5px !important;
            line-height: 18px !important; }
          .accordion .filter-form .panel .form-vertical-filter .panel-heading h4 a.collapsed:after, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading h4 a.collapsed:after {
            content: "\2b";
            color: #ffffff !important;
            font-size: 11px;
            background-color: #c5892f;
            border-radius: 20px;
            text-align: center !important;
            width: 18px !important;
            height: 18px !important;
            line-height: 18px !important;
            padding-left: 1px !important; }
      .accordion .filter-form .panel .form-vertical-filter .panel-body, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body {
        padding: 10px 0px;
        border-top: none !important; }
        .accordion .filter-form .panel .form-vertical-filter .panel-body .controls, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls {
          margin-left: 20px; }
          .accordion .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"]:checked, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"]:checked {
            background-image: url("../images/checkbox.png") !important;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            -moz-appearance: none;
            -webkit-appearance: none;
            -o-appearance: none; }
          .accordion .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"], .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"] {
            width: 13px;
            height: 13px;
            border-radius: 2px;
            margin-top: 2px !important; }
          .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label {
            font-size: 12px;
            color: #333333; }
            .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total {
              float: right;
              color: #999999; }
              .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a {
                color: #999999; }
              .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a:hover, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a:hover {
                cursor: pointer; }
            .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:before, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:before {
              content: "("; }
            .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:after, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:after {
              content: ")"; }
        .accordion .filter-form .panel .form-vertical-filter .panel-body h5, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body h5 {
          font-size: 15px;
          color: #333333;
          font-weight: bold;
          margin-top: 20px; }
        .accordion .filter-form .panel .form-vertical-filter .panel-body .download, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .download {
          font-size: 14px;
          color: #c5892f; }
  .accordion .filter-form-main .panel:last-child, .thumbnail-wrapper .filter-form-main .panel:last-child {
    border-bottom: none !important; }
  .accordion ul, .thumbnail-wrapper ul {
    padding-left: 0; }
    .accordion ul li, .thumbnail-wrapper ul li {
      list-style: none; }
      .accordion ul li a, .thumbnail-wrapper ul li a {
        color: #555555;
        line-height: 35px;
        display: block;
        text-decoration: none !important; }
      .accordion ul li a:hover, .thumbnail-wrapper ul li a:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7; }
      .accordion ul li a:before, .thumbnail-wrapper ul li a:before {
        content: ">";
        padding-right: 5px; }
      .accordion ul li a.info, .thumbnail-wrapper ul li a.info {
        font-size: 12px;
        color: #999999; }
      .accordion ul li a.info:before, .thumbnail-wrapper ul li a.info:before {
        content: none !important; }

.accordion-inner ul {
  padding-left: 20px !important; }
  .accordion-inner ul li {
    list-style: initial; }

.thumbnail:hover a > img {
  opacity: 0.35;
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease; }

.thumbnail a:hover {
  text-decoration: none; }

#Products .thumbnail {
  padding: 0px; }

.wrapper-bg {
  background-color: #f9f9f9; }

.thumbnail-wrapper {
  background-color: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0; }
  .thumbnail-wrapper .col-md-5.right-wrap {
    margin-top: 20px !important; }
    .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.messaging {
      border-top-left-radius: 5px !important;
      border-top-right-radius: 5px !important; }
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.messaging h4 {
        padding-left: 15px !important;
        margin: 16px 0px !important;
        font-size: 18px !important; }
    .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description {
      background-color: #ffffff !important;
      border: 1px solid #e0e0e0;
      margin-top: -1px;
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important; }
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row {
        padding-top: 25px; }
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 p strong {
          margin-bottom: 15px;
          padding-top: 23px;
          display: block;
          font-size: 15px; }
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 .SeeMore {
          font-size: 12px;
          color: #c5892f;
          text-transform: uppercase;
          font-weight: 600;
          padding: 10px 0px 35px;
          display: block; }
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 .control-group .controls select {
          -moz-appearance: none !important;
          -webkit-appearance: none !important;
          appearance: none !important;
          background-image: url("../images/arrow-2.png");
          background-repeat: no-repeat;
          background-position: right 15px top;
          background-position-y: 20px;
          width: 100%;
          font-size: 12px;
          height: 50px;
          line-height: 50px;
          font-weight: bold;
          border-radius: 4px;
          border: 1px solid #e0e0e0;
          color: #555555;
          padding: 0px 10px;
          margin-bottom: 10px; }
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 .control-group:last-child {
          padding-bottom: 170px; }
    .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description.main-btn-group .row {
      padding-top: 0px; }
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description.main-btn-group .row p {
        margin: 5px 0px !important; }
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description.main-btn-group .row .control-group:last-child {
        padding-top: 30px;
        padding-bottom: 15px; }
    .thumbnail-wrapper .col-md-5.right-wrap .main-btn-group p {
      margin: 20px 0px;
      font-family: "Open Sans"; }
    .thumbnail-wrapper .col-md-5.right-wrap .main-btn-group button#search {
      background-color: #c5892f;
      color: #ffffff !important;
      border: 1px solid #ab7729;
      min-width: 130px;
      height: 50px;
      width: 100%;
      font-weight: bold;
      text-transform: uppercase; }
    .thumbnail-wrapper .col-md-5.right-wrap .main-btn-group button#search:hover {
      opacity: 0.8; }

h2 {
  font-size: 30px; }

.carousel-wrapper.experience {
  border-bottom: none !important; }

.carousel-wrapper {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px; }
  .carousel-wrapper .slideshow {
    margin-bottom: 100px; }
  .carousel-wrapper .skidder-viewport .skidder-pager .skidder-pager-dot:hover, .carousel-wrapper .skidder-viewport .skidder-pager .skidder-pager-dot.active {
    background-color: #c5892f !important;
    border: 2px solid #c5892f !important;
    box-shadow: none !important; }
  .carousel-wrapper .skidder-viewport .skidder-wrapper .skidder-slide.active, .carousel-wrapper .skidder-viewport .skidder-wrapper .skidder-slide.disengage {
    box-shadow: 0 0 15px 2px #f9f9f9 !important; }
  .carousel-wrapper .skidder-viewport .skidder-pager .skidder-pager-dot {
    border: 2px solid #e0e0e0 !important;
    background-color: #e0e0e0 !important;
    box-shadow: none !important; }
  .carousel-wrapper .slide.skidder-slide {
    height: 93% !important; }
    .carousel-wrapper .slide.skidder-slide img {
      height: 100% !important; }
  .carousel-wrapper .skidder-viewport .skidder-pager {
    top: 96% !important; }
  .carousel-wrapper .carouseltwo .carousel-inner {
    margin: 40px 0px 100px 0px !important; }
    .carousel-wrapper .carouseltwo .carousel-inner .active.left {
      left: -25%; }
    .carousel-wrapper .carouseltwo .carousel-inner .next {
      left: 25%; }
    .carousel-wrapper .carouseltwo .carousel-inner .prev {
      left: -25%; }
  .carousel-wrapper .carouseltwo .carousel-control {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    width: 4%; }
    .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-left, .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-right {
      background-color: #c5892f !important;
      border-radius: 20px !important;
      height: 40px !important;
      width: 40px !important;
      padding-top: 10px !important;
      position: absolute;
      top: 35% !important; }
    .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-left {
      margin-left: 0px; }
    .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-right {
      margin-left: 15px; }
  .carousel-wrapper .carouseltwo .carousel-control.left {
    margin-left: -40px;
    background-image: none; }
  .carousel-wrapper .carouseltwo .carousel-control.right {
    margin-right: 15px;
    background-image: none; }

.jssorb01 {
  position: absolute; }

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  position: absolute;
  width: 12px;
  height: 12px;
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer; }

.jssorb01 div {
  background-color: #e0e0e0;
  border-radius: 10px; }

.jssorb01 div:hover, .jssorb01 .av:hover {
  background-color: #c5892f; }

.jssorb01 .av {
  background-color: #c5892f; }

.jssorb01 .dn, .jssorb01 .dn:hover {
  background-color: #c5892f; }

.jssora13l {
  display: block;
  position: absolute;
  cursor: pointer;
  background: url("../images/slide_left.png") no-repeat;
  background-position: 0% 0% !important;
  background-size: 31px 31px !important;
  overflow: hidden; }

.jssora13r {
  display: block;
  position: absolute;
  cursor: pointer;
  background: url("../images/slide_right.png") no-repeat;
  background-position: 0% 0% !important;
  background-size: 31px 31px !important;
  overflow: hidden; }

.slide-item {
  min-height: 1% !important;
  height: 100% !important;
  max-height: 365px !important; }
  .slide-item img {
    width: 100% !important; }
  .slide-item h3 {
    font-size: 20px;
    color: #ffffff; }
  .slide-item p {
    font-size: 11px;
    color: #ffffff; }
  .slide-item a {
    font-size: 11px;
    background-color: #c5892f;
    color: #ffffff !important;
    border: 1px solid #ab7729;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    width: 100%;
    max-width: 150px; }
  .slide-item a:hover {
    opacity: 0.8;
    background-color: #c5892f;
    border-color: #ab7729; }
  .slide-item .row > div {
    padding: 0px 15px; }

.booking > .container {
  margin-bottom: 100px !important;
  padding-bottom: 0px !important; }

.booking {
  padding-top: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0; }
  .booking .container {
    background-color: #ffffff;
    padding-bottom: 50px; }
    .booking .container .carousel-inner .item img {
      width: auto !important; }
    .booking .container h1 {
      font-size: 30px; }
    .booking .container p {
      font-size: 16px;
      color: #555555; }
    .booking .container h4 {
      margin: 16px 0px !important;
      font-size: 18px !important;
      font-weight: bold; }
    .booking .container h5 {
      margin: 16px 0px !important;
      font-size: 15px !important;
      font-weight: bold;
      color: #000000; }
    .booking .container .row p {
      font-size: 15px !important;
      color: #666666; }
    .booking .container .row big.pull-right {
      font-size: 18px !important;
      color: #555555;
      font-weight: bold; }
    .booking .container .row p.small {
      font-size: 13px !important;
      color: #000000; }
      .booking .container .row p.small a {
        text-transform: lowercase;
        font-size: 13px !important; }

.help {
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
  background-position: 50% 0px;
  position: relative;
  top: -45px;
  margin-bottom: 80px;
  padding: 80px 0px 0px 0px; }
  .help h3 {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    margin: 40px 0px; }
  .help p {
    font-size: 14px;
    color: #555555;
    font-weight: bold; }
  .help p.text-center.btn-main {
    margin: 40px 0px 60px 0px; }
    .help p.text-center.btn-main .btn-primary {
      background-color: #c5892f;
      color: #ffffff !important;
      border: 1px solid #ab7729;
      min-width: 300px;
      height: 50px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 35px;
      margin: 3px 10px; }
    .help p.text-center.btn-main .btn-primary:hover {
      opacity: 0.8;
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8; }

.messaging {
  border: 1px solid #e0e0e0;
  padding: 0px;
  background-image: url("../images/bg-messaging.png"); }
  .messaging .container {
    background-image: url("../images/icon-2.png");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    position: relative;
    top: -45px; }
    .messaging .container .messaging-wrapper {
      padding: 110px 0px 0px 0px; }
    .messaging .container h4 {
      font-size: 18px !important;
      color: #333333;
      font-weight: bold;
      margin: 20px 0px 30px; }
    .messaging .container .form-messaging .controls {
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .messaging .container .form-messaging .controls input, .messaging .container .form-messaging .controls select {
        width: 100%;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        color: #555555;
        padding: 0px 10px;
        margin-bottom: 10px; }
      .messaging .container .form-messaging .controls select {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
        background-image: url("../images/arrow-2.png");
        background-repeat: no-repeat;
        background-position: right 15px top;
        background-position-y: 20px; }
      .messaging .container .form-messaging .controls ::-webkit-input-placeholder {
        color: #555555 !important; }
      .messaging .container .form-messaging .controls ::-moz-placeholder {
        color: #555555 !important; }
      .messaging .container .form-messaging .controls :-moz-placeholder {
        color: #555555 !important; }
      .messaging .container .form-messaging .controls :-ms-input-placeholder {
        color: #555555 !important; }
      .messaging .container .form-messaging .controls .submit {
        background-color: #c5892f;
        color: #ffffff !important;
        border: 1px solid #ab7729;
        min-width: 130px;
        height: 50px;
        font-weight: bold;
        text-transform: uppercase; }
      .messaging .container .form-messaging .controls .submit:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8; }

.breadcrumb {
  background-color: transparent;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 15px 0px; }
  .breadcrumb li a {
    font-weight: bold;
    font-size: 12px;
    color: #555555; }

.footer {
  padding: 55px 0px; }
  .footer address {
    font-size: 12px;
    line-height: 20px;
    color: #555555; }
    .footer address strong {
      font-size: 13px;
      color: #333333;
      display: block;
      padding-bottom: 10px;
      font-weight: bold;
      text-transform: uppercase; }
    .footer address a {
      font-size: 12px;
      line-height: 20px;
      color: #555555; }
    .footer address abbr {
      color: #c5892f;
      text-transform: uppercase;
      padding-top: 10px;
      display: block;
      border-bottom: none; }
  .footer .col-md-4:nth-child(2) {
    padding-left: 85px;
    background-image: url("../images/icon-3.png");
    background-repeat: no-repeat;
    background-position: 0% 0px; }
  .footer .col-md-4:nth-child(3) {
    padding-left: 85px;
    background-image: url("../images/icon-4.png");
    background-repeat: no-repeat;
    background-position: 0% 0px; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }

  .navbar-header {
    float: none; } }
@media (max-width: 991px) {
  .navbar .navbar-nav li > a {
    padding: 10px 10px; }

  .navbar-default .navbar-brand {
    line-height: 80px; }

  .header-block .col-md-12 {
    padding: 0px; }
    .header-block .col-md-12 .navbar-default .navbar-brand {
      margin-left: 15px; }
    .header-block .col-md-12 .navbar .navbar-toggle {
      margin-right: 15px; }
    .header-block .col-md-12 .navbar-nav li .dropdown-menu {
      position: relative;
      width: 100%; }
    .header-block .col-md-12 .navbar-nav li .dropdown-menu:hover {
      display: block; }
    .header-block .col-md-12 .navbar-nav li .dropdown-menu li a {
      padding-left: 25px; } }
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px; } }
@media (max-width: 768px) {
  .text-right-main {
    text-align: left; }

  .footer .col-md-4:nth-child(2), .footer .col-md-4:nth-child(3) {
    padding-left: 100px !important;
    background-position: 3% 0px !important; } }
@media (max-width: 280px) {
  .navbar .navbar-toggle {
    float: none;
    margin: 0 auto 10px !important;
    display: block; }

  .navbar-default .navbar-brand {
    line-height: 60px; }

  .navbar-default .navbar-brand {
    height: 60px;
    display: block;
    float: none;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
