﻿<!--@DwTemplateTags-->

<!--@MasterPageFile(Master.html)-->

<!--@Layout.Title(Underside)-->
<!--@Layout.Description()-->
        
<div class="row booking">
	<div class="container">
	<!--@If Defined(DwContent(rotator))-->
		<div class="row">
                  
                    <div class="carousel slide" id="carousel-739502">
                        <div class="carousel-inner dwcontent" id="rotator" title="Toprotator" settings="limit:slidePerfect.html;template:slidePerfect.html">
                            <!--@DwContent(rotator)-->
                        </div> 
                        <a class="left carousel-control" href="#carousel-739502" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
                        <a class="right carousel-control" href="#carousel-739502" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>


		</div>
      	<!--@EndIf(DwContent(rotator))-->

		
	<div class="row">
	  <div class="container">
	    <div class="col-sm-offset-1 col-sm-10 dwcontent" id="MainСontent" title="MainСontent">></div>
	  </div>
	</div>
    </div>
</div>		