﻿<!--@MasterPageFile(Master.html)-->


<!--@Layout.Title(Frontpage)-->
<!--@Layout.Description()-->
 <!--@If Defined(DwContent(rotator))-->
		<div class="row carousel-block">
			<div class="container-fluid">
				<div class="row">
        
                    <div class="carousel slide">
                        <div class="carousel-inner dwcontent" id="rotator" title="Toprotator" settings="limit:slide.html;template:slide.html">
                            <!--@DwContent(rotator)-->
                        </div> 
                    </div>


                        <!-- søgebar -->

                        <!--@Global:Paragraph.Content(2446)-->





				</div>
			</div>
		</div>
      	<!--@EndIf(DwContent(rotator))-->



		<div class="row thumbnail-wrapper">
			<div class="container">
				<div class="row">
                    <div class="col-md-12">
						<h3 class="text-center bold"><!--@Translate(forside_aktuelleoplevelser,"Inspiration")--></h3>
						<div id="thumbnail" class="dwcontent row"  title="MainThumbnail">
						</div>
                    </div>
                </div>
            </div>
        

        <!--@If Defined(DwContent(rotator2))-->
        <div class="swiper-container row dwcontent" id="rotator2" title="ContentRotator" settings="limit:content-rotator.html;template:content-rotator.html">
              <div class="container ">

<div class="col-sm-12">
              <span class=" swiper-button-prev" ></span>
              <span class="swiper-button-next" ></span>
            </div>
            </div>
        <div class="swiper-wrapper container ">
        <!--@DwContent(rotator2)-->
        </div>
            
    
            
            </div>
            <div class="swiper-pagination">
                              
              </div>
           
        </div>
      	<!--@EndIf(DwContent(rotator2))-->
</div>

	