﻿<!--@MasterPageFile(Master.html)-->

<!--@Layout.Title(Underside)-->
<!--@Layout.Description()-->


  <div class="row">
    <div class="container-fluid breadcrumb-wrapper">
      <div class="row">
        <div class="container">
              <ul id="legend" class="breadcrumb dwnavigation" settings="startlevel:1;template:legend.xslt;expandmode:path">
                <li><span><a href="#">Forside</a></span></li>
                <!--@DwNavigation(legend)-->
                  
                 
              </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row accordion thumbnail-wrapper">
    <div class="container">
      <div class="row dwcontent" id="HeaderContent" title="Fuld bredde"></div>
        <div class="row">
	  <div class="col-md-8 filter-form filter-form-main">
            <div class="row">
              <div class="dwcontent col-md-12" id="leftcontent" title="Venstre indhold"></div>
            </div>

            <div class="row col-md-12">
              <div class="filter-form filter-form-main">
                <div class="panel-group dwcontent" id="accordion" title="AccordionWrapper"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 right-wrap dwcontent" id="rightcontent" title="Højre indhold"></div>

        </div>
      </div>
    </div>



<!--@ContentPlaceholder-->