﻿

<!--@MasterPageFile(Master.html)-->

<!--@Layout.Title(Underside)-->
<!--@Layout.Description()-->

  <div class="row carousel-wrapper experience">
            <div id="jssor_1" style="position: relative; margin: 0 auto 100px; top: 0px; left: 0px; width: 800px; height: 200px; overflow: hidden;     background-color: #6f1835;visibility: hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div class="slide-item" data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 100%;max-width: 1960px; overflow: hidden;">
                    <div style="display: none;">
                        <div class="row">
                            <img data-u="image" src="images/img-2.jpg" style="width: 50%!important;float: left;" />
                            <div style="width: 50%!important;display: inline-block;float: left;">
                                <h3>Garn kursus</h3>
                                <p>Etiam porttitor eros quis leo interdum sed condimentum turpis tristique. Praesent ut orci a odio placerat imperdiet. Etiam porttitor eros quis leo interdum sed condimentum turpis.</p>
                                <a class="btn btn-primary btn-large" href="#">Læs mere</a>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;">
                        <div class="row">
					       <img data-u="image" src="images/img-2.jpg" style="width: 50%!important;float: left;" />
                            <div style="width: 50%!important;display: inline-block;float: left;">
                                <h3>Garn kursus</h3>
                                <p>Etiam porttitor eros quis leo interdum sed condimentum turpis tristique. Praesent ut orci a odio placerat imperdiet. Etiam porttitor eros quis leo interdum sed condimentum turpis.</p>
                                <a class="btn btn-primary btn-large" href="#">Læs mere</a>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;">
                        <div class="row">
					       <img data-u="image" src="images/img-2.jpg" style="width: 50%!important;float: left;" />
                            <div style="width: 50%!important;display: inline-block;float: left;">
                                <h3>Garn kursus</h3>
                                <p>Etiam porttitor eros quis leo interdum sed condimentum turpis tristique. Praesent ut orci a odio placerat imperdiet. Etiam porttitor eros quis leo interdum sed condimentum turpis.</p>
                                <a class="btn btn-primary btn-large" href="#">Læs mere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;" data-autocenter="1">
                    <div data-u="prototype" style="width:12px;height:12px;"></div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora13l" style="top:123px;left:30px;width:31px;height:31px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora13r" style="top:123px;right:30px;width:31px;height:31px;" data-autocenter="2"></span>
            </div>

            <script>
                jssor_1_slider_init();
            </script>
        </div>

		<div class="row accordion thumbnail-wrapper">
			<div class="container">
				<div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-7 filter-form filter-form-main">
                                <h2>Livet i en jernalderlandsby</h2>
                                <p>Phasellus accumsan est mattis, gravida nisl in, condimentum erat. Fusce leo neque, dictum et egestas sit amet, aliquet sed libero. Cras nisl ligula, efficitur at congue in velit um sociis natoque penatibus et magnis.</p>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default" id="panel1">
                                        <form class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseOne"><label class="control-label" for="checkboxes">Beskrivelse</label></a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="accordion-inner">
                                                        <p>Phasellus accumsan est mattis, gravida nisl in, condimentum erat. Fusce leo neque, dictum et egestas sit amet, aliquet sed libero. Cras nisl ligula, efficitur at sollicitudin eu, congue in velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse et nisi a erat interdum convallis. Sed blandit fermentum interdum. Morbi ex erat, suscipit vitae ex a, posuere efficitur eros. Suspendisse bibendum commodo quam eget varius. Vestibulum commodo tortor tortor, sit amet sagittis diam venenatis sed.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="panel panel-default" id="panel2">
                                        <form class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseTwo" class="collapsed"><label class="control-label" for="checkboxes">Forbered dit besÃ¸g</label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Phasellus accumsan est mattis, gravida nisl in, condimentum erat. Fusce leo neque, dictum et egestas sit amet, aliquet sed libero. Cras nisl ligula, efficitur at sollicitudin eu, congue in velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse et nisi a erat interdum convallis. Sed blandit fermentum interdum. Morbi ex erat, suscipit vitae ex a, posuere efficitur eros. Suspendisse bibendum commodo quam eget varius. Vestibulum commodo tortor tortor, sit amet sagittis diam venenatis sed.</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="panel panel-default" id="panel3">
                                        <form class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseThree" class="collapsed"><label class="control-label" for="checkboxes">Tilvalg</label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li><a href="#" title="">Aktivitetskasser</a></li>
                                                                        <li><a href="#" title="">BÃ¸ger</a></li>
                                                                        <li><a href="#" title="">Undervisningsmaterialer</a></li>
                                                                        <li><a href="#" title="">GPS</a></li>
                                                                        <li><a href="#" title="">Kikkerter</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <ul>
                                                                        <li><a href="#" title="">Snitteknive</a></li>
                                                                        <li><a href="#" title="">Forplejning</a></li>
                                                                        <li><a href="#" title="">TÃ¸j</a></li>
                                                                        <li><a href="#" title="">Kajakker</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-2 text-right">
                                                                    <ul>
                                                                        <li><a class="info" href="#" title="info">info</a></li>
                                                                        <li><a class="info" href="#" title="info">info</a></li>
                                                                        <li><a class="info" href="#" title="info">info</a></li>
                                                                        <li><a class="info" href="#" title="info">info</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="panel panel-default" id="panel4">
                                        <form class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseFour" class="collapsed"><label class="control-label" for="checkboxes">Brug i undervisningen</label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <h5>LÃ¦ringsmÃ¥l</h5>
                                                    <p>Phasellus accumsan est mattis, gravida nisl in, condimentum erat. Fusce leo neque, dictum et egestas sit amet, aliquet sed libero in velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                                    <h5>Videns- og fÃ¦rdighedsmÃ¥l</h5>
                                                    <ul>
                                                        <li><a href="#" title="">At fÃ¥ indblik i vikingetidens dagligdag og virke.</a></li>
                                                        <li><a href="#" title="">At fÃ¥ kendskab til vikingernes religioner, hÃ¥ndvÃ¦rk og sÃ¸fart</a></li>
                                                        <li><a href="#" title="">At give eleverne en god klasseoplevelse.</a></li>
                                                        <li><a href="#" title="">At fÃ¥ kendskab til vikingetidens religiÃ¸se brydningstid</a></li>
                                                        <li><a href="#" title="">At fÃ¥ indblik i de praktiske ritualer/riter</a></li>
                                                    </ul>

                                                    <h5>LÃ¦rens rolle</h5>
                                                    <p>Phasellus accumsan est mattis, gravida nisl in, condimentum erat. Fusce leo neque, dictum et egestas sit amet, aliquet sed libero in velit.</p>
                                                    <h5>Forslag til videre arbejde</h5>
                                                    <ul>
                                                        <li><a href="#" title="">Nordiske gude- og heltesagn, Nils Saxtorph</a></li>
                                                        <li><a href="#" title="">Vikingetidens kunst, red. Lise GjedssÃ¸ Bertelsen 2002.</a></li>
                                                        <li><a href="#" title="">Valhalla nr. 1-14 tegneserie, Peter Madsen, Carlsen Comics</a></li>
                                                        <li><a href="#" title="">Vikingernes verden, Else Roesdahl</a></li>
                                                        <li><a href="#" title="">En vikingemarkedsplads, Harry Kahl, Gudrun Wallgren, SÃ¸ren Mainz og SÃ¸ren Vadstrup</a></li>
                                                        <li><a href="#" title="">I lÃ¦re som viking, Trine Theut</a></li>
                                                    </ul>

                                                    <h5>Forslag til videre arbejde</h5>
                                                    <a class="download" href="files.pdf">Download E-materiale</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 right-wrap">

                                    <form action="#">
                                        <div class="col-md-12 messaging">
                                            <h4>Praktisk</h4>
                                        </div>

                                        <div class="col-md-12 description">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <p>Antal deltagere</p>
                                                    <p>Varighed</p>
                                                    <p>Ã…rstid </p>
                                                </div>
                                                <div class="col-md-6 col-sm-6 text-right text-right-main">
                                                    <p>20-30 personer</p>
                                                    <p>ca. 3 timer</p>
                                                    <p>April â€“ oktober</p>
                                                </div>

                                                <div class="col-md-12">
                                                    <p><strong>MÃ¥lgrupper</strong></p>
                                                    <p>Voksne, 0-3 klassetrin, 4-6 klassetrin, 7-9 klassetrin</p>

                                                    <p><strong>FagomrÃ¥der</strong></p>
                                                    <p>Historie & Samfundsfag, Dansk & Sprog, Kristendom & Religion, Natur & Teknik</p>

                                                    <p><strong>Faciliteter</strong></p>
                                                    <p>WC, parkering, handicapforhold, madpakkehus, bordbÃ¦nke</p>

                                                    <p><strong>Lokalitet</strong></p>
                                                    <p>Bork Vikingehavn</p>
                                                    <p>Vikingevej 7</p>
                                                    <p>6893 Hemmet</p>

                                                    <a class="SeeMore" data-toggle="collapse" href="#">+ se flere</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 messaging">
                                            <h4>Praktisk</h4>
                                        </div>

                                        <div class="col-md-12 description">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p><strong>MÃ¥lgrupper</strong></p>

                                                    <!-- Select Basic -->
                                                    <div class="control-group">
                                                      <div class="controls">
                                                        <select id="selectbasic1" name="selectbasic" class="input-xlarge">
                                                          <option>Kommunal folkeskole (2.700,- DDK)</option>
                                                          <option>Kommunal folkeskole (2.700,- DDK) - 2</option>
                                                        </select>
                                                      </div>
                                                    </div>

                                                    <!-- Select Basic -->
                                                    <div class="control-group">
                                                      <div class="controls">
                                                        <select id="selectbasic2" name="selectbasic" class="input-xlarge">
                                                          <option>Tidsrum</option>
                                                          <option>Tidsrum - 2</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12 main-btn-group">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <p>Ca. pris</p>
                                                </div>
                                                <div class="col-md-6 col-sm-6 text-right text-right-main">
                                                    <p>2.700,- DDK</p>
                                                </div>

                                                <div class="col-md-12">
                                                    <!-- Button -->
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <button id="search" name="search" class="btn btn-search">Udfyld forespÃ¸rgsel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

