﻿<!--@MasterPageFile(Master.html)-->

<!--@Layout.Title(Subpage)-->
<!--@Layout.Description()-->

      <!-- page-intro start-->
      <!-- ================ -->
      <div class="page-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>

                <!--@Navigation.Render(template:legend.xslt;startlevel:1;expandmode:inpath;)-->
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- page-intro end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">
        <div class="container">
          <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
              <!-- page-title start -->
              <!-- ================ -->

              <div class="separator-2"></div>
              <!-- page-title end -->

              <div class="row dwcontent" Title="Hoved Indhold" id="maincontainer" settings="default:true">
                <!--@DwContent(maincontainer)-->
              </div>

            </div>
            <!-- main end -->
          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- section start -->
      <!-- ================ -->
      <div class="section gray-bg clearfix">
        <div class="container dwcontent" id="bottom" Title="Bund">

        </div>
      </div>
      <!-- section end -->

