<!--@MasterPageFile(Master.html)-->

<!--@Layout.Title(Underside)-->
<!--@Layout.Description()-->
		
		<div class="row accordone">
			<div class="container">
				<div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 filter-form">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default" id="panel1">
                                        <form class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseOne"><label class="control-label" for="checkboxes">Emne</label></a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="accordion-inner">
                                                        <div class="control-group">
                                                            <div class="controls">
                                                                <label class="checkbox" for="checkboxes-0">
                                                                    <input type="checkbox" name="checkboxes" id="checkboxes-0" checked="checked" value="Arkæologi">Arkæologi
                                                                    <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                                </label>

                                                                <label class="checkbox" for="checkboxes-1">
                                                                    <input type="checkbox" name="checkboxes" id="checkboxes-1" value="OGamle dage (1750-1950)">Gamle dage (1750-1950)                                                         <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                                </label>

                                                                <label class="checkbox" for="checkboxes-2">
                                                                    <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Natur & Landskab">Natur & Landskab
                                                                    <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                                </label>

                                                                <label class="checkbox" for="checkboxes-3">
                                                                    <input type="checkbox" name="checkboxes" id="checkboxes-3" value="Fortidens Mennesker">Fortidens
                                                                    <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                                </label>

                                                                <label class="checkbox" for="checkboxes-4">
                                                                    <input type="checkbox" name="checkboxes" id="checkboxes-4" value="Verdenskrigene">Verdenskrigene
                                                                    <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="SeeMore" data-toggle="collapse" href="#collapseOne">+ se flere</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="panel panel-default" id="panel2">
                                        <form class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseTwo" class="collapsed"><label class="control-label" for="checkboxes">Lokalitet</label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <label class="checkbox" for="checkboxes-0">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-0" checked="checked" value="Arkæologi">Arkæologi
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-1">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-1" value="OGamle dage (1750-1950)">Gamle dage (1750-1950)                                                           <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-2">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Natur & Landskab">Natur & Landskab
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-3">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-3" value="Fortidens Mennesker">Fortidens Mennesker
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-4">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-4" value="Verdenskrigene">Verdenskrigene
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <a class="SeeMore" data-toggle="collapse" href="#collapseTwo">+ se flere</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                    <div class="panel panel-default" id="panel3">
                                        <form class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseThree" class="collapsed"><label class="control-label" for="checkboxes">Målgruppe</label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <label class="checkbox" for="checkboxes-0">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-0" checked="checked" value="Arkæologi">Arkæologi
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-1">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-1" value="OGamle dage (1750-1950)">Gamle dage (1750-1950)                                                           <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-2">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Natur & Landskab">Natur & Landskab
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-3">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-3" value="Fortidens Mennesker">Fortidens Mennesker
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>

                                                            <label class="checkbox" for="checkboxes-4">
                                                                <input type="checkbox" name="checkboxes" id="checkboxes-4" value="Verdenskrigene">Verdenskrigene
                                                                <span class="total"><a href="#" title="stk">34 stk</a></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <a class="SeeMore" data-toggle="collapse" href="#collapseThree">+ se flere</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-md-8 col-sm-6">
                                <h3>18 læringsoplevelser</h3>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="http://google.com">
                                            <img alt="thumbnail" src="images/img-thumbnail-1.png">
                                                <div class="caption">
                                                    <h5 class="text-center">Skjern Å’s finurlige historie</h5>

                                                    <p class="text-center">Natur & Landskab<br/>
                                                        Skjern Å Museet
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="http://google.com">
                                            <img alt="thumbnail" src="images/img-thumbnail-2.png">
                                                <div class="caption">
                                                    <h5 class="text-center">Livet på op og nedture i en jernalderlandsby</h5>

                                                    <p class="text-center">Fortidens mennesker<br/>
                                                        Dejbjerg Jernalder 
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="http://google.com">
                                                <img alt="thumbnail" src="images/img-thumbnail-3.png">
                                                <div class="caption">
                                                    <h5 class="text-center">Rammen for Kaj Munk</h5>

                                                    <p class="text-center">"Gamle dage" (1750-1950)<br/>
                                                        Kaj Munks Præstegård
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="http://google.com">
                                                <img alt="thumbnail" src="images/img-thumbnail-2.png">
                                                <div class="caption">
                                                    <h5 class="text-center">Livet på op og nedture i en jernalderlandsby</h5>

                                                    <p class="text-center">Fortidens mennesker<br/>
                                                        Dejbjerg Jernalder 
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="http://google.com">
                                                <img alt="thumbnail" src="images/img-thumbnail-3.png">
                                                <div class="caption">
                                                    <h5 class="text-center">Rammen for Kaj Munk</h5>

                                                    <p class="text-center">"Gamle dage" (1750-1950)<br/>
                                                        Kaj Munks Præstegård
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="http://google.com">
                                                <img alt="thumbnail" src="images/img-thumbnail-1.png">
                                                <div class="caption">
                                                    <h5 class="text-center">Skjern Å’s finurlige historie</h5>

                                                    <p class="text-center">Natur & Landskab<br/>
                                                        Skjern Å Museet
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>		
            </div>
        </div>	

		
	

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
        
        
    <script type="text/javascript">
        //$('#myCarousel').carousel({
         //   interval: 4000
       // })

        $('.carouseltwo .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));

          for (var i=0;i<2;i++) {
            next=next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
          }
        });
    </script>
	
	
	
        
