<div class="control-group col-md-4 col-sm-5">
	<div class="controls">
	<!--@LoopStart(Ecom:Filters.ProductFields.Rows)-->
	<!--@HeaderStart-->
		<select id="<!--@Filters:Current.TagName-->" name="<!--@Filters:Current.TagName-->" class="input-xlarge">
		<option readonly value=""><!--@Filters:Current.Name--></option>
		<!--@HeaderEnd-->


		<option readonly value="<!--@Ecom:Filters.ProductFields.Row.Value-->"><!--@Ecom:Filters.ProductFields.Row.Text--></option>




		<!--@LoopEnd(Ecom:Filters.ProductFields.Rows)-->
		</select>
	</div>
</div>