<!--@LoopStart(Ecom:Filters.ProductFields.Rows)-->
<!--@HeaderStart-->
<div class="panel panel-default" id="panel<!--@Filters:Current.TagName-->">
	<div class="form-vertical-filter">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapse<!--@Filters:Current.TagName-->" class="collapsed"><label class="control-label" for="checkboxes"><!--@Filters:Current.Name--></label></a>
			</h4>

		</div>
		<div id="collapse<!--@Filters:Current.TagName-->" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="control-group">
					<div class="controls">
						<!--@HeaderEnd-->

							<label class="checkbox" for="item<!--@Ecom:Filters.ProductFields.Rows.LoopCounter-->">
								<input type="checkbox" id="item<!--@Ecom:Filters.ProductFields.Rows.LoopCounter-->" name="<!--@Filters:Current.TagName-->" value="<!--@Ecom:Filters.ProductFields.Row.Value-->" <!--@Ecom:Filters.ProductFields.Row.CheckedState--> /><!--@Ecom:Filters.ProductFields.Row.Text-->
								<span class="total"><a href="#" title="stk"><!--@Ecom:Filters.ProductFields.Row.TotalFormatted--> stk</a></span>
							</label>
						<!--@FooterStart-->
					</div>
				</div>
				<a class="SeeMore" data-toggle="collapse" href="#collapseTwo" style="display:none !important">+ se flere</a>
			</div>

		</div>
	</div>
	</div>
	<!--@FooterEnd-->
	<!--@LoopEnd(Ecom:Filters.ProductFields.Rows)-->









