<div class="row registration-wrapper">
	<div class="container">
		<!--div class="row"-->
		<div class="registration">
			<!--@LoopStart(OrderLines)-->

				<!--@If(OrderLines.LoopCounter==1)-->
					<img src='/admin/public/getimage.ashx?Image=<!--@Ecom:Product.ImageLarge.Clean-->&Format=jpg&width=940&height=260&Crop=0' alt='<!--@ParagraphImageTitle-->' />
					<div class="carousel-caption">
						<h2><!--@Ecom:Order:OrderLine.ProductName--></h2>
					</div>
				<!--@EndIf-->
			<!--@LoopEnd(OrderLines)-->
<div class="container" id="myWizard">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="nav nav-pills">
                                         <li class="active" style="width:49%"><a href="#" data-toggle="tab" data-step="0" aria-expanded="true">Din ordre</a><a class="timeline" href="#step0"  data-toggle="tab" data-step="0" style="background-image:url(http://www.levendelaering.dk/Files/Templates/Designs/2015_Levende/images/timeline-active-center-hover.png)"></a</li>
                                        
                                        <li class=""  style="width:49%; text-align:right"><a href="#step2" data-toggle="tab" data-step="2">F&aelig;rdig!</a><a class="timeline" href="#step2"  data-toggle="tab" data-step="2" style="left: 85%; background-image: url(http://www.levendelaering.dk/Files/Templates/Designs/2015_Levende/images/timeline-last.jpg);"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-main" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="2" style="width: 100%;"></div>
                           </div>

                        </div>

		</div>

		<!--/div-->
	</div>
</div>

<div class="row thumbnail-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7 step-wrapper">
						<div class="tab-content">

							<div class="tab-pane fade in active" id="step1">
								<form name="ordersubmit" id="ordersubmit" method="post">






								<div class="step-main">
									<a class="next" href="#"><span class="badge">1</span>Kontaktoplysninger</a><br/>

									<div class="row">
										<div class="control-group col-md-6">
											<div class="controls">
												<label>Kontaktperson</label>
												<p><!--@Ecom:Order.Customer.Name--></p>
												<input readonly type="hidden" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" class="form-control input-lg" placeholder="Indtast navn"/>

											</div>
										</div>
									</div><br/>

									<div class="row">
										<div class="col-md-6">
											<label>Email</label>
											<p><!--@Ecom:Order.Customer.Email--></p>
											<input readonly type="hidden" class="form-control input-lg" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" placeholder="Indtast Email"/>

										</div>
										<div class="col-md-6">
											<label>Telefon nr.</label>
											<p><!--@Ecom:Order.Customer.Phone--></p>
											<input readonly type="hidden" class="form-control input-lg" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" placeholder="Indtast telefon"/>

										</div>
									</div><br/>

									<div class="row">
										<div class="col-md-6">
											<label>Institution/virksomhed</label>
											<p><!--@Ecom:Order.Customer.Company--></p>
											<input readonly type="hidden" class="form-control input-lg"  id="EcomOrderCustomerCompany" name="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" placeholder="Indtast institution/virksomhed"/>
										</div>
										<div class="col-md-6">
											<label>EAN nr. / CVR nr.</label>
											<p>EAN: <!--@Ecom:Order.Customer.EAN--></p>
											<p>CVR: <!--@Ecom:Order.Customer.VatRegNumber--></p>
											<input readonly type="hidden" class="form-control input-lg" name="EcomOrderCustomerEAN" id="EcomOrderCustomerEAN" placeholder="Indtast EAN/CVR" value="<!--@Ecom:Order.Customer.EAN-->">
											<input readonly type="hidden" class="form-control input-lg" name="EcomOrderCustomerVatRegNumber" id="EcomOrderCustomerVatRegNumber" placeholder="Indtast EAN/CVR" value="<!--@Ecom:Order.Customer.VatRegNumber-->">
										</div>
									</div><br/>

									<div class="row">
										<div class="col-md-6">
											<label>Adresse</label>
											<p><!--@Ecom:Order.Customer.Address--></p>
											<input readonly type="hidden" class="form-control input-lg"  name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" placeholder="Indtast Adresse"/>

										</div>
										<div class="col-md-6">
											<label>Postnummer</label>
											<p><!--@Ecom:Order.Customer.Zip--></p>
											<input readonly type="hidden" name="EcomOrderCustomerZip" class="form-control input-lg" placeholder="Indtast postnummer" value="<!--@Ecom:Order.Customer.Zip-->">
										</div>
									</div>
								</div>

								<hr>

								<div class="step-main">
									<a class="next" href="#"><span class="badge">2</span>Kommentarer</a><br/>
									<label>Jeres kommentar</label>
									<p><!--@Ecom:Order.Customer.Comment--></p>
									<input type="hidden" readonly class="form-control" rows="8" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" value="<!--@Ecom:Order.Customer.Comment-->"/>

									<br/>
									<label>Vores kommentarer</label>
									<P><!--@Ecom:Order.Comment--></P>
									<input  type="hidden" class="form-control" rows="8" name="EcomOrderComment" id="EcomOrderComment" readonly vale="<!--@Ecom:Order.Comment-->"/>

									<br/>
									<hr>

									<div class="row features">
										<div class="col-md-12">
											<span>Salgs- og leveringsbetingelser</span>
											<div class="control-group">
												<div class="controls">
													<label class="checkbox" for="checkboxes-5">
														<input type="checkbox"  value="1" />
														<input class="checkbox-white" type="checkbox" value="0" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted">Jeg har l&aelig;st og accepterer salgs- og leveringsbetingelserne. <a class="SeeMore" target="_blank" href="/Default.aspx?ID=1347">L&aelig;s her</a>
													</label>
												</div>
											</div>
										</div>
									</div><br/>
									</div>
								<input type="submit" name="<!--@CartV2.CheckoutButtonName-->" id="<!--@CartV2.CheckoutButtonName-->" value="Godkend" class="submitter btn primary" />

							</div>


						</div>
					</div>
						<div class="col-md-5 right-wrap">
							<!--div class="row"-->

								<div class="col-md-12 messaging">
									<h4>Opsumering</h4>
								</div>

								<div class="col-md-12 description main-btn-group">
									<div class="row">

										<!--@LoopStart(OrderLines)-->
										<!--@If(OrderLines.LoopCounter==1)-->
										<div class="col-md-12 col-sm-12">
											<p><strong><!--@Ecom:Order:OrderLine.ProductName--></strong></p>

</div>
<div class="col-md-8 col-sm-8">
												<p>Pris for oplevelsen</p>
											</div>
											<div class="col-md-4 col-sm-4 text-right text-right-main">
												<p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode--></p>
											</div>
											<!--@Else-->

											<div class="col-md-8 col-sm-8">
												<p><!--@Ecom:Order:OrderLine.Quantity--> x <!--@Ecom:Order:OrderLine.ProductName--></p>
											</div>
											<div class="col-md-4 col-sm-4 text-right text-right-main">
												<p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode--></p>
											</div>
											<!--@EndIf-->
										<!--@LoopEnd(OrderLines)-->

											<div class="col-md-4 col-sm-4 hr">
												<p>Tidspunkt</p>
											</div>
											<div class="col-md-8 col-sm-8 text-right text-right-main hr">
												<p><!--@aftalttid.Date.LongDate--> kl. <!--@aftalttid.Date.ShortTime--></p>
											</div>
											<!--@LoopStart(OrderLines)-->
                                                  <!--@If(Ecom:Product:Field.butikmulig=="True")-->
                                         <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Butikken skal have åbent</strong></p><p> <!--@butikaaben.Clean--> </p>
                                                </div>
                                            <!--@EndIf-->
                                            <!--@LoopEnd(OrderLines)-->
										<div class="col-md-12 col-sm-12 hr">
											<p class="left">Pris</p>
											<h3 class="right" style="margin:0px"><!--@Ecom:Order.Price.Price--> <!--@Ecom:Order.CurrencyCode--></h3>
										</div>


									</div>
								</div>

							<!--/div-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<span style="visibility:hidden; text-indent:-1000px; height:1px"><!--@aftalttid--></span>
	</form>
</div>



<!--@SnippetStart(scripts)-->

    <script type="text/javascript">

        $('.next').click(function(){
			var nextId = $(this).parents('.tab-pane').next().attr("id");
			$('[href=#'+nextId+']').tab('show');
			return false;
        })

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

          //update progress
          var step = $(e.target).data('step');
          var percent = (parseInt(step) / 2) * 100;

          $('.progress-bar').css({width: percent + '%'});
          //$('.progress-bar').text("Step " + step + " of 3");

          //e.relatedTarget // previous tab

        })

        $('.first').click(function(){
			$('#myWizard a:first').tab('show')
        })

        jQuery(document).ready(function($) {
        	$(".nextstep").on("click",function(){
        	$(".copyinfo").each(function(){
        		var targetid = $(this).data("id");
        		$("#"+targetid).val($(this).val());
        		console.log(targetid+" "+$(this).val());
        	});
        });
        });
        </script>

		<script type="text/javascript">
			var tilvalg = ["tilvalg"];

			<!--@LoopStart(OrderLines)--><!--@LoopStart(tilvalg.Options)-->
				tilvalg.push("<!--@tilvalg.Option.Value-->");

				<!--@LoopEnd(tilvalg.Options)--><!--@LoopEnd(OrderLines)-->
				$("#tilvalglist .item").each(function(){
				if($.inArray($(this).data("tilvalg"), tilvalg)){
					console.log($(this).data("tilvalg")+" "+tilvalg);
				}

			});
    	</script>


    <script type="text/javascript">
        $("ul.nav.nav-pills > li:last-child").click(function(){
            //$(this).addClass("");
            $("ul.nav.nav-pills > li:first-child, ul.nav.nav-pills > li:nth-child(2)").addClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(1)").click(function(){
            $("ul.nav.nav-pills > li").removeClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(2)").click(function(){
            $(this).removeClass("selected");
            $("ul.nav.nav-pills > li:first-child").addClass("selected");
        });
    </script>

    <script src="/Files/Templates/Designs/2015_Levende/js/datetimepicker.js"></script>
    <script type="text/javascript">
      $(function () {
        $('.date').datetimepicker({
          	pickTime: true,
            format: 'dd-MM-yyyy'
          });
      });
    </script>


<!--@SnippetEnd(scripts)-->
