
<!--@SnippetStart(scripts)-->
<!--@If Defined(Ecom:Cart.EmptyCartLink)-->
<script>
$("#purchase button").remove();
$("#purchase").prepend("<p>Du kan kun lave en foresp&oslash;rgsel p&aring; en oplevelse ad gangen.</p><a id='search' class='btn btn-search' href='Default.aspx?ID=<!--@Global:eCommerce.CartPageID-->' >Vis eksisterende foresp&oslash;rgsel</a><br/><br/><a id='search'class='btn btn-danger' href='<!--@Ecom:Cart.EmptyCartLink-->' >Fjern eksisterende foresp&oslash;rgsel</a>");
</script>
<!--@EndIf(Ecom:Cart.EmptyCartLink)-->

<!--@SnippetEnd(scripts)-->

