




<div class="row registration-wrapper">
        <!--@LoopStart(ValidationErrors)-->
        <!--@HeaderStart-->
            <fieldset id="validation">
                <legend><!--@Translate(validationerrors, "Validation errors")--></legend>
                <ul>
        <!--@HeaderEnd-->
                    <li><!--@Translate(error, "Error in the input field")--> "<!--@Ecom:Cart.ValidationError.FieldName-->": <a href="javascript:document.getElementById('<!--@Ecom:Cart.ValidationError.FieldSystemName-->').focus();"><!--@Ecom:Cart.ValidationError.ErrorMessage--></a></li>
        <!--@FooterStart-->
                </ul>
            </fieldset>
        <!--@FooterEnd-->
    <!--@LoopEnd(ValidationErrors)-->
            <div class="container">
                <!--div class="row"-->
                    <div class="registration">
                        <!--@LoopStart(OrderLines)-->

                                <!--@If(OrderLines.LoopCounter==1)-->
                                <img src='/admin/public/getimage.ashx?Image=<!--@Ecom:Product.ImageLarge.Clean-->&Format=jpg&width=940&height=260&Crop=0' alt='<!--@ParagraphImageTitle-->' />
                        <div class="carousel-caption">
                                <h2><!--@Ecom:Order:OrderLine.ProductName--></h2>
                                </div>
                                <!--@EndIf-->
                                    <!--@LoopEnd(OrderLines)-->

                        <div class="container" id="myWizard">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="nav nav-pills">
                                        <li class="" style="width:49%"><a href="#" data-toggle="tab" data-step="0" aria-expanded="true">Din ordre</a><a class="timeline" href="#step0"  data-toggle="tab" data-step="0"></a</li>
                                        
                                        <li class="active" style="width:49%; text-align:right"><a href="#step2" data-toggle="tab" data-step="2">F&aelig;rdig!</a><a class="timeline" href="#step2"  data-toggle="tab" data-step="2" style="left:85%"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-main" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 100%;"></div>
                           </div>

                        </div>

                    </div>
                <!--/div-->
            </div>
        </div>

        <div class="row thumbnail-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-7 step-wrapper">
                                <div class="">


                                    <div class="" id="step2">

                                            <h3>Tak for din ordre <!--@Ecom:Order.Customer.Name--></h3>
                                            <p>Din ordre har f&aring;et nr. <strong><!--@Ecom:Order.ID-->.</strong></p>

                                            <p>En kopi af din ordre er sendt til <!--@Ecom:Order.Customer.Email--></p>

                                            <hr>

                                            <div class="request-description">
                                                <h4>Opsummering</h4>



                                                    <!--@LoopStart(OrderLines)-->
<div class="row">

                                                            <div class="col-md-6 col-sm-6">
                                                                <p><!--@Ecom:Order:OrderLine.ProductName--></p>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 text-right">
                                                                <p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode--></p>
                                                            </div>
</div>
                                                    <!--@LoopEnd(OrderLines)-->


                                            </div>


                                            <hr>

                                            <div class="request-description">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span>Pris</span>
                                                        <big class="pull-right"><!--@Ecom:Order.OrderLines.TotalPriceWithoutSymbol--> <!--@Ecom:Order.PaymentFee.Currency.Code--></big>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>



                                            <div class="request-description">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h4>Dato og tid</h4>
                                                        <p><!--@aftalttid.Date.LongDate--> kl. <!--@aftalttid.Date.ShortTime--></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>

                                            <div class="request-description">
                                                <h4 class="experience">Kontaktoplysninger</h4><br/>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <p><!--@Ecom:Order.Customer.Name--></p>
                                                        <p><!--@Ecom:Order.Customer.Email--></p>
                                                        <p><!--@Ecom:Order.Customer.Phone--></p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <p> <!--@Ecom:Order.Customer.Company--></p>
                                                        <p>EAN: <!--@Ecom:Order.Customer.EAN--></p>
                                                        <p>CVR: <!--@Ecom:Order.Customer.VatRegNumber--></p>
                                                        <p><!--@Ecom:Order.Customer.Address--></p>
                                                        <p><!--@Ecom:Order.Customer.Zip-->, <!--@Ecom:Order.Customer.City--></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--@If(Ecom:Order.Comment.Clean<>"")-->
                                            <div class="commentary">
                                                <h4>Kommentar</h4><br/>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Jeres kommentar</label>
                                    <p><!--@Ecom:Order.Customer.Comment--></p>
                                   

                                    <br/>
                                    <label>Vores kommentarer</label>
                                    <P><!--@Ecom:Order.Comment--></P>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--@EndIf-->




                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 right-wrap">
                                <!--div class="row"-->
                                    <form action="#">
                                        <div class="col-md-12 messaging">
                                            <h4>Praktisk</h4>
                                        </div>

                                        <div class="col-md-12 description main-btn-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Ordre nr.</strong></p>
                                                    <p><!--@Ecom:Order.ID--></p>
                                                </div>

                                                <!--@LoopStart(OrderLines)-->

                                                 <!--@If(OrderLines.LoopCounter==1)-->
                                                 <!--@If(Ecom:Product:Field.lokalitet<>"")-->
                                                <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Lokalitet</strong></p><p><!--@Ecom:Product:Field.lokalitet--></p>
                                                </div>
                                                <!--@EndIf-->
                                                 <!--@If(Ecom:Product:Field.butikmulig=="True")-->
                                         <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Butikken skal have åbent</strong></p><p> <!--@butikaaben.Clean--> </p>
                                                </div>
                                            <!--@EndIf-->
                                                <!--@EndIf-->
                                                <!--@If(Ecom:Order:OrderLine.ProductNumber<contains>"tidspunkt")-->

                                                <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Tidsrum</strong></p><p><!--@Ecom:Order:OrderLine.ProductName--></p>
                                                </div>
                                                <!--@EndIf-->
                                                <!--@If(Ecom:Order:OrderLine.ProductName<contains>"Børn")-->
                                                <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Antal Børn</strong></p><p> <!--@Ecom:Order:OrderLine.Quantity--></p>
                                                </div>
                                                <!--@EndIf-->
                                                <!--@If(Ecom:Order:OrderLine.ProductName<contains>"Voksne")-->
                                                <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Antal Voksne</strong></p><p> <!--@Ecom:Order:OrderLine.Quantity--></p>
                                                </div>
                                                <!--@EndIf-->


                                                    <!--@LoopEnd(OrderLines)-->


                                            </div>
                                        </div>
                                    </form>
                                <!--/div-->
                            </div>
                             <div class="col-md-5 right-wrap">
                                <!--div class="row"-->
                                   
                                        <div class="col-md-12 messaging">
                                            <h4>Moms</h4>
                                        </div>

                                        <div class="col-md-12 description main-btn-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>Museet er kun momsforpligtet på forplejning og butiksvarer.</p>
                                                    
                                                </div>

                                               

                                            </div>
                                        </div>
                                <!--/div-->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>



<!-- 

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>





    <script type="text/javascript">
        $("ul.nav.nav-pills > li:last-child").click(function(){
            //$(this).addClass("");
            $("ul.nav.nav-pills > li:first-child, ul.nav.nav-pills > li:nth-child(2)").addClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(1)").click(function(){
            $("ul.nav.nav-pills > li").removeClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(2)").click(function(){
            $(this).removeClass("selected");
            $("ul.nav.nav-pills > li:first-child").addClass("selected");
        });

    </script>


    <script src="js/datetimepicker.js"></script>




    <script src="js/tooltip.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("a").easyTooltip();
        });
    </script>
 -->
