﻿<div id="Basket" class="eCom">
<script language="javascript">
  <!--
  
  var state = 'none';
  
  function showhide(layer_ref) {
  
  if (state == 'block') {
  state = 'none';
  }
  else {
  state = 'block';
  }
  if (document.all) { //IS IE 4 or 5 (or 6 beta)
  eval( "document.all." + layer_ref + ".style.display = state");
  }
  if (document.layers) { //IS NETSCAPE 4 or below
  document.layers[layer_ref].display = state;
  }
  if (document.getElementById &&!document.all) {
  hza = document.getElementById(layer_ref);
  hza.style.display = state;
  }
  }
  //-->
</script> 
<form name="ordersubmit" id="ordersubmit" method="post">
<div class="eComContainer Border Header">
  <div class="Item Header"><h3><!--@Translate(Vare, "Vare", global)--></h3></div>
    <div class="Count Header"><h3><!--@Translate(Antal, "Antal", global)--></h3></div>
    <div class="Price Header"><h3><!--@Translate(PrisPrStk, "Pris pr. stk.", global)--></h3></div>
    <div class="PriceTotal Header"><h3><!--@Translate(PrisIAlt, "Pris i alt kr.", global)--></h3></div>
</div>
<!--@LoopStart(OrderLines)-->
<!--@LoopStart(tilvalg.Options)--><!--@DwTemplateTags--> <!--@LoopEnd(tilvalg.Options)-->

<div class="eComContainer Border">
  <div class="ProductImage">
      <img src="/admin/public/getimage.aspx?Image=/Files/Billeder/eCom/Produktbilleder/<!--@Ecom:Product.Number-->.jpg&Resolution=72&Compression=90&Width=70&Height=70&Crop=" border="0" alt="">
     </div>
  <div class="Item">
      <a href="<!--@Ecom:Order:OrderLine.ProductLink-->">
        <!--@Ecom:Order:OrderLine.ProductName.Short-->
        <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
        (<!--@Ecom:Order:OrderLine.ProductVariantText-->)
        <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
        </a>
    </div>
    <div class="Count">
      <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.IncrementLink-->" title=""><strong><!--@Translate(Increment, "+", global)--></strong></a> &nbsp;
        <!--@Ecom:Order:OrderLine.Quantity--> &nbsp;
        <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DecrementLink-->" title=""><strong><!--@Translate(Decrement, "-", global)--></strong></a>
    </div>
    <div class="Price"><!--@Ecom:Order:OrderLine.UnitPrice--></div>
    <div class="PriceTotal"><!--@Ecom:Order:OrderLine.TotalPrice-->&nbsp; &nbsp;<a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" title=""><strong><!--@Translate(Slet, "X", global)--></strong></a></div>
</div>
<!--@LoopEnd(OrderLines)-->
<div class="eComContainer Border">
  <div class="eComLeft">
      <h3><!--@Translate(VarerIAlt, "Varer i alt", global)--></h3>
    </div>
    <div class="eComRight"><h3><!--@Ecom:Order.PriceWithoutFees--></h3></div>
</div>
<div class="eComContainer">
  <h3><!--@Translate(deliverymethods, "Levering", global)--></h3>
    <div class="eComLeft"><br />
        <!--@LoopStart(Shippingmethods)-->
        <label for="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->">
        <!--@If Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
        <input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" checked="checked" />
        <!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
        <!--@If Not Defined(Ecom:Cart.Shippingmethod.IsSelected)-->
        <input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_<!--@Ecom:Cart.Shippingmethod.ID-->" value="<!--@Ecom:Cart.Shippingmethod.ID-->" />
        <!--@EndIf(Ecom:Cart.Shippingmethod.IsSelected)-->
        &nbsp;<!--@Ecom:Cart.Shippingmethod.Name-->
        <!--@If Not Defined(Ecom:Cart.ShippingMethod.Price.IsZero)-->
        &nbsp;(<!--@Ecom:Cart.ShippingMethod.Price-->)
        <!--@EndIf(Ecom:Cart.ShippingMethod.Price.IsZero)-->
        </label>
        <!--@LoopEnd(Shippingmethods)-->
    </div>
    <div class="eComRight"><br />
        <!--@Ecom:Order.ShippingFee-->
    </div>
</div>
<div class="eComContainer Border">
  <h3><!--@Translate(paymentmethods, "Betaling", global)--></h3>
  <div class="eComLeft"><br />        
        <!--@LoopStart(Paymethods)-->
        <label for="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->">
        <!--@If Defined(Ecom:Cart.Paymethod.IsSelected)-->
        <input onclick="updateCart();" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" checked="checked" />&nbsp;
        <!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
        <!--@If Not Defined(Ecom:Cart.Paymethod.IsSelected)-->
        <input onclick="updateCart();" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_<!--@Ecom:Cart.Paymethod.ID-->" value="<!--@Ecom:Cart.Paymethod.ID-->" />&nbsp;
        <!--@EndIf(Ecom:Cart.Paymethod.IsSelected)-->
        <!--@Ecom:Cart.Paymethod.Name-->
        <!--@If Not Defined(Ecom:Cart.Paymethod.Price.IsZero)-->
        &nbsp;(<!--@Ecom:Cart.Paymethod.Price-->) <!--@Ecom:Cart.Paymethod.Icon-->
        <!--@EndIf(Ecom:Cart.P  aymethod.Price.IsZero)-->
        </label>
        <!--@LoopEnd(Paymethods)-->
    </div>
  <div class="eComRight"><br />
      <!--@Ecom:Order.PaymentFee.PriceFormatted-->
   </div>
</div>
<div class="eComContainer Border">
  <div class="eComLeft">
      <h3><!--@Translate(VarerIAlt, "Varer i alt", global)--></h3>
        <p class="Small"><!--@Translate(Vat, "Moms", global)--> (<!--@Ecom:Order.PriceWithoutFees.VATPercentFormatted-->) <!--@Translate(Udgor, "udg&oslash;r", global)--> <!--@Ecom:Order.VAT--><br />
    <!--@Translate(TotalPriceWithoutVat, "Pris uden moms")--> <!--@Ecom:Order.OrderLines.Total.PriceWithoutVAT-->
    </div>
    <div class="eComRight"><h3><!--@Ecom:Order.OrderLines.Total.PriceWithVAT--></h3></div>
</div>
<div class="eComContainer">
    <h3><!--@Translate(PersonligeOplysninger, "Personlige oplysninger", global)--></h3><br />
    <table cellspacing="0" width="100%">
        <tr>
            <td><p style="margin-bottom:0px;"><!--@Translate(Firma, "Firma", global)--></p></td>
            <td><p style="margin-bottom:0px;"><!--@Translate(Ean, "Ean", global)--></p></td>
            <td><p style="margin-bottom:0px;"><!--@Translate(CVR, "CVR", global)--></p></td>
        </tr>
        <tr>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->"></td>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerEAN" id="EcomOrderCustomerEAN" value="<!--@Ecom:Order.Customer.EAN-->" /></td>
            <td class="Custom"><!--@CvrNr--></td>
        </tr>
        <tr>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(name, "Navn", global)--></p></td>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(address, "Adresse", global)--></p></td>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(address2, "Adresse 2", global)--></p></td>
        </tr>
        <tr>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" /></td>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" /></td>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="<!--@Ecom:Order.Customer.Address2-->" /></td>
        </tr>
        <tr>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(zipcode, "Post nr.", global)--></p></td>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(city, "By", global)--></p></td>
            <td><label for="EcomOrderCustomerCountry"><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(country, "Land", global)--></p></label></td>
        </tr>
        <tr>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="<!--@Ecom:Order.Customer.Zip-->" /></td>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="<!--@Ecom:Order.Customer.City-->" /></td>
            <td><select name="EcomOrderCustomerCountry" id="EcomOrderCustomerCountry" onchange="updateCart();" style="width:163px;">
                    <!--@LoopStart(Countries)-->
                        <!--@If Defined(Ecom:Country.IsCustomerCountryOrDefault)-->
                            <option value="<!--@Ecom:Country.Code2-->" selected="selected">
                                <!--@Ecom:Country.Name-->
                            </option>
                        <!--@EndIf(Ecom:Country.IsCustomerCountryOrDefault)-->
                        <!--@If Not Defined(Ecom:Country.IsCustomerCountryOrDefault)-->
                            <option value="<!--@Ecom:Country.Code2-->">
                                <!--@Ecom:Country.Name-->
                            </option>
                        <!--@EndIf(Ecom:Country.IsCustomerCountryOrDefault)-->
                    <!--@LoopEnd(Countries)-->
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="EcomOrderCustomerEmail"><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(email, "E-mail", global)--></p></label></td>
            <td><label for="EcomOrderCustomerPhone"><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(phone, "Telefon", global)--></p></label></td>
            <td><label for="EcomOrderCustomerCell"><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(mobile, "Mobil", global)--></p></label></td>
        </tr>
        <tr>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" /> &nbsp;</td>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" /> &nbsp;</td>
            <td><input type="text" class="eComAdress" name="EcomOrderCustomerCell" id="EcomOrderCustomerCell" value="<!--@Ecom:Order.Customer.Cell-->" />&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3"><br /><h3><a href="#" onclick="showhide('Leveringsadresse');"><!--@Translate(deliveryaddress, "Alternativ leveringsadresse", global)--></a></h3></td>
        </tr>
    </table
    ><div id="Leveringsadresse" class="eCom" style="display: none;">
    <table cellspacing="0" width="100%">
        <tr>
            <td><label for="EcomOrderDeliveryName"><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(name, "Name", global)--></p></label></td>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(address, "Adresse", global)--></p></td>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(address, "Adresse2", global)--></p></td>
        </tr>
        <tr>
            <td><input type="text" class="eComAdress" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="<!--@Ecom:Order.Delivery.Name-->" /></td>
            <td><input type="text" class="eComAdress" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="<!--@Ecom:Order.Delivery.Address-->" /></td>
            <td><input type="text" class="eComAdress2" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="<!--@Ecom:Order.Delivery.Address2-->" /></td>
        </tr>
        <tr>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(zipcode, "Post nr.", global)--></p></td>
            <td><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(city, "By", global)--></p></td>
            <td><label for="EcomOrderDeliveryCountry"><p style="margin-bottom:0px; margin-top:10px;"><!--@Translate(country, "Land", global)--></p></label></td>
        </tr>
        <tr>
            <td><input type="text" class="eComAdress" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="<!--@Ecom:Order.Delivery.Zip-->" /> &nbsp;</td>
            <td><input type="text" class="eComAdress" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="<!--@Ecom:Order.Delivery.City-->" /> &nbsp;</td>
            <td><select name="EcomOrderDeliveryCountry" id="EcomOrderDeliveryCountry" onchange="updateCart();" class="eComAdress">
                    <!--@LoopStart(Countries)-->
                        <!--@If Defined(Ecom:Country.IsDeliveryCountryOrDefault)-->
                            <option value="<!--@Ecom:Country.Code2-->" selected="selected">
                                <!--@Ecom:Country.Name-->
                            </option>
                        <!--@EndIf(Ecom:Country.IsDeliveryCountryOrDefault)-->
                        <!--@If Not Defined(Ecom:Country.IsDeliveryCountryOrDefault)-->
                            <option value="<!--@Ecom:Country.Code2-->">
                                <!--@Ecom:Country.Name-->
                            </option>
                        <!--@EndIf(Ecom:Country.IsDeliveryCountryOrDefault)-->
                    <!--@LoopEnd(Countries)-->
                </select>&nbsp;
            </td>
        </tr>
    </table>
    </div>
</div>
<div class="eComContainer">
    <label for="EcomOrderCustomerComment"><!--@Translate(Kommentar, "Evt. kommentar", global)--></label><br />
    <textarea rows="6" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" style="overflow:auto; width:510px; margin-bottom:10px;"><!--@Ecom:Order.Customer.Comment--></textarea>
</div>
<!--@If Defined(Ecom:Cart.UseNewsletterSubscription)-->
<div class="eComContainer">
    <h3><!--@Translate(newsletter, "Nyhedsbrev tilmelding", global)--></h3>
    <input type="hidden" name="EcomOrderSubscribeToNewsletter" />
    <input type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter" 
    <!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->
    checked="checked"
    <!--@EndIf(Ecom:Order.Customer.NewsletterSubscribe)--> />
    <label for="EcomOrderSubscribeToNewsletter">
    &nbsp; <!--@Translate(newslettertext, "Ja tak, jeg vil gerne modtage nyheder og tilbud", global)-->
    </label>
</div>
<!--@EndIf(Ecom:Cart.UseNewsletterSubscription)-->
<div class="eComContainer">
<h3><a href="#" onclick="showhide('Handelsbetingelser');"><!--@Translate(Handelsbetingelser, "Handelsbetingelser", global)--></a></h3>
    <div id="Handelsbetingelser" class="eCom" style="display: none;">
        <!--@Global:Paragraph.Content(52)-->
    </div>
</div>
<input type="checkbox" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted" value="1" />&nbsp; <!--@Translate(AcceptereHandelsbetingelserne, "Jeg accepterer handelsbetingelserne.", global)-->
<div class="eComContainer">
    <!--@LoopStart(ValidationErrors)-->
    <!--@HeaderStart-->
        <fieldset id="validation">
            <ul>
              <li style="list-style-type:none"><h2><!--@Translate(validationerrors, "Udfyld venligst:", global)--></h2></li>
    <!--@HeaderEnd-->
                <li><a href="javascript:document.getElementById('<!--@Ecom:Cart.ValidationError.FieldSystemName-->').focus();"><!--@Ecom:Cart.ValidationError.ErrorMessage--></a></li>
    <!--@FooterStart-->
            </ul>
        </fieldset>
    <!--@FooterEnd-->
    <!--@LoopEnd(ValidationErrors)-->
</div>
<div id="NextStep">
    <div class="Button Button02"><a href="javascript: window.history.go(-1)"><!--@Translate(Tilbage, "Tilbage", global)--></a></div>
    <div class="Button Button02"><a href="<!--@Ecom:Cart.EmptyCartLink-->" class="submitter"><!--@Translate(emptycart, "T&oslash;m kurv", global)--></a></div>
    <div class="Button Button01"><input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="Submit1" class="submitter" value="<!--@Translate(Bestil, "Bestil")-->" /></div>
</div>
</form>
</div>