<form name="multiForm" id="multiForm" method="post">
    <form name="multiForm" id="multiForm" method="post">
<!--@Ecom:Product.Form.Multi.HiddenFields-->
<div class="row registration-wrapper">



            <div class="container">
                <!--div class="row"-->
                    <div class="registration">
                        <!--@LoopStart(OrderLines)-->

                               <!--@If(OrderLines.LoopCounter==1)-->
                                <img src='/admin/public/getimage.ashx?Image=<!--@Ecom:Product.ImageLarge.Clean-->&Format=jpg&width=940&height=260&Crop=0' alt='<!--@ParagraphImageTitle-->' />
                        <div class="carousel-caption">
                                <h2><!--@Ecom:Order:OrderLine.ProductName--></h2>
                                </div>
                                <!--@EndIf-->
                                    <!--@LoopEnd(OrderLines)-->

                        <div class="container" id="myWizard">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="nav nav-pills">
                                        <li class=""><a href="#step0" data-toggle="tab" data-step="0">Din foresp&oslash;rgelse</a><a class="timeline" href="#step0"  data-toggle="tab" data-step="0"></a</li>
                                        <li class=""><a href="#step1" data-toggle="tab" data-step="1">Dine kontaktoplysninger</a><a class="timeline" href="#step1"  data-toggle="tab" data-step="1"></a</li>
                                        <li class=""><a href="#step2" data-toggle="tab" data-step="2">F&aelig;rdig!</a><a class="timeline" href="#step2"  data-toggle="tab" data-step="2"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-main" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 0%;"></div>
                           </div>

                        </div>

                    </div>
                <!--/div-->
            </div>
        </div>

        <div class="row thumbnail-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-7 step-wrapper">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="step0">
                                        <div class="step-main">
                                            <a class="next" href="#"><span class="badge">1</span>Oplevelsen</a><br/>
                                            <label>Tidspunkt</label>
                                            <!--@LoopStart(OrderLines)-->

                                                            <!--@If(OrderLines.LoopCounter==1)-->
                                                            <p><!--@Ecom:Order:OrderLine.ProductVariantText--></p>

                                                            <!--@EndIf-->
                                            <!--@LoopEnd(OrderLines)-->



                                            <div class="row" id="personer">
                                            <!--@LoopStart(OrderLines)-->
                                            <!--@LoopStart(ProductRelatedGroups)--><!--DwTemplateTags-->
                                            <!--@If(Ecom:Product:RelatedGroup.Name=="personer")-->
                                            <!--@LoopStart(RelatedProducts)-->
                                                <div class="col-md-4">
                                                    <label>Antal <!--@Ecom:Product.Name--></label>
                                                    <input type="text" name="Quantity<!--@Ecom:Product.LoopCounter-->" class="form-control input-lg"/>
                                                </div>
                                            <!--@LoopEnd(RelatedProducts)-->

                                            <div class="col-md-4">
                                                <label> &nbsp;</label>
                                            <button id="search" name="submit" class="btn primary" type="submit" style="height:46px">Opdater</button>
                                            </div>
                                            <!--@EndIf-->

                                            <!--@LoopEnd(ProductRelatedGroups)-->
                                            <!--@LoopEnd(OrderLines)-->

                                                <!--Global:Paragraph.Content(2438)-->
                                            </div>
                                        </div><br/>

                                        <div class="step-main">
                                            <a class="next" href="#"><span class="badge">2</span>V&aelig;lg dato og tid</a><br/>
                                            <div class="row">
                                                <label class="col-md-12">1. prioritet</label>
                                                <div class="col-md-7">
                                                    <div id="datetimepicker1" class="input-group date">
                                                        <input type="text" id="prio1date_day" name="prio1date_day" class="form-control">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-5">
                                                    <select class="form-control input-lg" name="prio1time">
                                                      <option value="8:00">Kl. 8:00 </option>
                                                      <option value="9:00">Kl. 9:00 </option>
                                                      <option value="10:00">Kl. 10:00 </option>
                                                      <option value="11:00">Kl. 11:00 </option>
                                                      <option value="8:00">Kl. 12:00 </option>
                                                      <option value="9:00">Kl. 13:00 </option>
                                                      <option value="10:00">Kl. 14:00 </option>
                                                      <option value="11:00">Kl. 15:00 </option>
                                                      <option value="8:00">Kl. 16:00 </option>
                                                      <option value="9:00">Kl. 17:00 </option>
                                                      <option value="10:00">Kl. 18:00 </option>
                                                      <option value="11:00">Kl. 19:00 </option>
                                                    </select>
                                                </div>
                                            </div><br/>

                                            <div class="row">
                                                <label class="col-md-12">2. prioritet</label>
                                                <div class="col-md-7">
                                                    <div id="datetimepicker2" class="input-group date">
                                                        <input type="text" class="form-control" id="prio2date_day" name="prio2date_day">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <select class="form-control input-lg" name="prio2time">
                                                      <option value="8:00">Kl. 8:00 </option>
                                                      <option value="9:00">Kl. 9:00 </option>
                                                      <option value="10:00">Kl. 10:00 </option>
                                                      <option value="11:00">Kl. 11:00 </option>
                                                      <option value="8:00">Kl. 12:00 </option>
                                                      <option value="9:00">Kl. 13:00 </option>
                                                      <option value="10:00">Kl. 14:00 </option>
                                                      <option value="11:00">Kl. 15:00 </option>
                                                      <option value="8:00">Kl. 16:00 </option>
                                                      <option value="9:00">Kl. 17:00 </option>
                                                      <option value="10:00">Kl. 18:00 </option>
                                                      <option value="11:00">Kl. 19:00 </option>
                                                    </select>
                                                </div>
                                            </div><br/>

                                            <div class="row">
                                                <label class="col-md-12">3. prioritet</label>
                                                <div class="col-md-7">
                                                    <div id="datetimepicker3" class="input-group date">
                                                        <input type="text" class="form-control" id="prio3date_day" name="prio3date_day">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <select class="form-control input-lg" name="prio3time">
                                                      <option value="8:00">Kl. 8:00 </option>
                                                      <option value="9:00">Kl. 9:00 </option>
                                                      <option value="10:00">Kl. 10:00 </option>
                                                      <option value="11:00">Kl. 11:00 </option>
                                                      <option value="8:00">Kl. 12:00 </option>
                                                      <option value="9:00">Kl. 13:00 </option>
                                                      <option value="10:00">Kl. 14:00 </option>
                                                      <option value="11:00">Kl. 15:00 </option>
                                                      <option value="8:00">Kl. 16:00 </option>
                                                      <option value="9:00">Kl. 17:00 </option>
                                                      <option value="10:00">Kl. 18:00 </option>
                                                      <option value="11:00">Kl. 19:00 </option>
                                                    </select>
                                                </div>


                                                <div class="col-md-12">
                                                    <div class="both">
                                                        <div class="control-group">
                                                            <div class="controls">
                                                                <label class="checkbox" for="checkboxes-2">
                                                                    <input class="checkbox-white" type="checkbox" name="checkboxes" id="checkboxes-2" checked="checked" value="Vi Ã¸nsker butikken er Ã¥ben">Vi Ã¸nsker butikken er Ã…ben
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><br/>
                                        </div>


                                        <div class="step-main">
                                            <a class="next" href="#"><span class="badge">3</span>Tilvalg og aktiviteter</a><br/>
                                            <!--@LoopStart(OrderLines)-->
                                            <!--@DwTemplateTags-->
                                            <!--@LoopStart(ProductRelatedGroups)-->
                                            <!--@If(Ecom:Product:RelatedGroup.Name=="Relaterede produkter")-->

                                            <input type="hidden" name="CartCmd" id="CartCmd" value="addMulti" />
<div id="tilvalglist">
                                            <!--@LoopStart(RelatedProducts)-->



<div class="hr item" data-tilvalg="<!--@Ecom:Product.Number-->">
       <div class="row features">
           <div class="col-md-9">
               <div class="control-group">
                   <div class="controls">
                       <label class="checkbox" for="checkboxes-1">
                           <strong><!--@Ecom:Product.Name--> </strong> + <!--@Ecom:Product.Price.Price--> per person
                           <!--@If(Ecom:Product.ShortDescription.StripHtml()<>"")-->
                           <span class="total"><a class="info" href="#" style="display:inline-block;float:right" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<!--@Ecom:Product.ShortDescription.StripHtml()-->">(info)</a></span><!--@EndIf-->
                       </label>
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <select class="form-control input-lg" name="Quantity<!--@Ecom:Product.LoopCounter-->" >

                    <option value="" readonly>Vælg</option>
                        <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
                 <option value="6">6</option>
                 <option value="7">7</option>
                 <option value="8">8</option>
                 <option value="9">9</option>
                 <option value="10">10</option>
                 <option value="11">11</option>
                 <option value="12">12</option>
                 <option value="13">13</option>
                 <option value="14">14</option>
                 <option value="15">15</option>
                 <option value="16">16</option>
                 <option value="17">17</option>
                 <option value="18">18</option>
                 <option value="19">19</option>
                 <option value="20">20</option>
                 <option value="21">21</option>
                 <option value="22">22</option>
                 <option value="23">23</option>
                 <option value="24">24</option>
                 <option value="25">25</option>
                 <option value="25">26</option>
                 <option value="25">27</option>
                 <option value="25">28</option>
                 <option value="25">29</option>

               </select>
           </div>
       </div>

                                            <!--@LoopEnd(RelatedProducts)-->
</div>
   <div class="row">
   <div class="col-md-8">&nbsp;</div>
    <div class="col-md-4"><button id="search" name="submit" class="btn primary" type="submit" style="height:46px">Opdater</button></div>
 </div>
</div>

                                            <!--@EndIf-->
                                            <!--@LoopEnd(ProductRelatedGroups)-->
                                            <!--@LoopEnd(OrderLines)-->
                                            <!--Global:Paragraph.Content(2439)-->

                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="step1">
    <form name="ordersubmit" id="ordersubmit" method="post">
                                        <div class="step-main">
                                            <a class="next" href="#"><span class="badge">1</span>Kontaktoplysninger</a><br/>

                                            <div class="row">
                                                <div class="control-group col-md-6">
                                                    <div class="controls">
                                                        <label>Kontaktperson</label>
                                                        <input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" class="form-control input-lg" placeholder="Indtast navn"/>

                                                    </div>
                                                </div>
                                            </div><br/>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control input-lg" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" placeholder="Indtast Email"/>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>Telefon nr.</label>
                                                    <input type="tel" class="form-control input-lg" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" placeholder="Indtast telefon"/>

                                                </div>
                                            </div><br/>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Institution/virksomhed</label>
                                                    <input type="text" class="form-control input-lg"  id="EcomOrderCustomerCompany" name="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" placeholder="Indtast institution/virksomhed"/>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>EAN nr. / CVR nr.</label>
                                                    <input type="text" class="form-control input-lg" name="EcomOrderCustomerEAN" id="EcomOrderCustomerEAN" placeholder="Indtast EAN/CVR">
                                                </div>
                                            </div><br/>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Adresse</label>
                                                    <input type="text" class="form-control input-lg"  name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" placeholder="Indtast Adresse"/>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>Postnummer</label>
                                                    <input type="text" name="EcomOrderCustomerZip" class="form-control input-lg" placeholder="Indtast postnummer">
                                                </div>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="step-main">
                                            <a class="next" href="#"><span class="badge">2</span>Noget vi b&oslash;r vide?</a><br/>
                                            <textarea class="form-control" rows="8" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" ><!--@Ecom:Order.Customer.Comment--></textarea>

                                            <br/>
                                            <hr>

                                            <div class="row features">
                                                <div class="col-md-12">
                                                    <span>Salgs- og leveringsbetingelser</span>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <label class="checkbox" for="checkboxes-5">
                                                                <input type="checkbox"  value="1" />
                                                                <input class="checkbox-white" type="checkbox" value="0" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted">Jeg har l&aelig;st og accepterer salgs- og leveringsbetingelserne. <a class="SeeMore" data-toggle="collapse" href="#">L&aelig;s her</a>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><br/>

    <!--@If Defined(Ecom:Cart.UseNewsletterSubscription)-->
           <div class="row features">
            <div class="col-md-12">
                <span>Nyheder fra levendel&aelig;ring.dk</span>
                        <input type="hidden" name="EcomOrderSubscribeToNewsletter" />

                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox" for="checkboxes-6">
                                <input class="checkbox-white" type="checkbox" <input type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter"
<!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->
checked="checked"
<!--@EndIf(Ecom:Order.Customer.NewsletterSubscribe)-->
/>Jatak, lad mig fÃ¥ nyheder fra levendel&aelig;ring.dk
                            </label>
                        </div>
                    </div>


            </div>
        </div>
        <!--@EndIf(Ecom:Cart.UseNewsletterSubscription)-->



                                        </div>
                                    <input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="Send forespÃ¸rgsel" class="submitter btn primary" />

                                    </div>


                                </div>
                            </div>
</form>
                            <div class="col-md-5 right-wrap">
                                <!--div class="row"-->

                                        <div class="col-md-12 messaging">
                                            <h4>Opsumering</h4>
                                        </div>

                                        <div class="col-md-12 description main-btn-group">
                                            <div class="row">
<div class="col-md-12">
                                                    <p><strong>Oplevelsen</strong></p>
                                                </div>
                                                <!--@LoopStart(OrderLines)-->

                                                            <!--@If(OrderLines.LoopCounter>1)-->

                                                            <div class="col-md-8 col-sm-8">
                                                                <p><!--@Ecom:Order:OrderLine.ProductName--></p>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 text-right text-right-main">
                                                                <p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode--></p>
                                                            </div>
                                                            <!--@EndIf-->
                                                    <!--@LoopEnd(OrderLines)-->

                                                            <div class="col-md-12 col-sm-12 hr">
                                                                <p class="left">ca. pris</p>
                                                                <h3 class="right"><!--@Ecom:Order.Price.Price--> <!--@Ecom:Order.CurrencyCode--></h3>
                                                            </div>

                                                <div class="col-md-12">
                                                    <!-- Button -->
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <a class="btn btn-search primary" href="#step1" data-toggle="tab" data-step="1">
                                                            Udfyld foresp&oslash;rgsel</a>
                                                            <a href="?Cartcmd=emptycart">TÃ¸m kurv</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                <!--/div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</form>

<!--@SnippetStart(scripts)-->
    <script src="/Files/Templates/Designs/2015_Levende/js/datetimepicker.js"></script>
    <script type="text/javascript">

    $(function () {
                $('.date').datetimepicker({
                    pickTime: false,
                    format: 'dd/MM/yyyy'
                });

            });


        $('.next').click(function(){

          var nextId = $(this).parents('.tab-pane').next().attr("id");
          $('[href=#'+nextId+']').tab('show');
          return false;

        })

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

          //update progress
          var step = $(e.target).data('step');
          var percent = (parseInt(step) / 2) * 100;

          $('.progress-bar').css({width: percent + '%'});
          //$('.progress-bar').text("Step " + step + " of 3");

          //e.relatedTarget // previous tab

        })

        $('.first').click(function(){

          $('#myWizard a:first').tab('show')

        })


var tilvalg = ["tilvalg"];

<!--@LoopStart(OrderLines)--><!--@LoopStart(tilvalg.Options)-->
tilvalg.push("<!--@tilvalg.Option.Value-->");

<!--@LoopEnd(tilvalg.Options)--><!--@LoopEnd(OrderLines)-->
$("#tilvalglist .item").each(function(){
    if($.inArray($(this).data("tilvalg"), tilvalg)){
        console.log($(this).data("tilvalg")+" "+tilvalg);
    }

});



    </script>


    <script type="text/javascript">
        $("ul.nav.nav-pills > li:last-child").click(function(){
            //$(this).addClass("");
            $("ul.nav.nav-pills > li:first-child, ul.nav.nav-pills > li:nth-child(2)").addClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(1)").click(function(){
            $("ul.nav.nav-pills > li").removeClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(2)").click(function(){
            $(this).removeClass("selected");
            $("ul.nav.nav-pills > li:first-child").addClass("selected");
        });




    </script>











<!--@SnippetEnd(scripts)-->



