<!--@DwTemplateTags-->

<div class="row registration-wrapper">
	<div class="container">
		<!--div class="row"-->
		<div class="registration">
			<!--@LoopStart(OrderLines)-->

				<!--@If(OrderLines.LoopCounter==1)-->
					<img src='/admin/public/getimage.ashx?Image=<!--@Ecom:Product.ImageLarge.Clean-->&Format=jpg&width=940&height=260&Crop=0' alt='<!--@ParagraphImageTitle-->' />
					<div class="carousel-caption">
						<h2><!--@Ecom:Order:OrderLine.ProductName--></h2>
					</div>
				<!--@EndIf-->
			<!--@LoopEnd(OrderLines)-->

			<div class="container" id="myWizard">
				<div class="navbar">
					<div class="navbar-inner">
						<ul class="nav nav-pills">
							<li class=""><a href="#step0" data-toggle="tab" data-step="0">Din foresp&oslash;rgelse</a><a class="timeline" href="#step0"  data-toggle="tab" data-step="0"></a></li>
							<li class=""><a href="#step1" data-toggle="tab" data-step="1">Dine kontaktoplysninger</a><a class="timeline" href="#step1"  data-toggle="tab" data-step="1"></a></li>
							<li class=""><a href="#step2" data-toggle="tab" data-step="2">F&aelig;rdig!</a><a class="timeline" href="#step2"  data-toggle="tab" data-step="2"></a></li>
						</ul>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-main" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 0%;"></div>
			   </div>
			</div>
		</div>
		<!--/div-->
	</div>
</div>

<div class="row thumbnail-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7 step-wrapper">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="step0">
								<form name="multiForm" id="multiForm" method="post">
									<input type="hidden" name="CartCmd" id="CartCmd" value="addMulti" />
									<!--@LoopStart(ValidationErrors)--><!--@LoopEnd(ValidationErrors)-->

									<div class="step-main">
										<a class="next" href="#"><span class="badge">1</span>Deltagere</a><br/>
										<!--@LoopStart(OrderLines)-->

											<!--@If(OrderLines.LoopCounter==1)-->
												<p><!--@Ecom:Order:OrderLine.ProductVariantText--></p>
											<!--@EndIf-->

										<!--@LoopEnd(OrderLines)-->



										<div class="row" id="personer">
											<!--@LoopStart(OrderLines)-->
											<!--@LoopStart(ProductRelatedGroups)-->
											<!--@If(Ecom:Product:RelatedGroup.Name=="personer")-->
											<!--@LoopStart(RelatedProducts)-->
											<div class="hr item" data-tilvalg="<!--@Ecom:Product.Number-->">
												<!--@Ecom:Product.Form.Multi.HiddenFields-->
												<div class="features">
													<div class="col-md-9">
														<div class="control-group">
															<div class="controls">
																<label class="checkbox">
																   <strong>Antal <!--@Ecom:Product.Name--></strong>
																</label>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<input class="form-control input-lg" type="text" name="Quantity<!--@Ecom:Product.LoopCounter-->" />
													</div>
												</div>
											</div>

											<!--@LoopEnd(RelatedProducts)-->

											<div class="col-md-offset-8 col-md-4 col-sm-4 pull-right"><button id="search" name="submit" class="btn primary" type="submit" style="height:46px">Opdater</button></div>

											<!--@EndIf-->

											<!--@LoopEnd(ProductRelatedGroups)-->
											<!--@LoopEnd(OrderLines)-->

											<!--Global:Paragraph.Content(2438)-->
										</div>
									</div><br/>

									<div class="step-main">
										<a class="next" href="#"><span class="badge">2</span>V&aelig;lg dato og tid</a><br/>
										<div class="row">
											<label class="col-md-12">1. prioritet</label>
											<div class="col-md-7">
												<div id="datetimepicker1" class="input-group date">
                                                  	<input type="text" data-id="prio1date" name="prio1date" class="form-control copyinfo" />
												  	<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
											</div>

											<div class="col-md-5">
												<select class="form-control copyinfo input-lg" data-id="prio1time">
												  <option value="8">Kl. 8:00 </option>
												  <option value="9">Kl. 9:00 </option>
												  <option value="10">Kl. 10:00 </option>
												  <option value="11">Kl. 11:00 </option>
												  <option value="12">Kl. 12:00 </option>
												  <option value="13">Kl. 13:00 </option>
												  <option value="14">Kl. 14:00 </option>
												  <option value="15">Kl. 15:00 </option>
												  <option value="16">Kl. 16:00 </option>
												  <option value="17">Kl. 17:00 </option>
												  <option value="18">Kl. 18:00 </option>
												  <option value="19">Kl. 19:00 </option>
												  <option value="20">Kl. 20:00 </option>
												  <option value="21">Kl. 21:00 </option>
												</select>
											</div>
										</div><br/>

										<div class="row">
											<label class="col-md-12">2. prioritet</label>
											<div class="col-md-7">
												<div data-id="datetimepicker2" class="input-group date copyinfo">
                                                  	<input type="text" class="form-control copyinfo" data-id="prio2date" />
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
											</div>
											<div class="col-md-5">
												<select class="form-control input-lg copyinfo" data-id="prio2time">
												  <option value="8">Kl. 8:00 </option>
												  <option value="9">Kl. 9:00 </option>
												  <option value="10">Kl. 10:00 </option>
												  <option value="11">Kl. 11:00 </option>
												  <option value="12">Kl. 12:00 </option>
												  <option value="13">Kl. 13:00 </option>
												  <option value="14">Kl. 14:00 </option>
												  <option value="15">Kl. 15:00 </option>
												  <option value="16">Kl. 16:00 </option>
												  <option value="17">Kl. 17:00 </option>
												  <option value="18">Kl. 18:00 </option>
												  <option value="19">Kl. 19:00 </option>
												  <option value="20">Kl. 20:00 </option>
												  <option value="21">Kl. 21:00 </option>
												</select>
											</div>
										</div><br/>

										<div class="row">
											<label class="col-md-12">3. prioritet</label>
											<div class="col-md-7">
												<div id="datetimepicker3" class="input-group date">
                                                  	<input type="text" class="form-control copyinfo" data-id="prio3date" />
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
											</div>
											<div class="col-md-5">
												<select class="form-control input-lg copyinfo" data-id="prio3time">
												  <option value="8">Kl. 8:00 </option>
												  <option value="9">Kl. 9:00 </option>
												  <option value="10">Kl. 10:00 </option>
												  <option value="11">Kl. 11:00 </option>
												  <option value="12">Kl. 12:00 </option>
												  <option value="13">Kl. 13:00 </option>
												  <option value="14">Kl. 14:00 </option>
												  <option value="15">Kl. 15:00 </option>
												  <option value="16">Kl. 16:00 </option>
												  <option value="17">Kl. 17:00 </option>
												  <option value="18">Kl. 18:00 </option>
												  <option value="19">Kl. 19:00 </option>
												  <option value="20">Kl. 20:00 </option>
												  <option value="21">Kl. 21:00 </option>
												</select>
											</div>


											<div class="col-md-12">
												<div class="both">
													<div class="control-group">
														<div class="controls">
															<label class="checkbox" for="checkboxes-2">
																<input class="checkbox-white" type="checkbox" name="checkboxes" id="checkboxes-2" checked="checked" value="Vi &oslash;nsker butikken er &aring;ben" />Vi &Oslash;nsker butikken er &aring;ben
															</label>
														</div>
													</div>
												</div>
											</div>

										</div><br/>
									</div>


									<div class="step-main">
										<a class="next" href="#"><span class="badge">3</span>Tilvalg og aktiviteter</a><br/>
										<!--@LoopStart(OrderLines)-->

										<!--@LoopStart(ProductRelatedGroups)-->
										<!--@If(Ecom:Product:RelatedGroup.Name=="Tilvalg")-->

										<div id="tilvalglist">

											<!--@LoopStart(RelatedProducts)-->
											<div class="hr item row" data-tilvalg="<!--@Ecom:Product.Number-->">
												<!--@Ecom:Product.Form.Multi.HiddenFields-->
												<div class="features">
													<div class="col-md-9">
														<div class="control-group">
															<div class="controls">
																<label class="checkbox">
																   <strong><!--@Ecom:Product.Name--> </strong> + <!--@Ecom:Product.Price.Price--> per person
																   <!--@If(Ecom:Product.ShortDescription.StripHtml()<>"")-->
																   <span class="total"><a class="info" href="#" style="display:inline-block;float:right" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<!--@Ecom:Product.ShortDescription.StripHtml()-->">(info)</a></span><!--@EndIf-->
																</label>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<input class="form-control input-lg" name="Quantity<!--@Ecom:Product.LoopCounter-->" />
													</div>
												</div>
											</div>
											<!--@LoopEnd(RelatedProducts)-->
										</div>

										<div class="row">
											<div class="col-md-offset-8 col-md-4 col-sm-4 pull-right"><button id="search" name="submit" class="btn primary" type="submit" style="height:46px">Opdater</button></div>
										</div>


										<!--@EndIf-->
										<!--@LoopEnd(ProductRelatedGroups)-->
										<!--@LoopEnd(OrderLines)-->
									</div>
								</form>
							</div>

							<div class="tab-pane fade" id="step1">
								<form name="ordersubmit" id="ordersubmit" method="post">

									<input type="hidden" id="prio1date" name="prio1date" />
									<input type="hidden" id="prio1time" name="prio1time" />

									<input type="hidden" id="prio2date" name="prio2date" />
									<input type="hidden" id="prio2time" name="prio2time" />

									<input type="hidden" id="prio3date" name="prio3date" />
									<input type="hidden" id="prio3time" name="prio3time" />

									<div class="step-main">
										<a class="next" href="#"><span class="badge">1</span>Kontaktoplysninger</a><br/>

										<div class="row">
											<div class="control-group col-md-6">
												<div class="controls">
													<label>Kontaktperson</label>
													<input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" class="form-control input-lg" placeholder="Indtast navn" />

												</div>
											</div>
										</div><br/>

										<div class="row">
											<div class="col-md-6">
												<label>Email</label>
												<input type="email" class="form-control input-lg" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" placeholder="Indtast Email" />

											</div>
											<div class="col-md-6">
												<label>Telefon nr.</label>
												<input type="tel" class="form-control input-lg" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" placeholder="Indtast telefon" />

											</div>
										</div><br/>

										<div class="row">
											<div class="col-md-6">
												<label>Institution/virksomhed</label>
												<input type="text" class="form-control input-lg"  id="EcomOrderCustomerCompany" name="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" placeholder="Indtast institution/virksomhed" />
											</div>
											<div class="col-md-6">
												<label>EAN nr. / CVR nr.</label>
												<input type="text" class="form-control input-lg" name="EcomOrderCustomerEAN" id="EcomOrderCustomerEAN" placeholder="Indtast EAN/CVR" />
											</div>
										</div><br/>

										<div class="row">
											<div class="col-md-6">
												<label>Adresse</label>
												<input type="text" class="form-control input-lg"  name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" placeholder="Indtast Adresse" />

											</div>
											<div class="col-md-6">
												<label>Postnummer</label>
												<input type="text" name="EcomOrderCustomerZip" class="form-control input-lg" placeholder="Indtast postnummer" />
											</div>
										</div>
									</div>

									<hr>

									<div class="step-main">
										<a class="next" href="#"><span class="badge">2</span>Noget vi b&oslash;r vide?</a><br/>
										<textarea class="form-control" rows="8" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" ><!--@Ecom:Order.Customer.Comment--></textarea>

										<br/>
										<hr>

										<div class="row features">
											<div class="col-md-12">
												<span>Salgs- og leveringsbetingelser</span>
												<div class="control-group">
													<div class="controls">
														<label class="checkbox" for="checkboxes-5">
															<input type="checkbox"  value="1" />
															<input class="checkbox-white" type="checkbox" value="0" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted" />Jeg har l&aelig;st og accepterer salgs- og leveringsbetingelserne. <a class="SeeMore" target="_blank" href="/Default.aspx?ID=1347" >L&aelig;s her</a>
														</label>
													</div>
												</div>
											</div>
										</div><br/>
										<!--@If Defined(Ecom:Cart.UseNewsletterSubscription)-->
											<div class="row features">
												<div class="col-md-12">
													<span>Nyheder fra levendel&aelig;ring.dk</span>
													<input type="hidden" name="EcomOrderSubscribeToNewsletter" />

													<div class="control-group">
														<div class="controls">
															<label class="checkbox" for="checkboxes-6">
															  <input class="checkbox-white" type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter" <!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->checked="checked"<!--@EndIf(Ecom:Order.Customer.NewsletterSubscribe)--> />
															  Ja tak, lad mig f&aring; nyheder fra levendel&aelig;ring.dk
															</label>
														</div>
													</div>


												</div>
											</div>
										<!--@EndIf(Ecom:Cart.UseNewsletterSubscription)-->
									</div>
									<input type="submit" name="<!--@CartV2.CheckoutButtonName-->" id="<!--@CartV2.CheckoutButtonName-->" value="Send foresp&oslash;rgsel" class="submitter btn primary" />
								</form>
							</div>


						</div>
					</div>

					<div class="col-md-5 right-wrap">
						<div class="row">

							<div class="col-md-12 messaging">
								<h4>Opsumering</h4>
							</div>

							<div class="col-md-12 description main-btn-group">
								<div class="row">
									<div class="col-md-12">
										<p><strong>Oplevelsen</strong></p>
									</div>
									<!--@LoopStart(OrderLines)-->
										<!--@If(OrderLines.LoopCounter>0)-->

										<div class="col-md-8 col-sm-8">
											<p>	<!--@Ecom:Order:OrderLine.Quantity--> x <!--@Ecom:Order:OrderLine.ProductName--></p>
										</div>
										<div class="col-md-4 col-sm-4 text-right text-right-main">
											<p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode-->&nbsp;&nbsp;<a class="red" title="" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Fjern tilvalg">X</a></p>
										</div>
										<!--@EndIf-->
									<!--@LoopEnd(OrderLines)-->

									<div class="col-md-12 col-sm-12 hr">
										<p class="left">ca. pris</p>
										<h3 class="right" style="margin:0px;"><!--@Ecom:Order.Price.Price--> <!--@Ecom:Order.CurrencyCode--></h3>
									</div>

									<div class="col-md-12">
										<!-- Button -->
										<div class="control-group">
											<div class="controls">
												<a class="btn btn-search primary nextstep" href="#step1" data-toggle="tab" data-step="1">
												Udfyld foresp&oslash;rgsel</a>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



<!--@SnippetStart(scripts)-->

    <script type="text/javascript">

        $('.next').click(function(){
			var nextId = $(this).parents('.tab-pane').next().attr("id");
			$('[href=#'+nextId+']').tab('show');
			return false;
        })

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

          //update progress
          var step = $(e.target).data('step');
          var percent = (parseInt(step) / 2) * 100;

          $('.progress-bar').css({width: percent + '%'});
          //$('.progress-bar').text("Step " + step + " of 3");

          //e.relatedTarget // previous tab

        })

        $('.first').click(function(){
			$('#myWizard a:first').tab('show')
        })

        jQuery(document).ready(function($) {
        	$(".nextstep").on("click",function(){
        	$(".copyinfo").each(function(){
        		var targetid = $(this).data("id");
        		$("#"+targetid).val($(this).val());
        		console.log(targetid+" "+$(this).val());
        	});
        });
        });
        </script>

		<script type="text/javascript">
			var tilvalg = ["tilvalg"];

			<!--@LoopStart(OrderLines)--><!--@LoopStart(tilvalg.Options)-->
				tilvalg.push("<!--@tilvalg.Option.Value-->");

				<!--@LoopEnd(tilvalg.Options)--><!--@LoopEnd(OrderLines)-->
				$("#tilvalglist .item").each(function(){
				if($.inArray($(this).data("tilvalg"), tilvalg)){
					console.log($(this).data("tilvalg")+" "+tilvalg);
				}

			});
    	</script>


    <script type="text/javascript">
        $("ul.nav.nav-pills > li:last-child").click(function(){
            //$(this).addClass("");
            $("ul.nav.nav-pills > li:first-child, ul.nav.nav-pills > li:nth-child(2)").addClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(1)").click(function(){
            $("ul.nav.nav-pills > li").removeClass("selected");
        });

        $("ul.nav.nav-pills > li:nth-child(2)").click(function(){
            $(this).removeClass("selected");
            $("ul.nav.nav-pills > li:first-child").addClass("selected");
        });
    </script>

    <script src="/Files/Templates/Designs/2015_Levende/js/datetimepicker.js"></script>
    <script type="text/javascript">
      $(function () {
        $('.date').datetimepicker({
          	pickTime: true,
            format: 'dd-MM-yyyy'
          });
      });
    </script>


<!--@SnippetEnd(scripts)-->
