﻿<div class="row registration-wrapper">
    <div class="container">
        <!--div class="row"-->
        <div class="registration">
            <!--@LoopStart(OrderLines)-->

                <!--@If(OrderLines.LoopCounter==1)-->
                    <img src='/admin/public/getimage.ashx?Image=<!--@Ecom:Product.ImageLarge.Clean-->&Format=jpg&width=940&height=260&Crop=0' alt='<!--@ParagraphImageTitle-->' />
                    <div class="carousel-caption">
                        <h2><!--@Ecom:Order:OrderLine.ProductName--></h2>
                    </div>
                <!--@EndIf-->
            <!--@LoopEnd(OrderLines)-->

            <div class="container" id="myWizard">
                <div class="navbar">
                    <div class="navbar-inner">
                     <form method="post" id="returnform">
                        <ul class="nav nav-pills">
                            <li class=""><a href="javascript:$('#returnform').submit()" data-toggle="tab" data-step="0" >Din foresp&oslash;rgelse</a><a class="timeline" href="javascript:$('#returnform').submit()"  onclick="$('#returnform').submit()" data-toggle="tab" data-step="0" ></a></li>
                            <li class=""><a href="#step1" data-toggle="tab" data-step="1">Dine kontaktoplysninger</a><a class="timeline" href="#step1"  data-toggle="tab" data-step="1" style="background-image:url(http://www.levendelaering.dk/Files/Templates/Designs/2015_Levende/images/timeline-active-center-hover.png)"></a></li>
                            <li class=""><a href="#step2" data-toggle="tab" data-step="2">F&aelig;rdig!</a><a class="timeline" href="#step2"  data-toggle="tab" data-step="2"></a></li>
                        </ul>
                       
                        <input type="hidden" name="CartV2.GotoStep0" id="CartV2.GotoStep0" value="Tilbage" class="submitter btn primary">
                        </form>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-main" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 50%;"></div>
               </div>
            </div>
        </div>
        <!--/div-->
    </div>
</div>

<div class="row thumbnail-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7 step-wrapper">

<!--@If Not Defined(Global:Extranet.Name)-->
 <input class="btn primary" type="button" name="EcomUserLogin" id="EcomUserLogin" value="<!--@Translate(loginhere, "Har du allerede en konto, så log ind her")-->" data-toggle="modal" href="#LoginloginBox"/><br/><br/>
<!--@EndIf-->
                                <form name="ordersubmit" id="ordersubmit" method="post">

                                    <input type="hidden" id="prio1date" name="prio1date" value="<!--@prio1date.Clean-->"/>
                                    <input type="hidden" id="prio1time" name="prio1time" value="<!--@prio1time.Clean-->"/>

                                    <input type="hidden" id="prio2date" name="prio2date" value="<!--@prio2date.Clean-->"/>
                                    <input type="hidden" id="prio2time" name="prio2time" value="<!--@prio2time.Clean-->"/>

                                    <input type="hidden" id="prio3date" name="prio3date" value="<!--@prio3date.Clean-->"/>
                                    <input type="hidden" id="prio3time" name="prio3time" value="<!--@prio3time.Clean-->"/>
                                  
                                  <input type="hidden" name="EcomCartPaymethodID" id="EcomCartPaymethodID_PAY1" value="PAY1">

                                    <!--@LoopStart(OrderLines)-->

                <!--@If(OrderLines.LoopCounter==1)--> 
                   <input type="hidden" id="ansvarligmuseum" name="ansvarligmuseum" value="<!--@Ecom:Product:Field.museum.Value-->"/>
                   <input type="hidden" name="lokation" value="<!--@Ecom:Product:Field.lokalitet.Value-->">
                  
                   <div class="hidden"><!--@butikaaben--></div>
                <!--@EndIf-->
            <!--@LoopEnd(OrderLines)-->

                                    <div class="step-main">
    <!--@If Not Defined(Global:Extranet.Name)-->                                    
 
 <a class="next" href="#"><span class="badge">1</span>Opret ny bruger</a><br/>

<fieldset>

        
            
			<div class="row">
            <div class="col-md-12">
				...ellers opret en ny bruger
					<label class="checkbox" for="EcomUserCreateNew"><input class="checkbox-white" type="checkbox" name="EcomUserCreateNew" id="EcomUserCreateNew" checked="checked" readonly="readonly" style="left:-9999px; position:absolute"/></label>
				
			</div>
            </div>
        
        <fieldset id="EcomLoginInformation">

			<div class="row">

            <dl class="col-md-12">
                <dt>
                    <label for="EcomUserCreateUserName"><!--@Translate(username, "Brugernavn (til login)")--></label>
                </dt>
                <dd>
                    <input type="text" name="EcomUserCreateUserName" class="form-control input-lg" id="EcomUserCreateUserName"
                        <!--@If Defined(Ecom:User.CreateNew)-->
                            value="<!--@Ecom:User.CreateNew.Username-->"
                        <!--@EndIf(Ecom:User.CreateNew)-->
                         placeholder="Vælg brugernavn"/>
                </dd>
            </dl>
            <dl class="col-md-6">
                <dt>
                    <label for="EcomUserCreatePassword"><!--@Translate(newpassword, "Nyt kodeord")--></label>
                </dt>
                <dd>
                    <input class="form-control input-lg" type="password" name="EcomUserCreatePassword" id="EcomUserCreatePassword"
                        <!--@If Defined(Ecom:User.CreateNew)-->
                            value="<!--@Ecom:User.CreateNew.Password-->"
                        <!--@EndIf(Ecom:User.CreateNew)-->
                    placeholder="Indtast kodeord"
                        />
                </dd>
            </dl>
            <dl class="col-md-6">
                <dt>
                    <label for="EcomUserCreateConfirmPassword"><!--@Translate(confirmpassword, "Gentag kodeord")--></label>
                </dt>
                <dd>
                    <input class="form-control input-lg" type="password" name="EcomUserCreateConfirmPassword" id="EcomUserCreateConfirmPassword"
                        <!--@If Defined(Ecom:User.CreateNew)-->
                            value="<!--@Ecom:User.CreateNew.ConfirmPassword-->"
                        <!--@EndIf(Ecom:User.CreateNew)-->
                         placeholder="Gentag kodeord"
                        />
                </dd>
            </dl>
			</div>
        </fieldset>
        <hr/>
 <!--@EndIf(Global:Extranet.Name)-->
<a class="next" href="#"><span class="badge"><!--@If Not Defined(Global:Extranet.Name)-->2<!--@Else-->1<!--@EndIf--></span>Kontaktoplysninger</a><br/>

                                        <div class="row">
                                            <div class="control-group col-md-6">
                                                <div class="controls">
                                                    <label>Kontaktperson *</label>
                                                    <input type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="<!--@Ecom:Order.Customer.Name-->" class="form-control input-lg" placeholder="Indtast navn" required/>

                                                </div>
                                            </div>
                                        </div><br/>


                                    <div class="row">
                                            <div class="col-md-6">
                                                <label>Email *</label>
                                                <input type="email" class="form-control input-lg" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="<!--@Ecom:Order.Customer.Email-->" placeholder="Indtast Email" required/>

                                            </div>
                                            <div class="col-md-6">
                                                <label>Telefon nr.*</label>
                                                <input type="tel" class="form-control input-lg" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="<!--@Ecom:Order.Customer.Phone-->" placeholder="Indtast telefon" required/>

                                            </div>
                                        </div><br/>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Institution/virksomhed</label>
                                                <input type="text" class="form-control input-lg"  id="EcomOrderCustomerCompany" name="EcomOrderCustomerCompany" value="<!--@Ecom:Order.Customer.Company-->" placeholder="Indtast institution/virksomhed" />
                                            </div>
                                            
                                        </div><br/>
<div class="row">
                                            <div class="col-md-6">
                                                <label>CVR nr.</label>
                                                <input type="text" class="form-control input-lg" name="EcomOrderCustomerVatRegNumber" id="EcomOrderCustomerVatRegNumber" value="<!--@Ecom:Order.Customer.VatRegNumber-->" placeholder="Indtast CVR" />
                                            </div>
                                            <div class="col-md-6">
                                                <label>EAN nr.</label>
                                                <input type="text" class="form-control input-lg" name="EcomOrderCustomerEAN" id="EcomOrderCustomerEAN" value="<!--@Ecom:Order.Customer.EAN-->" placeholder="Indtast EAN" />
                                            </div>
                                        </div><br/>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Adresse</label>
                                                <input type="text" class="form-control input-lg"  name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="<!--@Ecom:Order.Customer.Address-->" placeholder="Indtast Adresse" />

                                            </div>
                                            <div class="col-md-6">
                                                <label>Postnummer</label>
                                                <input type="text" name="EcomOrderCustomerZip" class="form-control input-lg" placeholder="Indtast postnummer" value="<!--@Ecom:Order.Customer.Zip-->"/>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="step-main">
                                        <a class="next" href="#"><span class="badge"><!--@If Not Defined(Global:Extranet.Name)-->3<!--@Else-->2<!--@EndIf--></span>Noget vi b&oslash;r vide?</a><br/>
                                        <textarea class="form-control" rows="8" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" ><!--@Ecom:Order.Customer.Comment--></textarea>

                                        <br/>
                                        <hr>

                                        <div class="row features">
                                            <div class="col-md-12">
                                                <span>Salgs- og leveringsbetingelser</span>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <label class="checkbox" for="checkboxes-5">
                                                            <input type="checkbox"  value="1" />
                                                            <input class="checkbox-white" type="checkbox" value="0" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted" />Jeg har l&aelig;st og accepterer salgs- og leveringsbetingelserne. <a class="SeeMore" target="_blank" href="/Default.aspx?ID=1347" >L&aelig;s her</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br/>
                                        <!--@If Defined(Ecom:Cart.UseNewsletterSubscription)-->
                                            <div class="row features">
                                                <div class="col-md-12">
                                                    <span>Nyheder fra levendel&aelig;ring.dk</span>
                                                    <input type="hidden" name="EcomOrderSubscribeToNewsletter" />

                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <label class="checkbox" for="checkboxes-6">
                                                              <input class="checkbox-white" type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter" <!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->checked="checked"<!--@EndIf(Ecom:Order.Customer.NewsletterSubscribe)--> />
                                                              Ja tak, lad mig f&aring; nyheder fra levendel&aelig;ring.dk
                                                            </label>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        <!--@EndIf(Ecom:Cart.UseNewsletterSubscription)-->
                                    </div>
                                    <input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="Send foresp&oslash;rgsel" class="submitter btn primary" />
                                </form>
                            </div>




                    <div class="col-md-5 right-wrap">
                        <div class="">

                            <div class="col-md-12 messaging">
                                <h4>Opsumering</h4>
                            </div>

                            <div class="col-md-12 description main-btn-group">
                                <div class="row">
                                    
                                    <!--@LoopStart(OrderLines)-->
                                    <!--@If(OrderLines.LoopCounter==1)-->
                                <div class="col-sm-8">
                                    <p><strong><!--@Ecom:Order:OrderLine.ProductName--></strong></p>
                                </div>
                                <div class="col-md-4 col-sm-4 text-right text-right-main">
                                            <p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode--></p>
                                        </div>
                        
                <!--@EndIf-->
            
                                        
                                    

                                        <!--@If(OrderLines.LoopCounter>1)-->
                                        <div class="col-md-8 col-sm-8">
                                            <p> <!--@Ecom:Order:OrderLine.Quantity--> x <!--@Ecom:Order:OrderLine.ProductName--></p>
                                        </div>
                                        <div class="col-md-4 col-sm-4 text-right text-right-main">
                                            <p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode-->&nbsp;&nbsp;<a class="red" title="" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Fjern tilvalg">X</a></p>
                                        </div>
                                        <!--@EndIf-->
                                    <!--@LoopEnd(OrderLines)-->
                                        <div class="col-md-12 col-sm-12">
                                            <p><strong>Ønskede datoer</strong></p>
                                           <!--@If(prio1date.Clean<>"")--><p>1. prioritet: <!--@prio1date.Clean--> kl. <!--@prio1time.Clean-->:00</p><!--@EndIf-->
                                            <!--@If(prio2date.Clean<>"")--><p>2. prioritet: <!--@prio2date.Clean--> kl. <!--@prio2time.Clean-->:00</p><!--@EndIf-->
                                            <!--@If(prio3date.Clean<>"")--><p>3. prioritet: <!--@prio3date.Clean--> kl. <!--@prio3time.Clean-->:00</p><!--@EndIf-->

                                        </div>
                                          <!--@LoopStart(OrderLines)-->
                                        <!--@If(Ecom:Product:Field.butikmulig=="True")-->
                                         <div class="col-md-12">

                                                    <p><strong style="margin-bottom:0px">Butikken skal have åbent</strong></p><p> <!--@butikaaben.Clean--></p>
                                                </div>
                                            <!--@EndIf-->

                                              <!--@LoopEnd(OrderLines)-->
                                    <div class="col-md-12 col-sm-12 hr">
                                        <p class="left">Pris</p>
                                        <h3 class="right" style="margin:0px;"><!--@Ecom:Order.Price.Price--> <!--@Ecom:Order.CurrencyCode--></h3>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



