﻿<div class="row registration-wrapper">
	<div class="container">
		<!--div class="row"-->
		<div class="registration">
			<!--@LoopStart(OrderLines)-->

				<!--@If(OrderLines.LoopCounter==1)-->
					<img src='/admin/public/getimage.ashx?Image=<!--@Ecom:Product.ImageLarge.Clean-->&Format=jpg&width=940&height=260&Crop=0' alt='<!--@ParagraphImageTitle-->' />
					<div class="carousel-caption">
						<h2><!--@Ecom:Order:OrderLine.ProductName--></h2>
					</div>
				<!--@EndIf-->
			<!--@LoopEnd(OrderLines)-->

			<div class="container" id="myWizard">
				<div class="navbar">
					<div class="navbar-inner">
						<ul class="nav nav-pills">
							<li class="active"><a  data-toggle="tab" data-step="0">Din foresp&oslash;rgelse</a><a class="timeline"  data-toggle="tab" data-step="0" style="background-image:url(http://www.levendelaering.dk/Files/Templates/Designs/2015_Levende/images/timeline-active-center-hover.png)"></a></li>
							<li class=""><a >Dine kontaktoplysninger</a><a class="timeline"  style="background-image: url(http://www.levendelaering.dk/Files/Templates/Designs/2015_Levende/images/timeline-last.jpg);" ></a></li>
							<li class=""><a  >F&aelig;rdig!</a><a class="timeline"  ></a></li>
						</ul>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-main" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 0%;"></div>
			   </div>
			</div>
		</div>
		<!--/div-->
	</div>
</div>

<div class="row thumbnail-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7 step-wrapper">
					<form name="multiForm" id="multiForm" method="post">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="step0">
								
									<input type="hidden" name="CartCmd" id="CartCmd" value="addMulti" />
									<input type="hidden" name="OrderContext" 	value="<!--@Ecom:OrderContext.ID-->"/>
                                 	<!--@LoopStart(ValidationErrors)--><!--@LoopEnd(ValidationErrors)-->

									<div class="step-main">
										
										<!--@LoopStart(OrderLines)-->

											<!--@If(OrderLines.LoopCounter==1)-->

											<!--@If(Ecom:Order:OrderLine.ProductVariantText<>"")-->
											    <p><!--@Ecom:Order:OrderLine.ProductVariantText--></p>
											<!--@EndIf-->
												
											<!--@EndIf-->	

										<!--@LoopEnd(OrderLines)-->



										
											<!--@LoopStart(OrderLines)-->
											<!--@If(OrderLines.LoopCounter==1)-->
											<!--@LoopStart(ProductRelatedGroups)-->
											<!--@If(Ecom:Product:RelatedGroup.Name=="personer")-->
											<a class="next" ><span class="badge">&nbsp;</span>Deltagere</a>
											<div class="row" id="personer">
											<!--@LoopStart(RelatedProducts)-->
											<div class="item" data-tilvalg="<!--@Ecom:Product.Number-->">
												<!--@Ecom:Product.Form.Multi.HiddenFields-->
												<div class="features">
													<div class="col-md-9">
														<div class="control-group">
															<div class="controls">
																<label class="checkbox">
																   <strong><!--@Ecom:Product.Name--></strong>
																</label>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<input class="form-control input-lg" type="text" name="Quantity<!--@Ecom:Product.LoopCounter-->" />
													</div>
												</div>
											</div>

											<!--@LoopEnd(RelatedProducts)-->

											
											</div>
									
											<!--@EndIf-->

											<!--@LoopEnd(ProductRelatedGroups)-->

											<!--@EndIf-->
											<!--@LoopEnd(OrderLines)-->

											
										
										
										<!--@LoopStart(OrderLines)-->
											
										<!--@LoopStart(ProductRelatedGroups)-->
										<!--@If(Ecom:Product:RelatedGroup.Name=="Tilvalg")-->

										<div id="tilvalglist" class="">

											<!--@LoopStart(RelatedProducts)-->
											<!--@HeaderStart-->
											<div class="step-main">
											<a class="next"><span class="badge">&nbsp;</span>Tilvalg og aktiviteter</a>
											<!--@HeaderEnd-->
											<div class="item row" data-tilvalg="<!--@Ecom:Product.Number-->">
												<!--@Ecom:Product.Form.Multi.HiddenFields-->
												<div class="features">
													<div class="col-md-9">
														<div class="control-group">
															<div class="controls">
																<label class="checkbox">
																  <strong><!--@Ecom:Product.Name--> </strong> + <!--@Ecom:Product.Price.Price-->
																   <!--@If(Ecom:Product.ShortDescription.StripHtml()<>"")-->
																   <a class="info"  data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<!--@Ecom:Product.ShortDescription.StripHtml()-->">(info)</a><!--@EndIf-->
																</label>
																</div>
																</div>
															
													</div>
													<div class="col-md-3">
														<input class="form-control input-lg" name="Quantity<!--@Ecom:Product.LoopCounter-->" />
													</div>
												</div>
											</div>
											<!--@FooterStart-->
											</div>
										<!--@FooterEnd-->
											<!--@LoopEnd(RelatedProducts)-->
										</div>

										


										<!--@EndIf-->
										<!--@LoopEnd(ProductRelatedGroups)-->
										

										<!--@LoopEnd(OrderLines)-->

										<!--@LoopStart(OrderLines)-->
											
											<!--@LoopStart(ProductRelatedGroups)-->
													<!--@If(ProductRelatedGroups.LoopCounter==1)-->
											<div class="row">
												<div class="col-md-offset-9 col-md-3 col-sm-3 pull-right"><button id="search" name="submit" class="btn primary" type="submit" style="height:46px">Opdater</button></div>
												
											</div>
											<!--@EndIf-->
											<!--@LoopEnd(ProductRelatedGroups)-->
										

										<!--@LoopEnd(OrderLines)-->
									</div>
								</form>
									<div class="step-main" style="padding-bottom:50px">
										<form name="ordersubmit" id="ordersubmit" method="post">
											<input type="hidden" name="OrderContext" 	value="<!--@Ecom:OrderContext.ID-->"/>
 <input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="Send foresp&oslash;rgsel" class="submitter btn primary" style="visibility:hidden;height:1px;" />


							
										<a class="next" ><span class="badge">&nbsp;</span>V&aelig;lg dato og tid</a><br/>
										<div class="row">
											<label class="col-md-12">1. prioritet</label>
											<div class="col-md-9">
												<div id="datetimepicker1" class="input-group date">
                                                  	<input type="text" id="prio1date" data-id="prio1date" name="prio1date" class="form-control copyinfo" required value="<!--@prio1date.Clean-->"/>
												  	<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
											</div>

											<div class="col-md-3">
												<select id="prio1time" name="prio1time" class="form-control copyinfo input-lg" data-id="prio1time">
												   <option value="8" <!--@If(prio1time.Clean==8)-->selected<!--@EndIf-->>Kl. 8:00 </option>
												  <option value="9" <!--@If(prio1time.Clean==9)-->selected<!--@EndIf-->>Kl. 9:00 </option>
												  <option value="10" <!--@If(prio1time.Clean==10)-->selected<!--@EndIf-->>Kl. 10:00 </option>
												  <option value="11" <!--@If(prio1time.Clean==11)-->selected<!--@EndIf-->>Kl. 11:00 </option>
												  <option value="12" <!--@If(prio1time.Clean==12)-->selected<!--@EndIf-->>Kl. 12:00 </option>
												  <option value="13" <!--@If(prio1time.Clean==13)-->selected<!--@EndIf-->>Kl. 13:00 </option>
												  <option value="14" <!--@If(prio1time.Clean==14)-->selected<!--@EndIf-->>Kl. 14:00 </option>
												  <option value="15" <!--@If(prio1time.Clean==15)-->selected<!--@EndIf-->>Kl. 15:00 </option>
												  <option value="16" <!--@If(prio1time.Clean==16)-->selected<!--@EndIf-->>Kl. 16:00 </option>
												  <option value="17" <!--@If(prio1time.Clean==17)-->selected<!--@EndIf-->>Kl. 17:00 </option>
												  <option value="18" <!--@If(prio1time.Clean==18)-->selected<!--@EndIf-->>Kl. 18:00 </option>
												  <option value="19" <!--@If(prio1time.Clean==19)-->selected<!--@EndIf-->>Kl. 19:00 </option>
												  <option value="20" <!--@If(prio1time.Clean==20)-->selected<!--@EndIf-->>Kl. 20:00 </option>
												  <option value="21" <!--@If(prio1time.Clean==21)-->selected<!--@EndIf-->>Kl. 21:00 </option>
												</select>
											</div>
										</div><br/>

										<div class="row">
											<label class="col-md-12">2. prioritet</label>
											<div class="col-md-9">
												<div data-id="datetimepicker2" class="input-group date copyinfo">
                                                  	<input type="text" class="form-control copyinfo" data-id="prio2date" id="prio2date" name="prio2date" value="<!--@prio2date.Clean-->"/>
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
											</div>
											<div class="col-md-3">
												<select id="prio2time" name="prio2time" class="form-control input-lg copyinfo" data-id="prio2time">
												   <option value="8" <!--@If(prio2time.Clean==8)-->selected<!--@EndIf-->>Kl. 8:00 </option>
												  <option value="9" <!--@If(prio2time.Clean==9)-->selected<!--@EndIf-->>Kl. 9:00 </option>
												  <option value="10" <!--@If(prio2time.Clean==10)-->selected<!--@EndIf-->>Kl. 10:00 </option>
												  <option value="11" <!--@If(prio2time.Clean==11)-->selected<!--@EndIf-->>Kl. 11:00 </option>
												  <option value="12" <!--@If(prio2time.Clean==12)-->selected<!--@EndIf-->>Kl. 12:00 </option>
												  <option value="13" <!--@If(prio2time.Clean==13)-->selected<!--@EndIf-->>Kl. 13:00 </option>
												  <option value="14" <!--@If(prio2time.Clean==14)-->selected<!--@EndIf-->>Kl. 14:00 </option>
												  <option value="15" <!--@If(prio2time.Clean==15)-->selected<!--@EndIf-->>Kl. 15:00 </option>
												  <option value="16" <!--@If(prio2time.Clean==16)-->selected<!--@EndIf-->>Kl. 16:00 </option>
												  <option value="17" <!--@If(prio2time.Clean==17)-->selected<!--@EndIf-->>Kl. 17:00 </option>
												  <option value="18" <!--@If(prio2time.Clean==18)-->selected<!--@EndIf-->>Kl. 18:00 </option>
												  <option value="19" <!--@If(prio2time.Clean==19)-->selected<!--@EndIf-->>Kl. 19:00 </option>
												  <option value="20" <!--@If(prio2time.Clean==20)-->selected<!--@EndIf-->>Kl. 20:00 </option>
												  <option value="21" <!--@If(prio2time.Clean==21)-->selected<!--@EndIf-->>Kl. 21:00 </option>
												</select>
											</div>
										</div><br/>
				<div class="row">
											<label class="col-md-12">3. prioritet</label>
											<div class="col-md-9">
												<div id="datetimepicker3" class="input-group date">
                                                  	<input type="text" id="prio3date" name="prio3date" class="form-control copyinfo" data-id="prio3date" value="<!--@prio3date.Clean-->"/>
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
												</div>
											</div>
											<div class="col-md-3">
												<select id="prio3time" name="prio3time" class="form-control input-lg copyinfo" data-id="prio3time">
												  <option value="8" <!--@If(prio3time.Clean==8)-->selected<!--@EndIf-->>Kl. 8:00 </option>
												  <option value="9" <!--@If(prio3time.Clean==9)-->selected<!--@EndIf-->>Kl. 9:00 </option>
												  <option value="10" <!--@If(prio3time.Clean==10)-->selected<!--@EndIf-->>Kl. 10:00 </option>
												  <option value="11" <!--@If(prio3time.Clean==11)-->selected<!--@EndIf-->>Kl. 11:00 </option>
												  <option value="12" <!--@If(prio3time.Clean==12)-->selected<!--@EndIf-->>Kl. 12:00 </option>
												  <option value="13" <!--@If(prio3time.Clean==13)-->selected<!--@EndIf-->>Kl. 13:00 </option>
												  <option value="14" <!--@If(prio3time.Clean==14)-->selected<!--@EndIf-->>Kl. 14:00 </option>
												  <option value="15" <!--@If(prio3time.Clean==15)-->selected<!--@EndIf-->>Kl. 15:00 </option>
												  <option value="16" <!--@If(prio3time.Clean==16)-->selected<!--@EndIf-->>Kl. 16:00 </option>
												  <option value="17" <!--@If(prio3time.Clean==17)-->selected<!--@EndIf-->>Kl. 17:00 </option>
												  <option value="18" <!--@If(prio3time.Clean==18)-->selected<!--@EndIf-->>Kl. 18:00 </option>
												  <option value="19" <!--@If(prio3time.Clean==19)-->selected<!--@EndIf-->>Kl. 19:00 </option>
												  <option value="20" <!--@If(prio3time.Clean==20)-->selected<!--@EndIf-->>Kl. 20:00 </option>
												  <option value="21" <!--@If(prio3time.Clean==21)-->selected<!--@EndIf-->>Kl. 21:00 </option>
												</select>
											</div>

<!--@LoopStart(OrderLines)-->
													
											<!--@If(OrderLines.LoopCounter==1)-->

											<!--@If(Ecom:Product:Field.butikmulig=="True")-->
											    <div class="col-md-12 features">
												<div class="both" style="padding-bottom:0px">
													<div class="control-group">
														<div class="controls">
														
																
															<input type="hidden" name="butikaaben">
																<!--@If(Server:Request.butikaaben<contains>"on")-->
																<label class="checkbox active" for="butikmulig">
																<input class="checkbox-white" type="checkbox" name="butikaaben" id="butikaaben"  checked="checked" />
																Vi &oslash;nsker butikken er &aring;ben
																
															</label>
																 <!--@Else-->
																 <label class="checkbox" for="butikmulig">
																 <input class="checkbox-white" type="checkbox" name="butikaaben" id="butikaaben"   />
																 Vi &oslash;nsker butikken er &aring;ben
																 
															</label>
																<!--@EndIf-->
																
														</div>
													</div>
												</div>
											</div>
											<!--@EndIf-->
												
											<!--@EndIf-->

										<!--@LoopEnd(OrderLines)-->
											

										</div>
											<div class="row">
											<div class="col-md-offset-9 col-md-3 col-sm-3 pull-right"> <input type="submit" name=" <!--@CartV2.CurrentStepButtonName-->" id=" <!--@CartV2.CurrentStepButtonName-->" value="Opdater" class="submitter btn primary" /></div>
										</div>
									</form>
									</div>

							</div>




						</div>
					</div>

					<div class="col-md-5 right-wrap">
						<div class="">

							<div class="col-md-12 messaging">
								<h4>Opsumering</h4>
							</div>

							<div class="col-md-12 description main-btn-group">

							<form name="ordersubmit" id="ordersubmit" method="post">
								<div class="row">
									
									<!--@LoopStart(OrderLines)-->


								

				

								<!--@If(OrderLines.LoopCounter==1)-->
								<div class="col-sm-8">
									<p><strong><!--@Ecom:Order:OrderLine.ProductName--></strong></p>
								</div>
								<div class="col-md-4 col-sm-4 text-right text-right-main">
											<p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode--></p>
										</div>
						
				<!--@EndIf-->
			
										
									

										<!--@If(OrderLines.LoopCounter>1)-->

										<div class="col-md-8 col-sm-8">
											<p>	<!--@Ecom:Order:OrderLine.Quantity--> x <!--@Ecom:Order:OrderLine.ProductName--></p>
										</div>
										<div class="col-md-4 col-sm-4 text-right text-right-main">
											<p><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode-->&nbsp;&nbsp;<a class="red" title="" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Fjern tilvalg">X</a></p>
										</div>
										<!--@EndIf-->
									<!--@LoopEnd(OrderLines)-->

									
<div class="col-md-12 col-sm-12 hr">
                                            <p><strong>Ønskede datoer</strong></p>
                                           <!--@If(prio1date.Clean<>"")--><p>1. prioritet: <!--@prio1date.Clean--> kl. <!--@prio1time.Clean-->:00</p><!--@EndIf-->
                                            <!--@If(prio2date.Clean<>"")--><p>2. prioritet: <!--@prio2date.Clean--> kl. <!--@prio2time.Clean-->:00</p><!--@EndIf-->
                                            <!--@If(prio3date.Clean<>"")--><p>3. prioritet: <!--@prio3date.Clean--> kl. <!--@prio3time.Clean-->:00</p><!--@EndIf-->

                                        </div>
                                        <!--@LoopStart(OrderLines)-->


								<!--@If(OrderLines.LoopCounter==1)-->
                                        <!--@If(Ecom:Product:Field.butikmulig=="True")-->
                                       
                                         <div class="col-md-12">
                                                    <p><strong style="margin-bottom:0px">Butikken skal have åbent</strong></p><p>  <!--@If(Server:Request.butikaaben<contains>"on")-->
                                                             Ja <!--@Else-->Nej
                                                        <!--@EndIf--></p>
                                                </div>
                                        <!--@EndIf-->
                                        <!--@EndIf-->
                                        <!--@LoopEnd(OrderLines)-->
                                                <div class="col-md-12 col-sm-12 hr">
										<p class="left">Pris</p>
										<h3 class="right" style="margin:0px;"><!--@Ecom:Order.Price.Price--> <!--@Ecom:Order.CurrencyCode--></h3>
									</div>
									<div class="col-md-12">
										<!-- Button -->
										<div class="control-group">
											<div class="controls">

											<input type="hidden" id="prio1date" name="prio1date" value="<!--@prio1date.Clean-->"/>
                                    <input type="hidden" id="prio1time" name="prio1time" value="<!--@prio1time.Clean-->"/>

                                    <input type="hidden" id="prio2date" name="prio2date" value="<!--@prio2date.Clean-->"/>
                                    <input type="hidden" id="prio2time" name="prio2time" value="<!--@prio2time.Clean-->"/>

                                    <input type="hidden" id="prio3date" name="prio3date" value="<!--@prio3date.Clean-->"/>
                                    <input type="hidden" id="prio3time" name="prio3time" value="<!--@prio3time.Clean-->"/>
                                    <input type="hidden" name="butikaaben" value="<!--@butikaaben.Clean-->">
												
                                          <input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="<!--@If(prio1date.Clean=="")-->Vælg dato <!--@Else-->Send Forespørgsel<!--@EndIf-->" class="submitter btn primary gotonext" <!--@If(prio1date.Clean=="")-->disabled<!--@EndIf-->/>
                                </form>    

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



<!--@SnippetStart(scripts)-->

    <script type="text/javascript">


      jQuery(document).ready(function($) {

      	
        	$("#submitthis").on("click",function(){
        	$(".copyinfo").each(function(){
        		var targetid = $(this).data("id");
        		$("#"+targetid).val($(this).val());
        		console.log(targetid+" "+$(this).val());
        	});
        	$("#ordersubmit .submitter").trigger("click");
        });
        });
        </script>






    <script src="/Files/Templates/Designs/2015_Levende/js/datetimepicker.js"></script>
    <script type="text/javascript">
      $(function () {
        $('.date').datetimepicker({
          	pickTime: true,
            format: 'dd-MM-yyyy'
          });
      });
    </script>


<!--@SnippetEnd(scripts)-->
