<style>
	.form-group {
		margin-bottom: 0px !important;
	}
	
	.form-light .form-control {
		margin-bottom: 4px;
	}
	
	label {
		
		font-weight: 300;
	}
</style>

<script>
	function updateCart() {
		var form = document.getElementById('ordersubmit');
		form.submit();
	}

	function showHideDelivery() {
		var div = document.getElementById("deliveryInformation");
		if (document.getElementById("enableDelivery").checked) {
			document.getElementById("deliveryInformation").className = "hidden";
		} else {
			document.getElementById("deliveryInformation").className = "show";
		}
	}
</script>

<form name="ordersubmit" id="ordersubmit" method="post" class="form-light form-horizontal">
	<section class="slice bg-3">
		<div class="w-section inverse">
			<div class="container">
				@foreach (LoopItem errors in GetLoop("ValidationErrors")){
					@errors.GetValue("HeaderStart")
					<div class="row">
						<div class="col-md-12">
							<h4>@Translate("Ooops!", "Ooops!")</h4>
						</div>
					</div>
					@errors.GetValue("HeaderEnd")
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-warning" role="alert"><a href="javascript:document.getElementById('@errors.GetString("Ecom:Cart.ValidationError.FieldSystemName")').focus();"><b>@errors.GetString("Ecom:Cart.ValidationError.ErrorMessage")</b></a></div>
						</div>
					</div>
				}

				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="w-section inverse">
							<div class="w-box sign-in-wr bg-5">
								
								<div class="form-header">
									<h2><span class="circle">1</span> @Translate("Billing address", "Billing address")</h2>
								</div>
								
								<div class="form-body"> 
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label" for="EcomOrderCustomerCompany">@Translate("Company", "Company")</label>
											<input type="text" style="width: 100%" class="form-control" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="@GetString("Ecom:Order.Customer.Company")" />
										</div>
									</div>
									
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label" for="EcomOrderCustomerName">@Translate("Name", "Name")</label>
											<input type="text" style="width: 100%" class="form-control" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="@GetString("Ecom:Order.Customer.Name")" />
										</div>
									</div>
									
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group pull-left">
											<label class="control-label" for="EcomOrderCustomerPhone">@Translate("Phone", "Phone")</label>
											<input type="text" style="width: 120px" class="form-control" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="@GetString("Ecom:Order.Customer.Phone")" />
										</div>
						
										<div class="form-group pull-right">
											<label class="control-label" for="EcomOrderCustomerEmail">@Translate("Email", "Email")</label>
											<input type="email" style="width: 190px" class="form-control" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="@GetString("Ecom:Order.Customer.Email")" />
										</div>
									</div>
									
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label" for="EcomOrderCustomerAddress">@Translate("Address", "Address")</label>
											<input type="text" style="width: 100%" class="form-control" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="@GetString("Ecom:Order.Customer.Address")" />
										</div>
									</div>
									
									<!--
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label" for="EcomOrderCustomerAddress2">@Translate("Address", "Address") 2</label>
											<input type="text" class="form-control" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="@GetString("Ecom:Order.Customer.Address2")" />
										</div>
									</div>
									-->
									
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group pull-left">
											<label class="control-label" for="EcomOrderCustomerZip">@Translate("Zip code", "Zip code")</label>
											<input type="text" style="width: 120px" class="form-control" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="@GetString("Ecom:Order.Customer.Zip")" />
										</div>
									
										<div class="form-group pull-right">
											<label class="control-label" for="EcomOrderCustomerCity">@Translate("City", "City")</label>
											<input type="text" style="width: 190px" class="form-control" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="@GetString("Ecom:Order.Customer.City")" />
										</div>
									</div>
									
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label" for="EcomOrderCustomerCountry">@Translate("Country", "Country")</label>
											<select name="EcomOrderCustomerCountry" id="EcomOrderCustomerCountry" class="form-control" onchange="updateCart();">
												@foreach (LoopItem country in GetLoop("Countries")){
													if (!string.IsNullOrWhiteSpace(country.GetString("Ecom:Country.IsCustomerCountryOrDefault"))) {  
													<option value="@country.GetString("Ecom:Country.Code2")" selected="selected">
														@country.GetString("Ecom:Country.Name")
													</option>
													}
													if (string.IsNullOrWhiteSpace(country.GetString("Ecom:Country.IsCustomerCountryOrDefault"))) {
													<option value="@country.GetString("Ecom:Country.Code2")">
														@country.GetString("Ecom:Country.Name")
													</option>
													}
												}
											</select>
										</div>
									</div>
									
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="form-group">
											@{
												var checkstring = "checked";
												
												if (!string.IsNullOrWhiteSpace("Ecom:Order.Delivery.Address")) { <!-- ! added 17/12/14, maybe this is wrong? -->
													checkstring = "checked";
												} else {
													checkstring = "";
												}
											}
											
											<label for="enableDelivery" class="checkbox">
												<input type="checkbox" id="enableDelivery" onclick="showHideDelivery();" @checkstring /><i></i> @Translate("Deliver to billing address.", "Deliver to billing address.")</input>
											</label>
										</div>
									</div>
								
									<div class="col-md-12 col-sm-12 col-xs-12">
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				
				
					@{
						var visibility = "";
						
						if (string.IsNullOrWhiteSpace("Ecom:Order.Delivery.Address")) { <!-- ! removed 17/12/14, maybe this is wrong? -->
							visibility = "show";
						} else {
							visibility = "hidden";
						}
					}
								
					<div class="@visibility" id="deliveryInformation">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="w-section inverse">
								<div class="w-box sign-in-wr bg-5">
									<div class="form-header">
										<h2><span class="circle"><i class="fa fa-map-marker fa-3"></i></span> @Translate("Delivery address", "Delivery address")</h2>
									</div>
									<div class="form-body">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label" for="EcomOrderDeliveryCompany">@Translate("Company", "Company")</label>
												<input type="text" style="width: 100%" class="form-control" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="@GetString("Ecom:Order.Delivery.Company")" />
											</div>
										</div>
	
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label" for="EcomOrderDeliveryName">@Translate("Name", "Name")</label>
												<input type="text" style="width: 100%" class="form-control" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="@GetString("Ecom:Order.Delivery.Name")" />
											</div>
										</div>
	
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group pull-left">
												<label class="control-label" for="EcomOrderDeliveryPhone">@Translate("Phone", "Phone")</label>
												<input type="text" style="width: 120px" class="form-control" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="@GetString("Ecom:Order.Delivery.Phone")" />
											</div>
											
											<div class="form-group pull-right">
												<label class="control-label" for="EcomOrderDeliveryEmail">@Translate("Email", "Email")</label>
												<input type="email" style="width: 190px" class="form-control" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="@GetString("Ecom:Order.Delivery.Email")" />
											</div>
										</div>
	
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label" for="EcomOrderDeliveryAddress">@Translate("Address", "Address")</label>
												<input type="text" style="width: 100%" class="form-control" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="@GetString("Ecom:Order.Delivery.Address")" />
											</div>
										</div>
										<!--
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label" for="EcomOrderDeliveryAddress2">@Translate("Address", "Address") 2</label>
												<input type="text" class="form-control" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="@GetString("Ecom:Order.Delivery.Address2")" />
											</div>
										</div>
										-->
		
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group pull-left">
												<label class="control-label" for="EcomOrderDeliveryZip">@Translate("Zip code", "Zip code")</label>
												<input type="text" style="width: 120px"  class="form-control" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="@GetString("Ecom:Order.Delivery.Zip")" />
											</div>
											<div class="form-group pull-right">
												<label class="control-label" for="EcomOrderDeliveryCity">@Translate("City", "City")</label>
												<input type="text" style="width: 190px"  class="form-control" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="@GetString("Ecom:Order.Delivery.City")" />
											</div>
										</div>
										
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label" for="EcomOrderDeliveryCountry">@Translate("Country", "Country")</label>
												<select name="EcomOrderDeliveryCountry" id="EcomOrderDeliveryCountry" class="form-control" onchange="updateCart();">
													@foreach (LoopItem country2 in GetLoop("Countries")){
														if (!string.IsNullOrWhiteSpace(country2.GetString("Ecom:Country.IsDeliveryCountryOrDefault"))) {  
														<option value="@country2.GetString("Ecom:Country.Code2")" selected="selected">
															@country2.GetString("Ecom:Country.Name")
														</option>
														}
														if (string.IsNullOrWhiteSpace(country2.GetString("Ecom:Country.IsDeliveryCountryOrDefault"))) {
														<option value="@country2.GetString("Ecom:Country.Code2")">
															@country2.GetString("Ecom:Country.Name")
														</option>
														}
													}
												</select>
											</div>
										</div>
			
										<div class="col-md-12 col-sm-12 col-xs-12">
											&nbsp;
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="w-section inverse">
							<div class="w-box sign-in-wr bg-5">
								<div class="form-header">
									<h2><span class="circle">2</span>  @Translate("Shipping", "Shipping")</h2>
								</div>
								<div class="form-body">
									@foreach (LoopItem shipping in GetLoop("Shippingmethods")){
									<label for="EcomCartShippingmethodID_@shipping.GetString("Ecom:Cart.Shippingmethod.ID")">
										@if (!string.IsNullOrWhiteSpace(shipping.GetString("Ecom:Cart.Shippingmethod.IsSelected"))){
											<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@shipping.GetString("Ecom:Cart.Shippingmethod.ID")" value="@shipping.GetString("Ecom:Cart.Shippingmethod.ID")" checked="checked" /><text>&nbsp;</text>
										}
										@if (string.IsNullOrWhiteSpace(shipping.GetString("Ecom:Cart.Shippingmethod.IsSelected"))){
										<input onclick="updateCart();" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@shipping.GetString("Ecom:Cart.Shippingmethod.ID")" value="@shipping.GetString("Ecom:Cart.Shippingmethod.ID")" /><text>&nbsp;</text>
										}
										@shipping.GetString("Ecom:Cart.Shippingmethod.Name")
										@if (string.IsNullOrWhiteSpace(shipping.GetString("Ecom:Cart.ShippingMethod.Price.IsZero"))){
											shipping.GetString("Ecom:Cart.ShippingMethod.Price");
										}
									</label><br />
									}
								</div>
							</div>
							
							<div class="w-box sign-in-wr bg-5">
								<div class="form-header">
									<h2><span class="circle">3</span>  @Translate("Payment", "Payment")</h2>
								</div>
								<div class="form-body">
									@foreach (LoopItem payment in GetLoop("Paymethods")){
									<label for="EcomCartPaymethodID_@payment.GetString("Ecom:Cart.Paymethod.ID")">
										@if (!string.IsNullOrWhiteSpace(payment.GetString("Ecom:Cart.Paymethod.IsSelected"))) {
											<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_@payment.GetString("Ecom:Cart.Paymethod.ID")" value="@payment.GetString("Ecom:Cart.Paymethod.ID")" checked="checked" /><text>&nbsp;</text>
										}
										@if (string.IsNullOrWhiteSpace(payment.GetString("Ecom:Cart.Paymethod.IsSelected"))) {
											<input onclick="updateCart();" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_@payment.GetString("Ecom:Cart.Paymethod.ID")" value="@payment.GetString("Ecom:Cart.Paymethod.ID")" /><text>&nbsp;</text>
										}
										@payment.GetString("Ecom:Cart.Paymethod.Name")
										@if (string.IsNullOrWhiteSpace(payment.GetString("Ecom:Cart.Paymethod.Price.IsZero"))) {
											payment.GetString("Ecom:Cart.Paymethod.Price");
										}
									</label><br />
									}
								</div>
							</div>
							
							<div class="w-box sign-in-wr bg-5">
								<div class="form-header">
									<h2><span class="circle"><i class="fa fa-gift fa-3"></i></span> @Translate("Voucher", "Voucher")</h2>
								</div>
								<div class="form-body">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="@Translate("Enter voucher code", "Enter voucher code")" name="EcomOrderVoucherCode" id="EcomOrderVoucherCode" value="@GetString("Ecom:Order.Customer.VoucherCode")">
										<span class="input-group-btn">
											<button class="btn btn-three" style="margin-top: -4px !important" type="submit" onclick="updateCart();">@Translate("Apply voucher", "Apply voucher")</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="w-section inverse">
							<div class="w-box sign-in-wr bg-5">
								<div class="form-header">
									<h2><span class="circle"><i class="fa fa-check fa-3"></i></span> @Translate("Review Order", "Review Order")</h2>
								</div>
								<table class="table table-cart table-responsive">
									<thead>
										<tr style="background: none !important; font-weight: bold">
											<th width="100px">@Translate("Product name", "Product name")</th>
											<th class="text-center" width="50px">@Translate("Quantity", "Quantity")</th>
											<th width="100px"></th>
											<th class="text-right">@Translate("Total", "Total")</th>
										</tr>
									</thead>
									<tbody>
										@foreach (LoopItem orderline in GetLoop("OrderLines")){
											<tr>
												<td>
													<a href="@orderline.GetString("Ecom:Order:OrderLine.ProductLink")">
														@orderline.GetString("Ecom:Order:OrderLine.ProductName")
														@if (!string.IsNullOrWhiteSpace(orderline.GetString("Ecom:Order:OrderLine.ProductVariantText"))) {
															orderline.GetString("@Ecom:Order:OrderLine.ProductVariantText");
														}
													</a>
												</td>
												<td class="text-center">
													@orderline.GetString("Ecom:Order:OrderLine.Quantity") 
													<!--
													<input type="number" name="cant" value="Ecom:Order:OrderLine.Quantity" style="width:60px; text-align:center; margin-right:5px; height:34px;">
													-->
												</td>
												<td class="text-left">
													@if (!string.IsNullOrWhiteSpace(orderline.GetString("Ecom:Order:OrderLine.IsProduct"))) {
													<a href="@orderline.GetString("Ecom:Order:OrderLine.IncrementLink")" title=""><i class="fa fa-plus"></i></a><text>&nbsp;</text>
													<a href="@orderline.GetString("Ecom:Order:OrderLine.DecrementLink")" title=""><i class="fa fa-minus"></i></a><text>&nbsp;</text>
													<a href="@orderline.GetString("Ecom:Order:OrderLine.DeleteLink")" title=""><i class="fa fa-trash-o"></i></a>
													}
												</td>
												<td class="text-right">@orderline.GetString("Ecom:Order:OrderLine.TotalPrice")</td>
											</tr>
											foreach (LoopItem bomitem in GetLoop("BOMItems")){
											<tr>
												<td></td>
												<td><small>&nbsp;&nbsp;&nbsp;@bomitem.GetString("Ecom:Order:OrderLine.ProductName")</small></td>
												<td><small>@bomitem.GetString("Ecom:Order:OrderLine.UnitPrice")</small></td>
												<td class="text-center"><small>@bomitem.GetString("Ecom:Order:OrderLine.Quantity")</small></td>
												<td></td>
												<td class="text-right"><small>@bomitem.GetString("Ecom:Order:OrderLine.TotalPrice")</small></td>
											</tr>
											}
										}
										<tr>
											<td></td>
											<td colspan="2">
												<i class="fa fa-credit-card"></i>&nbsp; @GetString("Ecom:Order.PaymentMethod")
											</td>
											<td class="text-right">@GetString("Ecom:Order.PaymentFee")</td>
										</tr>
										<tr>
											
											<td></td>
											<td colspan="2">
												<i class="fa fa-truck"></i>&nbsp; @GetString("Ecom:Order.ShippingMethod")
											</td>
											<td class="text-right">@GetString("Ecom:Order.ShippingFee")</td>
										</tr>
										<tr>
											
											<td></td>
											<td colspan="2"><strong>@Translate("Total", "Total")</strong></td>
											<td class="text-right"><strong>@GetString("Ecom:Order.OrderLines.Total.PriceWithVAT")</strong></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w-section inverse">
							<p class="pull-right">
								<button class="btn btn-primary" type="submit" name="@GetString("CartV2.NextStepButtonName")" id="@GetString("CartV2.NextStepButtonName")">@Translate("Place order", "Place order")</button>
							</p>
							<p class="pull-left" style="padding-left: 16px">
								<label class="checkbox persistent"><input type="checkbox" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted" value="1" /> @Translate("I accept the terms and conditions of this website.", "I accept the terms and conditions of this website.")</label>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>