﻿<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
      <td align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="520px">
              <tr>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                </tr>
              <tr>
                  <td colspan="2">
                      <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; margin:0px; font-weight:bold;"><!--@Translate(TakForDinBestilling, "Tak for din bestilling. Der er sendt en mail til dig med f&oslash;lgende informationer:", global)--></span><br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />
<!--@Include(../Mail/ShopEmail.html)-->

<br><hr>
<h2>Ordermail:</h2>
<!--@Include(../Mail/OrderEmail.html)-->

<br><hr>
<h2>Shopmail:</h2>
<!--@Include(../Mail/ShopEmail.html)-->

