<h1><!--@Translate(questconfirmation, "Quest confirmation")--></h1>

<section class="slice bg-3">
	<div class="w-section inverse shop">
		<div class="container bordered">
			<div class="row">
				<div class="col-sm-4">

					<h4>@Translate("questaddress", "Quest address")</h4>
					<div><b>@GetString("Ecom:Order.Customer.Company")</b></div>
					<div>@GetString("Ecom:Order.Customer.Name")</div>
					<div>@GetString("Ecom:Order.Customer.Address")</div>
					<div>@GetString("Ecom:Order.Customer.Address2")</div>
					<div>@GetString("Ecom:Order.Customer.Zip") @GetString("Ecom:Order.Customer.City")</div>
					<div>@Translate("email", "E-mail"): @GetString("Ecom:Order.Customer.Email")</div>
					<div>@Translate("phone", "Telefon"): @GetString("Ecom:Order.Customer.Phone")</div>

				</div>
				<div class="col-sm-4">

					@if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Delivery.Address"))){
						<h4>@Translate("Shipping address", "Shipping address")</h4>
						<div><b>@GetString("Ecom:Order.Delivery.Company")</b></div>
						<div>@GetString("Ecom:Order.Delivery.Name")</div>
						<div>@GetString("Ecom:Order.Delivery.Address")</div>
						<div>@GetString("Ecom:Order.Delivery.Address2")</div>
						<div>@GetString("Ecom:Order.Delivery.Zip") @GetString("Ecom:Order.Delivery.City") - @GetString("Ecom:Order.Delivery.Country")</div>
						<div>@GetString("Ecom:Order.Delivery.Email")</div>
						<div>@GetString("Ecom:Order.Delivery.Phone")</div>
					}

				</div>
				<div class="col-sm-4">

					<h4>@Translate("questinformations", "Quest information")</h4>

					<div class="row">
						<div class="col-sm-6">
							<strong>@Translate("questnumber", "Quest number"):</strong>
						</div>
						<div class="col-sm-6">@GetString("Ecom:Order.ID")</div>
					</div>

					@if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.TransactionNumber"))) {
					<div class="row">
						<div class="col-sm-6">
							<strong>@Translate("Transaction number", "Transaction number"):</strong>
						</div>
						<div class="col-sm-6">
							@GetString("Ecom:Order.TransactionNumber")
						</div>
					</div>
					}
					
					<div class="row">
						<div class="col-sm-6">
							<strong>@Translate("Order date", "Date"):</strong>
						</div>
						<div class="col-sm-6">
							@GetDate("Ecom:Order.Completed").ToString(Dynamicweb.Dates.DateFormatStringShort)
						</div>
					</div>
					


				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="subsection">
						<table class="table table-cart table-responsive">
							<tbody>
								<tr>
									<th>#</th>
									<th>@Translate("Product", "Product")</th>
									<th></th>
									<th>@Translate("Qty", "Qty")</th>
									<th></th>
								</tr>
								@foreach (LoopItem orderline in GetLoop("OrderLines")){
									<tr>
										<td>
											@orderline.GetString("Ecom:Order:OrderLine.ProductNumber")
											@if (orderline.GetString("Ecom:Order:OrderLine.Type") == "1") {
												<small>@Translate("Discount", "Discount")</small>
											}
										</td>
										<td>
											<a href="@orderline.GetString("Ecom:Order:OrderLine.ProductLink")">
												@orderline.GetString("Ecom:Order:OrderLine.ProductName.Short")
												@if (!string.IsNullOrWhiteSpace(orderline.GetString("Ecom:Order:OrderLine.ProductVariantText"))) {
													orderline.GetString("Ecom:Order:OrderLine.ProductVariantText");
												}
											</a>
										</td>
										<td></td>
										<td>@orderline.GetString("Ecom:Order:OrderLine.Quantity")</td>
										<td></td>
									</tr>
									foreach (LoopItem bomitem in GetLoop("BOMItems")){
										<tr class="active">
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.ProductNumber")</td>
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.ProductName.Short")</td>
											<td style="padding-top:4px;padding-bottom:4px;"></td>
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.Quantity")</td>
											<td style="padding-top:4px;padding-bottom:4px;"></td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="subsection">
						<h4>@Translate("Comment", "Comment")</h4>
						<div>@GetString("Ecom:Order.Customer.Comment")</div>
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			
		</div>
	</div>
</section>