﻿<div id="Basket">
<!--@If Not Defined(Ecom:Order.IsEmpty)-->
<form name="ordersubmit" id="ordersubmit" method="post">
  <table cellspacing="0" width="100%">
        <tr class="Basketborder">
            <td colspan="2"><h3><!--@Translate(Vare, "Vare")--></h3></td>
            <td align="right"><h3><!--@Translate(Antal, "Antal")--></h3></td>
            <td align="right"><h3><!--@Translate(PrisPrStk, "Pris pr. stk.")--></h3></td>
            <td align="right"><h3 class="last"><!--@Translate(PrisIAlt, "Pris i alt kr.")--></h3></td>
        </tr>
        <!--@LoopStart(OrderLines)-->
        <tr class="Basketborder BasketProducts">
            <td width="1"><img src="/admin/public/getimage.aspx?Image=/Files/Billeder/eCom/<!--@Ecom:Product.Number-->.jpg&Resolution=75&Compression=90&Width=70" border="0" alt=""></td>
            <td>
                <p><a href="<!--@Ecom:Order:OrderLine.ProductLink-->">
                <!--@Ecom:Order:OrderLine.ProductName.Short-->
                <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
                (<!--@Ecom:Order:OrderLine.ProductVariantText-->)
                <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
                </a></p>
            </td>
            <td width="1" align="right">
                <p>&nbsp; 
                    <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.IncrementLink-->" title=""><strong><!--@Translate(Increment, "+")--></strong></a> &nbsp;
                    <!--@Ecom:Order:OrderLine.Quantity--> &nbsp;
                    <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DecrementLink-->" title=""><strong><!--@Translate(Decrement, "-")--></strong></a>
                </p>
            </td>
            <td width="1" align="right"><p>&nbsp; <!--@Ecom:Order:OrderLine.UnitPrice--> &nbsp;</p></td>
            <td width="1" align="right"><p>&nbsp; <!--@Ecom:Order:OrderLine.TotalPrice-->&nbsp; &nbsp;<a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" title=""><strong><!--@Translate(Slet, "X")--></strong></a></p></td>
        </tr>
        <!--@LoopEnd(OrderLines)-->
        <tr>
            <td colspan="3"><h3><!--@Translate(VarerIAlt, "Varer i alt")--></h3></td>
            <td colspan="2" align="right"><h3><!--@Ecom:Order.PriceWithoutFees--></h3></td>
        </tr>
        <tr class="Basketborder">
          <td colspan="5">
              <p class="Small"><!--@Translate(Vat, "Moms")--> (<!--@Ecom:Order.PriceWithoutFees.VATPercentFormatted-->) <!--@Translate(Udgor, "udg&oslash;r")--> <!--@Ecom:Order.VAT--><br />
            <!--@Translate(TotalPriceWithoutVat, "Pris uden moms")--> <!--@Ecom:Order.OrderLines.Total.PriceWithoutVAT--></p>
        </td>
      </tr>
        <tr>
          <td colspan="5">
            <div id="NextStep">
                <div class="Button Button02"><a href="javascript: window.history.go(-1)"><!--@Translate(Tilbage, "Tilbage", global)--></a></div>
                <div class="Button Button02"><a href="<!--@Ecom:Cart.EmptyCartLink-->" class="submitter"><!--@Translate(emptycart, "T&oslash;m kurv")--></a></div>
                <div class="Button Button01"><input type="submit" name="<!--@CartV2.NextStepButtonName-->" id="Submit1" class="submitter" value="<!--@Translate(next, "N&aelig;ste")-->" /></div>
        </div>
        </td>
      </tr>
    </table>
</form>
<!--@EndIf(Ecom:Order.IsEmpty)-->
<!--@If Defined(Ecom:Order.IsEmpty)-->
    <div class="Emptybassket"><!--@Translate(basketisempty, "Kurven er tom")--></div>
<!--@EndIf(Ecom:Order.IsEmpty)-->
</div>