﻿<!--UserManagement:Search.Form-->
<!--@LoopStart(AllUsers)-->
  
  <!--<div style="width:100%; height:auto; overflow:hidden;">-->
  
  <div classs="row">
      <div class="text">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td style="vertical-align:top;"><b>
                    <!--@UserManagement:User.Name--></b><br />
                    <!--@If Defined(UserManagement:User.Department)--><!--@UserManagement:User.Department--></b><br /><!--@EndIf(UserManagement:User.Department)-->
                    <!--@If Defined(UserManagement:User.JobTitle)--><!--@UserManagement:User.JobTitle--><br /></b><!--@EndIf(UserManagement:User.JobTitle)-->
                    <!--@If Defined(UserManagement:User.PhoneBusiness)-->Tlf. <!--@UserManagement:User.PhoneBusiness--></b><br /><!--@EndIf(UserManagement:User.PhoneBusiness)-->
                    <!--@If Defined(UserManagement:User.PhoneMobile)-->Mobil <!--@UserManagement:User.PhoneMobile--></b><br /><!--@EndIf(UserManagement:User.PhoneMobile)-->                  
                    <!--@If Defined(UserManagement:User.Email)--><a href="mailto:<!--@UserManagement:User.Email-->"><!--@UserManagement:User.Email--></a><!--@EndIf(UserManagement:User.Email)-->
                </td>
            </tr>
          </table>
          <br />
      </div>
  </div>
  <!--DwTemplateTags-->
<!--@LoopEnd(AllUsers)-->

