﻿
<!--UserManagement:Search.Form-->
<div class="container">
<!--@LoopStart(AllGroups)-->
   <!--@If Defined(UserManagement:Group.Address)-->
   <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6" style="margin-bottom:20px;">
  <!--<div style="width:100%; height:auto; overflow:hidden;">-->
  

                    <b><!--@UserManagement:Group.Name--></b><br />
                   <!--@UserManagement:Group.Address--><br />

                     <!--@If Defined(UserManagement:Group.ZipCode)--><!--@UserManagement:Group.ZipCode-->&nbsp;<!--@EndIf(UserManagement:Group.ZipCode)-->

                    <!--@If Defined(UserManagement:Group.City)--><!--@UserManagement:Group.City--><br /><!--@EndIf(UserManagement:Group.City)-->

                    <!--@If Defined(UserManagement:Group.Cellular)-->Tlf. <!--@UserManagement:Group.Cellular--></b><br /><!--@EndIf(UserManagement:Group.Cellular)-->

                    <!--@If Defined(UserManagement:Group.Telefax)--><a href="mailto:<!--@UserManagement:Group.Telefax-->"><!--@UserManagement:Group.Telefax--></a><!--@EndIf(UserManagement:Group.Telefax)-->

  <!--DwTemplateTags-->
  </div>
  <!--@EndIf(UserManagement:Group.Address)-->

<!--@LoopEnd(AllGroups)-->
<div class="container">

