﻿@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<!--UserManagement:Search.Form-->
<!--@LoopStart(AllUsers)-->
  
<!--<div style="width:100%; height:auto; overflow:hidden;">-->
@* @TemplateTags() *@
@foreach (var user in GetLoop("AllUsers"))
{
    @user.GetString("UserManagement:User.Image.Clean")
}
<div classs="row">
    <div class="text">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="100" style="vertical-align:top;">
                    <img src="/admin/public/getimage.ashx?Image=<!--@UserManagement:User.Image.Clean-->&altFmImage_path=/Files/Billeder/Medarbejdere/portraet_default.jpg&Format=jpg&Width=100&Height=100&Crop=0" alt=""/ border="0">      
                </td>
                <td width="20"></td>
                <td style="vertical-align:top;"><b>
                        <!--@UserManagement:User.Name--></b><br />
                    <!--@If Defined(UserManagement:User.Department)--><!--@UserManagement:User.Department--></b><br /><!--@EndIf(UserManagement:User.Department)-->
                    <!--@If Defined(UserManagement:User.JobTitle)--><!--@UserManagement:User.JobTitle--><br /></b><!--@EndIf(UserManagement:User.JobTitle)-->
                    <!--@If Defined(UserManagement:User.PhoneBusiness)-->Tlf. <!--@UserManagement:User.PhoneBusiness--></b><br /><!--@EndIf(UserManagement:User.PhoneBusiness)-->
                    <!--@If Defined(UserManagement:User.PhoneMobile)-->Mobil <!--@UserManagement:User.PhoneMobile--></b><br /><!--@EndIf(UserManagement:User.PhoneMobile)-->                  
                    <!--@If Defined(UserManagement:User.Email)--><a href="mailto:<!--@UserManagement:User.Email-->"><!--@UserManagement:User.Email--></a><!--@EndIf(UserManagement:User.Email)-->
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<!--DwTemplateTags-->
<!--@LoopEnd(AllUsers)-->

