﻿


@helper GetProductList(dynamic Loop, int Col=3)
{
	int Count = 0;




	foreach (LoopItem product in Loop){
		string  Image = product.GetString("Ecom:Product.ImageSmall.Default.Clean");
		string  GroupLink = product.GetString("Ecom:Product.LinkGroup.Clean");
		string  Name = product.GetString("Ecom:Product.Name");
		string  Description = product.GetString("Ecom:Product.ShortDescription");
		string  Discount = product.GetString("Ecom:Product.Discount.Price.PriceWithoutVATFormatted");
		string  Price = product.GetString("Ecom:Product.Price.PriceWithoutVATFormatted");
		string  PriceWV = product.GetString("Ecom:Product.Price.PriceFormatted");

		<div class=" col-sm-6" name="productlist">
			<div class="wp-block product" name="boxproduct">
				<div class="" name="listproductright">
                    <a href="@GroupLink" title="@Name">
						<figure style="" name="productfigure">
                        	<img alt="" src="/Admin/Public/Getimage.ashx?width=300&height=200&compression=85&Crop=5&image=@Image" class="img-responsive img-center">
                   		</figure>
                   	</a>
                </div>
                <div class="" name="extracolumn">
                    <h2 class="product-title"><a href="@GroupLink">@Name</a></h2>
                    <div style="" name="shortproductdescription">
						<p>product.GetString("Ecom:Product.ShortDescription")</p>
					</div>
					<div style="display: none !important" name="longproductdescription">
						<p class="pull-left" style="text-align: left !important">product.GetString("Ecom:Product.ShortDescription")</p>
					</div>
            	</div>
                <div class="wp-block-footer" name="listproductleft">
                  @if(Dynamicweb.Input.FormatDouble(product.GetString("Ecom:Product.Price.Price"))>0){
                    <span class="price pull-left" style="font-size: 16px !important" name="productprice"><strong>@Price</strong></span><span>&nbsp;&nbsp;</span>
                  }
					@if (Discount != Price)
					{
						<span name="productpricebr"></span>
						<span class="price" style="color: #AAAAAA !important; font-size: 12px !important; position: absolute; text-decoration: line-through" name="productoldprice">@Price</span>
					}

                    <div class="pull-right" name="productmorebr">
						<a href="@GroupLink" class="btn btn-sm btn-base"><span>@Translate("Read more", "Read more")</span></a>
					</div>
					@if(Dynamicweb.Input.FormatDouble(product.GetString("Ecom:Product.Price.Price"))>0){
						<div style="clear:both;"><small>@PriceWV inkl. moms</small></div>
					}
                </div>
                @if (Discount != Price)
				{
					<span class="ribbon base">@Translate("On sale!", "On sale!")</span>
				}
            </div>
		</div>

		Count++;

		if (Count == Col)
		{
			<div class="row"></div>
			Count = 0;
		}
	}
}
