

<div class="row help">
			<div class="container">
				<div class="row" >	<!-- Loading Screen -->
<div class="col-md-12">
	<h3 class="text-center">
	  Har du brug for hjælp?
	</h3>
	<!--p class="text-center">
		Etiam porttitor eros quis leo interdum sed condimentum turpis
	</p>
	<p class="text-center">
		tristique. Praesent ut orci a odio placerat imperdiet.
	</p-->
	<p class="text-center btn-main">
		<a class="btn btn-primary btn-large" href="find-svar">Find svar i ofte stillede spørgsmål</a>
		<a class="btn btn-primary btn-large" href="kontakt-22">Kontakt os</a>
	</p>

</div>
</div>
			</div>
		</div>

		<div class="row messaging" id="Newsletter" title="Newsletter">
		</div>