

<!--@If(Global:Extranet.UserID==0)-->
<div class="modal hide fade modal-type-loginbox" id="LoginBox" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close blue-close icon-remove" data-dismiss="modal"></button>

		<h3>
			<span class="icon-key"></span>
			<!--@Translate(CustomerLogin, "DUNDEX login")-->
		</h3>
	</div>
	<div class="modal-body">
		<!--@If(Item.Area.Login_Message_Paragraph_ID>0)-->
		<div class="alert alert-info">
			<!--@Global:Paragraph.Content(<!--@Item.Area.Login_Message_Paragraph_ID-->)-->
		</div>
		<!--@EndIf-->

		<div class="login-box-mode" data-login-box-mode="login">
						<!--@If(Global:Extranet.UserID==0)-->
<!--@If(Server:Request.forgotpassword<defined>)-->
			<div id="emailsent" class="loginbox-login-failed alert alert-success">
					<strong><!--@Translate(newpasssent, 'Your new password	has been successfully sent by email')--></strong>
				</div>

			<!--@EndIf-->
<!--@If(Server:Request.username<defined> || Server:Request.password<defined> && Server:Request.forgotpassword<>"True")-->
			<div class="loginbox-login-failed alert alert-error"><!--@Translate(Invalid_username_or_password, "Invalid username or password")--></div>
			<!--@EndIf-->



			<!--@EndIf-->

			<form class="form-horizontal" method="post" onsubmit="return Layout.LoginBox.validate(this);">
				<input type="hidden" name="ID" value="<!--@Global:Page.ID-->" />
				<input type="hidden" name="redirect" value="Default.aspx?ID=737" />
				<input type="hidden" name="DWExtranetUsernameRemember" value="True" />
				<input type="hidden" name="DWExtranetPasswordRemember" value="True" />
				<div class="control-group">
					<input type="text" id="login-username" class="input-block-level login-credentials login-username-field" name="username" spellcheck="false" placeholder="<!--@Translate(Username, 'Username')-->" value="<!--@If(Server:Request.username<defined>)--><!--@Server:Request.username--><!--@EndIf-->" />
				</div>
				<div class="control-group">
					<input type="password" id="login-password" class="input-block-level login-credentials login-password-field" name="password" placeholder="<!--@Translate(Password, 'Password')-->" value="<!--@If(Server:Request.password<defined>)--><!--@Server:Request.password--><!--@EndIf-->" />
				</div>

				<div class="row-fluid">
					<div class="span6">
						<label class="checkbox">
							<input type="checkbox" id="chkRemember" name="AutoLogin" value="True" /> <!--@Translate(RememberMe, "Remember me")-->
						</label>
					</div>
					<div class="span6">
						<input type="submit" class="btn btn btn-primary" value="Login" />
					</div>
				</div>

				<div class="login-form-lostpasswordhint">
					<!--@Translate(ForgotYourLogin, "Forgot your password?")-->&nbsp;<a href="#" onclick="Layout.LoginBox.mode('lostpassword', $(this).parents('form'))"><!--@Translate(ClickHere, "Click here")--></a>
				</div>
			</form>
		</div>

		<div class="login-box-mode" data-login-box-mode="lostpassword" style="display: none">
			<form class="form-horizontal" method="post" onsubmit="$('#emailsent').show()">
				<input type="hidden" name="ID" value="<!--@Global:Page.ID-->" />
				<input type="hidden" name="ForgotPassword" value="True" />
				<input name="ForgotPasswordMailTemplate" type="hidden" value="ForgotPasswordTemplate.html" />
				<input type="hidden" name="ForgotPasswordMailSubject" value="IntraNet log in" />

				<input type="hidden" name="ForgotPasswordConfirm" value='<!--@Translate(PasswordSent, "The password has been sent to your email.")-->' />
				<div class="control-group">
					<input type="text" id="login-email" class="input-block-level	login-credentials login-email-field" name="username" spellcheck="false" placeholder='<!--@Translate(EmailAddress, "Email address")-->'>
				</div>

				<div id="emailsent" class="alert alert-success hidden">
					<strong><!--@Translate(newpasssent, 'Your new password	has been successfully sent by email')--></strong>
				</div>

				<div class="row-fluid">
					<div class="span4">
						<a href="javascript:void(0);" onclick="Layout.LoginBox.mode('login', $(this).parents('form'));" class="login-form-lostpasswordhint">
							<!--@Translate(GoBack, "Go back")-->
						</a>
					</div>
					<div class="span8">
						<input type="submit" class="btn btn-primary" value='<!--@Translate(sendpassword, "Send password")-->' />
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="modal-footer">
		<!--@Translate(donthaveaccount, "Not yet a DUNDEX Associate?")-->
		<!--@If(Item.Area.Create_Account_Page_ID__modal_>0)-->
		<a href="/Default.aspx?ID=<!--@Item.Area.Create_Account_Page_ID__modal_-->" class="btn btn-default" data-toggle="modal" data-target="#signUpModal" onclick="$(this).parents('.modal').modal('hide')">
			<!--@Translate(signupforaccount, "Click here to join DUNDEX")-->
		</a>
		<!--@Else-->
		<a href="/Default.aspx?ID=<!--@Item.Area.Create_Account_Page_ID-->" class="btn btn-default">
			<!--@Translate(signupforaccount, "Sign up for an account")-->
		</a>
		<!--@EndIf-->
	</div>
</div>

<div class="modal hide fade modal-type-loginbox" id="signUpModal" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close blue-close icon-remove" data-dismiss="modal"></button>
		<h3><!--@Translate(signup, "Signup")--></h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid no-space">
			<div class="loader"></div>
		</div>
	</div>
</div>

<!--@Else-->
<script>(function() {
	var redirectUrl = '<!--@Server:Request.redirect.JSEncoded()-->';
	if (redirectUrl) {
		document.location.href = redirectUrl;
	}
}())</script>
<!--@EndIf-->
