<div class="row">
    <div class="col-md-12 banner">
        <img src="/admin/public/getimage.aspx?Image=<!--@ParagraphImageClean-->&Resolution=72&Compression=90&height=315" border="0" alt="" title="">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><!--@ParagraphHeader--></div>
                </div>
            </div>
        </div>
    </div>
</div>