<div class="paragraph item bottom">
    <a name="<!--@ParagraphID-->"></a>
    <div class="row">
        <div class="col-md-12">
            <!--@If Defined(ParagraphText)-->
            <div class="text">
                <!--@ParagraphText-->
            </div>
            <!--@EndIf(ParagraphText)-->

            <!--@If Defined(ParagraphModule)-->
            <div class="module">
                <!--@ParagraphModule-->
            </div>
            <!--@EndIf(ParagraphModule)-->

            <!--@If Defined(ParagraphImage)-->

            <div class="image">
                <!--@If Defined(ParagraphImageLinkClean)--><a href="<!--@ParagraphImageLinkClean-->" <!--@If Defined(ParagraphImageLinkTarget)--> target="<!--@ParagraphImageLinkTarget-->"<!--@EndIf(ParagraphImageLinkTarget)-->><!--@EndIf(ParagraphImageLinkClean)-->
                                                <img src="/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Resolution=72&Compression=90&Width=1000" border="0" alt="<!--@ParagraphImageLinkAlt-->" title="<!--@ParagraphImageLinkAlt-->"     class="img-responsive  c-width100"  >
                                            <!--@If Defined(ParagraphImageLinkClean)--></a>
                <!--@EndIf(ParagraphImageLinkClean)-->
                <!--@If Defined(ParagraphImageText)-->
                <div class="imagetext text">
                    <!--@ParagraphImageText-->
                </div>
                <!--@EndIf(ParagraphImageText)-->
            </div>
            <!--image -->

            <!--@EndIf(ParagraphImage)-->


        </div>
        <!-- col-md-12 -->
    </div>
    <!-- row -->
</div>
<!-- paragraph item buttom -->