<div class="paragraph item right">
<a name="<!--@ParagraphID-->"></a>
<div class="row">
	
    	<div class="col-md-6">
					
           	<!--@If Defined(ParagraphText)-->
                <div class="text"><!--@ParagraphText--></div>
            <!--@EndIf(ParagraphText)-->
            <!--@If Defined(ParagraphModule)-->
                <div class="module"><!--@ParagraphModule--></div>
            <!--@EndIf(ParagraphModule)-->
           
 		</div> <!-- col-md-6 -->
        
   		<div class="col-md-6">
				<!--@If Defined(ParagraphImage)-->
          
                <div class="image">
                <!--@If Defined(ParagraphImageLinkClean)--><a href="<!--@ParagraphImageLinkClean-->"<!--@If Defined(ParagraphImageLinkTarget)--> target="<!--@ParagraphImageLinkTarget-->"<!--@EndIf(ParagraphImageLinkTarget)-->><!--@EndIf(ParagraphImageLinkClean)-->
                    <img src="/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Resolution=72&Compression=90&Width=1000" border="0" alt="<!--@ParagraphImageLinkAlt-->" title="<!--@ParagraphImageLinkAlt-->"     class="img-responsive  c-width100"  >
                <!--@If Defined(ParagraphImageLinkClean)--></a><!--@EndIf(ParagraphImageLinkClean)-->
                <!--@If Defined(ParagraphImageText)-->
                    <div class="imagetext"><!--@ParagraphImageText--></div>
                <!--@EndIf(ParagraphImageText)-->
                </div><!--image -->
            
            <!--@EndIf(ParagraphImage)-->
 		</div> <!-- col-md-6 -->
             
	</div><!-- row -->
</div><!-- paragraph item right -->
