<div class="paragraph item clear">
    <a name="<!--@ParagraphID-->"></a>
    <div class="row">
        <div class="col-md-12">

            <!--@If Defined(ParagraphText)-->
            <div class="text">
                <!--@ParagraphText-->
            </div>
            <!--@EndIf(ParagraphText)-->
            <!--@If Defined(ParagraphModule)-->
            <div class="module">
                <!--@ParagraphModule-->
            </div>
            <!--@EndIf(ParagraphModule)-->
            <!--@If Defined(ParagraphImage)-->
            <div class="image">
                <!--@ParagraphImage-->

                <!--@EndIf(ParagraphImage)-->
                <!--@If Defined(ParagraphImageText)-->
                <div class="imagetext">
                    <!--@ParagraphImageText-->
                </div>
            </div>
            <!--image -->
            <!--@EndIf(ParagraphImageText)-->


        </div>
        <!-- col-md-12 -->
    </div>
    <!-- row -->
</div>