﻿@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>


<div class="employees">
    <h1>@GetString("Item.Overskrift")</h1>
    <hr>
    @if (GetLoop("Item.Direktion").Count > 0)
    {
        <h4 style="margin: 0px;">@GetString("Item.Underoverskrift")</h4>
        foreach (var item in GetLoop("Item.Direktion"))
        {
            <div class="row">
                <div class="employees__item">
                    <div class="row">
                        <div class="col-md-4 col-xs-6" style="padding-right: 0px;">
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Direktion.Billede")))
                            {
                                <img class="employees__item-img" src="/Admin/Public/GetImage.ashx?Image=@item.GetString("Item.Direktion.Billede")&Crop=0&Format=jpg&Width=250&height=150&Compression=75"/>
                            }
                        </div>
                        <div class="col-md-8 col-xs-6">
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Direktion.Navn")))
                            {
                                <div><b>@item.GetString("Item.Direktion.Navn")</b></div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Direktion.Jobtitel")))
                            {
                                <div>@item.GetString("Item.Direktion.Jobtitel")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Direktion.Afdeling")))
                            {
                                <div>@item.GetString("Item.Direktion.Afdeling")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Direktion.Telefonnummer")))
                            {
                                <div>Tlf. @item.GetString("Item.Direktion.Telefonnummer")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Direktion.Mobil")))
                            {
                                <div>Mobil @item.GetString("Item.Direktion.Mobil")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Direktion.Mail")))
                            {
                                <div><a href="mailto:@item.GetString("Item.Direktion.Mail")">@item.GetString("Item.Direktion.Mail")</a></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @if (GetLoop("Item.Medarbejdere").Count > 0)
    {
        <h4 class="employees__item-second-subheader">@GetString("Item.OverskriftTilListeNummer_2")</h4>
        foreach (var item in GetLoop("Item.Medarbejdere"))
        {
            <div class="row">
                <div class="employees__item">
                    <div class="row">
                        <div class="col-md-4 col-xs-6" style="padding-right: 0px;">
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Medarbejdere.Billede")))
                            {
                                <img class="employees__item-img" src="/Admin/Public/GetImage.ashx?Image=@item.GetString("Item.Medarbejdere.Billede")&Crop=0&Format=jpg&Width=250&height=150&Compression=75"/>
                            }
                        </div>
                        <div class="col-md-8 col-xs-6">
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Medarbejdere.Navn")))
                            {
                                <div><b>@item.GetString("Item.Medarbejdere.Navn")</b></div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Medarbejdere.Jobtitel")))
                            {
                                <div>@item.GetString("Item.Medarbejdere.Jobtitel")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Medarbejdere.Afdeling")))
                            {
                                <div>@item.GetString("Item.Medarbejdere.Afdeling")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Medarbejdere.Telefonnummer")))
                            {
                                <div>Tlf. @item.GetString("Item.Medarbejdere.Telefonnummer")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Medarbejdere.Mobil")))
                            {
                                <div>Mobil @item.GetString("Item.Medarbejdere.Mobil")</div>
                            }
                            @if (!string.IsNullOrEmpty(item.GetString("Item.Medarbejdere.Mail")))
                            {
                                <div><a href="mailto:@item.GetString("Item.Medarbejdere.Mail")">@item.GetString("Item.Medarbejdere.Mail")</a></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
</div>

