<!--@Layout.Title(Besøgssted menu)-->
<!--@Layout.Description(Bruges til menu)-->
<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 big-dropdown-fixed-width-ipad" style="clear:none !important;">
	<!--@If Defined(Item.Link.Value)-->
    <a href="<!--@Item.Link.Value-->">
    <!--@EndIf(Item.Link.Value)-->
        <div class="dropdown-name"><!--@Item.Bes_gsstedNavn.Value--></div>
        <div class="dropdown-description"><!--@Item.KortBeskrivelse.Value--></div>
        <div class="dropdown-latlnt" style="display: none"><!--@Item.Koordinater.Value--></div>
    <!--@If Defined(Item.Link.Value)-->
    </a>
    <!--@EndIf(Item.Link.Value)-->
</li>