<!--@Layout.Title(Besøgssted menu)-->
<!--@Layout.Description(Bruges til menu)-->
<li class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ipad-padding-big-drop">
	<!--@If Defined(Item.Link.Value)-->
    <a href="<!--@Item.Link.Value-->">
    <!--@EndIf(Item.Link.Value)-->
        <div class="dropdown-name"><!--@Item.Bes_gsstedNavn.Value--></div>
        <div class="dropdown-description ipad-dropdown-description"><!--@Item.KortBeskrivelse.Value--></div>
    <!--@If Defined(Item.Link.Value)-->
    </a>
    <!--@EndIf(Item.Link.Value)-->
</li>