<!--@Layout.Title(Besøgssted menu)-->
<!--@Layout.Description(Bruges til menu)-->
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ipad-padding-big-drop btn-map">
	<!--@If Defined(Item.Link.Value)-->
    <a href="<!--@Item.Link.Value-->">
    <!--@EndIf(Item.Link.Value)-->
        <div class="dropdown-name"><!--@Item.Bes_gsstedNavn.Value--></div>
    <!--@If Defined(Item.Link.Value)-->
    </a>
    <!--@EndIf(Item.Link.Value)-->
</li>