<div class="paragraph item top frontpage">
    <div class="col-md-12">
        <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div class="col-md-3 col-sm-12">
                <h2 class="header-newsletter">
                    <!--@Translate(TilmeldNyhedsbrev, "Tilmeld nyhedsbrev", Global)-->
                </h2>
            </div>
            <div class="col-md-2 col-sm-5" style="padding-bottom:15px;">
                <input type="text" id="mce-NAME" class="form-control required" required name="name" placeholder="Navn" value="">
            </div>
            <div class="col-md-2 col-sm-5" style="padding-bottom:15px;">
                <input type="email" class="form-control required" required id="mce-EMAIL" name="email" placeholder="Email" value="">
            </div>
            <div class="col-md-3 col-sm-5" style="padding-bottom:15px;">
                <select size="1" name="list" id="mce-LIST" class="form-control required" required>
                    <option value="">- Vælg liste</option>
                    <option value="594dd6cf4a">Levende læring</option>
                    <option value="3a8a439c26">Ringkøbing-Skjern Museum</option>
                    <option value="03a2b90105">Turistaktører</option>
                    <option value="e77398b843">Skoler og institutioner</option>
                </select>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00f09526f32471c3bb0b505ba_3a8a439c26" tabindex="-1" value=""></div>
            <div class="col-md-2 col-sm-2">
                <button type="submit" id="mc-embedded-subscribe" class="btn btn-default Button01" value="<!--@Translate(subscribe, " Tilmeld ")-->"><!--@Translate(subscribe, "Tilmeld")--></button>
            </div>
        </form>
    </div>
</div>