<!--@Layout.Title(Spot)-->
<!--@Layout.Description(Til højre kolonne og spots på forsiden)-->
<div class="paragraph spot <!--@If(ParagraphContainer=frontspots)-->col-md-6 col-sm-6<!--@Else-->col-md-12 col-sm-6 col-xs-12<!--@EndIf-->">
    <a name="<!--@ParagraphID-->"></a>
    <div class="image spot-holder">
        <!--@If Defined(ParagraphImageLinkClean)--><a class="image-link" href="<!--@ParagraphImageLinkClean-->" <!--@If Defined(ParagraphImageLinkTarget)--> target="<!--@ParagraphImageLinkTarget-->"<!--@EndIf(ParagraphImageLinkTarget)-->><!--@EndIf(ParagraphImageLinkClean)--><!--@If Defined(ParagraphImageClean)-->
        <img src="/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Resolution=72&Compression=90&Width=1000&Height=591&Crop=0" border="0" alt="<!--@ParagraphImageMouseOver-->" title="<!--@ParagraphImageMouseOver-->"><!--@EndIf(ParagraphImageClean)-->
        <!--@If Defined(ParagraphImageCaption)-->
        <div class="image-text<!--@If Not Defined(ParagraphImage)--> link-no-image<!--@EndIf(ParagraphImage)-->">
            <!--@ParagraphImageCaption-->            
        </div>
        <!--@EndIf(ParagraphImageCaption)-->
        <!--@If Defined(ParagraphImageLinkClean)--></a>
        <!--@EndIf(ParagraphImageLinkClean)-->
        <!--@If Not Defined(ParagraphImageClean)-->
        <div class="image-text">
            <!--@If Defined(ParagraphImageLinkClean)--><a class="image-link" href="<!--@ParagraphImageLinkClean-->" <!--@If Defined(ParagraphImageLinkTarget)--> target="<!--@ParagraphImageLinkTarget-->"<!--@EndIf(ParagraphImageLinkTarget)-->><!--@EndIf(ParagraphImageLinkClean)-->
            <!--@ParagraphImageCaption-->
            <!--@If Defined(ParagraphImageLinkClean)--></a>
            <!--@EndIf(ParagraphImageLinkClean)-->
        </div>
        <!--@EndIf(ParagraphImageClean)-->
    </div>
    <!--image -->
    <!--@If Defined(ParagraphText)-->
    <div class="text">
        <!--@ParagraphText-->
    </div>
    <!--@EndIf(ParagraphText)-->
    <!--@If Defined(ParagraphModule)-->
    <div class="module">
        <!--@ParagraphModule-->
    </div>
    <!--@EndIf(ParagraphModule)-->
</div>