﻿<style type="text/css">
         /* Client-specific Styles */
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  */
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important;}
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {color: #33b9ff;text-decoration: none;text-decoration:none!important;}
         /*STYLES*/
         table[class=full] { width: 100%; clear: both; }
         /*IPAD STYLES*/
         @media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #33b9ff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #33b9ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 440px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         img[class=banner] {width: 440px!important;height:220px!important;}
         img[class=colimg2] {width: 440px!important;height:220px!important;}


         }
         /*IPHONE STYLES*/
         @media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #ffffff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #ffffff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         img[class=banner] {width: 280px!important;height:140px!important;}
         img[class=colimg2] {width: 280px!important;height:140px!important;}
         td[class="padding-top15"]{padding-top:15px!important;}


         }
      </style>

<!-- Start of preheader -->

<!-- End of preheader -->

<!-- Start of header -->

<!-- End of Header -->

<!-- Start of main-banner -->

<!-- End of main-banner -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- Start of heading -->

<!-- End of heading -->

<!-- 2columns -->

<!-- end of 2 columns -->

<!-- 2columns -->

<!-- end of 2 columns -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- Start of heading -->

<!-- End of heading -->

<!-- article -->

<!-- end of article -->

<!-- article -->

<!-- end of article -->

<!-- Start of seperator -->

<!-- End of seperator -->

<!-- footer -->

<!-- end of footer -->

<!-- Start of Postfooter -->

<!-- End of postfooter -->


<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="100%" max-width="622px" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td align="center" height="60" style="font-size:1px; line-height:1px;" st-content="separator">
								<p></p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="banner">
	<tbody>
		<tr>
			<td>
				<table width="60" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="100%" max-width="622px" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
									<tbody>
										<tr>
										<!-- start of image -->
											<td style="border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;text-align: center;">
												<div class="imgpop">
													<a href="#"><img width="620" border="0" height="80" alt="" style="display:block; border:none; outline:none; text-decoration:none;" src="http://www.levendehistorie.dk/files/System/mailimg/logo.png" class="banner" st-image="banner-image" id="5eydfco2unwgsyvi"></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
										<!-- end of image -->
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="622px" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true" bgcolor="#ffffff">
					<tbody>
						<tr>
							<td style="height: 30px; font-size:1px; line-height:1px;border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;text-align: center;" st-content="separator">
								<p></p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="622" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true" bgcolor="#ffffff">
					<tbody>
						<tr>
							<td align="center" style="height: 30px;font-size:1px; line-height:1px; border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;" st-content="separator">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="preheader">
	<tbody>
		<tr>
			<td>
				<table width="622" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" bgcolor="#ffffff" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="622" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
									<tbody>
										<tr>
											<td style="border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;">
												<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td align="left" valign="middle" style="font-family: Arial, sans-serif; font-size: 13px;color: #282828; padding-left: 31px;padding-right: 31px;" st-content="viewonline">
																<p style="padding-bottom: 20px;">
																	<span style="text-decoration: none; color: rgb(51, 51, 51); font-size: 22px;"><strong>Tak for din ordre</strong></span>
																</p>
																<p>
																Din ordre indeholder f&oslash;lgende:<br/>
 <table>
<!--@LoopStart(OrderLines)-->
<tr>
        <!--@If(OrderLines.LoopCounter==1)-->
					 <td colspan="2"><strong><!--@Ecom:Order:OrderLine.ProductName--></strong></td>
					<!--@Else-->
					<td><!--@Ecom:Order:OrderLine.Quantity--> x <!--@Ecom:Order:OrderLine.ProductName--> </td><td><!--@Ecom:Order:OrderLine.Price.Price--> <!--@Ecom:Order:OrderLine.Price.CurrencyCode--></td>
			<!--@EndIf-->
			</tr>
<!--@LoopEnd(OrderLines)-->
<tr>
		  <td><strong>Total:</strong></td><td><!--@Ecom:Order.Price.Price--> <!--@Ecom:Order.CurrencyCode--></td>
		  </tr>
</table></p>
			

<h4>Dato og tid</h4>
  
 <p><!--@aftalttid.Date.LongDate--> kl. <!--@aftalttid.Date.ShortTime--></p>

<h4 >Kontaktoplysninger</h4><br/>
                                                
<p>Navn: <!--@Ecom:Order.Customer.Name--></p>
<p>Email: <!--@Ecom:Order.Customer.Email--></p>
<p>telefon: <!--@Ecom:Order.Customer.Phone--></p>
                                                  
<p>Skole / Firma: <!--@Ecom:Order.Customer.Company--></p>
<p>EAN: <!--@Ecom:Order.Customer.EAN--></p>
<p>CVR: <!--@Ecom:Order.Customer.VatRegNumber--></p>
<p>Adresse: <!--@Ecom:Order.Customer.Address--></p>
<p>Postnr/By:<!--@Ecom:Order.Customer.Zip-->, <!--@Ecom:Order.Customer.City--></p>
                                                   

<!--@If(Ecom:Order.Customer.Comment<>"")-->
<h4>Jeres kommentar</h4>
<p><!--@Ecom:Order.Customer.Comment--></p>
                                   
<!--@EndIf-->
<!--@If(Ecom:Order.Comment<>"")-->
<h4>Vores kommentarer</h4>
<P><!--@Ecom:Order.Comment--></P>
<!--@EndIf-->

<!--@LoopStart(OrderLines)-->
    <!--@If(OrderLines.LoopCounter==1)-->
 <!--@If(Ecom:Product:Field.butikmulig=="True")-->

        <p><strong style="margin-bottom:0px">Butikken skal have åbent</strong> <!--@butikaaben.Clean--></p>
<!--@EndIf--><!--@EndIf--><!--@LoopEnd(OrderLines)-->

																<p style="padding-bottom: 25px;" >
																	Har du sp&oslash;rgsm&aring;l er du altid velkommen til at kontakte os direkte, eller se om svaret findes her: <a href="http://www.levendehistorie.dk/Find_svar">http://www.levendehistorie.dk/Find_svar</a><br/>
																	Med venlig hilsen<br/>


																</p>


<p><strong>Ordre nr: <!--@Ecom:Order.ID--></strong></p>
																<p style="padding-bottom: 10px;"></p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>


<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="banner">
	<tbody>
		<tr>
			<td>
				<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
									<tbody>
										<tr>
								<!-- start of image -->
											<td align="center">
												<div class="imgpop">
													<a href="http://www.levendelaering.dk"><img width="622" border="0" height="62" alt="" style="display: block; border: none; outline: none; text-decoration: none;" src="http://www.levendehistorie.dk/files/System/mailimg/cfaa4ec58b8b45b59d4c07b3f79498d8.png" class="banner" st-image="banner-image" id="y543u4hobxcd6lxr"></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- end of image -->
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#f9f9f9" cellpadding="0" cellspacing="0" border="0" st-sortable="seperator">
	<tbody>
		<tr>
			<td>
				<table width="622" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td align="center" height="30" style="font-size:1px; line-height:1px;" st-content="separator">
								<p>
									<span style="font-size: 24pt;"></span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" st-sortable="2-images-columns">
	<tbody>
		<!-- Spacing -->
		<tr>
			<td width="100%" height="60"></td>
		</tr>
		<!-- Spacing -->
		<tr>
			<td>
				<table width="622" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
									<tbody>
										<tr>
											<td>
												<table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
													<tbody>
														<tr>
															<td>
															<!-- start of text content table -->
																<table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
																	<tbody>
																		<!-- image -->
																		<tr>
																			<td width="270" align="center" class="devicewidth">
																				<div class="imgpop">
																					
																				</div>
																			</td>
																		</tr>
																		<!-- Spacing -->
																		<tr>
																			<td width="100%" height="20"></td>
																		</tr>
																		<!-- Spacing -->
																		<!-- title -->
																		<tr>
																			<td width="270">
																				<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
																					<tbody>
																						<tr>
																							<td style="font-family: Arial, sans-serif; font-size: 18px; color: #555555; padding-left: 10px; padding-right: 10px;" align="center" height="50" st-content="text-content">
																								
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<!-- end of title -->
																	</tbody>
																</table>
															</td>
														</tr>
													<!-- end of text content table -->
													</tbody>
												</table>
												<!-- end of left column -->
												<!-- start of right column -->

												<table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
													<tbody>
														<tr>
															<td>
															<!-- start of text content table -->
																<table width="270" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
																	<tbody>
																		<!-- image -->
																		<tr>
																			<td width="270" align="center" class="devicewidth">
																				<div class="imgpop">
																					<img src="http://www.levendehistorie.dk/files/System/mailimg/Ringkobing-Skjern_Museum.png" alt="" border="0" width="69" height="60" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" st-image="right-image" id="npl7lffz8ouhaor">
																				</div>
																			</td>
																		</tr>
																		<!-- Spacing -->
																		<tr>
																			<td width="100%" height="20"></td>
																		</tr>
																		<!-- Spacing -->
																		<!-- title -->
																		<tr>
																			<td width="270">
																				<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
																					<tbody>
																						<tr>
																							<td style="font-family: Arial, sans-serif; font-size: 18px; color: #555555; padding-left: 10px; padding-right: 10px;" align="center" height="50" st-content="text-content">
																								<p>
																									<span style="color: rgb(51, 51, 51);"><strong><span style="font-size: 13px;">Ringk&oslash;bing-Skjern Museum</span></strong></span>
																									<span style="line-height: 12px;height: 12px;display: block;"></span>
																								</p>
																								<p>
																									<span style="font-size: 12px; color: #555555; line-height: 20px;">+45 9736 23 43</span>
																									<span style="line-height: 5px;height: 5px;display: block;"></span>
																								</p>
																								<p>
																									<a href="mailto:info@levendehistorie.dk"><span style="font-size: 12px; color: #555555; line-height: 20px;">info@levendehistorie.dk</span></a>
																									<span style="line-height: 5px;height: 5px;display: block;"></span>
																								</p>
																								<p>
																									<a href="http://www.levendehistorie.dk"><span style="font-size: 12px; color: #c5892f; line-height: 20px;"><strong>www.levendehistorie.dk</strong></span></a>
																								</p>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<!-- end of title -->
																		<!-- end of content -->
																	</tbody>
																</table>
															</td>
														</tr>
														<!-- end of text content table -->
													</tbody>
												</table>
												<!-- end of right column -->
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!-- Spacing -->
		<tr>
			<td width="100%" height="60"></td>
		</tr>
		<!-- Spacing -->
	</tbody>
</table>

