<style>
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		font-family: Open Sans;
		color: #616161;
		font-size:13px;}
	h1, h2, h3, h4 {
		font-size:18px;}

</style>

<h2><!--@Translate(questconfirmation, "Quest confirmation")--></h2>


<table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table3">
    <tr>
        <td width="34%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table2">
	            <tr>
	                <td valign="top"><b><!--@Translate(questaddress, "Quest address")--></b></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Company--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Name--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Address--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Address2--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Zip-->&nbsp;<!--@Ecom:Order.Customer.City--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Country--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.EAN--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Phone--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Fax--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Cell--></td>
	            </tr>
	            <tr>
	                <td valign="top"><!--@Ecom:Order.Customer.Email--></td>
	            </tr>
            </table>
        </td>
        <td width="33%" valign="top">
        </td>
        <td width="33%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table5">
	            <tr>
	                <td width="100%" valign="top" colspan="2"><b><!--@Translate(questinformations, "Quest informations")--></b></td>
	            </tr>
	            <tr>
	                <td width="50%" valign="top"><!--@Translate(questnumber, "Questnumber")-->:</td>
	                <td valign="top"><!--@Ecom:Order.ID--></td>
	            </tr>
	            <tr>
	                <td width="50%" valign="top"><!--@Translate(orderdate, "Date")-->:</td>
	                <td valign="top"><!--@Ecom:Order.Date--></td>
	            </tr>
	            <tr>
	                <td width="50%" valign="top"><!--@Translate(clientip, "Client IP")-->:</td>
	                <td valign="top"><!--@Ecom:Order.IP--></td>
	            </tr>
	        </table>
        </td>
        
    </tr>
</table>

<br /><br />

<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-top: 15px;">
<tr class="separator">
	<td colspan="4"></td>
</tr>

<tr class="basketheader">
	<td><b><!--@Translate(Product, "Product")--></b></td>
	<td><b><!--Translate(price, "Price")--></b></td>
	<td><b><!--@Translate(Qty, "Qty")--></b></td>
	<td><b><!--Translate(linietotal, "Total")--></b></td>
</tr>
<!--@LoopStart(OrderLines)-->
<tr class="orderline">
	<td nowrap><a href="<!--@Ecom:Order:OrderLine.ProductLink-->"><!--@Ecom:Order:OrderLine.ProductName.Short--></a></td>
	<td><!--Ecom:Order:OrderLine.Price.PriceFormatted--></td>
	<td><!--@Ecom:Order:OrderLine.Quantity--></td>
	<td><!--Ecom:Order:OrderLine.TotalPrice.PriceFormatted--></td>
</tr>
<!--@LoopEnd(OrderLines)-->
<tr class="separator">
	<td colspan="4"><br /><br /></td>
</tr>
<tr>
    <td colspan="4">
        <b><!--@Translate(Comment, "Comment")--></b> :<br>
        <!--@Ecom:Order.Customer.Comment-->
    </td>
</tr>
</table>