<!-- Nyhedsbrev nyhedsliste -->

<a name="<!--@ParagraphID-->"></a>

   <!-- content mbk -->
   <!--@LoopStart(NewsList)-->


   <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth" bgcolor="#f2f2f2">
   <tbody>
      <tr>
         <td>
            <!-- start of text content table -->
            <table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
               <tbody>
                  <!-- image -->
                  <tr>
                     <td width="270" height="150" align="center" class="devicewidth">
                     <!-- img -->
                        <!--@If Defined(News:SmallImage)-->
                        <img src="http://<!--@Global:Request.Host-->/admin/public/getimage.ashx?Image=<!--@News:SmallImageClean-->&Resolution=72&Compression=90&Width=270&Height=150&Crop=0" alt="<!--@News:Heading-->" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2"> 
                        <!--@EndIf(News:SmallImage)-->

                        <!--@If Not Defined(News:SmallImage)-->
                        <!--@If Defined(News:ImageClean)-->
                        <img src="http://<!--@Global:Request.Host-->/admin/public/getimage.ashx?Image=<!--@News:ImageClean-->&Resolution=72&Compression=90&Width=270&Height=150&Crop=0" alt="<!--@News:Heading-->" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2"> 
                        <!--@EndIf(News:ImageClean)-->
                        <!--@EndIf(News:SmallImage)-->

                     </td>
                  </tr>
                  <!-- title -->
                  <!--@If Defined(News:Heading)-->
                  <tr>
                     <td width="100%" height="20"></td>
                  </tr>
                  <tr>
                     <td style="font-family: Helvetica Neue, Helvetica, arial, sans-serif;  font-weight:300;  font-size: 18px; color: #333333; text-align:left;line-height: 24px;">
                        <!--@News:Heading.Remove(30)-->
                        
                     </td>
                  </tr>
                  <!--@EndIf(News:Heading)-->
                  <!-- end of title -->
                  <!-- Spacing -->
                  <tr>
                     <td width="100%" height="1"></td>
                  </tr>
                  <!-- /Spacing -->
                  <!-- content -->
                  <tr>
                     <td style="font-family: Helvetica Neue, Helvetica, arial, sans-serif; font-size: 14px; color: #333333; text-align:left;line-height: 24px;">
                     <!--@News:Manchet.Remove(50)-->

                     </td>
                  </tr>
                  <!-- end of content -->
                  <!-- button -->
                  <tr>
                     <td>
                        <table width:"100px" align="left" cellpadding="0" cellspacing="0" border="0" >
                          
                            <!-- Spacing -->
                           <tr>
                              <td width="100%" height="7"></td>
                           </tr>
                           <!-- /Spacing --> 
                           <tr>
                              <td width="auto" valign="middle" height="30" align="center" style=" background-color:#c88817; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family: Helvetica Neue, Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:18px; padding-right:18px;">
                              
                                 <span style="color: #ffffff; font-weight: 300;">
                                    
                                    <a href="http://<!--@Global:Request.Host-->/<!--@News:Href-->" style="color:#ffffff;text-decoration:none;">Læs mere</a>
                                 

                                 </span>
                              </td>
                           </tr>

                        </table> 
                     </td>
                  </tr>
                  <!-- /button -->
               </tbody>
            </table>
         </td>
      </tr>
      <!-- end of text content table -->
      <!-- Spacing -->
      <tr>
         <td width="100%" height="25"></td> 
      </tr>
      <!-- Spacing -->
   </tbody>
</table>
<!--@LoopEnd(NewsList)-->
<!-- end of left column -->



