<!-- Nyhedsbrev nyhedsliste -->

<a name="<!--@ParagraphID-->"></a>

<!-- content mbk -->
      <!-- content mbk -->
   <table width="100%" bgcolor="#f2f2f2">
   <tbody>
      <tr>
         <td>   
   <!--@LoopStart(NewsList)-->

   <table width="49%" align="left" border="0" cellpadding="" cellspacing="0" class="devicewidth">
   <tbody>

      <tr>
         <td>
            <!-- start of text content table -->
            <table width="270px" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
               <tbody>
                  <!-- image -->
                  <tr>
                     <td width="270" height="150" align="center" class="devicewidth">
                     <!-- img -->
                    <!--@If Defined(News:SmallImage)-->
                        <img src="http://<!--@Global:Request.Host-->/admin/public/getimage.ashx?Image=<!--@News:SmallImageClean-->&Resolution=72&Compression=90&Width=270&Height=150&Crop=0" alt="<!--@News:Heading-->" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2"> 
                        <!--@EndIf(News:SmallImage)-->

                        <!--@If Not Defined(News:SmallImage)-->
                        <!--@If Defined(News:ImageClean)-->
                        <img src="http://<!--@Global:Request.Host-->/admin/public/getimage.ashx?Image=<!--@News:ImageClean-->&Resolution=72&Compression=90&Width=270&Height=150&Crop=0" alt="<!--@News:Heading-->" border="0" width="270" height="150" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2"> 
                        <!--@EndIf(News:ImageClean)-->
                        <!--@EndIf(News:SmallImage)-->
                     </td>
                  </tr>
                  <!-- /button -->
               </tbody>
            </table>
         </td>
      </tr>
      <!-- end of text content table -->
      <!-- Spacing -->
      <!-- Spacing -->
   </tbody>
</table>
<!-- end of left column -->



 <table width="49%" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
   <tbody>
      <tr>
         <td>
            <!-- start of text content table -->
            <table width="270px" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
               <tbody>
                  <!-- image -->
                   <tr>
                     <td style="font-family: Helvetica Neue, Helvetica, arial, sans-serif; font-weight:300;  font-size: 18px;  color: #333333; text-align:left;line-height: 24px;">
                        <!--@If Defined(News:Heading)--><!--@News:Heading--><!--@EndIf(News:Heading)-->
                        
                     </td>
                  </tr>
                  <!-- end of title -->
                  <!-- Spacing -->
                  <tr>
                     <td width="100%" height="1"></td>
                  </tr>
                  <!-- /Spacing -->
                  <!-- content -->
                  <tr>
                     
                     <td style="font-family: Helvetica Neue, Helvetica, arial, sans-serif; font-size: 14px; color: #333333; text-align:left;line-height: 24px;">
                     <!--@News:Manchet--><!--@News:FirstXChar-->

                     </td>
                   
                  </tr>
                  <!-- end of content -->
                    <!-- button -->
                  <tr>
                     <td width="auto" valign="middle" height="30" align="left" style="  border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family: Helvetica Neue, Helvetica, arial, sans-serif; text-align:left;  ">
                           
                     <span style="color: #c88817; font-weight: bold;">
                        
                        <a style="color:#c88817;" href="http://<!--@Global:Request.Host-->/<!--@News:Href-->" style="text-decoration:none;">Læs mere</a>
                     

                     </span>
                     </td>
                  </tr>
                  <!-- /button -->
               </tbody>
            </table>
         </td>
      </tr>
      <!-- end of text content table -->
      <!-- Spacing -->
      
      <!-- Spacing -->
   </tbody>
</table>
<table width="100%" bgcolor="#ffffff">
   <tr>
         <td width="100%" height="20" bgcolor="#f2f2f2"></td> 
      </tr>
</table>

<!--@LoopEnd(NewsList)-->
<!-- end of left column -->
</td>
      </tr>

   </tbody>
</table>

