/// -----------------------------------------------------------------------------
    // WARNING: THIS FILE IS AUTO GENERATED FROM _variables.cshtml
    // This file contains all application-wide Less variables.
    // -----------------------------------------------------------------------------
@lang-tekst:	none;
@bes-_gssteds-navn:	"Abelines Gaard";
@dansk-forside:	"Default.aspx?ID=168";
@tysk-forside:	"Default.aspx?ID=996";
@slideshow-top:	"187";
@hoejre-fast-side-_-id:	"185";
@venstre-fast-side-_-id:	"186";
@sidefod-afsnits-_-id:	none;
@sidefod-print-afsnits-_-id:	none;
@sekund-_r-menu-hovedside-_-id:	none;
