/// -----------------------------------------------------------------------------
    // WARNING: THIS FILE IS AUTO GENERATED FROM _variables.cshtml
    // This file contains all application-wide Less variables.
    // -----------------------------------------------------------------------------
@lang-tekst:	none;
@bes-_gssteds-navn:	"Bork Vikingehavn";
@dansk-forside:	"Default.aspx?ID=1874";
@tysk-forside:	"Default.aspx?ID=959";
@slideshow-top:	"166";
@hoejre-fast-side-_-id:	"165";
@venstre-fast-side-_-id:	"167";
@sidefod-afsnits-_-id:	none;
@sidefod-print-afsnits-_-id:	none;
@sekund-_r-menu-hovedside-_-id:	none;
