/// -----------------------------------------------------------------------------
    // WARNING: THIS FILE IS AUTO GENERATED FROM _variables.cshtml
    // This file contains all application-wide Less variables.
    // -----------------------------------------------------------------------------
@lang-tekst:	none;
@bes-_gssteds-navn:	"Levende historie";
@dansk-forside:	"Default.aspx?ID=662";
@tysk-forside:	"Default.aspx?ID=799";
@slideshow-top:	"54";
@hoejre-fast-side-_-id:	"31";
@venstre-fast-side-_-id:	"38";
@sidefod-afsnits-_-id:	none;
@sidefod-print-afsnits-_-id:	none;
@sekund-_r-menu-hovedside-_-id:	none;
