/* Import af ekstern css
------------------------------------------------------------------*/
@import url(typografi.css);
@import url(bootstrap_clearfix.css);

/* Overordnede elementer
------------------------------------------------------------------*/
html {
    background: url(../images/pattern-dust.png) repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    html {
        background: url(../images/pattern-dust_@2X.png) repeat;
    }
}
body {
    background:url(../images/bg_header.jpg) repeat-x center top
}
.page-holder {
    margin:0 auto;
    max-width:100%;
    padding-top:15px;
}
.page-bg {
    background: url(../images/bg_content.png) no-repeat left 15px top 0px;
}
.page-width {
    margin:0px auto;
    max-width:1400px;
}
img {
    max-width:100%;
}
.logo {
    margin-bottom:15px;
    margin-top:12px;
}

.logo img {
    min-width:150px;
}

.paragraph {
    margin:15px 0;
}
article, #RightColoumn {
    margin:15px 0;
}
.RightColoumn {
    margin-right: -15px;
}
#RightColoumn {
    margin-right: -15px
}
#RightColoumn [class*="col"] {
    margin-bottom: 30px
}
/* Navigation
------------------------------------------------------------------*/
/* Topmenu/toolsmenu fælles
------------------------------------------------------------------*/
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: none;
}
@media only screen and (min-width:992px) {
    #toolsmenu a, #topmenu a {
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
    }
    #toolsmenu a:hover, #toolsmenu a.inpath, #toolsmenu a.activeitem, #topmenu a:hover, #topmenu a.inpath, #topmenu a.activeitem, #topmenu a#activeitem {
        border-bottom: 3px solid #c88817;
        color: #c88817;
    }
    .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0px
    }
    .navbar li {
        float: left
    }
    ul.M1 {
        display:none;
    }
    .navbar-inverse {
        background:none;
        border: none;
    }
    .navbar-default {
        background: none;
        border: none;
    }
    #topmenu ul.M0 {
        display: none;
    }
    #topmenu .testman ul.M0, #topmenu .display ul.M0 {
        display: block;
    }
    .col-md-12.share {
        margin-left:-15px;
    }
/* Topmenu
------------------------------------------------------------------*/
    #topmenu {
        xxxbackground:url(../images/bg_topmenu.png) no-repeat center top 3px;
        margin: 0 0 0 0px
    }
    .navbar.topmenu {
        margin-bottom:0px;
    }
    #topmenu a {
        display: block;
        margin-right: 23px;
        padding: 23px 0 6px;
        font-size: 13px;
    }
    .visited {
        background:url(../images/icon_visited.gif) no-repeat right center #4a4641;
        color:#e3e2e3;
        margin-top:11px;
        padding: 10px 52px 9px 12px;
        text-transform: uppercase;
    }
    .visited:hover, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        background:url(../images/icon_visited.gif) no-repeat right center #4a4641;
        color:#e3e2e3;
    }
    .btn {
        border-radius: 0;
    }
/* Toolsmenu
------------------------------------------------------------------*/
    #toolsmenu {
        background: url(../images/toolsmenu_bg.png) no-repeat right 40px bottom;
        margin-top:5px;
        padding-bottom:19px;
    }
    #toolsmenu.navbar-collapse {
        padding-right:0px;
    }
    #toolsmenu a {
        font-size: 11px;
        margin-right: 15px
    }
    #toolsmenu a:hover {
        padding-bottom:9px;
    }
    #toolsmenu ul {
        float: right
    }
/* Venstremenu
------------------------------------------------------------------*/
    #leftmenu {
        background: url(../images/bg_leftmenu.png) repeat-x left top;
        min-height: 650px;
        padding: 30px 15px 0 30px;
        margin: 0 0 0 -30px
    }
    #leftmenu a {
        text-decoration: none;
        color:#333;
        font-size: 13px;
    }
    #leftmenu a:hover {
        color:#C88817;
    }
    #leftmenu li {
        width: 100%
    }
    #leftmenu a.L2, #leftmenu a.L2_Active, .section-menu #leftmenu a.L1, .section-menu #leftmenu a.L1_Active {
        display: block;
        font-weight: bold;
        padding: 4px 0
    }
    #leftmenu a.L2_Active {

    }
    #leftmenu .M2 a, .section-menu #leftmenu .M1 a {
        font-size: 13px;
        padding-left: 10px
    }
    #leftmenu .M2 a:hover, #leftmenu .M0 a[class*="_Active"], .section-menu #leftmenu .M1 a:hover, .section-menu #leftmenu .M1 a[class*="_Active"] {
        background: url(../images/icon_nav_arrow.gif) no-repeat 0px 4px;
        color:#C88817;
    }
    #leftmenu .M0 .M1 a.L2_Active, #leftmenu .M0 .M1 a.L2:hover {
        background-position: 0px 10px;
    }
    #leftmenu .M0 a.L2_Active, #leftmenu .M0 a.L1_Active {
        background:none;
    }
    #leftmenu ul.M2 {
        padding-left: 10px
    }
    #leftmenu ul.M3 {
        padding-left: 10px
    }
    #leftmenu ul.M4 {
        padding-left: 10px
    }
    #leftmenu ul.M5 {
        padding-left: 10px
    }
    #leftmenu ul.M0 {
        display: inline-block;
        margin-bottom: 15px;
    }
    #Forside .page-bg {
        background:none;
    }
    #leftmenu ul.M1 {
        display:block;
    }
    #front-activities {
        background:url(../images/bg_see_more.png) no-repeat center bottom;
        padding-bottom:25px;	
    }
    #ContentFull {
        margin-left:-15px;
        margin-right:-30px;
    }
    #ContentArea {
        margin-left:-15px;
    }
    #RightColoumn, .RightColoumn {
        margin-right:-30px;
    }
}
#front-activities .text p {
    color: #3f3b36;
}
@media only screen and (max-width:991px) {
/* Topmenu
------------------------------------------------------------------*/
    .container.page-bg {
        background-size:720px;
    }
    .topmenu {
        min-height:0px;
        border:none;
        margin: 0 -15px;
    }
    .topmenu ul {
        float:left;
        list-style: none;
        margin-bottom:30px;
        padding:0px;
        width:100%;
    }
    .topmenu ul.M1 a:before {
        content:" - ";
        margin-right:10px;
    }
    .topmenu ul.M1 a {
        background:none;
        margin-left:20px;
    }
    .topmenu ul.M1 {
        border-top:1px solid #dbdad9;
        margin-bottom:0px;
    }
    .topmenu ul.M1 li:last-child {
        border:none;
    }
    #topmenu .row {
        background:#fff;
    }
    .topmenu li {
        border-bottom:1px solid #dbdad9;
        float:left;
        width: 100%;
    }
    .topmenu a {
        background: url(../images/menu_arrow.png) no-repeat right 10px center;
        color:#333;
        display:block;
        /*padding:13px 0;*/
        padding:7px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .topmenu a:hover {
        color: #c5892f;
    }
    .topmenu {
        position: absolute;
        z-index: 9999;
        left:0;
        right:0;
        margin:0 auto;
    }
    #topmenu ul {
        margin-bottom:0px;
    }
    .navbar {
        margin-bottom:0px;
    }
    .navbar-header {
        float: none;
        background:none;
    }
    .navbar-toggle {
        display: block;
        border: none;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-inverse {
        border:none;
        background:none;
    }	
    #toolsmenu-dropdown {
        display: block;
    }
    #front-activities .col-med-12 {
        padding-top:30px;
    }
    .page-name {
        color:#000;
        float:left;
        font-weight: bold;
        margin-top:10px;
        text-transform: uppercase;
    }
    .section-menu {
        border-bottom: 1px solid #ccc;
         position: relative;
        z-index: 1;
    }
    #leftmenu ul {
        list-style: none;
        margin:0px;
        padding:0px;
    }
    #leftmenu a {
        text-decoration: none;
        color:#333;
        font-size: 13px;
    }
    #leftmenu a:hover {
        color:#C88817;
    }
    #leftmenu li {
        width: 100%
    }
    #leftmenu a.L1, #leftmenu a.L1_Active {
        display: block;
        font-weight: bold;
        padding: 4px 0 4px 15px;
    }
    #leftmenu .M1 a {
        font-size: 13px;
    }
    #leftmenu a[class*="L1_Active"]:hover, #leftmenu a[class*="L1_Active"] {
        background: url(../images/icon_nav_arrow.gif) no-repeat 5px 10px
    }
    #leftmenu ul.M0 {
        padding-bottom: 15px;
        padding-left: 0px;
    }
    #leftmenu ul.M1 {
        padding-left: 20px;
    }
    #leftmenu ul.M2, #topmenu ul.M2 {
        padding-left: 15px;
    }
    #leftmenu ul.M3, #topmenu ul.M3 {
        padding-left: 25px;
    }
    #leftmenu ul.M4, #topmenu ul.M4 {
        padding-left: 35px;
    }
    #leftmenu ul.M5, #topmenu ul.M5 {
        padding-left: 45px;
    }
    aside .section-menu .navbar-header {
        background:#fff;
        padding-left: 15px;
    }

}
.language-holder {
    border-left:1px solid #ccc;
}
.language a {
    width:24px;
    height:24px;
    display:block;
    margin-left:5px;
    text-decoration: none;
}
#toolsmenu .language a {
    margin-right:0px;
    display: inline-block;
}
#toolsmenu li.language.dk {
    padding-left:15px;
}
li.language.dk {
    background:url(../images/icon_dk.gif) no-repeat center center;
}
li.language.dk:hover {
    background:url(../images/icon_dk_active.gif) no-repeat center center;
}
li.language.de {
    background:url(../images/icon_de.gif) no-repeat center center;
}
li.language.de:hover {
    background:url(../images/icon_de_active.gif) no-repeat center center;
}
/* Footer/adresse
------------------------------------------------------------------*/
footer {
    color: #fff;
    border-bottom: 3px solid #c88817;
    margin: 30px 0 0;
    text-align: center
}
footer .text {
    padding: 0 17%
}
@media only screen and (max-width:767px) {
    footer {
        background:url(../images/bg_visited.jpg) no-repeat bottom center #2e2c28;
    }
    .row.address  {
        padding:0 10%
    }
    .socialbar {
        text-align: center;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    footer {
        background: url(../images/bg_footer.jpg) no-repeat 25% center #2e2c28;
        padding: 85px 0 0;
        height:420px;
    }
    .row.address  {
        padding:0 20%
    }
    .socialbar {
        text-align: center;
    }
}
@media only screen and (min-width:992px) {
    footer {
        background: url(../images/bg_footer.jpg) no-repeat center center #2e2623;
        padding: 109px 0
    }
    .paragraph.spot.col-md-6 {
        height:274px;
    }
}
.newsletter-container {
    background:url(../images/bg_newsletter.png) repeat-x center bottom;
    padding:0 15px 7px;
}
.newsletter-container .Button01 {
    margin: 0;
    padding: 0px 20px;
    min-width: 100%;
}
.newsletter-container .module {
    margin:15px 0 0;
}
address .col-xs-12 .follow {
    text-align: center;
}
.address {
    margin-top: 15px
}
/* Socialbar/nyhedsbrev tilmelding
------------------------------------------------------------------*/
.header-newsletter {
    margin-top:9px;
}
.col-sm-12 .header-newsletter {
    text-align: center;
    white-space: nowrap;
}
.follow {
    display: inline-block;
    margin-top:15px;
}
.follow a {
    display: block;
    height: 40px;
    margin: 0px 8px;
    width: 40px
}

@media screen and (max-width:767px){
    .follow a{
        margin:0px;
    }
}
.follow.facebook a {
    background: url(../images/icon_fb.png) no-repeat center center
}
.follow.facebook a:hover {
    background: url(../images/icon_fb_active.png) no-repeat center center
}
.follow.youtube a {
    background: url(../images/icon_youtube.png) no-repeat center center
}
.follow.youtube a:hover {
    background: url(../images/icon_youtube_active.png) no-repeat center center
}
.follow.instagram a {
    background: url(../images/icon_instagram.png) no-repeat center center
}
.follow.instagram a:hover {
    background: url(../images/icon_instagram_active.png) no-repeat center center
}
.follow.rss a {
    background: url(../images/icon_rss.png) no-repeat center center
}
.follow.rss a:hover {
    background: url(../images/icon_rss_active.png) no-repeat center center
}

.Rss{
    position: absolute;
    top: 0px;
    right: 10px;
}

.share {
    border-top: 1px solid #cfcfce;
    border-bottom: 1px solid #cfcfce;
    color: #9d9a97;
    display: block;
    margin: 15px 0 0;
    padding: 12px 0 10px;
    text-transform: uppercase
}
.addthis_toolbox {
    float: right;
    width: 60%;
}
.addthis_toolbox a {
    float: right !important;
}
.addthis_button_google_plusone {
    width: 75px
}

/* Slider
------------------------------------------------------------------*/
.slider-bg {
    background: #dbdad9;
    width: 100%;
}
#slideshow .row, #topbanner .row {
    margin-left: 0px;
    margin-right: 0px
}
#slideshow .bx-wrapper {
    margin-bottom: 30px;
}
.slider-content {
    position: relative
}
.slider-text {
    position: absolute;
    z-index: 9999;
    left: 25px;
    top: -200px;
    max-width: 480px;
    min-height: 10px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhNDY0MSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjNGE0NjQxIiBzdG9wLW9wYWNpdHk9IjAuOTEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRhNDY0MSIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, rgba(74, 70, 65, 0.9) 0%, rgba(74, 70, 65, 0.91) 75%, rgba(74, 70, 65, 0.2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(74, 70, 65, 0.9)), color-stop(75%, rgba(74, 70, 65, 0.91)), color-stop(100%, rgba(74, 70, 65, 0.2)));
    background: -webkit-linear-gradient(left, rgba(74, 70, 65, 0.9) 0%, rgba(74, 70, 65, 0.91) 75%, rgba(74, 70, 65, 0.2) 100%);
    background: -o-linear-gradient(left, rgba(74, 70, 65, 0.9) 0%, rgba(74, 70, 65, 0.91) 75%, rgba(74, 70, 65, 0.2) 100%);
    background: -ms-linear-gradient(left, rgba(74, 70, 65, 0.9) 0%, rgba(74, 70, 65, 0.91) 75%, rgba(74, 70, 65, 0.2) 100%);
    background: linear-gradient(to right, rgba(74, 70, 65, 0.9) 0%, rgba(74, 70, 65, 0.91) 75%, rgba(74, 70, 65, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64a4641', endColorstr='#334a4641', GradientType=1 )
}
.orange .slider-text {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ODkyZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjYzU4OTJmIiBzdG9wLW9wYWNpdHk9IjAuOTEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1ODkyZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  rgba(197,137,47,0.9) 0%, rgba(197,137,47,0.91) 75%, rgba(197,137,47,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(197,137,47,0.9)), color-stop(75%,rgba(197,137,47,0.91)), color-stop(100%,rgba(197,137,47,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(197,137,47,0.9) 0%,rgba(197,137,47,0.91) 75%,rgba(197,137,47,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(197,137,47,0.9) 0%,rgba(197,137,47,0.91) 75%,rgba(197,137,47,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(197,137,47,0.9) 0%,rgba(197,137,47,0.91) 75%,rgba(197,137,47,0.2) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(197,137,47,0.9) 0%,rgba(197,137,47,0.91) 75%,rgba(197,137,47,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6c5892f', endColorstr='#33c5892f',GradientType=1 ); /* IE6-8 */
}
.slider-text a {
    background: url(../images/slider_arrow.png) no-repeat right 10px center;
    color: #fff;
    display: block;
    font-size: 22px;
    padding: 10px 75px 10px 25px;
    text-decoration: none
}
.orange .slider-text a {
    background: url(../images/slider_arrow_orange.png) no-repeat right 10px center;
}
.bx-wrapper {
    margin-top:-1px;
}
.bx-wrapper img {
    margin:0 auto;
}
.row.section {
    margin:0px;
    position: relative;
}
.row.section .paragraph {
    margin:0;
}
.row.section .bx-default-pager {
    display:none;
}
.section .bx-wrapper {
    margin-bottom:0px;
}
@media only screen and (max-width:990px) {
    #right-col .paragraph:nth-child(2n+1) .col-sm-6 {
        background: lime
    }
    #right-col .paragraph:nth-child(2n+2) .col-sm-6 {
        background: red
    }
    #right-col .paragraph [class*="col"] {
    }
    #RightColoumn {
    margin-right: 0px
    }
}
/* Nyhedslister
------------------------------------------------------------------*/
.activities-list {
    position: relative;
    margin-bottom:30px;
    min-height:248px;
}
.activities-list a {
    color:#fff;
}
.activities-list-text {
    position: absolute;
    bottom: 0px;
    left:15px;
    right:15px;
    padding:20px;
    background-color: rgba( 58, 55, 50, 0.749 );
    min-height:105px;
}
.activities-list .newslist-text {
    display: none;
}
.activities-list:hover .activities-list-text {
    top: 0px;
    bottom: 0px;
    left:15px;
    right:15px;
    background-color: rgba( 194, 136, 51, 0.749 );
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}
.activities-list:hover .newslist-text {
    display: block;
}
.see-more, .see-more-news, .see-more-map {
    float:left;
    text-align: center;
    width:100%;
}
/*.see-more span, .see-more-map span {
    border:1px solid #c88817;
    background: #c88817;
    color: #fff;
    padding:8px 13px;
    display:inline-block;
    margin-bottom:30px;
}*/
.see-more span, .see-more-map span {
    border:1px solid #c88817;
    color:#c88817;
    padding:8px 13px;
    display:inline-block;
    margin-bottom:30px;
}
.see-more-map {
    width: inherit;
    text-align: left;
    float: right;
    margin-top: -6px;
}
.see-more-map span {
    margin-bottom:0;
    margin-right: 10px;
    padding: 5px 10px;
    height: 30px;
    font-size: 13px;
}

.see-more-news {
    border-top:1px solid #ccc;
    padding-top:15px;
}
.see-more-map a, .see-more-news a, .see-more a {
    color:#c88817 !important;
    text-transform: uppercase;
    text-decoration: none;
}
/*.see-more-map span a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}*/

.front-newslist {
    padding:15px;
    padding-top:30px;
}
.newslist-date {
    font-size: 11px;
    margin-bottom:7px;
    text-transform: uppercase;
}
.newslist-header {
    font-weight: bold;
    margin-bottom: 5px;
}
.newslist-text {
    font-size: 13px;
}
.newslist-header a {
    text-decoration: none;
}
.newslist-header a:hover {
    text-decoration: underline;
}
.row.newslist a:hover .overlay {
    display: block;
}
.overlay {
    position: absolute;
    top: 4px;
    left: 15px;
    right: 0px;
    bottom: -1px;
    z-index:9999;	
    background-color: rgba( 194, 136, 51, 0.749 );
    display: none;
}
.front-newslist {
    background:#fff;
    float:left;
}
.front-newslist .module {
    margin:0px;
}
.front-newslist .row {
    margin:0px -15px 30px -15px;
}
a .news-list-text {
    color:#333;
}
a .news-list-text .newslist-header {
    color:#c28833;
}
.NewsImage, .newslist img {
    margin-top:4px;
}
/* Spots på forsiden
------------------------------------------------------------------*/
.spot .spot-holder {
    position:relative;
}
.spot-holder .image-text {
    position: absolute;
    bottom:0px;
    left:0px;
    background: rgba(194, 136, 51, 0.749);
    color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    width: 100%;
    z-index: 1;
    padding:15px;
}
.spot-holder a:hover .image-text {
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    padding: 15px;
    display: block;
}
.spot-holder .image-text.link-no-image {
    position: relative;
}
.spot-holder .image-text a {
    color:#fff;
    display: block;
    text-decoration: none;
}
.spot-holder .image-text a:after {
    content: ">";
    text-align: right;
    float:right
}
.paragraph.spot .text {
    background:#fff;
    padding:15px;
    font-size: 13px;
    line-height: 18px;
}

@media (max-width:991px) and (width:768px){
    #front-spots > .paragraph.spot .text {
        height:100px;
    }
}
.paragraph.spot .text p {
    line-height: 18px;
}
/* Topbanner
------------------------------------------------------------------*/
#topbanner .banner {
    margin-right: 0px;
    padding: 0px;
}
.banner {
    position: relative;
    text-align: center;
}
.banner-text {
    position: absolute;
    bottom:0px;
    z-index: 1;
    background-color: rgba( 194, 136, 51, 0.749 );
    text-align: left;
    height:60px;
    width:100%;
    font-size: 26px;
    line-height: 65px;
    color:#fff;
    text-transform: uppercase;
    font-family: MaiandraOTGD-Roman;
    padding-left:15px;
}

.banner-text a{
    color:white;
    text-decoration:none;
}
.test {
    position:relative;
}
/* Besøgssteder visited-menu
------------------------------------------------------------------*/
#topmenu a:hover, .testman a.inpath, .testman a.activeitem {
        border: none;
    }
.testman a {
    color:#fff;
    padding: 0px;
    text-transform: none;
}
.testman a:hover, #visited-menu .testman a:hover {
    background:url(../images/icon_visited_item.png) no-repeat left 10px top 15px #3a3732;
    border:none;
    border-bottom:1px solid #3e3c39;
}
nav .testman a {
    background:url(../images/icon_visited_item.png) no-repeat left 10px top 15px;
    border-bottom:1px solid #3e3c39 !important;
}
@media screen and (min-width:768px) and (max-width:991px){
    nav .testman a {
    background:url(../images/icon_visited_item.png) no-repeat left 15px top 15px;
    border-bottom:1px solid #3e3c39 !important;
    }
}
#topmenu .testman a, #visited-menu .testman a {
    padding:10px 10px 12px 30px;	
}
.testman a:hover .dropdown-name {
    color:#b07813;
}
.testman a:hover .dropdown-description {
    color:#fff;
}
.testman a .dropdown-description, .testman .dropdown-description {
    color:#99938c;
    font-size: 13px;
}
.dropdown-menu {
    min-width:1200px;
    width:100%;
}
.dropdown-menu > li > a {
    white-space: normal;
}
.dropdown-menu li:first-child {
    padding:10px 25px 5px;
}
.testman {
    text-transform: none;
}
.test {
    position:relative;
}
.dropdown-menu.pull-right.testman {
    position: absolute;
    top:50px;
    z-index: 9999;
    float:left;
    background:url("../images/bg_visited.jpg") no-repeat center bottom #4c4441;
}
.dropdown-menu.pull-right.testman li:first-child {
    width:100%;
}
nav .testman li:first-child a {
    background: none;
}
.dropdown-menu.pull-right.testman li:first-child .dropdown-name {
    font-size: 20px;
}
.dropdown-menu.pull-right.testman li:first-child .dropdown-description {
    font-size: 15px;
}
#topmenu .testman a {
    margin-right:0px;
}
#visited-menu {
    background:url("../images/bg_visited.jpg") no-repeat center bottom #4c4441;
}
#topmenu .dropdown-menu > li > a, #visited-menu .dropdown-menu > li > a, a .dropdown-name, .dropdown-name {
    color:#fff;
    text-decoration: none;
    text-transform: none;
}
.btn, .btn-default {
    border:0px solid #fff;
}
ul#visited-menu a {
    text-decoration: none;
}
@media only screen and (min-width:1201px) {
    .dropdown-menu, #visited-menu {
        min-width:1140px;
    }
    nav.navbar {
        position: static;
    }
    .paragraph.spot .text {
        min-height: 118px;
    }
    .front-newslist {
        padding-left:30px;
        padding-right: 30px;
    }
    .front-newslist {
        height:578px;
    }
}
@media only screen and (min-width:992px) and (max-width:1200px) {
    .dropdown-menu, #visited-menu {
        min-width:940px;
    }
    nav.navbar {
        position: static;
    }
    .paragraph.spot .text {
        min-height: 147px;
    }
    .front-newslist {
        padding-left:30px;
        padding-right: 30px;
    }
    .front-newslist {
        height:578px;
    }
}
@media only screen and (max-width:991px) {
    #visited-menu .row {
        margin-left:10px;
    }
    .mobile {
        text-align: center;
    }
    .mobile li {
        display: inline-block;
    }
    .mobile .language-holder {
        border:none;
        margin-top:13px;
        padding-left:0px;
    }
    .navbar {
        min-height: 0px;
    }
    .page-bg {
        background:#fff;
    }
}
@media only screen and (min-width:481px) and (max-width:990px) {
    body {
        background:url(../images/bg_header_small.jpg) repeat-x center top
    }

    .dropdown-menu {
        min-width:750px;
        /* position: fixed; */
    }

    .mobile .language-holder  {
        margin-top:18px;
    }
    .container.page-bg {
        margin-top:10px;
    }
    .container {
        max-width:100%;
    }
    .container.page-bg {
        background:none;
    }
    #front-news a {
        text-decoration: none;
    }
    .page-bg {
        background: url("../images/bg_content.png") no-repeat;
    }
}
@media only screen and (max-width:767px) {
    body {
        background:url(../images/bg_body_mobile.jpg) repeat-x center top
    }
    .logo {
        margin-top:0px;
    }
    .logo img {
        max-height:34px;
    }
    .navbar-collapse {
        max-height: 100%;
        /*position: fixed;*/
    }
    .navbar-toggle {
        margin-bottom: 8px;
        margin-right: 0px;
        margin-top: 8px;
        padding: 9px 10px;
    }
    button.navbar-toggle {
        padding-top:3px;
        margin-top:0px;
        margin-bottom:0px;
    }
    .bx-wrapper .bx-controls .bx-pager {
        bottom: -40px;
    }
    .slider-text {
        background: linear-gradient(to right, rgba(74, 70, 65, 0.9) 0%, rgba(74, 70, 65, 0.91) 75%, rgba(74, 70, 65, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        left: -15px;
        max-width: 480px;
        min-height: 30px;
        position: absolute;
        top: auto;
        bottom: 0px;
        z-index: 9999;
    }
    div.bx-wrapper {
        margin-bottom: 10px;
    }
    div.bx-wrapper div.bx-pager.bx-default-pager a {
        background: #fff;
        border: 2px solid #c5892f;
    }
    div.bx-wrapper div.bx-pager.bx-default-pager a:hover, div.bx-wrapper div.bx-pager.bx-default-pager a.active {
        background: #c5892f;
    }
    div.bx-wrapper div.bx-controls div.bx-controls-direction a.bx-next, div.bx-wrapper div.bx-controls div.bx-controls-direction a.bx-prev {
        bottom:100%;
    }
    div.bx-wrapper div.bx-controls div.bx-controls-direction {
        position:relative;
        bottom: -34px;
    }
    div.bx-wrapper .bx-next {
        background:url(../images/slider_arrow_mobile_right.png) no-repeat;
    }
    div.bx-wrapper .bx-prev, div.bx-wrapper .bx-prev:hover {
        background:url(../images/slider_arrow_mobile_left.png) no-repeat;
    }
    div.bx-wrapper .bx-next:hover {
        background-position: 0 0;
    }
    div.page-bg {
        background:none;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background: #FFFFFF;
        border:none;
    }
    .row, .RightColoumn, article.col-md-6.col-sm-12, #RightColoumn, .container  {
        margin:0;
        padding:0;
    }
    
    .mobile {
        margin-top:0px;
    }
    .mobile ul.language-holder {
        margin:6px 0px;
    }
    .row.address {
        padding:0px 15px;
    }
    .paragraph.item.bottom .text {
        padding:0px;
    }
    #slideshow img {
        height:400px;
        max-width: none;
    }
    .slider-text {
        left:0px;
    }
    .logo {
        margin-bottom: 0px;
    }
    .container.page-bg {
        background: url(../images/pattern-dust.png) repeat;
        margin-top:15px;
    }
    footer {
        background:url(../images/bg_footer_mobile.jpg) bottom left #2e2c28;
        background-size:cover;
        padding:50px 0px;
    }
    div[class*="col"], article[class*="col"], section[class*="col"] {
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    article.col-md-12, .col-md-4.col-sm-6.activities-list, section.col-md-6.col-sm-12 {
        xpadding-left:0px;
        xpadding-right: 0px;
    }
    .activities-list:hover .activities-list-text, .activities-list-text {
        left: 0px;
        right: 0px;
    }
    .front-newslist .row {
        margin-right: 0px;
        padding-left:30px;
        padding-right:15px;
    }
    a {
        text-decoration: none;
    }
    
}
html body#Sektion div.container div.container div.row aside.col-md-3 nav.navbar {
    position: static;
}
.language-holder a:hover {
    border:0px !important;
}
.holder {
    max-width:100%;
    margin:0 auto;
}
#Sektion .bx-controls-direction {
    display: none;
}
#powerby a {
    color: #ccc;
    font-size: 11px;
    text-decoration: none;
}
/* Input felter
------------------------------------------------------------------*/
input[type=text], input[type=email], input[type=search], input[type=url], input[type=password], input[type=tel], textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
textarea {
    height:120px;
}
input[type=button] {
    background: none repeat;
}
#section-top {
    overflow: hidden;
    height: 315px;
}
#section-top img {
    height:315px;
    max-width: none;
}
.NewsList .row.Holder {
    border-bottom: 1px solid #ccc;
    margin-bottom:30px;
    padding-bottom:30px;
}
.NewsList .row.Holder p {
    margin-bottom: 5px;
}
article .image {
    margin-bottom:15px;
}
td {
    vertical-align: middle;
}

/* mega menu 100% width on width 767px-989px */
@media only screen and (min-width:767px) and (max-width:989px){
    .ipad-remove-padding-margin{
        padding:0px !important;
        margin:0px !important;
    }

    .ipad-padding-big-drop{
        margin-top:20px;
        margin-bottom:30px;
        padding-left:24px;
    }

    .dropdown-description.ipad-dropdown-description{
        font-size:15px;
        font-weight:300;
    }

    .big-dropdown-fixed-width-ipad{
        height:90px;
    }
}

/* mega menu 100% width on width max 766px */
@media only screen and (max-width:766px){
    .ipad-padding-big-drop{
        margin-top:20px;
        margin-bottom:10px;
        padding-left:24px;
    }
}

/* MBK changes */

.NewsTeaser{
    padding-bottom:15px;
}

.text li{
    margin-bottom:5px;
}

input, button {
    -webkit-appearance: none;
    border-radius: 0;
}

.news.item.left.around li{
    list-style-position:inside;
}

.address .col-md-12{
    padding-right:0px;
}

#ContentFull > .paragraph.item{
    margin-top:30px;
}

.btn-map {
    background: url('/Files/Templates/Designs/Soegaard_Bootstrap_r_s_m/images/bg_interactive_map.jpg') center no-repeat;
    text-align: center;
    padding: 15px;
}
.btn-map a, .btn-map .dropdown-name {
    display: inline-block !important;
    color: #fff;
    font-weight: bold;
}
.btn-map a, nav .testman .btn-map a {
    border: 1px solid #fff !important;
    padding: 10px 25px !important;
}
.btn-map a:hover {
    background: #fff;
    color: #c88817;
    border: 1px solid #fff !important;
}
#map {
    position: relative !important;
    z-index: 1;
    width: 100%;
    height: 700px;
}
#mapInfoWindow {
    position: absolute;
    display: none;
    font-size: 13px;
    right: 10px;
    padding: 0;
    right: 50px;
    top: 30px;
    background: #FFF;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    z-index: 10;
    width: 300px;
    height: 440px;
}
#mapInfoWindowTitle {
    background: rgba(197,137,47,0.8);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 155px;
    display: block;
    width: 100%;
}
#mapInfoWindowImage {
    height: 200px;
    display: block;
}
#mapInfoWindowContent {
    padding: 10px;
}
#mapInfoWindowContent p {
    margin-bottom: 10px;
}
#mapInfoWindowContent a {
    color: #333;
    text-decoration: none;
}

#mapInfoWindowClose {
    border-radius: 50%;
    background: #fff;
    color: #726e69;
    display: inline-block;
    position: absolute;
    font-size: 14px;
    text-align: center;
    top: -20px;
    right: 10px;
    width: 38px;
    height: 38px;
    line-height: 40px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}
#mapInfoWindowFlag {
    background-repeat: no-repeat;
    height: 28px;
    width: 41px;
    position: absolute;
    top: 11px;
    left: 0px;
}
.map-heading {
    height: 79px;
    background: url('/Files/Templates/Designs/Soegaard_Bootstrap_r_s_m/images/bg_map_heading.jpg') right center no-repeat;
    padding: 25px;
}
.map-heading h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'MaiandraOTGD-DemiBold';
    margin-bottom: 0;
}
.map-filter {
    background: #f4f4f4;
    height: 60px;
    padding: 20px;
    font-weight: bold;
}
.map-filter span {
    opacity: 0.5;
}
.map-filter span.active {
    opacity: 1;
}

@media only screen and (max-width:767px){
    .xs-nav-secondary{
        padding:0px;
    }

    .xs-nav-secondary .navbar-header{
        padding:3px 0px;
    }

    .container.page-bg.mobile-page-wrapper{
        margin-top:0px;
    }
    #mapInfoWindow {
        right: 0px;
        top: 120px;
    }
    .map-filter {
        min-height: 175px;
    }
    .see-more-map span {
        width: 100%;
        margin: 5px 0;
    }
}

.employees__item {
    padding: 15px;
}

.employees__item-img {
    max-width: 100%; 
}

.employees__item-second-subheader{
    margin-top: 20px;
    margin-bottom: 0px;
}

@media only screen and (max-width:480px) {
    .employees__item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .employees__item-img {
        padding-right: 10px;
    }
}