/**
 * @license
 * MyFonts Webfont Build ID 2823328, 2014-06-04T11:27:05-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Maiandra GD Pro by Galapagos
 * URL: http://www.myfonts.com/fonts/galapagos/maiandra/pro/
 * 
 * Webfont: Maiandra GD Pro Demi Bold by Galapagos
 * URL: http://www.myfonts.com/fonts/galapagos/maiandra/pro-demi-bold/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2823328
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 1994-2006, Galapagos Design Group, Inc. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b14a0");

  
@font-face {font-family: 'MaiandraOTGD-Roman';src: url('webfonts/2B14A0_0_0.eot');src: url('webfonts/2B14A0_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B14A0_0_0.woff') format('woff'),url('webfonts/2B14A0_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MaiandraOTGD-DemiBold';src: url('webfonts/2B14A0_1_0.eot');src: url('webfonts/2B14A0_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B14A0_1_0.woff') format('woff'),url('webfonts/2B14A0_1_0.ttf') format('truetype');}
 