@media print {

	.slider-bg, .page-width, .navbar{display:none;}

	.activities-list {width:50%; height:300pt; float:left;}

	a:link:after,
	a:visited:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
	}

	a[href^=http]:after {
      content:" <" attr(href) "> ";
   }

   a {
      font-weight: bolder;
      text-decoration: none;
   }
   a[href^="#"]:after {
   		content: "";
	}

	a:after > img {
	   content: "";
	}
}