/* Import af ekstern css
------------------------------------------------------------------*/
/**
 * @license
 * MyFonts Webfont Build ID 2823328, 2014-06-04T11:27:05-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Maiandra GD Pro by Galapagos
 * URL: http://www.myfonts.com/fonts/galapagos/maiandra/pro/
 * 
 * Webfont: Maiandra GD Pro Demi Bold by Galapagos
 * URL: http://www.myfonts.com/fonts/galapagos/maiandra/pro-demi-bold/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2823328
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 1994-2006, Galapagos Design Group, Inc. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b14a0");

  
@font-face {font-family: 'MaiandraOTGD-Roman';src: url('webfonts/2B14A0_0_0.eot');src: url('webfonts/2B14A0_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B14A0_0_0.woff') format('woff'),url('webfonts/2B14A0_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MaiandraOTGD-DemiBold';src: url('webfonts/2B14A0_1_0.eot');src: url('webfonts/2B14A0_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B14A0_1_0.woff') format('woff'),url('webfonts/2B14A0_1_0.ttf') format('truetype');}
 
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* Overordnede elementer
------------------------------------------------------------------*/
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h1, .h1 {
	font-size: 22px;
	margin-bottom: 15px;
	font-family: MaiandraOTGD-DemiBold;
	font-weight: normal;
}
h2, .h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 15px 0;
}	
h3, .h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 15px 0;	
}
h4, .h4 {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 15px 0;	
}
.ImageText {
    font-family: 'Lato', sans-serif;
	font-style:italic;
	color:#666;
	font-size:13px;
}

h1, h2, h3, .h1, .h2, .h3 {
	margin-top:0px;
}
.teaser-text, .manchet {
	font-weight: bold
}
a {
	color: #c5892f;
	text-decoration: underline;
	outline: 0
}
a:hover {
	color: #c5892f;
	text-decoration: none;
	outline: 0
}
a:visited {
	color: #c5892f;
	outline: 0
}
a:active {
	outline: 0
}
p {
	margin-bottom: 20px;
	line-height: 22px
}
.header-border {
	text-align:center;
	border-top:1px solid #a8a8a8;
	margin-bottom:25px;
}
.header-border span {
	background:url(../images/bg_page.jpg) no-repeat center top -10px;
	display: block;
	margin:-18px auto 0;
	width: 130px;
	font-size: 22px;
	color:#3f3b36;
	text-transform: uppercase;
}
#front-news .header-border span {
	background:#fff;
}
#front-news h1 {
	font-size: 18px;
}

@media only screen and (max-width:990px) {
	.header-border span {
		background:#fff;
	}
}
#RightColoumn p {
	font-size: 13px
}
.imagetext {
	color: #666;
	font-size: 13px;
	font-style: italic;
	margin: 3px 0 10px 0px;
}
.Button {
	border-radius: 4px
}
.Button01, input[type=submit], #formtable1 input[type=button] {
	background: #c5892f;
	color: #fff;
	display: inline-block;
	line-height: 30px;
	margin: 10px;
	text-align: center;
	min-width: 220px;
	padding:0 10px;
}

td input[type="button"] {
	background: #c5892f;
	color: #fff;
	display: inline-block;
	line-height: 30px;
	margin: 10px 0px;
	text-align: center;
	min-width: 100px;
	padding:0 10px;
}

input[type=submit], input[type="button"], #formtable1 input[type=button] {
	border:none;
    min-width: 150px;
    float: right;
    margin-right: 0;
}
#formtable1 input[type=button] {
	float:right;
	margin-right: 0px;
}
.Button01:hover, input[type=submit]:hover, #formtable1 input[type=button]:hover {
	background: #d7ae70;
}
.Button01 a {
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
}
h1.line-through {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1.line-through span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}

h1.line-through span:before, h1.line-through span:after {
  content: '';
  display: block;
  width: 1000px;
  position: absolute;
  top: 13px;
  border-top: 1px solid #ccc;
}

h1.line-through span:before {
  right: 100%;
}

h1.line-through span:after {
  left: 100%;
}

.dropdown-name{
font-family: 'Lato';
font-weight: 200;
text-transform: uppercase !important;
}