<div class="row">
    <!--@LoopStart(NewsList)-->
    <div class="col-md-4 col-sm-6 activities-list">
        <!--@If Defined(News:SmallImage)-->
        <a href="<!--@News:Href-->"><img src="/admin/public/getimage.ashx?Image=<!--@News:SmallImageClean-->&Resolution=72&Compression=80&Width=840&Height=700&Crop=0&" border="0" class="img-responsive "></a>
        <!--@EndIf(News:SmallImage)-->
        <!--@If Not Defined(News:SmallImage)-->
        <!--@If Defined(News:ImageClean)-->
        <a href="<!--@News:Href-->"><img src="/admin/public/getimage.ashx?Image=<!--@News:ImageClean-->&Resolution=72&Compression=80&Width=840&Height=700&Crop=0" border="0" class="img-responsive "></a>
        <!--@EndIf(News:ImageClean)-->
        <!--@EndIf(News:SmallImage)-->
        <a href="<!--@News:Href-->">
            <div class="activities-list-text">
                <div class="newslist-date"><!--@News:Date.Day-->.<!--@News:Date.Month-->.<!--@News:Date.Year-->&nbsp;&nbsp;·&nbsp;&nbsp;<!--@News:CategoryDescription--></div>
                <div class="newslist-header"><!--@News:Heading--></div>
                <div class="newslist-text"><!--@News:Manchet--><!--@News:FirstXChar--></div>
            </div>
        </a>
    </div>
    <!--@LoopEnd(NewsList)-->    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="see-more"><span><a href="/Default.aspx?ID=<!--@Translate(SeMoreId, "92", Global)-->"><!--@Translate(SeFlereAktiviteter, "Se flere aktiviteter", Global)--></a></span></div>
    </div>
</div>