﻿<div class="col-md-12 col-sm-12 col-xs-12 front-newslist">
    <h1 class="line-through"><span><!--@Translate(Nyheder, "NYHEDER", Global)--></span></h1>
    <!--@LoopStart(NewsList)-->
    <div class="row newslist">
        <a href="<!--@News:Href-->">
            <div class="col-md-2 col-sm-2  hidden-xs" style="position:relative; padding-right:0px;">
                <div class="overlay"></div>
                <!--@If Defined(News:SmallImage)-->
                <img src="/admin/public/getimage.ashx?Image=<!--@News:SmallImageClean-->&Resolution=72&Compression=80&Width=600&height=600&Crop=0" border="0">
                <!--@EndIf(News:SmallImage)-->
                <!--@If Not Defined(News:SmallImage)-->
                <!--@If Defined(News:ImageClean)-->
                <img src="/admin/public/getimage.ashx?Image=<!--@News:ImageClean-->&Resolution=72&Compression=80&Width=600&height=600&Crop=0" border="0">
                <!--@EndIf(News:ImageClean)-->
                <!--@EndIf(News:SmallImage)-->
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="news-list-text">
                    <div class="newslist-date"><!--@News:Date.Day-->.<!--@News:Date.Month-->.<!--@News:Date.Year-->&nbsp;&nbsp;·&nbsp;&nbsp;<!--@News:CategoryDescription--></div>
                    <div class="newslist-header"><!--@News:Heading--></div>
                    <div class="newslist-text"><!--@News:Manchet--><!--@News:FirstXChar--></div>
                </div>
            </div>
        </a>
    </div>
    <!--@LoopEnd(NewsList)-->
    <div class="see-more-news"><span><a href="/Default.aspx?ID=<!--@Translate(SeMoreId, "40", Global)-->"><!--@Translate(SeFlereNyheder, "Se flere nyheder", Global)--></a></span></div>
</div>