<!--@If Not Defined(News:NoNewsMessage)-->
    <ul id="newslist">
        <!--@LoopStart(NewsList)-->
        <li class="listitem<!--@NewsList.LoopMod3-->">
            <h2><a href="<!--@News:Href-->"><!--@News:Heading--></a></h2>
            <small><!--@News:Date.MediumDate-->
                </small>
            <p class="newstext">
                <!--@News:SmallImage-->
                <!--@News:Manchet-->
                <!--@News:FirstXChar-->

            </p>
<hr>
        </li>
        <!--@LoopEnd(NewsList)-->
    </ul>
<!--@EndIf(News:NoNewsMessage)-->