﻿<link rel="stylesheet" type="text/css" href="/Files/Templates/eCom/ProductList/ecom.css" />
<div id="catalog-filters">
  <!--@Ecom:Search.SearchBox-->
</div>
<div id="catalog-content-outer">
  <div id="catalog-content">
    <h2>Compare</h2>
    <table cellpadding="3" cellspacing="0">
      <tr>
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;">&nbsp;</td>
        <!--@LoopStart(Products)-->
        	<td style="text-align: center; width: 180px; border-bottom: 1px solid #c5c5c5;"><img src="<!--@Ecom:Product.ImageSmall.Clean-->" height="150" width="150" /></td>
        <!--@LoopEnd(Products)-->
      </tr>
      <tr style="vertical-align: top;">
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;"><b>Product name</b></td>
        <!--@LoopStart(Products)-->
        	<td style="width: 180px; border-bottom: 1px solid #c5c5c5;"><a href="<!--@Ecom:Product.LinkGroup.Clean-->" class="padLeft"><!--@Ecom:Product.Name--></a></td>
        <!--@LoopEnd(Products)-->
      </tr>
      <tr style="vertical-align: top;">
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;"><b>Stock state</b></td>
        <!--@LoopStart(Products)-->
        	<td style="width: 180px; border-bottom: 1px solid #c5c5c5;"><span class="padLeft"><!--@Ecom:Product:Stock.Text--></span></td>
        <!--@LoopEnd(Products)-->
      </tr>
	  
      <tr style="vertical-align: top;">
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;"><b>Rating</b></td>
        <!--@LoopStart(Products)-->
          <td style="width: 180px; border-bottom: 1px solid #c5c5c5;">
            <small style="padding:3px;">
              <a href="<!--@Ecom:Product.LinkGroup.Clean-->#Comments" style="text-decoration: none !important;">
                  <!--@Ecom:Product.RatingStars--> (<!--@Ecom:Product.Rating-->)<br />
                  <img src="/Admin/Images/Rating/commentSmall.gif" alt="" class="padLeft" /> <span>(<!--@Ecom:Product.CommentCount-->)</span>
              </a>
            </small>
          </td>
        <!--@LoopEnd(Products)-->
      </tr>
	  <tr style="vertical-align: top;">
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;"><b>Est. delivery time</b></td>
        <!--@LoopStart(Products)-->
        	<td style="width: 180px; border-bottom: 1px solid #c5c5c5;"><span class="padLeft"><!--@Ecom:Product:Stock.DeliveryText--> <!--@Ecom:Product:Stock.DeliveryUnit--></span></td>
        <!--@LoopEnd(Products)-->
      </tr>
      <tr style="vertical-align: top;">
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;"><b>Product price</b></td>
        <!--@LoopStart(Products)-->
        	<td style="width: 180px; border-bottom: 1px solid #c5c5c5;"><div class="price"><!--@Ecom:Product.Price--></div></td>
        <!--@LoopEnd(Products)-->
      </tr>
	  <tr style="vertical-align: top;">
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;"><b></b></td>
        <!--@LoopStart(Products)-->
        	<td style="width: 180px; border-bottom: 1px solid #c5c5c5;"><a href="<!--@Ecom:Product.LinkGroup.Clean-->&cartcmd=add" class="addtobasket" title="Add to cart"><span class="plus">+ <span>Add to cart</span></span></a></td>
        <!--@LoopEnd(Products)-->
      </tr>
	  
      <tr style="vertical-align: top;">
        <td style="width: 135px; border-bottom: 1px solid #c5c5c5;"><b>Short description</b></td>
        <!--@LoopStart(Products)-->
        	<td style="width: 180px; border-bottom: 1px solid #c5c5c5;"><span class="padLeft"><!--@Ecom:Product.ShortDescription--></span></td>
        <!--@LoopEnd(Products)-->
      </tr>
      <tr style="vertical-align: top;">
        <td style="width: 135px;"><b>Long description</b></td>
        <!--@LoopStart(Products)-->
        	<td style="width: 180px;"><span class="padLeft"><!--@Ecom:Product.LongDescription--></span></td>
        <!--@LoopEnd(Products)-->
      </tr>
    </table>
  </div>
</div>