﻿<form class="form-horizontal" name="EcomSearch" id="EcomSearch" method="get" action="http://www.levendehistorie.dk/default.aspx">
<input type="hidden" name="id" value="958"/>
	<!--@maalgruppe-->
   <!--fagomraade-->
  <!--@Kategori2-->

<div class="control-group col-md-2 col-sm-2">
                          <div class="controls">
                            <button type="submit" id="search" name="search" class="btn btn-search"><span class="glyphicon glyphicon-search"></span>S&oslash;g</button>
                          </div>
                        </div>
 </form>