﻿<div class="row accordion" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

    <div class="col-md-4 col-sm-6 filter-form">
      <div class="panel-group" id="accordion">
        <form method="get" name="EcomSearch" id="EcomSearch" action="/Default.aspx">
            <input type='hidden' name='ID' value='@Pageview.Page.ID' />

          @foreach(LoopItem facetGroup in GetLoop("FacetGroups")) {
              foreach(LoopItem facet in facetGroup.GetLoop("Facets")) {
                  var collapseGroupName = "collapse" + facet.GetString("Facet.Field");
                  var collapseTag = "#" + collapseGroupName;

                  <div class="panel panel-default">
                    <div class="form-vertical-filter">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="@collapseTag" class="" aria-expanded="true">
                                <label class="control-label" for="checkboxes">@facet.GetString("Facet.Name")</label>
                            </a>
                        </h4>
                    </div>
                    <div id="@collapseGroupName" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="control-group">
                        <div class="controls">
                      @foreach (LoopItem option in facet.GetLoop("FacetOptions").OrderByDescending(optionLoopItem => optionLoopItem.GetString("FacetOption.Sort")))
                      {
                        @*VestjyskMarketing.Helpers.DebugHelper.DumpObject(option)*@

                        var value = option.GetValue("FacetOption.Value");
                        var selected = option.GetBoolean("FacetOption.Selected");
                        var label = option.GetString("FacetOption.Label");
                        var name = option.GetString("FacetOption.Name").Replace("_"," ").Replace("oe","ø").Replace("ae","æ");

                        if(name == "06aar") {
                            name = "0-6 år";
                        }
                        if(name == "02") {
                            name = "0.-2. klasse";
                        }
                        if(name == "34") {
                            name = "3.-4. klasse";
                        }
                        if(name == "56") {
                            name = "5.-6. klasse";
                        }
                        if(name == "79") {
                            name = "7.-9. klasse";
                        }
                        if(name == "gratis") {
                            name = "Gratis for alle";
                        }
                        if(name == "børnungeforeninger") {
                            name = "Børne/unge";
                        }
                        if(name == "bundsbækmølle") {
                            name = "Bundsbæk Mølle";
                        }
                        
                        if(name == "gratisfsrksk") {
                            name = "Gratis komm. folkeskole RKSK";
                        }
                        if(name == "klipordning") {
                            name = "Klippekort ordning";
                        }
                        if(name == "1000") {
                            name = "Op til 1.000 kr.";
                        }
                        if(name == "2000") {
                            name = "Op til 2.000 kr.";
                        }
                        if(name == "3000") {
                            name = "Op til 3.000 kr.";
                        }
                        if(name == "4000") {
                            name = "Op til 4.000 kr.";
                        }

                        name = name.First().ToString().ToUpper() + name.Substring(1);

                        var count = option.GetInteger("FacetOption.Count");
                        string checkedInput = "";
                        if (selected)
                        {
                            checkedInput = "checked='checked'";
                        }
                            <label for="@label" class="checkbox">
                                <input id="@label" type="checkbox" onclick="this.form.submit();" name="@facet.GetString("Facet.QueryParameter")" value="@value" @checkedInput>
                                @name
                                <span class="total"><a href="#" title="stk">@count stk</a></span>
                            </label>
                      }
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
</div>
              }
          }
        </form>
          <!--@Kategori2-->
          <!--@maalgruppe-->
          <!--@lokalitet-->
          <!--@tidsrum-->
          <!--@fagomraade-->
          <!--@prisklasse-->
          <!--@forplejning-->
          <!--@tilvalg-->
          <!--@varighed-->
      </div>
      
    </div>


    <div class="col-md-8 col-sm-6">
            <h3>@GetInteger("Ecom:ProductList.PageProdCnt") l&aelig;ringsoplevelser <a class="right" href="Default.aspx?ID=<!--@Global:Page.ID-->" style="font-size:10px; margin-top: 14px;">@Translate("resetfilter", "Nulstil alle filtre")</a></h3>
            
            <hr class="small">
            <div class="row">
            <div class="col-md-12 col-sm-12">
            <p><small>Aktive filtre</small>
            <!--@LoopStart(Ecom:Search.Filters)--><!--@LoopStart(Ecom:Search.Filter.Options)--> 
            <!--@If(Ecom:Search.Filter.Option.Selected=="True")-->
                <a class="btn btn-primary btn-xs filterbutton" data-reset="item<!--@Ecom:Search.Filter.Option.Value-->"><!--@Ecom:Search.Filter.Option.Label--> &times;</a>
            <!--@EndIf-->
            <!--@LoopEnd(Ecom:Search.Filter.Options)--><!--@LoopEnd(Ecom:Search.Filters)-->
            </p>
            </div>
            </div>
            
        <div class="row ">
            @{
                foreach (LoopItem prod in GetLoop("Products")) {
                    <div class="col-md-6 col-sm-6">
                        <div class="thumbnail">
                            <a href='@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(prod.GetString("Ecom:Product.Link.Clean"))' title='@prod.GetString("Ecom:Product.Name")'>
                                <img alt='@prod.GetString("Ecom:Product.Name")' src='/admin/Public/Getimage.ashx?Image=@prod.GetString("Ecom:Product.ImageLarge.Clean")&altFmImage_path=/Files/Billeder/Logo/LOGO_ornament_2009.jpg&Width=350&Height=245' />
            
                                <div class="caption">
                                    <h5 class="text-center">@prod.GetString("Ecom:Product.Name")</h5>
                                    <p class="divider"></p>
                                    @foreach (LoopItem group in prod.GetLoop("AssociatedGroups")) {
                                        if(group.GetString("Ecom:Group.Category.Name")=="") {
                                            <p class="text-center" class='@group.GetString("Ecom:Group.Category.Name")'>@group.GetString("Ecom:Group.Name")</p>
                                        }
                                    }
                                    @foreach (LoopItem group in prod.GetLoop("AssociatedGroups")) {
                                        if(group.GetString("Ecom:Group.Category.Name")=="Kategori") {
                                            <p class="text-center" class='@group.GetString("Ecom:Group.Category.Name")'>@group.GetString("Ecom:Group.Name")</p>
                                        }
                                    }
                                    @foreach (LoopItem group in prod.GetLoop("AssociatedGroups")) {
                                        if(group.GetString("Ecom:Group.Category.Name")=="Tidspunkter") {
                                            <p class="text-center" class='@group.GetString("Ecom:Group.Category.Name")'>@group.GetString("Ecom:Group.Name")</p>
                                        }
                                    }
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row">
          <nav class="col-xs-12">
              <ul class="pagination">
                    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.PrevPage.Clean")))
                    {
                    <li><a href="@GetString("Ecom:ProductList.PrevPage.Clean")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    }
                    @foreach (LoopItem page in GetLoop("Ecom:ProductList.Pages"))
                    {
                        if (page.GetBoolean("Ecom:ProductList.Pages.Page.IsCurrent"))
                        {
                            <li class="active"><a href="@page.GetString("Ecom:ProductList.Pages.Page.Url")">@page.GetValue("Ecom:ProductList.Pages.Page.Number")</a></li>
                        }
                        else
                        {
                            <li><a href="@page.GetString("Ecom:ProductList.Pages.Page.Url")">@page.GetValue("Ecom:ProductList.Pages.Page.Number")</a></li>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.NextPage.Clean")))
                    {
                    <li><a href="@GetString("Ecom:ProductList.NextPage.Clean")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    }
            </ul>

          </nav>
        </div>
    </div>

</div></div></div></div></div>

<!--@SnippetStart(scripts)-->
<script type="text/javascript">
        $(function(){
         $('.checkbox input').on('change',function(){
            $('#EcomSearch').submit();
            });
        });
        
        $("#collapseTidsrum_Facet, #collapseAldersgruppe_Facet, #collapseLokalitet_Facet").collapse('show');
        $(".filterbutton").on("click", function(event){
            event.preventDefault();
            $("input[type=checkbox]#"+$(this).attr("data-reset")).click();
        })

        $("#EcomSearch .control-group .controls").each(function(){
            var lastChecked = $(this).find("label.checkbox input:checked").last().parent().index();
            if(lastChecked <= 5){
            $(this).children(':eq(4)').after("<a class='toggle'>+ Se flere</a>");
            $(this).children(':eq(5)').nextAll().hide();
            }
        });

        $("a.toggle").on("click", function(){
            $(this).nextAll().show();
            $(this).remove();
        });
    </script>
<!--@SnippetEnd(scripts)-->