<form name="multiForm" id="multiForm" method="post">     <input type="hidden" name="CartCmd" id="CartCmd" value="addMulti" />
<div id="tilvalglist">
  <!--@LoopStart(Products)--><!--@Ecom:Product.Form.Multi.HiddenFields-->
<div class="hr item" data-tilvalg="<!--@Ecom:Product.Number-->">
       <div class="row features">
           <div class="col-md-9">
               <div class="control-group">
                   <div class="controls">
                       <label class="checkbox" for="checkboxes-1">
                           <strong><!--@Ecom:Product.Name--> </strong> + <!--@Ecom:Product.Price.Price--> per person
                           <!--@If(Ecom:Product.ShortDescription.StripHtml()<>"")-->
                           <span class="total"><a class="info" href="#" style="display:inline-block;float:right" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<!--@Ecom:Product.ShortDescription.StripHtml()-->">(info)</a></span><!--@EndIf-->
                       </label>
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <select class="form-control input-lg" name="Quantity<!--@Ecom:Product.LoopCounter-->" >

					<option value="" readonly>Vælg</option>
						<option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
                 <option value="6">6</option>
                 <option value="7">7</option>
                 <option value="8">8</option>
                 <option value="9">9</option>
                 <option value="10">10</option>
                 <option value="11">11</option>
                 <option value="12">12</option>
                 <option value="13">13</option>
                 <option value="14">14</option>
                 <option value="15">15</option>
                 <option value="16">16</option>
                 <option value="17">17</option>
                 <option value="18">18</option>
                 <option value="19">19</option>
                 <option value="20">20</option>
                 <option value="21">21</option>
                 <option value="22">22</option>
                 <option value="23">23</option>
                 <option value="24">24</option>
                 <option value="25">25</option>
                 <option value="25">26</option>
                 <option value="25">27</option>
                 <option value="25">28</option>
                 <option value="25">29</option>

               </select>
           </div>
       </div>
   </div>
   <!--@LoopEnd(Products)-->
   <div class="row">
   <div class="col-md-8">&nbsp;</div>
    <div class="col-md-4"><button id="search" name="submit" class="btn primary" type="submit" style="height:46px">Opdater</button></div>
 </div>
</div>
 </form>

