﻿<!--@LoopStart(Products)-->
  <!--@HeaderStart-->
  <form name="prodForm_tidspunkt" id="prodForm_tidspunkt" method="post">
  <select class="form-control input-lg" name="ProductID" onchange="this.form.submit()">
      <option readonly>VÃ¦lg tidsrum</option>
  <!--@HeaderEnd-->
  
  <option value="<!--@Ecom:Product.ID-->"><!--@Ecom:Product.Name--> (<!--@Ecom:Product.Price-->)</option>
  
  <!--@FooterStart--></select>
  <input type="hidden" name="CartCmd" id="CartCmd" value="add">
  </form><br/><!--@FooterEnd-->
<!--@LoopEnd(Products)-->
