
<form name="multiForm" id="multiForm" method="post">
	<input type="hidden" name="CartCmd" id="CartCmd" value="addMulti" />
	<!--@LoopStart(Products)-->
	<!--@Ecom:Product.Form.Multi.HiddenFields-->
<div class="col-md-4">
    <label>Antal <!--@Ecom:Product.Name--></label>
    <input type="text" name="Quantity<!--@Ecom:Product.LoopCounter-->" class="form-control input-lg"/>
</div>
<!--@LoopEnd(Products)-->
<div class="col-md-4">
	<label> &nbsp;</label>
<button id="search" name="submit" class="btn primary" type="submit" style="height:46px">Opdater</button>
</div>
</form>
