﻿<div class="row accordion" >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				&nbsp;
				<div class="row">


	<div class="col-md-4 col-sm-6  filter-form">
      <div class="panel-group" id="accordion">
        <form name="EcomSearch" id="EcomSearch" method="get">
          <input type="hidden" name="ID" value="<!--@Ecom:Search.Page.ID-->">
          <!--@Kategori2-->
          <!--@maalgruppe-->
          <!--@lokalitet-->
          <!--@tidsrum-->
          
          <!--@fagomraade-->
          <!--@prisklasse-->
          <!--@forplejning-->
          <!--tilvalg-->
          <!--varighed-->         
        </form>
      </div>
      
	</div>


	<div class="col-md-8 col-sm-6">
			<h3><!--@Ecom:ProductList.PageProdCnt--> l&aelig;ringsoplevelser <a class="right" href="Default.aspx?ID=<!--@Global:Page.ID-->" style="font-size:10px; margin-top: 14px;"><!--@Translate(resetfilter,'Nulstil alle filre')--></a></h3>
			
			<hr class="small">
			<div class="row">
			<div class="col-md-12 col-sm-12">
			<p><small>Aktive filtre</small>
			<!--@LoopStart(Ecom:Search.Filters)--><!--@LoopStart(Ecom:Search.Filter.Options)--> 
			<!--@If(Ecom:Search.Filter.Option.Selected=="True")-->
			    <a class="btn btn-primary btn-xs filterbutton" data-reset="item<!--@Ecom:Search.Filter.Option.Value-->"><!--@Ecom:Search.Filter.Option.Label--> &times;</a>
			<!--@EndIf-->
			<!--@LoopEnd(Ecom:Search.Filter.Options)--><!--@LoopEnd(Ecom:Search.Filters)-->
			</p>
			</div>
			</div>
			
		<div class="row ">
			<!--@LoopStart(Products)-->
			<div class="col-md-6 col-sm-6">
				<div class="thumbnail">
					<a href="<!--@Ecom:Product.Link.Clean-->">
						<img alt="<!--@Ecom:Product.Name-->" src="/admin/Public/Getimage.ashx?Image=<!--@Ecom:Product.ImageLarge.Clean-->&altFmImage_path=/Files/Billeder/Logo/LOGO_ornament_2009.jpg&Width=350&Height=245" />
	
						<div class="caption">
							<h5 class="text-center"><!--@Ecom:Product.Name--></h5>
							<p class="divider"></p>

							<!--@LoopStart(AssociatedGroups)-->
							<!--@If(Ecom:Group.Category.Name=="")-->
							<p class="text-center" class="<!--@Ecom:Group.Category.Name-->"><!--@Ecom:Group.Name--><p>
							<!--@EndIf-->
							<!--@LoopEnd(AssociatedGroups)-->
							<!--@LoopStart(AssociatedGroups)-->
							<!--@If(Ecom:Group.Category.Name=="Kategori")-->
							<p class="text-center" class="<!--@Ecom:Group.Category.Name-->"><!--@Ecom:Group.Name--><p>
							<!--@EndIf-->
							<!--@LoopEnd(AssociatedGroups)-->
							<!--@LoopStart(AssociatedGroups)-->
							<!--@If(Ecom:Group.Category.Name=="Tidspunkter")-->
							<p class="text-center" class="<!--@Ecom:Group.Category.Name-->"><!--@Ecom:Group.Name--><p>
							<!--@EndIf-->
							<!--@LoopEnd(AssociatedGroups)-->
						</div>
					</a>
				</div>
			</div>
			<!--@LoopEnd(Products)-->
		</div>

		<div class="row">
          <nav class="col-xs-12">
              <ul class="pagination">
                  <li class="<!--@If(Ecom:ProductList.PrevPage.Clean=="")-->disabled<!--@EndIf-->">
                    <a href="<!--@Ecom:ProductList.PrevPage.Clean-->" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                      <!--@LoopStart(Ecom:ProductList.Pages)-->


                  <li class="<!--@If(Ecom:ProductList.Pages.Page.IsCurrent==True)--> active<!--@EndIf-->"><a href="<!--@Ecom:ProductList.Pages.Page.Url-->"><!--@Ecom:ProductList.Pages.LoopCounter--></a></li>

                  <!--@LoopEnd(Ecom:ProductList.Pages)-->
                  <li class="<!--@If(Ecom:ProductList.NextPage=="")-->disabled<!--@EndIf-->">
                      <a href="<!--@Ecom:ProductList.NextPage.Clean-->" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
            </ul>

          </nav>
		</div>
	</div>

</div></div></div></div></div>

<!--@SnippetStart(scripts)-->
<script type="text/javascript">
        $(function(){
         $('.checkbox input').on('change',function(){
            $('#EcomSearch').submit();
            });
        });
        
        $("#collapseKategori2, #collapsemaalgruppe, #collapselokalitet, #collapsetidsrum").collapse('show');
       	$(".filterbutton").on("click", function(event){
       		
       		event.preventDefault();
       		$("input[type=checkbox]#"+$(this).attr("data-reset")).click();
       	})

       	$("#EcomSearch .control-group .controls").each(function(){
       		
       		var lastChecked = $(this).find("label.checkbox input:checked").last().parent().index();
       		if(lastChecked <= 5){
       		$(this).children(':eq(4)').after("<a class='toggle'>+ Se flere</a>");
       		$(this).children(':eq(5)').nextAll().hide();
       		}
       	});

       	$("a.toggle").on("click", function(){
       		$(this).nextAll().show();
       		$(this).remove();
       	});
    </script>
<!--@SnippetEnd(scripts)-->


