<h1 >
                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList:Page.GroupName")))
                {
                    @GetString("Ecom:ProductList:Page.GroupName");
                } else {
                    <text>@Translate("All products", "All products")</text>
                }
            </h1>
            <p>@GetString("Ecom:Group.Description")</p>
<div class="row" id="prodlist">

   @foreach (LoopItem p in GetLoop("Products")){
                                 <div class=" col-xs-12 col-md-4">
<div class="thumbnail object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
<a href="@p.GetString("Ecom:Product.Link.Clean")"><img src='/admin/public/getimage.aspx?Image=@p.GetString("Ecom:Product.ImageSmall.Clean")&Format=jpg&Width=375&Height=150&Crop=0' /></a>
        <div class="caption">
<h3><a href="@p.GetString("Ecom:Product.Link.Clean")">@p.GetString("Ecom:Product.Name")</a></h3>
        <p class="divider"></p>

            @Truncate(p.GetString("Ecom:Product.ShortDescription"),100)
        <a href="@p.GetString("Ecom:Product.Link.Clean")" class="btn btn-primary">Læs mere</a>


    </div>
    </div>
    </div>

 }
 </div>
<hr>
    <span class="shop-page-info pull-left" style="color: #AAAAAA !important">@Translate("Showing page", "Showing page") @GetValue("Ecom:ProductList.CurrentPage") @Translate("of", "of") @GetValue("Ecom:ProductList.TotalPages") (@GetValue("Ecom:ProductList.PageProdCnt") @Translate("products", "products"))</span>
    <ul class="pagination pull-right">
        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.PrevPage.Clean")))
        {
        <li><a href="@GetString("Ecom:ProductList.PrevPage.Clean")">&laquo;</a></li>
        }
        @foreach (LoopItem page in GetLoop("Ecom:ProductList.Pages"))
        {
        <li>
            <a href="@page.GetString("Ecom:ProductList.Pages.Page.Url")">
                @if (!string.IsNullOrWhiteSpace(page.GetString("Ecom:ProductList.Pages.Page.IsCurrent")))
                {
                <strong>@page.GetValue("Ecom:ProductList.Pages.Page.Number")</strong>
                } else {
                @page.GetValue("Ecom:ProductList.Pages.Page.Number");
                }
            </a>
        </li>
        }
        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.NextPage.Clean")))
        {
        <li><a href="@GetString("Ecom:ProductList.NextPage.Clean")">&raquo;</a></li>
        }
    </ul>


@functions {
    private string Truncate (string value, int count)
    {
        if (value.Length > count)
        {
        value = value.Substring(0, count - 1) + "...</p>";
        }

        return value;
    }
}