@using System.Web

@{
	var pageid = GetValue("Ecom:ProductList:Page.ID");
}

<script>
	function getCookie(name){
		var pattern = RegExp(name + "=.[^;]*")
		matched = document.cookie.match(pattern)
		
		if (matched) {
		    var cookie = matched[0].split('=')
		    return cookie[1]
		}
		return false
	}
</script>

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4">
			@if (!string.IsNullOrWhiteSpace(GetString("Server:Request.ecomquery")))
			{
			<h3 class="section-title">Searchresult for '@GetString("Server:Request.ecomquery")'</h3>
			}
			@if (string.IsNullOrWhiteSpace(GetString("Server:Request.ecomquery")))
			{
			<h3 class="section-title">
				@if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList:Page.GroupName")))
				{
					@GetString("Ecom:ProductList:Page.GroupName");
				} else {
					<text>@Translate("All products", "All products")</text>
				}
			</h3>
			}
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<span class="text-center" style="color: #AAAAAA !important">@Translate("Showing page", "Showing page") @GetValue("Ecom:ProductList.CurrentPage") @Translate("of", "of") @GetValue("Ecom:ProductList.TotalPages") (@GetValue("Ecom:ProductList.PageProdCnt") @Translate("products", "products"))</span>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<div class="btn-group pull-right" style="" id="viewbtns">
				<button type="button" class="btn btn-xs btn-three" onclick="ListView()"><span class="glyphicon glyphicon-th-list"></span></button>
				<button type="button" class="btn btn-xs btn-three" onclick="BoxView()"><span class="glyphicon glyphicon-th"></span></button>
			</div>
			<div class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						@Translate("Sort by", "Sort by") <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a onclick="SortProductsBy('Default')">@Translate("Default", "Default")</a></li>
						<li class="divider"></li>
						<li><a onclick="SortProductsBy('PriceAsc')" class="pill-left">@Translate("Price low-high", "Price low-high") </a></li>
						<li><a onclick="SortProductsBy('PriceDesc')" class="pill-left">@Translate("Price high-low", "Price high-low") </a></li>
						<li><a onclick="SortProductsBy('Name')">@Translate("Name", "Name")</a></li>
					</ul>
				</div>
				<text>&nbsp;&nbsp;</text>
			</div>
		</div>
	</div>
	
	<div class="row">
		@{
			var count = 1;
			
			var sortby = HttpContext.Current.Request.QueryString["SortBy"];
			
			var productloop = GetLoop("Products");
			
			switch (sortby) {
				case "Default":
					productloop = GetLoop("Products");
				break;
			
				case "PriceAsc":
					productloop = GetLoop("Products").OrderBy(g => g.GetString("Ecom:Product.Price")).ToList();
				break;
				
				case "PriceDesc":
					productloop = GetLoop("Products").OrderByDescending(g => g.GetString("Ecom:Product.Price")).ToList();
				break;
				
				case "Name":
					productloop = GetLoop("Products").OrderBy(g => g.GetString("Ecom:Product.Name")).ToList();
				break;
				
				default:
					productloop = GetLoop("Products");
				break;
			}
		}
		
		@foreach (LoopItem product in productloop)
		{
			var image = product.GetString("Ecom:Product.ImageSmall.Default.Clean");
			var grouplink = product.GetString("Ecom:Product.LinkGroup.Clean");
			var productname = product.GetString("Ecom:Product.Name");
			
			<div class="col-md-4 col-sm-4 col-xs-12" name="productlist">
				<div class="w-box product" name="boxproduct">
					<div class="" name="listproductright">
						<!-- Discount sticker -->
						@if (product.GetString("Ecom:Product.Discount.Price") != product.GetString("Ecom:Product.Price"))
						{
							<div class="bg-2 discount-sticker" style="position: absolute !important; z-index: 1 !important; width:80px !important; height:22px !important" name="sticker">
								<h3><div style="text-align: center !important; font-size: 14px !important; line-height:0px !important; color: #fff !important; margin-top:-8px !important">@Translate("On sale!", "On sale!")</div><h3>
							</div>
						}
						<a href="@grouplink" title="@productname">
							<figure style="min-height: 150px; min-width: 150px; background: url('/Admin/Public/Getimage.ashx?width=300&height=200&compression=99&Crop=5&image=@image') no-repeat 0 0; background-position: center;">
							</figure>
						</a>
					</div>
					<div class="" name="extracolumn">
						<h2 class="" style="" name="producttitle"><a href="@grouplink">@product.GetString("Ecom:Product.Name")</a></h2>
						<div style="" name="shortproductdescription">
							<p>@Truncate(product.GetString("Ecom:Product.ShortDescription"), 60)</p>
						</div>
						<div style="display: none !important" name="longproductdescription">
							<p class="pull-left" style="text-align: left !important">@Truncate(product.GetString("Ecom:Product.ShortDescription"), 260)</p>
						</div>
					</div>
					<div class="w-footer" name="listproductleft">
						

						@if(Dynamicweb.Input.FormatDouble(product.GetString("Ecom:Product.Price.Price"))>0){
						<span>
								
							<span class="price pull-left" style="font-size: 16px !important" name="productprice"><strong>@product.GetString("Ecom:Product.Discount.Price")</strong></span><span>&nbsp;&nbsp;</span>
							@if (product.GetString("Ecom:Product.Discount.Price") != product.GetString("Ecom:Product.Price"))
							{
							<span name="productpricebr"></span>
							<span class="price" style="color: #AAAAAA !important; font-size: 12px !important; position: absolute; text-decoration: line-through" name="productoldprice">@product.GetString("Ecom:Product.Price")</span>
							}
						</span>
						}
						
						@if(Dynamicweb.Input.FormatDouble(product.GetString("Ecom:Product.Price.Price"))==0){
						<span>
							<strong>@Translate("Contact for price", "Kontakt os for pris")</strong>
						</span>
						}	
						
						<span name="productmorebr"></span>
						<div class="pull-right">
							<a href="@grouplink" class="btn btn-xs cart-btn btn-two">@Translate("Read more", "Read more")</a>
						</div>
					</div>
				</div>
			</div>
			
			if (count == 3)
			{
				
				<div class="row"></div>
				count = 0;
			}
			
			count++;
		}
	</div>

	<hr>
	<span class="shop-page-info pull-left" style="color: #AAAAAA !important">@Translate("Showing page", "Showing page") @GetValue("Ecom:ProductList.CurrentPage") @Translate("of", "of") @GetValue("Ecom:ProductList.TotalPages") (@GetValue("Ecom:ProductList.PageProdCnt") @Translate("products", "products"))</span>
	<ul class="pagination pull-right">
		@if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.PrevPage.Clean")))
		{
		<li><a href="@GetString("Ecom:ProductList.PrevPage.Clean")">&laquo;</a></li>
		}
		@foreach (LoopItem page in GetLoop("Ecom:ProductList.Pages"))
		{
		<li>
			<a href="@page.GetString("Ecom:ProductList.Pages.Page.Url")">
				@if (!string.IsNullOrWhiteSpace(page.GetString("Ecom:ProductList.Pages.Page.IsCurrent")))
				{
				<strong>@page.GetValue("Ecom:ProductList.Pages.Page.Number")</strong>
				} else {
				@page.GetValue("Ecom:ProductList.Pages.Page.Number");
				}
			</a>
		</li>
		}
		@if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.NextPage.Clean")))
		{
		<li><a href="@GetString("Ecom:ProductList.NextPage.Clean")">&raquo;</a></li>
		}
	</ul>
</div>
<div class="row"><div class="col-md-12 col-sm-12 col-xs-12">&nbsp</div></div>

<script>
	function listviewCookietest() {
		if (getCookie("productviewtype")) {
			if (getCookie("productviewtype") == "box"){
				BoxView();
			} else {
				ListView();
			}
		} 
	}
	
	window.onresize = function () {
		testscreensize();
	}
	
	function testscreensize(){
		if ($(this).width() < 768) {
			BoxView();
			document.getElementById("viewbtns").style = "visibility: hidden !important";
		} else {
			listviewCookietest();
			document.getElementById("viewbtns").style = "visibility: visible !important";
		}
	}
		
	function BoxView() {
		var arr = new Array();
		arr = document.getElementsByName("productlist");
	    
		for(var i = 0; i < arr.length; i++)
		{
		    document.getElementsByName("productlist").item(i).className = "col-md-4 col-sm-4 col-xs-12";
		    document.getElementsByName("extracolumn").item(i).className = "";
		    document.getElementsByName("boxproduct").item(i).className = "w-box product";
		    document.getElementsByName("producttitle").item(i).style = "";
		    document.getElementsByName("shortproductdescription").item(i).style = "";
		    document.getElementsByName("longproductdescription").item(i).style = "display: none !important; text-align: left !important";
		    document.getElementsByName("productprice").item(i).className = "price pull-left";
		    document.getElementsByName("productprice").item(i).style = "font-size: 16px !important";
		    if (document.getElementsByName("productoldprice").item(i)) {
			document.getElementsByName("sticker").item(i).style = "position: absolute !important; z-index: 1 !important; width:80px !important; height:22px !important";
			document.getElementsByName("productoldprice").item(i).className = "price";
			document.getElementsByName("productoldprice").item(i).style = "color: #AAAAAA !important; font-size: 12px !important; position: absolute; text-decoration: line-through";
			document.getElementsByName("productpricebr").item(i).innerHTML = "";
		    }
		    document.getElementsByName("listproductright").item(i).className = "";
		    document.getElementsByName("listproductleft").item(i).className = "w-footer";
		    
		    document.getElementsByName("productmorebr").item(i).innerHTML = "";
		    
		}
		
		document.cookie = "productviewtype=box"; 
	}	
		
	function ListView() {
		var arr = new Array();
		arr = document.getElementsByName("productlist");
	    
		for(var i = 0; i < arr.length; i++)
		{
		    document.getElementsByName("productlist").item(i).className = "";
		    document.getElementsByName("extracolumn").item(i).className = "col-md-8 col-sm-8";
		    document.getElementsByName("boxproduct").item(i).className = "w-box product";
		    document.getElementsByName("producttitle").item(i).style = "text-align: left; !important; padding: 0px 16px !important; margin-top: -4px !important";
		    document.getElementsByName("shortproductdescription").item(i).style = "display: none !important";
		    document.getElementsByName("longproductdescription").item(i).style = "text-align: left !important";
		    document.getElementsByName("productprice").item(i).className = "price pull-right";
		    document.getElementsByName("productprice").item(i).style = "font-size: 20px !important; padding: 0px 0px !important";
		    if (document.getElementsByName("productoldprice").item(i)) {
			document.getElementsByName("sticker").item(i).style = "position: absolute !important; z-index: 1 !important; width:80px !important; height:22px !important; margin-left: -16px";
			document.getElementsByName("productoldprice").item(i).className = "price pull-right";
			document.getElementsByName("productoldprice").item(i).style = "color: #AAAAAA !important; font-size: 14px !important; text-decoration: line-through";
			document.getElementsByName("productpricebr").item(i).innerHTML = "<br />";
		    }
		    document.getElementsByName("listproductright").item(i).className = "col-md-2 col-sm-2";
		    document.getElementsByName("listproductleft").item(i).className = "col-md-2 col-sm-2";
		    
		    document.getElementsByName("productmorebr").item(i).innerHTML = "<br /><br /><br />";
		}
		
		document.cookie = "productviewtype=list"; 
	}
	
	
	function SortProductsBy(sortcode) {
		var Page = "/Default.aspx?ID=@pageid";
		
		document.cookie = "sortby=" + sortcode; 
		document.location.href = Page + "&SortBy=" + sortcode;
	}
</script>

@if (Pageview.Area.Item["EcommerceProductListForm"].ToString() == "box"){
	<script>
		if (!getCookie("productviewtype")) {
			BoxView();
		} else {
			listviewCookietest();
		}
	</script>
} else {
	<script>
		if (!getCookie("productviewtype")) {
			ListView();
		} else {
			listviewCookietest();
		}
	</script>
}

@functions {
	private string Truncate (string value, int count)
	{
		value = StripHtmlTagByCharArray(value);
		
		if (value.Length > count)
		{
		    value = value.Substring(0, count - 1) + "...";
		}
	    
		return value;
	}
	
	public static string StripHtmlTagByCharArray(string htmlString)
	{
		char[] array = new char[htmlString.Length];
		int arrayIndex = 0;
		bool inside = false;
	
		for (int i = 0; i < htmlString.Length; i++)
		{
			char let = htmlString[i];
			if (let == '<')
			{
			    inside = true;
			    continue;
			}
			if (let == '>')
			{
			    inside = false;
			    continue;
			}
			if (!inside)
			{
			    array[arrayIndex] = let;
			    arrayIndex++;
			}
		}
		return new string(array, 0, arrayIndex);
	}
}