<div class="row">
	<div class="col-md-6">
		@if (!string.IsNullOrWhiteSpace(GetString("Server:Request.ecomquery"))) {
			<h3 class="section-title">@GetValue("Server:Request.ecomquery")</h3>
		} else {
			<h3 class="section-title">@GetValue("Ecom:ProductList:Page.GroupName")</h3>
		}
	</div>
</div>

<div class="row">
	@foreach (LoopItem i in GetLoop("Products")){
		<div class="col-md-3 col-sm-6">
			<div class="w-box product">
				@if (i.GetString("Ecom:Product.Discount.Price") != i.GetString("Ecom:Product.Price"))
				{
					<div class="bg-2 discount-sticker" style="position:absolute !important; z-index: 1 !important; width:80px !important; height:22px !important">
						<h3><div style="text-align: center !important; font-size: 14px !important; line-height:0px !important; color: #fff !important; margin-top:-8px !important">@Translate("On sale!", "On sale!")</div><h3>
					</div>
				}
				<a href="@i.GetValue("Ecom:Product.LinkGroup.Clean")">
					<figure style="min-height: 150px; min-width: 150px; background: url('/Admin/Public/Getimage.ashx?width=300&height=200&compression=99&Crop=5&image=@i.GetValue("Ecom:Product.ImageSmall.Default.Clean")') no-repeat 0 0; background-position: center;">
					</figure>
				</a>
				<h2 style="min-height:44px;"><a href="@i.GetValue("Ecom:Product.LinkGroup.Clean")">@i.GetString("Ecom:Product.Name")</a></h2>
				<p>@Truncate(@i.GetString("Ecom:Product.ShortDescription"), 60)</p>
				<div class="w-footer">
					<span class="price pull-left" style="font-size: 18px !important">@i.GetString("Ecom:Product.Price")</span><span>&nbsp;&nbsp;</span>
					@if (i.GetString("Ecom:Product.Discount.Price") != i.GetString("Ecom:Product.Price"))
					{
					<span class="price" style="color: #AAAAAA !important; font-size: 12px !important; position: absolute; text-decoration: line-through">@i.GetString("Ecom:Product.Price")</span>
					}
					<a href="@i.GetValue("Ecom:Product.LinkGroup.Clean")" class="btn-xs btn-two cart-btn pull-right">@Translate("Read more", "Read more")</a>
				</div>
			</div>
		</div>
	}
</div>

@functions {
	private string Truncate (string value, int count)
	{
	    if (value.Length > count)
	    {
		value = value.Substring(0, count - 1) + "...";
	    }
	
	    return value;
	}
}