<div class="contact-form">
<!--@Form.FormStart-->
<!--@Form.SystemFields-->
<!--@LoopStart(Fields)-->
<!--@If(Field.Type=="Submit"||Field.Type=="Reset")-->
<!--@Field.Control-->
<!--@Else-->
	<div class="form-group has-feedback">

		<!--@If(Field.Type=="TextInput")-->
		<label for="name"><!--@Field.Name--> <!--@If(Field.Required=="True")--> *<!--@EndIf--></label>
		<input type="text" class="form-control" id="<!--@Field.ID-->" name="<!--@Field.SystemName-->" placeholder="<!--@Field.Placeholder-->" />

		<!--@EndIf-->
		<!--@If(Field.Type=="CheckBox")-->
		<input type="checkbox"  id="<!--@Field.ID-->" name="<!--@Field.SystemName-->" />
		<label for="name"><!--@Field.Name--> <!--@If(Field.Required=="True")--> *<!--@EndIf--></label>

		<!--@EndIf-->
		<!--@If(Field.Type=="Textarea")-->

		<label for="name"><!--@Field.Name--> <!--@If(Field.Required=="True")--> *<!--@EndIf--></label>
		<textarea class="form-control" rows="6" id="<!--@Field.ID-->" name="<!--@Field.SystemName-->" placeholder=""></textarea>
		<!--@EndIf-->
		<!--@If(Field.Type=="Radio")-->
		<label><!--@Field.Name--> <!--@If(Field.Required=="True")--> *<!--@EndIf--></label><br/>
		<!--@Field.Control-->

		<!--@EndIf-->
		<!--@If(Field.Type=="Text")-->
		<!--@Field.Text-->

		<!--@EndIf-->

		<!--@If(Field.Type<>"TextInput" && Field.Type<>"CheckBox" && Field.Type<>"Textarea" && Field.Type<>"Radio" && Field.Type<>"Text" && Field.Type<>"Submit"&& Field.Type<>"Reset")-->
		<!--@Field.Control-->
		<!--@EndIf-->
	</div>

<!--@EndIf-->


<!--@LoopEnd(Fields)-->




<!--@Form.FormEnd-->
</div>

