<!--@If(Ecom:Product:Field.lokalitet.Value=="dejbjerg")-->
<p>Dejbjerg Jernalder
<br/>Bundsbækvej 4a
<br/>6900 Skjern
</p>
<p><i>P-plads overfor ved Bundsbæk Mølle</i></p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="bundsbaekmoelle")-->
<p>Bundsbæk Mølle
<br/>Bundsbækvej 27
<br/>6900 Skjern</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Bork_Vikingehavn")-->
<p>Bork Vikingehavn
<br/>Vikingevej 7
<br/>6893 Hemmet</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Fahl_Kro")-->
<p>
Fahl Kro
<br/>Oblingvej 34
<br/>6893 Hemmet
</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Lyngvig_Fyr")-->
<p>Lyngvig Fyr
<br/>Holmsland Klitvej 109
<br/>6960 Hvide Sande</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Abelines_Gaard")-->
<p>Abelines Gaard
<br/>Sønder Klitvej 87
<br/>6960 Hvidesande</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Bunkertur")-->
<p>Bunkertur – mødested
<br/>Houvig Strand P-plads
<br/>5 km nord for Søndervig</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Strandgaarden")-->
<p>Strandgaarden
<br/>Husby Klitvej 5
<br/>6990 Ulfborg</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Kaj_Munks_Praestegaard")-->
<p>Kaj Munks Præstegård
<br/>Vesterhavsvej 7, Vedersø
<br/>6990 Ulfborg</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Ringkoebing_Museum")-->
<p>Ringkøbing Museum
<br/>Herningvej 4
<br/>6950 Ringkøbing</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skjern_Vindmoelle")-->
<p>Skjern Vindmølle
<br/>Marupvej 25A
<br/>6900 Skjern</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skjern_Reberbane")-->
<p>Skjern Reberbane
<br/>Reberbanen 1A
<br/>6900 Skjern</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Hattemagerhuset")-->
<p>Hattemagerhuset
<br/>Foersumvej 1
<br/>6880 Tarm</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Pumpestation_Nord")-->
<p>Provstgårds Hus / Pumpest. N
<br/>Fuglsandvej
<br/>6900 Skjern</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Gaasemandens_Gaard")-->
<p>Gåsemandens Gård
<br/>Galgebjergevej 20
<br/>6893 Hemmet</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skjern_By_Museum")-->
<p>Skjern By Museum
<br/>Bredgade 77
<br/>6900 Skjernt</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Tarm_Apotek")-->
<p>Tarm Apotek
<br/>Storegade 23
<br/>6880 Tarm</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Lem_Station")-->
<p>Lem Station
<br/>Jernbanegade 3
<br/>6940 Lem St.</p>
<!--@EndIf-->

<!--@If(Ecom:Product:Field.lokalitet.Value=="Nymindegab_Museum")-->
<p>Nymindegab Museum
<br/>Vesterhavsvej 294
<br/>6830 Nr. Nebel</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Varde_Museum-Frello_Museum")-->
<p>Varde Museum - Frello Museum
<br/>Kirkepladsen 1
<br/>6800 Varde</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Tirpitz-stillingen")-->
<p>Tirpitz-stillingen
<br/>Tane Hedevej
<br/>6857 Blåvand</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Varde_Artillerimuseum")-->
<p>Varde Artillerimuseum
<br/>Vestervold 11
<br/>6800 Varde </p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skolemuseet_Hodde")-->
<p>Skolemuseet Hodde 
<br/>Letbækvej
<br/>6862 Tistrup</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Mejerimuseet")-->
<p>Mejerimuseet
<br/>Hjedding Andelsmejeri
<br/>Hjeddingvej 2
<br/>6870 Ølgod</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Oelgod_Museum")-->
<p>Ølgod Museum
<br/>Vestergade 7
<br/>6870 Ølgod</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Danmarks_Ravmuseum")-->
<p>Danmarks Ravmuseum
<br/>Vestergade 25
<br/>6840 Oksbøl</p>
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Blaavand_Museum")-->
<p>Blåvand Museum
<br/>Blåvandvej
<br/>6857 Blåvand</p>
<!--@EndIf-->

<div id="map" style="width:100%;height:200px"></div>
<!--@SnippetStart(scripts)--><script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd5MkFKx5GlhH7tYX6IFY4M0So7o5B0ps&callback=initMap"></script>
<script>

      function initMap() {
      	<!--@If(Ecom:Product:Field.lokalitet.Value=="dejbjerg")-->
      	var myLatLng = {lat: 56.004824, lng: 8.475324};
      	<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="bundsbaekmoelle")-->
var myLatLng = {lat: 56.006634, lng: 8.4766617};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Bork_Vikingehavn")-->
var myLatLng = {lat: 55.837131, lng: 8.263805};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Fahl_Kro")-->
var myLatLng = {lat: 55.835234, lng: 8.265166};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Lyngvig_Fyr")-->
var myLatLng = {lat: 56.050436, lng: 8.102545};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Abelines_Gaard")-->
var myLatLng = {lat: 55.9455337, lng: 8.1537935};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Bunkertur")-->
var myLatLng = {lat: 56.1606322, lng: 8.1164342};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Strandgaarden")-->
var myLatLng = {lat: 56.194141, lng: 8.125953};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Kaj_Munks_Praestegaard")-->
var myLatLng = {lat: 56.248999, lng: 8.181933};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Ringkoebing_Museum")-->
var myLatLng = {lat: 56.0882463, lng: 8.2452718};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skjern_Vindmoelle")-->
var myLatLng = {lat: 55.9526262, lng: 8.4928541};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skjern_Reberbane")-->
var myLatLng = {lat: 55.949805, lng: 8.4949638};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Hattemagerhuset")-->
var myLatLng = {lat: 55.899913, lng: 8.522024};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Pumpestation_Nord")-->
var myLatLng = {lat: 55.9212027, lng: 8.4054675};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Gaasemandens_Gaard")-->
var myLatLng = {lat: 55.837895, lng: 8.330087};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skjern_By_Museum")-->
var myLatLng = {lat: 55.9488208, lng: 8.489169};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Tarm_Apotek")-->
var myLatLng = {lat: 55.907497, lng: 8.5193303};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Lem_Station")-->
var myLatLng = {lat: 56.025083, lng: 8.3834713};
<!--@EndIf-->


<!--@If(Ecom:Product:Field.lokalitet.Value=="Nymindegab_Museum")-->
var myLatLng = {lat: 55.8169371, lng: 8.1951035};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Varde_Museum-Frello_Museum")-->
var myLatLng = {lat: 55.620107, lng: 8.4763443};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Tirpitz-stillingen")-->
var myLatLng = {lat: 55.5504007, lng: 8.1700546};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Varde_Artillerimuseum")-->
var myLatLng = {lat: 55.6216635, lng: 8.4723419};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Skolemuseet_Hodde")-->
var myLatLng = {lat: 55.6974459, lng: 8.6446168};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Mejerimuseet")-->
var myLatLng = {lat: 55.792304, lng: 8.6113623};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Oelgod_Museum")-->
var myLatLng = {lat: 55.792304, lng: 8.6113623};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Danmarks_Ravmuseum")-->
var myLatLng = {lat: 55.624624, lng: 8.2747263};
<!--@EndIf-->
<!--@If(Ecom:Product:Field.lokalitet.Value=="Blaavand_Museum")-->
var myLatLng = {lat: 55.5562417, lng: 8.1367268};
<!--@EndIf-->
if(typeof myLatLng !== 'undefined'){

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: myLatLng,
          disableDefaultUI: true
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }else{
        $("#map").remove();
      }
    }
    </script>
<!--@SnippetEnd(scripts)-->