﻿<div class="dynamicweb-map" id="<!--@ElementID-->" data-list-position="<!--@ListPosition-->">
	<div class="map" style="width: <!--@MapWidth-->; height: <!--@MapHeight-->;">
		<div id="<!--@MapElementID-->"></div>
	</div>

	<div class="list">
		<ol id="<!--@ListElementID-->">
		<!--@LoopStart(Locations)-->
			<li data-lat="<!--@Lat-->" data-lng="<!--@Lng-->" data-title="<!--@Name-->"
					data-group-id="<!--@GroupID-->"
					<!--@If(Icon!='')--> data-icon="<!--@Icon-->"<!--@EndIf-->>
				<div class="name"><!--@Name--></div>
				<!--@If Defined(GroupName)-->
				<div class="group">(<!--@GroupName-->)</div>
				<!--@EndIf(GroupName)-->
				<!--@If(0=1)-->@see http://microformats.org/wiki/adr<!--@EndIf-->
				<div class="adr">
					<div class="street-address"><!--@Address--></div>
					<div class="extended-address"><!--@Address2--></div>
					<span class="postal-code"><!--@Zip--></span>
					<span class="locality"><!--@City--></span>
					<div class="country-name"><!--@Country--></div>
				</div>
			</li>
			<!--@LoopEnd(Locations)-->
		</ol>
	</div>

	<!--@If(NumberOfLocations=0)-->
	<div class="info"><!--@Translate(No_locations_found, 'No locations found')--></div>
	<!--@EndIf-->
</div>
