﻿
<div class="swiper-container row dwcontent">
<div class="container ">

<div class="col-sm-12">
              <span class=" swiper-button-prev" ></span>
              <span class="swiper-button-next" ></span>
            </div>
            </div>
        <div class="swiper-wrapper container ">
        <!--@LoopStart(Details)-->
                    <div class="swiper-slide col-sm-12">
                        <div class="img img100">
                            <img src="<!--@Ecom:Product:Detail.Image.Clean-->"/>
                            </div>
                               
                    </div>
                    <!--@LoopEnd(Details)-->

        </div>
            
          
            
            </div>
           
        



		<div class="row accordion thumbnail-wrapper">
			<div class="container">
				<div class="row">
                <div class="swiper-pagination">
              </div>
                    <div id="productwrapper" class="col-md-12">
                        <div class="row">
                            <div class="col-md-7 filter-form filter-form-main">
                                <h1><!--@Ecom:Product.Name--></h1>
                                <!--@Ecom:Product.ShortDescription-->
                               
                                <div class="panel-group" id="accordion">
                                		<!--@If(Ecom:Product.LongDescription<>"")-->
                                    <div class="panel panel-default" id="panel1">
                                        <div class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseOne"><label class="control-label" for="checkboxes">Beskrivelse</label></a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="accordion-inner">
                                                        <!--@Ecom:Product.LongDescription-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                       
												<!--@EndIf-->
                                                
												<!--@If(Ecom:Product:Field.prepvisit.Value<>"")-->
                                                
                                    <div class="panel panel-default" id="panel2">
                                        <div class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseTwo" class="collapsed"><label class="control-label" for="checkboxes">Forbered dit bes&oslash;g</label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <!--@Ecom:Product:Field.prepvisit.Value-->
                                                </div>
                                            </div>
                                        </div>
                                         
                                    </div>
                                    
												<!--@EndIf-->
                                                <!--@LoopStart(ProductRelatedGroups)-->
                                               
                                     <!--@If(Ecom:Product:RelatedGroup.Name=="Tilvalg")-->
                                    <div class="panel panel-default" id="panel3">
                                        <div class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseThree" class="collapsed"><label class="control-label" for="checkboxes">Tilvalg  
                                                </label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                              <ul>
                                                                <!--@LoopStart(RelatedProducts)--><li  class="col-md-6"><span>> <!--@Ecom:Product.Name--></span> <!--@If(Ecom:Product.ShortDescription.StripHtml()<>"")--><a class="info" href="javascript:null()" title="<!--@Ecom:Product.Name--> - <!--@Ecom:Product.Price-->"  data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<!--@Ecom:Product.ShortDescription.StripHtml()-->">(info)</a><!--@EndIf--></li>
                                                                <!--@LoopEnd(RelatedProducts)-->

                                                              </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                     <p>INFO - bestilling foregår senere i forespørgslen</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--@EndIf--><!--@LoopEnd(ProductRelatedGroups)-->


							<!--@If(Ecom:Product:Field.useinclass<>"")-->
                            
                                    <div class="panel panel-default" id="panel4">
                                        <div class="form-vertical-filter">
                                            <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapseFour" class="collapsed"><label class="control-label" for="checkboxes">Oplevelse i undervisningen</label></a>
                                                </h4>

                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <!--@Ecom:Product:Field.useinclass-->
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>

                                <!--@EndIf-->
                                </div>
                            </div>

                            <div class="col-md-5 right-wrap">


                                        <div class="col-md-12 messaging">
                                            <h4>Praktisk</h4>
                                        </div>

                                        <div class="col-md-12 description">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <!--@If(Ecom:Product:Field.antalpersoner<>"")--><p>Antal deltagere</p><!--@EndIf-->
                                                    <!--@If(Ecom:Product:Field.varighed<>"")--><p>Varighed</p><!--@EndIf-->
                                                    <!--@If(Ecom:Product:Field.aarstidfra<>"")--><p>&Aring;rstid </p><!--@EndIf-->
                                                    <P>Tidsrum</P>
                            
                                                </div>

                                                <div class="col-md-6 col-sm-6 text-right text-right-main">
                                                    <!--@If(Ecom:Product:Field.antalpersoner<>"")--><p><!--@Ecom:Product:Field.antalpersoner--></p><!--@EndIf-->
                                                    <!--@If(Ecom:Product:Field.varighed<>"")--><p><!--@Ecom:Product:Field.varighed--></p><!--@EndIf-->
                                                    <!--@If(Ecom:Product:Field.aarstidfra<>"")--><p><!--@Ecom:Product:Field.aarstidfra--> - <!--@Ecom:Product:Field.aarstidtil--></p><!--@EndIf-->
                                                    <!--@LoopStart(AssociatedGroups)-->
                            <!--@If(Ecom:Group.Category.Name=="Tidspunkter")-->
                            <p><!--@Ecom:Group.Name--><p>
                            <!--@EndIf-->
                            <!--@LoopEnd(AssociatedGroups)-->
                                                </div>
<hr style="clear:both"/>
                                                <div class="col-md-12">


                                                    <p><strong>M&aring;lgrupper</strong></p>
                                                    <p><!--@LoopStart(target.Options)-->
															<!--@If(target.Option.IsSelected=="true")--><!--@target.Option.Name-->, <!--@EndIf-->
                                                    	<!--@LoopEnd(target.Options)--></p>

                                                    <p><strong>Fagomr&aring;der</strong></p>
                                                    <p><!--@LoopStart(fag.Options)-->
															<!--@If(fag.Option.IsSelected=="true")--><!--@fag.Option.Name-->, <!--@EndIf-->
                                                    	<!--@LoopEnd(fag.Options)--></p>

                                                    <p><strong>Faciliteter</strong></p>
                                                    <p><!--@LoopStart(faciliteter.Options)-->
															<!--@If(faciliteter.Option.IsSelected=="true")--><!--@faciliteter.Option.Name-->, <!--@EndIf-->
                                                    	<!--@LoopEnd(faciliteter.Options)--></p>

                                                    <p><strong>Lokalitet</strong></p>


                                                    <!-- insert the include stuff here - in order to show a text with location and a google map -->
													<!--@Include(Includes/locations.html)-->


                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 messaging">
                                            <h4>Pris og foresp&oslash;rgsel</h4>
                                        </div>

                                        <form name="<!--@Ecom:Product.ID-->" id="<!--@Ecom:Product.ID-->" method="post" action="default.aspx?id=1339">
                                        <div class="col-md-12 description">

                     <!--@LoopStart(VariantCombinations)-->
                       <!--@HeaderStart-->
                                                <p><strong>Tidspunkt</strong></p>
                                                  <select id="Variants">
                                                    <option value="" readonly>V&aelig;lg <!--@Ecom:VariantGroup.Name--></option>
                                                 <!--@HeaderEnd-->

                                                    <option value="<!--@Ecom:VariantCombination.VariantID-->" selected="selected"><!--@Ecom:VariantCombination.VariantText--></option>
                                                    <!--@EndIf(Ecom:VariantOption.Selected)-->
                                                   <!--@FooterStart-->
                                                  </select><br />
  <!--@FooterEnd-->
                                                  <!--@LoopEnd(VariantCombinations)-->                                     <!-- Select Basic -->








                                        <div class="col-md-12 main-btn-group">
                                            <div class="row">
                                             <div class="col-sm-12">
                                                   <strong><!--@Ecom:Product.Name--></strong><br/><br/>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                <strong>Basispris</strong>
                                                <h3 class="right" style="margin:0px;"> <strong><!--@Ecom:Product.Price.Price--> <!--@Ecom:Product.Price.CurrencyCode--></strong></h3>
                                                </div>
                                                

                                                <div class="col-md-12">
                                                    <!-- Button -->
                                                    <div class="control-group">
                                                        <div id="purchase" class="controls">

    <button id="search" name="search" class="btn btn-search" type="submit">Udfyld foresp&oslash;rgsel</button>

<!--@Ecom:Product.Form.Clean-->
<input type="hidden" name="OrderContext"  value="<!--@LoopStart(OrderContexts)--><!--@OrderContext.ID--><!--@LoopEnd(OrderContexts)-->"/>
<input type="hidden" name="Redirect" value="default.aspx?ID=1339"/>




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
 </div>

</form>
<div class="col-md-12 col-sm-12 description panel" style="box-shadow: none">
<div class="row">
<div class="col-sm-12">
                                        <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
                                        </div>
                                        </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--@SnippetStart(scripts)-->
<script>
$(function () {
  $('#Variants').on("change",function(){
    $("#VariantID").val($(this).val());
  })
})
</script>
<!--@SnippetEnd(scripts)-->
