﻿<div class="col-md-12 col-sm-12 col-xs-12">
	<form name="" id="" method="get" action="/Default.aspx">
		@GetValue("Ecom:Product.Form.Clean")
  <input type="hidden" name="redirect" id="redirect" value="/Default.aspx?id=@GetGlobalValue("Global:eCommerce.CartPageID")" />
		<div id="prod" class="row product">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="product-gallery">
						<!-- Discount sticker -->
					@if (GetString("Ecom:Product.Discount.Price") != GetString("Ecom:Product.Price"))
					{
						<span class="ribbon base" style="right: 10px !important">@Translate("On sale!", "On sale!")</span>
					}

					@{
						string image = GetString("Ecom:Product.ImageLarge.Default.Clean");
					}

					<div class="primary-image">
						<a href="@image" class="fancybox" rel="group">
							<img src="@image" class="img-responsive" alt="">
						</a>
					</div>
					<div class="row">

					@foreach (LoopItem detail in GetLoop("Details"))
					{
						image = detail.GetString("Ecom:Product:Detail.Image.Clean");
                			<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="thumbnail-images theater">
									<a href="@image" class="fancybox" rel="group">
										<img src="@image" alt="">
									</a>
								</div>
                			</div>
					}
				</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="product-info" vocab="http://schema.org/" typeof="Product">
					<h1><span property="name">@GetString("Ecom:Product.Name")</span> @GetString("Ecom:Product.SelectedVariantComboName")</h1>

					<p><small>@Translate("Product number", "Product number"): <span property="identifier">@GetString("Ecom:Product.Number")</span></small></p>

					<hr />

					<span class="clearfix"></span>

					<p property="description">
						@GetString("Ecom:Product.ShortDescription")
					</p>

					<span class="clearfix"></span>

					<!-- DYNAMIC VARIANT OPTION -->
					<div id="productvariants">
						<!-- SELECTOR MAIN -->
						@{
						var pageid = GetValue("Ecom:Product:Page.ID");
						var productid = GetValue("Ecom:Product.ID");
						}

						<script type="text/javascript" language="javascript">
							var presetting = true;
							var VariantID = "@GetValue("Ecom:Product.SelectedVariantComboID")";
							var VariantOptions = VariantID.split('.');
							var Page = "/Default.aspx?ID=@pageid&ProductID=@productid";

							var Selector = new VariantSelector();
						</script>

						<script type="text/javascript" language="javascript">
						@foreach (LoopItem variantgroup in GetLoop("VariantGroups"))
						{

							var variantgroupid = variantgroup.GetValue("Ecom:VariantGroup.ID");
							var variantgroupname = variantgroup.GetString("Ecom:VariantGroup.Name");

							<text>group = new VariantGroup("@variantgroupid", "@variantgroupname");</text>
							foreach (LoopItem variantoption in variantgroup.GetLoop("VariantOptions"))
							{
								var variantoptionid = variantoption.GetValue("Ecom:VariantOption.ID");
								var variantoptionname = variantoption.GetString("Ecom:VariantOption.Name");
								<text>group.Options.push(new VariantOption("@variantoptionid", "@variantoptionname"));</text>
							}
							<text>Selector.Groups.push(group);</text>
						}
						</script>

						<script type="text/javascript" language="javascript">
							@foreach (LoopItem variantcomb in GetLoop("VariantCombinations"))
								{

								var variantcombid = variantcomb.GetValue("Ecom:VariantCombination.VariantID");
									<text>Selector.Combinations.push(new VariantCombination("@variantcombid"));</text>
								}
						</script>

						<script type="text/javascript" language="javascript">
							for (g = 0; g < Selector.Groups.length; g++) {
								document.write("<br><b>" + Selector.Groups[g].Name + "</b><br>");
								document.write("<select id='COMBO" + g + "' style='width:40%' onchange=\"UpdateCombo(" + g + ");\">\n</select><br>\n");
							}

							FillCombo(0);
							for (vo = 0; vo < VariantOptions.length; vo++) {
								PresetCombo(vo, VariantOptions[vo]);
							}
							presetting = false;
						</script>
						<input id="VariantIdField" type="hidden" name="VariantId" value="" />
					</div>

					<!-- OLD VARIANT OPTION -->
					<!--
					<div id="productvariants">
						<select onchange="setVariant(this.options[this.selectedIndex].value);">
							<option>@Translate("Select variant", "Select variant")</option>
							@foreach (LoopItem variant in GetLoop("VariantCombinations"))
							{
							var grouplink = variant.GetString("Ecom:VariantCombination.LinkGroup.Clean");
							var combination = "";
							if (variant.GetBoolean("Ecom:VariantCombination.Selected")) { combination = "selected=\"selected\""; }

							<option value="/@grouplink" @combination>
								@variant.GetString("Ecom:VariantCombination.VariantText")
							</option>
							}
						</select>
					</div>
					-->
					<span property="offers" typeof="Offer">

						<div class="row">
							<span class="clearfix"></span>
							<div class="product-short-info">
								@if (!string.IsNullOrWhiteSpace(GetString("Ecom:Product:Stock.Text")))
								{

								image = GetString("Ecom:Product:Stock.Image.Clean");

								<div class="col-md-6 col-xs-12">
									<p><small>@Translate("Availability", "Availability"): <span property="availability">@GetString("Ecom:Product:Stock.Text")</span>: </small><img src="@image" alt="@GetString(" ecom:product:stock.text")" border="0" style="width:7px !important; height:7px !important" /></p>
								</div>
								<div class="col-md-6 col-xs-12">
									<p><small>@Translate("Delivery", "Delivery"): @GetString("Ecom:Product:Stock.DeliveryText")&nbsp;@GetString("Ecom:Product:Stock.DeliveryUnit")</small></p>
								</div>
								}

							</div>
						</div>
						<hr />
						<div class="row">

							<div class="col-md-12 col-xs-12">

								@if(GetDouble("Ecom:Product.Discount.Price.Price")>0){
								<span>
								@{ var currency = GetString("Ecom:Product.Price.Currency.Code");
								}

								<meta property="priceCurrency" content="@currency" />
								<span class="price pull-left" style="font-size: 28px !important; margin-top:4px !important" property="price">
									@GetString("Ecom:Product.Discount.Price")
								</span>
								@if (GetString("Ecom:Product.Discount.Price") != GetString("Ecom:Product.Price"))
								{
								<span>&nbsp;&nbsp;</span>
								<span style="color: #AAAAAA !important; font-size: 18px !important; position: absolute; margin-top: 4px !important; text-decoration: line-through">
									@GetString("Ecom:Product.Price")
								</span>
								}
								</span>
								}
								@if(GetDouble("Ecom:Product.Discount.Price.Price")==0){
								<span>
									@Translate("Contact for price", "Kontakt os for pris")
								</span>
								}

								<button type="submit" name="submit" class="btn btn-primary cart-btn pull-right">@Translate("Add to cart", "Lav forespørgsel")</button>
								<input type="number" name="Quantity" value="1" class="pull-right" style="width:60px; text-align:center; margin-right:15px !important; height:34px;">
							</div>
						</div>
						<hr></hr>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<p>
								@GetString("Ecom:Product.LongDescription")
							</p>
						</div>
					</div>



					<!-- RELATED PRODUCTS -->
              		@foreach (LoopItem i in GetLoop("ProductRelatedGroups")){
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3 class="section-title">@Translate("Related groups", "Relaterede varer")</h3>

							@foreach (LoopItem p in i.GetLoop("RelatedProducts").Take(3)){
								 <div class=" col-xs-12 col-md-4">
<div class="thumbnail object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
<a href="@GetString("Ecom:Product.Link.Clean")"><img src='/admin/public/getimage.aspx?Image=@GetString("Ecom:Product.ImageSmall.Clean")&Format=jpg&Width=375&Height=150&Crop=0' /></a>
        <div class="caption">
<h3><a href="@GetString("Ecom:Product.Link.Clean")">@GetString("Ecom:Product.Name")</a></h3>
        <p class="divider"></p>

            @Truncate(GetString("Ecom:Product.ShortDescription"),200)
        <a href="GetString("Ecom:Product.Link.Clean")" class="btn btn-primary">Læs mere</a>


    </div>
    </div>
    </div>

							}
						</div>
					</div>

					}

				</div>
			</div>
		</div>
	</form>
</div>

@functions {
	private string Truncate (string value, int count)
	{
	    if (value.Length > count)
	    {
		value = value.Substring(0, count - 1) + "...</p>";
	    }

	    return value;
	}
}
