a{color:#cc9933;}
.bold{font-weight:600 !important;}
.h1, h1{font-size:28px; margin-top:0px;}
body{    font-family: "Glegoo", serif;}
.left{float:left;}
.right{float:right;}
hr, .hr{    border-top: 1px solid #ddd; !important;}

.accordion-inner ul li{list-style: none !important;    margin-bottom: 5px;}
.accordion-inner ul li:before{content: "\276F"; float: left;     margin-left: -20px;}
hr.small{margin-top:15px; margin-bottom:15px;}
.both{border-top: 1px solid #ddd; !important; border-bottom: 1px solid #ddd; !important; padding:0px;}
.help{margin-bottom:0px;} /*style.scss:1290;*/
img{max-width:100%;}
.row>.row{margin-left:0px; margin-right:0px;}
.btn.btn-primary{    background-color: #c5892f;
    color: #ffffff !important;
    border: 1px solid #ab7729;}
#search.btn-danger{    background-color: #61152f !important;
    border-color: #61152f !important;}

.btn.dropdown-toggle{background-image: url(../images/arrow-2.png) !important;
    background-repeat: no-repeat !important;
    background-position: right 15px top;
    background-position-y: 20px;}
.navbar .navbar-nav li > a{font-weight:  normal}
/*#Products .thumbnail{overflow: hidden; max-height: 292px;}
#Products .thumbnail a > img{min-height:auto; max-height: 218px; width: 100%;}*/
#Products .thumbnail{overflow: hidden; height: 400px;}
#Products .thumbnail a > img{min-height:auto; height: 194px; width: 100%;}

#Products nav{text-align:center;}
.accordion .filter-form .panel, .thumbnail-wrapper .filter-form .panel{border-bottom:1px solid #e0e0e0 !important;}
#accordion{margin-top:30px;}
#accordion .panel:first-child{border-top:1px solid #e0e0e0 !important;}
.panel-group h4.title{border-bottom: 1px solid #e0e0e0 !important;    padding-bottom: 21px;
    margin-bottom: 0px;margin-top:50px;}


.thumbnail-wrapper .col-md-4.right-wrap .col-md-12.description {
    background-color: #ffffff !important;
    border: 1px solid #e0e0e0;
    margin-top: -1px;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
        margin-bottom: 20px;
            padding-top: 25px;
    padding-bottom: 15px;
}
.thumbnail-wrapper .col-md-4.right-wrap .col-md-12.messaging{
            border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.thumbnail-wrapper .col-md-4.right-wrap .col-md-12.messaging h4{
        padding-left: 15px !important;
    margin: 16px 0px !important;
    font-size: 18px !important;

}
.thumbnail-wrapper .col-md-5.right-wrap .control-group{padding-bottom:0px !important; padding-top:20px;}
.breadcrumb>li+li:before{content:">" !important;}
/*
ecom cart checkout*/
.registration{position: relative; border-radius: 4px}

.registration img{height:240px; border-radius:4px 4px 0px 0px;}
.registration .carousel-caption{top:100px;height:80px;}
.btn.primary{    background-color: #c5892f;
    color: #ffffff !important;
    border: 1px solid #ab7729;
   /* min-width: 130px;*/
    height: 50px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;}
    a.btn.primary{line-height: 36px;}
    .accordion .thumbnail .caption, .thumbnail-wrapper .thumbnail .caption {min-height:172px;}


.thumbnail-wrapper .col-md-5.right-wrap .main-btn-group a#search {
    background-color: #c5892f;
    color: #ffffff !important;
    border: 1px solid #ab7729;
    min-width: 130px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
	line-height: 36px;
 }
.thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description{margin-bottom:20px; padding-top:20px;}
 .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 .control-group:last-child {
    padding-bottom: 20px;
}
.boxoffset .thumbnail p.text-center,
.thumbnail .caption p.text-center{font-size:12px;}

#EcomSearch .panel{padding-bottom:0px;}
#EcomSearch a.toggle{margin-left: -20px;
    padding-bottom: 10px;
    float: left;
font-size: 12px;
}
#EcomSearch a.toggle:hover{cursor:pointer !important;}
.filterbutton{margin-bottom:3px;}
@media (min-width: 760px) {
//.pagination{width:800px !important;}
}
.pagination li a:before{content:none !important; padding-right:0px;}
.pagination li.active>a{background-color: #c5892f !important;}
.pagination li.active:hover>a{opacity:0.8;}

.footer .col-md-4{background-repeat: no-repeat;     padding-left: 85px;}
.footer .col-md-4:first-child{background-repeat: no-repeat;     padding-left: 0px;}
.navbar-default .navbar-nav li .dropdown-menu a{text-transform:none;}

.content-rotator-item .row div{}
.breadcrumb-wrapper{border-bottom:#f9f9f9 solid 30px;}

#rotator2{margin-top:30px;}
#rotator2~div{margin-bottom:30px;}
.swiper-container {
    width: 100%;
    height: auto;

    background: #f9f9f9;
        padding-top:20px;
}  
.swiper-wrapper{height:360px !important;}
.swiper-slide{ overflow:hidden; padding-left:10px !important; padding-right:10px !important; display: flex}

#rotator2 .swiper-slide .img{max-width:50%; max-height:100%;border-radius: 4px 0px 0px 4px; float:left; overflow:hidden;}

#rotator2 .swiper-slide .img100{max-width:100%; border-radius:4px;}
.swiper-slide img{
  //display: block;
  //width: 100%;
  //height: 100%;
  //max-height:390px;
  //object-fit: cover;
  //object-position: 50% 50%;
  max-height:360px;
  max-width:none;
  }
#Products  .swiper-slide img{min-width:100%; max-height:none;}
.swiper-slide:not(.swiper-slide-duplicate-active):not(.swiper-slide-active){filter: brightness(50%);}
.swiper-slide.color-primary .textwrapper{background-color: #61152f !important}
.swiper-slide.color-secondary .textwrapper{background-color: #c5892f !important}
.swiper-slide .textwrapper{float:right; border-radius: 0px 4px 4px 0px; max-width:50%; height:100%; background:#61152f !important; color:#FFF; display: flex;}
.swiper-slide .textwrapper div{

padding-left:40px;
padding-right:40px;
padding-bottom:40px;
align-self:flex-end;
}
.swiper-slide a.btn{    padding: 15px 60px; text-transform: uppercase;}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev
{    display: block;
    position: absolute;
    cursor: pointer;
    background: url(../images/slide_right.png) no-repeat;
    background-position: 0% 0% !important;
    overflow: hidden;
    height:57px; width:57px;
    margin-top:18%;
    margin-right: -57px;}
.swiper-container .swiper-button-prev{background: url(../images/slide_left.png) no-repeat; margin-left: -57px;}
.swiper-pagination{position: relative !important;}
.swiper-pagination-bullets{width:100%; }
.swiper-pagination-bullets .swiper-pagination-bullet{margin:0px 3px !important;}

.swiper-pagination-bullets .swiper-pagination-bullet-active{background-color: #c5892f !important; }


#productwrapper{margin-top:30px;}
.accordion h4.panel-title{font-size:14px !important;}
.accordion ul li a.info, .thumbnail-wrapper ul li a.info,
.step-wrapper .step-main a.info{display:inline-block; line-height:auto; font-size:14px; color:#999999;}
.accordion .panel-body{padding-bottom:0px !important;}
.accordion .panel-body *:last-child{margin-bottom:0px; padding-bottom: 0px !important}
#accordion h4.panel-title label{font-size:15px;}
//.accordion ul li, .thumbnail-wrapper ul li{margin-left:20px; list-style-type:initial;}
.step-wrapper .step-main{padding-top:10px;}
.features>div{padding-bottom:10px;}
.features .control-group .checkbox{color:#333;}

/*Invis.io tilretninger*/
.navbar-default .navbar-brand{letter-spacing: 1px}
.a2a_default_style{margin-left:25%;}
.a2a_default_style a{padding:0px 5px !important;}
.input-lg{font-size:14px;}
#Products .thumbnail-wrapper .container{padding-bottom:80px;}
#Products .swiper-slide .img{align-self:center;}
#Products .swiper-slide img{max-width:100%; min-width:100%; max-height:auto;}
#Products{counter-reset: section;}
#Products span.badge:before{counter-increment: section;
    content: counter(section) ;}

.btn-nav{display:none;}


@media screen and (max-width: 760px){
#rotator img{
    object-fit: cover;
    height: 100vw;
}

.carousel-inner .item .carousel-caption {
    top: 0% !important;
    width: 100%;
    right: 0%;
    left: 0%;
 
}
.carousel-inner .item .carousel-caption h2{
        font-size:22px !important;
}
.carousel-block .container-fluid .row .form-horizontal{
    width:90%;
}
.carousel-block .container-fluid .row .form-horizontal input{width:100%;}
.carousel-block .container-fluid .row .form-horizontal button{width:100%;}
.swiper-container{height:auto;}
.swiper-slide .img,
.swiper-slide .textwrapper{max-width:100%; width:100%; float:left;}
.swiper-slide .img img{
    object-fit: cover;
    height: 70vw;
}
.swiper-slide .textwrapper div{
padding:15px;
}

.swiper-slide .textwrapper div h3{margin:20px 0px;}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev{margin:0px;}

.dropdown-toggle{width:100%; margin-bottom:10px;}
}



@media screen and (max-width: 760px){
	button.navbar-toggle:before{content:"MENU"; color:#c5892f; line-height:33px;}
	.navbar .navbar-toggle{background-color:Transparent !important; border:0px !important;  margin-right:0px !important;   margin-top: 20px; margin-bottom:0px;}
	.burger{
		   padding: 10px 8px !important;
    border-radius: 20px !important;
    display:block;    color: #c5892f  !important;
    background-color: #c5892f !important;
    border-color: #c5892f !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 33px;
    width:33px;
    float:right;
    margin-left:8px;

}
.navbar .navbar-toggle .icon-bar{margin-top:0px; margin-bottom:0px; margin-left:0px;  width:16px; background-color:#61152f !important;  }
.navbar .navbar-toggle .icon-bar+.icon-bar{margin-top:2px;}
.input-xlarge{background-color:#FFF;}
}