/* line 29, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
body {
  font-family: "Glegoo", serif;
  color: #333333; }

p, address, label{  font-family: "Open Sans", sans-serif; line-height:1.4em;}

a.btn.filterbutton, input[type=text], select{font-family: "Open Sans", sans-serif;}

address strong, .caption p, a.btn, .panel-title label{   font-family: "Glegoo", serif;  }

/* line 34, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
h2 {
  font-size: 28px !important; }


/* line 36, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.container {
  max-width: 970px; }

/* line 38, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.header-block {
  background-color: #61152f !important;
  border-bottom: 1px solid #c5892f; }

/* line 42, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.breadcrumb-wrapper {
  background-color: #eaeaea; }

/* line 46, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 0px;
  border: none; }
  /* line 52, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar .navbar-nav {
    margin: 0px -15px; }
    /* line 55, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .navbar .navbar-nav li > a {
      font-size: 13px;
      color: #ffffff !important;
      padding: 10px 10px;
      text-transform: uppercase;
      font-weight: bold; }
  /* line 64, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar .navbar-toggle {
    margin-top: 27px;
    margin-bottom: 27px;
    margin-right: 0px;
    padding: 15px 10px !important;
    border-radius: 30px !important;
    background-color: #c5892f !important;
    border: 1px solid #c5892f !important; }
    /* line 73, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .navbar .navbar-toggle .icon-bar {
      background-color: #ffffff !important; }
  /* line 80, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar .navbar-toggle:hover .icon-bar {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -webkit-transition: opacity 0.2s !important;
    transition: opacity 0.2s !important; }

/* line 91, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  /* line 95, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    height: 100px;
    line-height: 100px;
    padding: 10px 0px; }
    /* line 104, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .navbar-default .navbar-brand small {
      font-size: 16px;
      color: #c5892f !important;
      text-transform: none; }
    /* line 110, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .navbar-default .navbar-brand .navbar-brand:focus, .navbar-default .navbar-brand .navbar-brand:hover {
      color: #ffffff !important; }
  /* line 117, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav .active > a {
    background-color: #c5892f !important;
    text-decoration: none !important; }
  /* line 122, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav a:hover {
    background-color: #c5892f !important; }
  /* line 126, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav .dropdown-menu li:hover a {
    background-color: #c5892f !important; }
  /* line 130, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */

  /* line 135, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav .dropdown > a:after {
    content: "\e114";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100 !important;
    line-height: 1;
    padding-left: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  /* line 150, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav li .dropdown-menu {
    background-color: #61152f !important;
    padding-top: 0px;
    padding: 0px;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0); }
    /* line 158, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .navbar-default .navbar-nav li .dropdown-menu a {
      text-transform: capitalize; }
    /* line 160, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .navbar-default .navbar-nav li .dropdown-menu .caret {
      margin-left: 50%;
      margin-top: -31px;
      border-top: none;
      border-bottom: 7px dashed;
      color: #c5892f;
      border-bottom: 7px solid\9;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent; }
  /* line 172, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav li a {
    color: #ffffff !important; }
  /* line 177, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav .dropdown:hover .dropdown-menu {
    display: block !important; }
  /* line 183, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav .dropdown a span.glyphicon.glyphicon-chevron-down {
    font-size: 10px;
    color: #c5892f;
    font-weight: 100 !important; }
  /* line 191, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-nav .dropdown a:hover span.glyphicon.glyphicon-chevron-down {
    color: #ffffff; }
  /* line 199, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-collapse {
    border: none; }

/* line 205, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:focus, .navbar-default .navbar-nav .open > a:hover {
  background-color: transparent !important; }

/* line 210, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.carousel-block {
  border-top: 1px solid #c5892f;
  border-bottom: 2px solid #c5892f; }
  /* line 215, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-block .container-fluid .row {
    position: relative; }
    /* line 219, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-block .container-fluid .row .form-horizontal {
      position: absolute;
      bottom: 20%;
      width: 65%;
      margin: 0px auto !important;
      right: 0;
      left: 0; }
      /* line 227, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .carousel-block .container-fluid .row .form-horizontal select {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        color: #555555;
        padding: 0px 10px;
        margin-bottom: 10px;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
        background-image: url("../images/arrow-2.png");
        background-repeat: no-repeat;
        background-position: right 15px top;
        background-position-y: 20px; }
        /* line 244, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .carousel-block .container-fluid .row .form-horizontal select option {
          color: #555555; }
      /* line 253, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .carousel-block .container-fluid .row .form-horizontal .control-group .controls .btn-search {
        background-color: #c5892f;
        color: #ffffff !important;
        border: 1px solid #ab7729;
        min-width: 130px;
        height: 50px;
        font-weight: bold;
        text-transform: uppercase; }
        /* line 262, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .carousel-block .container-fluid .row .form-horizontal .control-group .controls .btn-search span {
          padding-right: 10px; }
      /* line 267, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .carousel-block .container-fluid .row .form-horizontal .control-group .controls .btn-search:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8; }

/* line 282, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
select {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background-image: url("../images/arrow-2.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 15px top;
  background-position-y: 20px;
  width: 100%;
  font-size: 14px !important;
  height: 50px !important;
  line-height: 50px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  border: 1px solid #e0e0e0 !important;
  color: #555555 !important;
  padding: 0px 10px !important;
  margin-bottom: 10px !important; }


.form-control:focus{border-color:#c5892f;}
/* line 303, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.input-group.date {
  width: 100%;
  font-size: 14px !important;
  height: 50px !important;
  line-height: 50px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  border: none !important;
  color: #555555 !important;
  margin-bottom: 10px !important; }
  /* line 314, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .input-group.date .form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    border-right: none !important; }
  /* line 322, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .input-group.date input {
    font-weight: bold !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #e0e0e0 !important;
    color: #555555 !important;
    height: 50px !important;
    line-height: 50px !important; }
  /* line 332, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .input-group.date .input-group-addon {
    background-color: #ffffff !important;
    border-top: 1px solid #e0e0e0 !important;
    border-right: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-left: none !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important; }
  /* line 342, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .input-group.date .input-group-addon:hover {
    cursor: pointer; }
  /* line 346, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .input-group.date .glyphicon-calendar:before {
    color: #c5892f; }

/* line 349, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  /*padding-left: 30px;*/ }

/* line 359, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.features .checkbox-white {
  background-image: url("../images/checkbox-white.png") !important;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  height: 22px;
  width: 22px;
  margin-left: -30px !important;
  margin-top: -1px; }

/* line 372, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.features .control-group {
  padding-left: 30px; }
  /* line 375, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .features .control-group .checkbox, .features .control-group .radio {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    color: #999999; }
    /* line 380, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .features .control-group .checkbox span.total, .features .control-group .radio span.total {
      float: right; }
      /* line 383, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .features .control-group .checkbox span.total a, .features .control-group .radio span.total a {
        color: #999999;
        font-size: 12px;
        padding: 3px 0px;
        text-decoration: underline; }
  /* line 392, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .features .control-group strong {
    color: #555555; }
  /* line 396, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .features .control-group .checkbox-white {
    background-image: url("../images/checkbox-white.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    height: 22px;
    width: 22px;
    margin-left: -30px !important;
    margin-top: -1px; }
  /* line 411, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .features .control-group .checkbox-white[type="checkbox"]:checked {
    background-image: url("../images/checkbox-white-checked.png") !important;
    background-repeat: no-repeat; }

/* line 417, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.features select.form-control.input-lg {
  margin-bottom: 0px !important; }

/* line 421, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.features span {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700; }

/* line 429, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.SeeMore {
  font-size: 12px !important;
  color: #c5892f !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  display: inline-block !important; }

/* line 437, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.input-lg {
  line-height: 46px !important; }

/* line 441, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.hr {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #eee;
  overflow: hidden; }

/* line 448, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.both {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden; }

/* line 458, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
#easyTooltip {
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  color: #333333; }

/* line 465, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.social-icons {
  margin-top: 10px;
  margin-bottom: 10px; }
  /* line 469, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .social-icons ul {
    padding: 0px 10px; }
    /* line 472, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .social-icons ul li {
      list-style: none !important;
      width: 33px;
      height: 33px;
      display: block;
      float: right;
      margin-left: 5px; }
      /* line 480, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .social-icons ul li a {
        background-color: transparent;
        border: none; }
      /* line 485, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .social-icons ul li a:hover {
        background-color: transparent;
        border: none; }

/* line 498, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.carousel-inner .item img {
  width: 100%; }

/* line 502, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.carousel-inner .item .carousel-caption {
  top: 22% !important; }
  /* line 505, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-inner .item .carousel-caption h2 {
    font-weight: bold; }

/* line 512, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.registration-wrapper {
  background-color: #f9f9f9; }
  /* line 515, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .registration-wrapper .registration {
    background-color: #6f1835;
    margin-top: 15px; }
    /* line 519, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .registration-wrapper .registration img {
      width: 100%; }
    /* line 523, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .registration-wrapper .registration .navbar {
      min-height: 40px !important;
      margin-top: 40px; }
      /* line 527, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .registration-wrapper .registration .navbar .navbar-inner {
        width: 85% !important;
        margin: 0 auto !important;
        /*.nav-pills>li.active:nth-child(1) {

                    .timeline {
                        background-image: url(../images/timeline-active-center.png);
                    }
                }*/ }
        /* line 531, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li {
          width: 33%; }
          /* line 534, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li a {
            color: #ffffff; }
        /* line 539, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active > a, .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active > a:focus, .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active > a:hover {
          color: #c5892f;
          font-weight: 600;
          background-color: transparent; }
        /* line 545, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li > a:focus, .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li > a:hover {
          color: #c5892f;
          font-weight: 600;
          background-color: transparent; }
        /* line 551, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li {
          position: relative; }
          /* line 554, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li .timeline {
            position: absolute;
            top: 41px;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat; }
        /* line 565, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(1) .timeline {
          left: 30px;
          background-image: url(../images/timeline-left.jpg); }
        /* line 570, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(2) {
          text-align: center; }
          /* line 573, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(2) .timeline {
            left: 50%;
            background-image: url(../images/timeline-center.png); }
        /* line 579, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(3) {
          text-align: right; }
          /* line 582, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:nth-child(3) .timeline {
            right: 30px;
            background-image: url(../images/timeline-last.jpg); }
        /* line 598, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active:nth-child(2) .timeline {
          background-image: url(../images/timeline-active-center-hover.png); }
        /* line 606, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.active:nth-child(3) .timeline {
          background-image: url(../images/timeline-active-center.png); }
        /* line 613, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li:hover .timeline {
          background-image: url(../images/timeline-active-center-hover.png); }
        /* line 619, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .registration-wrapper .registration .navbar .navbar-inner .nav-pills > li.selected .timeline {
          background-image: url(../images/timeline-active-center.png) !important; }
    /* line 626, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .registration-wrapper .registration .progress {
      overflow: inherit;
      height: 4px;
      background-color: #61152f;
      border-radius: 0px;
      width: 75% !important;
      margin: 15px auto 45px; }
      /* line 634, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .registration-wrapper .registration .progress .progress-bar-main {
        background-color: #c5892f; }

/* line 643, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.step-wrapper .step-main {
  padding-top: 45px; }
  /* line 646, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .step-wrapper .step-main a {
    font-size: 18px;
    color: #333333;
    display: block;
    font-weight: 700; }
    /* line 652, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .step-wrapper .step-main a .badge {
      color: #fff;
      background-color: #6f1835;
      margin-right: 15px;
      height: 25px;
      width: 25px;
      vertical-align: middle;
      font-size: 15px;
      border-radius: 20px; 
      padding:4px 7px;}

/* line 666, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.request {
  padding-top: 45px; }
  /* line 669, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request h3 {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    margin: 0px 0px 30px; }
  /* line 676, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request p {
    font-size: 16px;
    color: #555555; }
  /* line 683, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .request-description h4 {
    margin: 16px 0px 0px !important;
    font-size: 18px !important;
    color: #333333;
    font-weight: bold; }
  /* line 690, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .request-description h5 {
    margin: 25px 0px 0px !important;
    font-size: 15px !important;
    color: #333333;
    font-weight: bold; }
  /* line 697, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .request-description p {
    font-size: 14px !important;
    color: #333333; }
  /* line 702, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .request-description p.small {
    font-size: 12px !important; }
    /* line 705, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .request .request-description p.small a {
      text-transform: lowercase;
      font-size: 12px !important; }
  /* line 711, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .request-description h5.experience {
    margin-bottom: 20px !important; }
  /* line 715, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .request-description big.pull-right {
    font-size: 18px !important;
    color: #555555;
    font-weight: bold; }
  /* line 723, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .commentary p {
    color: #666666; }
  /* line 725, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .request .commentary h4 {
    margin: 16px 0px 0px !important;
    font-size: 18px !important;
    color: #333333;
    font-weight: bold; }

/* line 735, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.thumbnail-wrapper h3 {
  margin: 40px 0px; }

/* line 738, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.accordion {
  border-bottom: 1px solid #e0e0e0; }

/* line 739, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.accordion, .thumbnail-wrapper {
  background-color: #f9f9f9;
  padding-bottom: 50px; }
  /* line 744, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .accordion h4, .thumbnail-wrapper h4 {
    /*font-size: 24px;*/
    font-size: 18px !important;
    color: #333333;
    font-weight: bold;
    /*margin: 40px $margin-null;*/ }
  /* line 752, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .accordion .thumbnail, .thumbnail-wrapper .thumbnail {
    border: 1px solid #e0e0e0;
    padding: 0px; }
    /* line 757, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .accordion .thumbnail .caption, .thumbnail-wrapper .thumbnail .caption {
      padding: 15px; }
      /* line 760, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion .thumbnail .caption h5, .thumbnail-wrapper .thumbnail .caption h5 {
        font-size: 15px !important;
        font-weight: bold;
        color: #333333;
        margin: 15px 0px;
        min-height: 32px; }
      /* line 768, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion .thumbnail .caption .divider, .thumbnail-wrapper .thumbnail .caption .divider {
        height: 2px;
        margin: 15px auto;
        background-color: #c5892f;
        max-width: 40px; }
      /* line 775, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion .thumbnail .caption p, .thumbnail-wrapper .thumbnail .caption p {
        color: #999999;
        font-size: 15px;
        font-weight: bold; }
  /* line 785, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .accordion .filter-form, .thumbnail-wrapper .filter-form {
    /*padding-top: 15px;*/ }
    /* line 788, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .accordion .filter-form .panel, .thumbnail-wrapper .filter-form .panel {
      background-color: transparent;
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 20px 0px;
      margin: 0px; }
      /* line 801, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion .filter-form .panel .form-vertical-filter .panel-title a:hover, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-title a:hover {
        cursor: pointer !important; }
      /* line 803, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion .filter-form .panel .form-vertical-filter .panel-heading, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading {
        padding: 0;
        background-color: transparent;
        border: none !important; }
        /* line 809, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .accordion .filter-form .panel .form-vertical-filter .panel-heading h4, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading h4 {
          font-size: 18px;
          color: #333333;
          font-weight: bold; }
          /* line 814, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .accordion .filter-form .panel .form-vertical-filter .panel-heading h4 a:after, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading h4 a:after {
            font-family: 'Glyphicons Halflings';
            content: "\2212";
            float: right;
            color: #ffffff !important;
            font-size: 9px;
            background-color: #999999;
            border-radius: 20px;
            text-align: center !important;
            width: 15px !important;
            height: 15px !important;
            padding-right: 0.5px !important;
            line-height: 15px !important; }
          /* line 829, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .accordion .filter-form .panel .form-vertical-filter .panel-heading h4 a.collapsed:after, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-heading h4 a.collapsed:after {
            content: "\2b";
            color: #ffffff !important;
            font-size: 11px;
            background-color: #c5892f;
            border-radius: 20px;
            text-align: center !important;
            width: 18px !important;
            height: 18px !important;
            line-height: 18px !important;
            padding-left: 1px !important;
            font-weight: normal;
        }
      /* line 844, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion .filter-form .panel .form-vertical-filter .panel-body, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body {
        padding: 10px 0px;
        border-top: none !important; }
        /* line 849, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .accordion .filter-form .panel .form-vertical-filter .panel-body .controls, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls {
          margin-left: 20px; }
          /* line 852, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .accordion .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"]:checked, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"]:checked {
            background-image: url("../images/checkbox.png") !important;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            -moz-appearance: none;
            -webkit-appearance: none;
            -o-appearance: none; }
          /* line 860, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .accordion .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"], .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls input[type="checkbox"] {
            width: 13px;
            height: 13px;
            border-radius: 2px;
            margin-top: 2px !important; }
          /* line 866, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
          .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label {
            font-size: 12px;
            color: #333333; }
            /* line 870, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
            .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total {
              float: right;
              color: #999999; }
              /* line 874, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
              .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a {
                color: #999999; }
              /* line 877, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
              .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a:hover, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total a:hover {
                cursor: pointer; }
            /* line 881, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
            .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:before, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:before {
              content: "("; }
            /* line 884, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
            .accordion .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:after, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .controls label span.total:after {
              content: ")"; }
        /* line 890, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .accordion .filter-form .panel .form-vertical-filter .panel-body h5, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body h5 {
          font-size: 15px;
          color: #333333;
          font-weight: bold;
          margin-top: 20px; }
        /* line 897, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .accordion .filter-form .panel .form-vertical-filter .panel-body .download, .thumbnail-wrapper .filter-form .panel .form-vertical-filter .panel-body .download {
          font-size: 14px;
          color: #c5892f; }
  /* line 909, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .accordion .filter-form-main .panel:last-child, .thumbnail-wrapper .filter-form-main .panel:last-child {
    border-bottom: none !important; }
  /* line 912, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .accordion ul, .thumbnail-wrapper ul {
    padding-left: 0; }
    /* line 915, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .accordion ul li, .thumbnail-wrapper ul li {
      list-style: none; }
      /* line 918, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion ul li a, .thumbnail-wrapper ul li a {
        color: #555555;
        line-height: 35px;
        display: block;
        text-decoration: none !important; }
      /* line 925, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion ul li a:hover, .thumbnail-wrapper ul li a:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7; }
      /* line 932, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion ul li a:before, .thumbnail-wrapper ul li a:before {
        content: ">";
        padding-right: 5px; }
      /* line 937, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion ul li a.info, .thumbnail-wrapper ul li a.info {
        font-size: 12px;
        color: #999999; }
      /* line 941, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .accordion ul li a.info:before, .thumbnail-wrapper ul li a.info:before {
        content: none !important; }

/* line 950, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.accordion-inner ul {
  padding-left: 20px !important; }
  /* line 953, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .accordion-inner ul li {
    list-style: initial; }

/* line 959, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.thumbnail:hover a > img {
  opacity: 0.35;
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease; }

/* line 971, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.thumbnail a:hover {
  text-decoration: none; }

/* line 977, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
#Products .thumbnail {
  padding: 0px; }

/* line 980, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.wrapper-bg {
  background-color: #f9f9f9; }

/* line 982, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.thumbnail-wrapper {
  background-color: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0; }
  /* line 988, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .thumbnail-wrapper .col-md-5.right-wrap {
    /*margin-top: 20px!important;*/ }
    /* line 991, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.messaging {
      border-top-left-radius: 5px !important;
      border-top-right-radius: 5px !important; }
      /* line 995, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.messaging h4 {
        padding-left: 15px !important;
        margin: 16px 0px !important;
        font-size: 18px !important; }
    /* line 1003, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description {
      background-color: #ffffff !important;
      border: 1px solid #e0e0e0;
      margin-top: -1px;
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important; }
      /* line 1011, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row {
        padding-top: 25px;
        padding-bottom: 15px; }
        /* line 1020, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 p strong {
          margin-bottom: 15px;
          display: block;
          font-size: 15px; }
        /* line 1027, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 .SeeMore {
          font-size: 12px;
          color: #c5892f;
          text-transform: uppercase;
          font-weight: 600;
          padding: 10px 0px 35px;
          display: block; }
        /* line 1039, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 .control-group .controls select {
          -moz-appearance: none !important;
          -webkit-appearance: none !important;
          appearance: none !important;
          background-image: url("../images/arrow-2.png");
          background-repeat: no-repeat;
          background-position: right 15px top;
          background-position-y: 20px;
          width: 100%;
          font-size: 12px;
          height: 50px;
          line-height: 50px;
          font-weight: bold;
          border-radius: 4px;
          border: 1px solid #e0e0e0;
          color: #555555;
          padding: 0px 10px;
          margin-bottom: 10px; }
        /* line 1061, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
        .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description .row .col-md-12 .control-group:last-child {
          padding-bottom: 170px; }
    /* line 1070, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description.main-btn-group .row {
      padding-top: 0px; }
      /* line 1073, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description.main-btn-group .row p {
        margin: 5px 0px !important; }
      /* line 1077, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .thumbnail-wrapper .col-md-5.right-wrap .col-md-12.description.main-btn-group .row .control-group:last-child {
        padding-top: 30px;
        padding-bottom: 15px; }
    /* line 1086, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .thumbnail-wrapper .col-md-5.right-wrap .main-btn-group p {
      margin: 20px 0px;
      font-family: "Open Sans"; }
    /* line 1091, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .thumbnail-wrapper .col-md-5.right-wrap .main-btn-group button#search {
      background-color: #c5892f;
      color: #ffffff !important;
      border: 1px solid #ab7729;
      min-width: 130px;
      height: 50px;
      width: 100%;
      font-weight: bold;
      margin-bottom: 5px;
      text-transform: uppercase; }
    /* line 1103, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .thumbnail-wrapper .col-md-5.right-wrap .main-btn-group button#search:hover {
      opacity: 0.8; }

/* line 1111, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
#map {
  margin-bottom: 13px; }

/* line 1115, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
h2 {
  font-size: 30px; }

/* line 1116, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.carousel-wrapper.experience {
  border-bottom: none !important; }

/* line 1117, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.carousel-wrapper {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px; }
  /* line 1122, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .slideshow {
    margin-bottom: 100px; }
  /* line 1124, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .skidder-viewport .skidder-pager .skidder-pager-dot:hover, .carousel-wrapper .skidder-viewport .skidder-pager .skidder-pager-dot.active {
    background-color: #c5892f !important;
    border: 2px solid #c5892f !important;
    box-shadow: none !important; }
  /* line 1130, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .skidder-viewport .skidder-wrapper .skidder-slide.active, .carousel-wrapper .skidder-viewport .skidder-wrapper .skidder-slide.disengage {
    box-shadow: 0 0 15px 2px #f9f9f9 !important; }
  /* line 1134, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .skidder-viewport .skidder-pager .skidder-pager-dot {
    border: 2px solid #e0e0e0 !important;
    background-color: #e0e0e0 !important;
    box-shadow: none !important; }
  /* line 1140, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .slide.skidder-slide {
    height: 93% !important; }
    /* line 1143, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-wrapper .slide.skidder-slide img {
      height: 100% !important; }
  /* line 1148, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .skidder-viewport .skidder-pager {
    top: 96% !important; }
  /* line 1155, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .carouseltwo .carousel-inner {
    margin: 40px 0px 100px 0px !important; }
    /* line 1158, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-wrapper .carouseltwo .carousel-inner .active.left {
      left: -25%; }
    /* line 1159, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-wrapper .carouseltwo .carousel-inner .next {
      left: 25%; }
    /* line 1160, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-wrapper .carouseltwo .carousel-inner .prev {
      left: -25%; }
  /* line 1163, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .carouseltwo .carousel-control {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    width: 4%; }
    /* line 1170, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-left, .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-right {
      background-color: #c5892f !important;
      border-radius: 20px !important;
      height: 40px !important;
      width: 40px !important;
      padding-top: 10px !important;
      position: absolute;
      top: 35% !important; }
    /* line 1179, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-left {
      margin-left: 0px; }
    /* line 1182, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .carousel-wrapper .carouseltwo .carousel-control .glyphicon.glyphicon-menu-right {
      margin-left: 15px; }
  /* line 1188, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .carouseltwo .carousel-control.left {
    margin-left: -40px;
    background-image: none; }
  /* line 1189, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .carousel-wrapper .carouseltwo .carousel-control.right {
    margin-right: 15px;
    background-image: none; }

/* line 1197, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssorb01 {
  position: absolute; }

/* line 1201, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  position: absolute;
  width: 12px;
  height: 12px;
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer; }

/* line 1211, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssorb01 div {
  background-color: #e0e0e0;
  border-radius: 10px; }

/* line 1212, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssorb01 div:hover, .jssorb01 .av:hover {
  background-color: #c5892f; }

/* line 1213, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssorb01 .av {
  background-color: #c5892f; }

/* line 1214, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssorb01 .dn, .jssorb01 .dn:hover {
  background-color: #c5892f; }

/* line 1216, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssora13l {
  display: block;
  position: absolute;
  cursor: pointer;
  background: url("../images/slide_left.png") no-repeat;
  background-position: 0% 0% !important;
  background-size: 31px 31px !important;
  overflow: hidden; }

/* line 1226, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssora13r {
  display: block;
  position: absolute;
  cursor: pointer;
  background: url("../images/slide_right.png") no-repeat;
  background-position: 0% 0% !important;
  background-size: 31px 31px !important;
  overflow: hidden; }

/* line 1237, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssora13l {
  left: 85px !important; }

/* line 1238, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.jssora13r {
  right: 85px !important; }

/* line 1240, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.slide-item {
  min-height: 1% !important;
  height: 100% !important;
  max-height: 365px !important;
  background-color: #f9f9f9; }
  /* line 1246, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item div > div.row {
    margin: 0px 8px !important; }
  /* line 1250, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item div {
    background-color: #f9f9f9; }
  /* line 1256, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item img {
    width: 100% !important; }
  /* line 1261, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item h3 {
    font-size: 20px;
    color: #ffffff; }
  /* line 1266, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item p {
    font-size: 11px;
    color: #ffffff; }
  /* line 1271, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item a {
    font-size: 11px;
    background-color: #c5892f;
    color: #ffffff !important;
    border: 1px solid #ab7729;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    width: 100%;
    max-width: 150px; }
  /* line 1284, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item a:hover {
    opacity: 0.8;
    background-color: #c5892f;
    border-color: #ab7729; }
  /* line 1290, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .slide-item .row > div {
    padding: 0px 15px; }

/* line 1297, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.booking > .container {
  margin-bottom: 100px !important;
  padding-bottom: 0px !important; }

/* line 1298, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.booking {
  padding-top: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0; }
  /* line 1303, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .booking .container {
    background-color: #ffffff;
    padding-bottom: 50px; }
    /* line 1307, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container .carousel-inner .item img {
      width: auto !important; }
    /* line 1311, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container h1 {
      font-size: 30px; }
    /* line 1315, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container p {
      font-size: 16px;
      color: #555555; }
    /* line 1320, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container h4 {
      margin: 16px 0px !important;
      font-size: 18px !important;
      font-weight: bold; }
    /* line 1326, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container h5 {
      margin: 16px 0px !important;
      font-size: 15px !important;
      font-weight: bold;
      color: #000000; }
    /* line 1335, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container .row p {
      font-size: 15px !important;
      color: #666666; }
    /* line 1344, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container .row big.pull-right {
      font-size: 18px !important;
      color: #555555;
      font-weight: bold; }
    /* line 1350, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .booking .container .row p.small {
      font-size: 13px !important;
      color: #000000; }
      /* line 1354, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .booking .container .row p.small a {
        text-transform: lowercase;
        font-size: 13px !important; }

/* line 1365, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.help {
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
  background-position: 50% 0px;
  position: relative;
  top: -45px;
  margin-bottom: 80px;
  padding: 80px 0px 0px 0px; }
  /* line 1374, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .help h3 {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    margin: 40px 0px; }
  /* line 1381, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .help p {
    font-size: 14px;
    color: #555555;
    font-weight: bold; }
  /* line 1387, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .help p.text-center.btn-main {
    margin: 40px 0px 60px 0px; }
    /* line 1390, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .help p.text-center.btn-main .btn-primary {
      background-color: #c5892f;
      color: #ffffff !important;
      border: 1px solid #ab7729;
      min-width: 300px;
      height: 50px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 35px;
      margin: 3px 10px; }
    /* line 1403, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .help p.text-center.btn-main .btn-primary:hover {
      opacity: 0.8;
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8; }

/* line 1414, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.messaging {
  border: 1px solid #e0e0e0;
  padding: 0px;
  background-image: url("../images/bg-messaging.png"); }
  /* line 1419, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .messaging .container {
    background-image: url("../images/icon-2.png");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    position: relative;
    top: -50px; }
    /* line 1426, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .messaging .container .messaging-wrapper {
      padding: 110px 0px 0px 0px; }
    /* line 1428, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .messaging .container h4 {
      font-size: 18px !important;
      color: #333333;
      font-weight: bold;
      margin: 20px 0px 30px; }
    /* line 1436, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .messaging .container .form-messaging .controls {
      /* Firefox 19+ */
      /* Firefox 18- */ }
      /* line 1437, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls input, .messaging .container .form-messaging .controls select {
        width: 100%;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        color: #555555;
        padding: 0px 10px;
        margin-bottom: 10px; }
      /* line 1450, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls select {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
        background-image: url("../images/arrow-2.png");
        background-repeat: no-repeat;
        background-position: right 15px top;
        background-position-y: 20px; }
      /* line 1460, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls ::-webkit-input-placeholder {
        color: #555555 !important; }
      /* line 1461, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls ::-moz-placeholder {
        color: #555555 !important; }
      /* line 1462, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls :-moz-placeholder {
        color: #555555 !important; }
      /* line 1463, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls :-ms-input-placeholder {
        color: #555555 !important; }
      /* line 1465, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls .submit {
        background-color: #c5892f;
        color: #ffffff !important;
        border: 1px solid #ab7729;
        min-width: 130px;
        height: 50px;
        font-weight: bold;
        text-transform: uppercase; }
      /* line 1475, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
      .messaging .container .form-messaging .controls .submit:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8; }

/* line 1490, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.breadcrumb {
  background-color: transparent;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 15px 0px; }
  /* line 1497, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .breadcrumb li a {
    font-weight: bold;
    font-size: 12px;
    color: #555555; }

/* line 1505, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
li.picker-switch.accordion-toggle {
  display: none !important; }

/* line 1510, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
.footer {
  padding: 55px 0px; }
  /* line 1513, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .footer address {
    font-size: 12px;
    line-height: 20px;
    color: #555555; }
    /* line 1518, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .footer address strong {
      font-size: 13px;
      color: #333333;
      display: block;
      padding-bottom: 10px;
      font-weight: bold;
      text-transform: uppercase; }
    /* line 1527, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .footer address strong > a {
      font-size: 13px;
      color: #333333;
      display: block;
      font-weight: bold;
      text-transform: uppercase; }
    /* line 1535, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .footer address a {
      font-size: 12px;
      line-height: 20px;
      color: #555555; }
    /* line 1541, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .footer address abbr {
      color: #c5892f;
      text-transform: uppercase;
      padding-top: 10px;
      display: block;
      border-bottom: none; }
    /* line 1549, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .footer address abbr > a {
      color: #c5892f;
      text-transform: uppercase;
      display: block;
      border-bottom: none; }
  /* line 1557, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .footer .col-md-4:nth-child(2) {
    padding-left: 85px;
    background-image: url("../images/icon-3.png");
    background-repeat: no-repeat;
    background-position: 0% 0px; }
  /* line 1563, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .footer .col-md-4:nth-child(3) {
    padding-left: 85px;
    background-image: url("../images/icon-4.png");
    background-repeat: no-repeat;
    background-position: 0% 0px; }

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1573, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-collapse.collapse {
    display: none !important; }
  /* line 1576, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-collapse.collapse.in {
    display: block !important; }
  /* line 1579, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }
  /* line 1582, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-header {
    float: none; }
  /* line 1585, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-nav > li > a {
    line-height: 26px !important; }
  /*.navbar-nav>li:hover .dropdown-menu {position: absolute!important;}*/ }

@media (max-width: 991px) {
  /* line 1592, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar .navbar-nav li > a {
    padding: 10px 10px; }
  /* line 1596, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-brand {
    line-height: 80px; }
  /* line 1602, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .header-block .col-md-12 {
    padding: 0px; }
    /* line 1605, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .header-block .col-md-12 .navbar-default .navbar-brand {
      margin-left: 15px; }
    /* line 1609, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .header-block .col-md-12 .navbar .navbar-toggle {
      margin-right: 15px; }
    /* line 1613, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .header-block .col-md-12 .navbar-nav li .dropdown-menu {
      /*position: relative;*/
      /*width: 100%;*/ }
    /* line 1618, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .header-block .col-md-12 .navbar-nav li .dropdown-menu:hover {
      display: block; }
    /* line 1623, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
    .header-block .col-md-12 .navbar-nav li .dropdown-menu li a {
      padding-left: 25px; } }

/*#jssor_1, #jssor_1>div {height: 300px!important;}

#jssor_1>div>div>div {height: 100%!important;}*/
@media (min-width: 768px) {
  /* line 1637, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px; } }

@media (max-width: 768px) {
  /* line 1645, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .header-block .col-md-12 .navbar-nav li .dropdown-menu {
    width: 100%; }
  /* line 1647, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .text-right-main {
    text-align: left; }
  /* line 1650, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .footer .col-md-4:nth-child(2), .footer .col-md-4:nth-child(3) {
    padding-left: 100px !important;
    background-position: 3% 0px !important; } }

@media (max-width: 280px) {
  /* line 1658, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar .navbar-toggle {
    float: none;
    margin: 0 auto 10px !important;
    display: block; }
  /* line 1664, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-brand {
    line-height: 60px; }
  /* line 1668, D:/work/www/levendehistorie.dk/DW/Templates/Designs/2015_Levende/css/style.scss */
  .navbar-default .navbar-brand {
    height: 60px;
    display: block;
    float: none;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */