


$primary-font-family: 'Glegoo', serif;
$header-block-bg-color: #61152f!important;
$thumbnail-wrapper-bg-color: #f9f9f9;
$carousel-block-border: #cc9933;
$color-white: #ffffff!important;
$bg-color-menu-item: #cc9933!important;
$height-menu-item: 100px;
$font-size-h2: 28px!important;
$font-weight-bold: bold;
$color-transparent: transparent;
$text-transform-upper: uppercase;
$form-fild-height: 50px;
$primary-color: #333333;
$color-dark: #555555;
$color-golden-rod: #c5892f; 
$color-dark-golden-rod: #ab7729;
$color-silver: #e0e0e0;
$color-dark-gray: #999999;
$breadcrumb-bg-color: #eaeaea;

$padding-null: 0px;
$margin-null: 0px;



body {
	font-family: $primary-font-family;
    color: $primary-color;
}

h2 {font-size: $font-size-h2;}

.container {max-width: 970px;}

.header-block {
	background-color: $header-block-bg-color;
}

.breadcrumb-wrapper {
    background-color: $breadcrumb-bg-color;
}

.navbar {
	position: relative;
	min-height: $height-menu-item;
	margin-bottom: $margin-null;
	border: none;
    
    .navbar-nav{
        margin: 0px -15px;
        
        li>a {
            font-size: 13px;
            color: $color-white;
            padding: 10px 10px;
            text-transform: $text-transform-upper;
            font-weight: $font-weight-bold;
        }
    }
    
    .navbar-toggle {
        margin-top: 27px;
        margin-bottom: 27px;
        margin-right: 0px;
        padding: 15px 10px!important;
        border-radius: 30px!important;
        background-color: $color-golden-rod!important;
        border: 1px solid $color-golden-rod!important;
        
        .icon-bar {
            background-color: $color-white;
        }
    }
    
    .navbar-toggle:hover {
        
        .icon-bar {
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.8;
            -webkit-transition: opacity .2s!important;
            transition: opacity .2s!important;
        }
    }
}

.navbar-default {
	background-color: $color-transparent;
	border-color: $color-transparent;

    .navbar-brand {
        color: $color-white;
        font-weight: $font-weight-bold;
        font-size: 20px;
        text-transform: $text-transform-upper;
        height: $height-menu-item;
        line-height: $height-menu-item;
        padding: 10px $padding-null;
        
        small {
            font-size: 16px;
            color: $bg-color-menu-item;
            text-transform: none;
        }
        
    .navbar-brand:focus, .navbar-brand:hover {
        color: $color-white;
    }    
    
    }
    
    .navbar-nav {
        .active>a {
            background-color: $bg-color-menu-item;
            text-decoration: underline!important;
        }
        
        a:hover {
            background-color: $bg-color-menu-item;
        }
        
        .dropdown-menu li:hover a  {
            background-color: $bg-color-menu-item;
        }
        
        li>a:hover, .active>a:hover, .open>a, .open>a:focus, .open>a:hover {
            text-decoration: underline!important;
        }
        
        
        .dropdown>a:after {
            content: "\e114";
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 100!important;
            line-height: 1;
            padding-left: 5px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        } 
        
        li{
            .dropdown-menu {
                background-color: $header-block-bg-color;
                padding-top: 0px;
                padding: 0px;
                left: 50%;
                right: auto;
                transform: translate(-50%, 0);
                
                a {text-transform: capitalize;}
                
                .caret {
                    margin-left: 50%;
                    margin-top: -31px;
                    border-top: none;
                    border-bottom: 7px dashed;
                    color: #c5892f;
                    border-bottom: 7px solid\9;
                    border-right: 7px solid transparent;
                    border-left: 7px solid transparent;
                }
            }
            
            a {
                color: $color-white;
            }
        }
        
        .dropdown:hover .dropdown-menu {
            display: block!important;
        }
        
        .dropdown {
            a {
                span.glyphicon.glyphicon-chevron-down {
                    font-size: 10px;
                    color: #c5892f;
                    font-weight: 100!important;
                }
            }
            
            a:hover {
                span.glyphicon.glyphicon-chevron-down {
                    color: #ffffff;
                }
            }
        }
        
    }
    
    .navbar-collapse {
        border: none;
    }
    
}

.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:focus, .navbar-default .navbar-nav .open > a:hover {
    background-color: transparent!important;
}


.carousel-block {
    border-top: 1px solid $carousel-block-border;
    border-bottom: 2px solid $carousel-block-border;
    
    .container-fluid {
        .row {
            
            position: relative;

            .form-horizontal {
                position: absolute;
                bottom: 20%;
                width: 65%;
                margin: $margin-null auto!important;
                right: 0;
                left: 0;

                select {
                    width: 100%;
                    height: $form-fild-height;
                    border-radius: 4px;
                    border: 1px solid $color-silver;
                    color: $color-dark;
                    padding: $padding-null 10px;
                    margin-bottom: 10px;
                    -moz-appearance: none!important;
                    -webkit-appearance: none!important;
                    appearance: none!important;
                    background-image:   url('../images/arrow-2.png');
                    background-repeat: no-repeat;
                    background-position: right 15px top;
                    background-position-y: 20px;


                    option{
                        color: $color-dark;
                    }
                }



            .control-group {
                .controls {
                    .btn-search {
                        background-color: $color-golden-rod;
                        color: $color-white;
                        border: 1px solid $color-dark-golden-rod;
                        min-width: 130px;
                        height: $form-fild-height;
                        font-weight: $font-weight-bold;
                        text-transform: $text-transform-upper;

                        span {
                            padding-right: 10px;
                        }
                    }

                    .btn-search:hover {
                        opacity: 0.8;
                        filter: alpha(opacity=80);
                        -moz-opacity: 0.8;
                        -khtml-opacity: 0.8;
                    }
                }
            }

            }
            
        }
    }
}

select {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background-image: url("../images/arrow-2.png")!important;
    background-repeat: no-repeat!important;
    background-position: right 15px top;
    background-position-y: 20px;
    
    width: 100%;
    font-size: 14px!important;
    height: 50px!important;
    line-height: 50px!important;
    font-weight: bold!important;
    border-radius: 4px!important;
    border: 1px solid #e0e0e0!important;
    color: #555555!important;
    padding: 0px 10px!important;
    margin-bottom: 10px!important;
}

.input-group.date {
    width: 100%;
    font-size: 14px!important;
    height: 50px!important;
    line-height: 50px!important;
    font-weight: bold!important;
    border-radius: 4px!important;
    border: none!important;
    color: #555555!important;
    margin-bottom: 10px!important;
    
    .form-control {
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        -webkit-transition: none!important;
        -o-transition: none!important;
        border-right: none!important;
    }
    
    input {
        font-weight: bold!important;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid #e0e0e0!important;
        color: #555555!important;
        height: 50px!important;
        line-height: 50px!important;
    }
    
    .input-group-addon {
        background-color: #ffffff!important;
        border-top: 1px solid #e0e0e0!important;
        border-right: 1px solid #e0e0e0!important;
        border-bottom: 1px solid #e0e0e0!important;
        border-left: none!important;
        border-top-right-radius: 4px!important;
        border-bottom-right-radius: 4px!important;
    }
    
    .input-group-addon:hover { 
        cursor: pointer;
    }
    
    .glyphicon-calendar:before {color: #c5892f;}
}

.form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    /*padding-left: 30px;*/
}

.features {
    
    .checkbox-white {
        background-image: url("../images/checkbox-white.png") !important;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
        height: 22px;
        width: 22px;
        margin-left: -30px!important;
        margin-top: -1px;
    }
    
    .control-group {
        padding-left: 30px;
        
        .checkbox, .radio {
            margin-top: 15px!important;
            margin-bottom: 15px!important;   
            color: #999999;
            
            span.total {
                float: right;
                
                a {
                    color: #999999;
                    font-size: 12px;
                    padding: 3px 0px;
                    text-decoration: underline;
                }
            }
        }
        
        strong {
            color: #555555;
        }
        
        .checkbox-white {
            background-image: url("../images/checkbox-white.png") !important;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            -moz-appearance: none;
            -webkit-appearance: none;
            -o-appearance: none;
            height: 22px;
            width: 22px;
            margin-left: -30px!important;
            margin-top: -1px;
            
            
        }
        
        .checkbox-white[type="checkbox"]:checked {
            background-image: url("../images/checkbox-white-checked.png") !important;
            background-repeat: no-repeat;
        }
    }
    
    select.form-control.input-lg {
        margin-bottom: 0px!important;
    }
    
    span {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
}

.SeeMore {
    font-size: 12px!important;
    color: $color-golden-rod!important;
    text-transform: uppercase;
    font-weight: 600!important;
    display: inline-block!important;
}

.input-lg {
    line-height: 46px!important;
}

.hr {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    overflow: hidden;
}

.both {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

#easyTooltip{
	padding:5px 10px;
	border:1px solid #e0e0e0;
	background:#ffffff;
	color:#333333;
}

.social-icons {
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
        padding: 0px 10px;
        
        li {
            list-style: none!important;
            width: 33px;
            height: 33px;
            display: block;
            float: right;
            margin-left: 5px;
            
            a {
                background-color: transparent;
                border: none;
            }
            
            a:hover {
                background-color: transparent;
                border: none;
            }
        }
    }

}



.carousel-inner {
    .item {
        img {
            width: 100%;
        }
        
        .carousel-caption {
            top: 22%!important;
            
            h2 {
                font-weight: $font-weight-bold;
            }
        }
    }
}

.registration-wrapper{
    background-color: #f9f9f9;
    
    .registration {
        background-color: #6f1835;
        margin-top: 15px;

        img {
           width: 100%; 
        }

        .navbar {
            min-height: 40px!important;
            margin-top: 40px;

            .navbar-inner {
                width: 85%!important;
                margin: 0 auto!important;

                .nav-pills>li {
                        width: 33%;

                        a {
                            color: #ffffff;
                        }
                }

                .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
                    color: #c5892f;
                    font-weight: 600;
                    background-color: transparent;
                }

                .nav-pills>li>a:focus, .nav-pills>li>a:hover {
                    color: #c5892f;
                    font-weight: 600;
                    background-color: transparent;
                }

                .nav-pills>li {
                    position: relative;

                    .timeline {
                        position: absolute;
                        top: 41px;
                        width: 32px;
                        height: 32px;
                        background-repeat: no-repeat;
                    }
                }

                .nav-pills>li:nth-child(1) {

                    .timeline {
                        left: 30px;
                        background-image: url(../images/timeline-left.jpg);
                    }
                }
                .nav-pills>li:nth-child(2) {
                    text-align: center;

                    .timeline {
                        left: 50%;
                        background-image: url(../images/timeline-center.png);
                    }

                }
                .nav-pills>li:nth-child(3) {
                    text-align: right;

                    .timeline {
                        right: 30px;
                        background-image: url(../images/timeline-last.jpg);
                    }
                }


                /*.nav-pills>li.active:nth-child(1) {

                    .timeline {
                        background-image: url(../images/timeline-active-center.png);
                    }
                }*/
                
                .nav-pills>li.active:nth-child(2) {

                    .timeline {
                        background-image: url(../images/timeline-active-center-hover.png);
                    }

                }

                .nav-pills>li.active:nth-child(3) {

                    .timeline {
                        background-image: url(../images/timeline-active-center.png);
                    }
                }

                .nav-pills>li:hover {

                    .timeline {
                        background-image: url(../images/timeline-active-center-hover.png);
                    }
                }

                .nav-pills>li.selected {
                    .timeline {
                        background-image: url(../images/timeline-active-center.png)!important;
                    }
                }
            }
        }

        .progress {
            overflow: inherit;
            height: 4px;
            background-color: #61152f;
            border-radius: 0px;
            width: 75%!important;
            margin: 15px auto 45px;

            .progress-bar-main {
                background-color: #cc9933;
            }
        }
    }
}


.step-wrapper {
    .step-main {
        padding-top: 45px;
        
        a {
            font-size: 18px;
            color: #333333;
            display: block;
            font-weight: 700;
            
            .badge {
                color: #fff;
                background-color: #6f1835;
                margin-right: 15px;
                height: 29px;
                width: 29px;
                vertical-align: middle;
                font-size: 21px;
                border-radius: 20px;
            }
        }
    }
}

.request {
    padding-top: 45px;
    
    h3 {
        font-size: 24px;
        color: #333333;
        font-weight: bold;
        margin: 0px 0px 30px;
    }
    
    p {
        font-size: 16px;
        color: #555555;
    }
    
    .request-description {
        
        h4 {
            margin: 16px 0px 0px!important;
            font-size: 18px !important;
            color: #333333;
            font-weight: bold;
        }
        
        h5 {
            margin: 25px 0px 0px!important;
            font-size: 15px !important;
            color: #333333;
            font-weight: bold;
        }
        
        p {
            font-size: 14px !important;
            color: #333333;
        }

        p.small {
            font-size: 12px!important;

            a {
                text-transform: lowercase;
                font-size: 12px!important;
            }
        }
        
        h5.experience {
            margin-bottom: 20px!important;
        }
        
        big.pull-right {
            font-size: 18px!important;
            color: #555555;
            font-weight: bold;
        }
    }
    
    .commentary {
        p {color: #666666;}
        
        h4 {
            margin: 16px 0px 0px !important;
            font-size: 18px !important;
            color: #333333;
            font-weight: bold;
        }
    }
}

.thumbnail-wrapper {
    h3 {margin: 40px 0px;}
}

.accordion {border-bottom: 1px solid #e0e0e0;}
.accordion, .thumbnail-wrapper {
    background-color: $thumbnail-wrapper-bg-color;
    padding-bottom: 50px;  
    
    
    h4 {
        /*font-size: 24px;*/
        font-size: 18px!important;
        color: $primary-color;
        font-weight: $font-weight-bold;
        /*margin: 40px $margin-null;*/
    }
    
    .thumbnail {
        border: 1px solid $color-silver;
        padding: $padding-null;
        
        
        .caption {
            padding: 15px;
            
            h5 {
                font-size: 15px!important;
                font-weight: $font-weight-bold;
                color: $primary-color;
                margin: 15px 0px;
                min-height: 32px;
            }
            
            .divider {
                height: 2px;
                margin: 15px auto;
                background-color: $color-golden-rod;
                max-width: 40px;
            }
            
            p{
                color: $color-dark-gray;
                font-size: 15px;
                font-weight: $font-weight-bold;
            }  
        } 
    }
    
    
    
    .filter-form {
        /*padding-top: 15px;*/
        
        .panel {
            background-color: $color-transparent;
            border-top: none!important;
            border-right: none!important;
            border-left: none!important;
            border-bottom: 1px solid $color-silver;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding: 20px 0px;
            margin: 0px;
            
            .form-vertical-filter {
                .panel-title a:hover {cursor: pointer!important;}
                
                .panel-heading {
                    padding: 0;
                    background-color: $color-transparent;
                    border: none!important;


                    h4 {
                        font-size: 18px;
                        color: $primary-color;
                        font-weight: $font-weight-bold;
                        
                        a:after {
                            font-family:'Glyphicons Halflings';
                            content:"\2212";
                            float: right;
                            color: $color-white;
                            font-size: 11px;
                            background-color: $color-dark-gray;
                            border-radius: 20px;
                            text-align: center!important;
                            width: 18px!important;
                            height: 18px!important;
                            padding-right: 0.5px!important;
                            line-height: 18px!important;
                        }

                        a.collapsed:after {
                            content:"\2b";
                            color: $color-white;
                            font-size: 11px;
                            background-color: $color-golden-rod;
                            border-radius: 20px;
                            text-align: center!important;
                            width: 18px!important;
                            height: 18px!important;
                            line-height: 18px!important;
                            padding-left: 1px!important;
                        }
                    }
                }

                .panel-body {
                    padding: 10px 0px;
                    border-top: none!important;


                    .controls {
                        margin-left: 20px;
                        
                        input[type="checkbox"]:checked {
                            background-image:   url('../images/checkbox.png')!important;
                            background-repeat: no-repeat;
                            background-position: 0px 0px;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            -o-appearance: none;
                        }
                        input[type="checkbox"] {
                            width: 13px;
                            height: 13px;
                            border-radius: 2px;
                            margin-top: 2px!important;
                        }
                        label {
                            font-size: 12px;
                            color: $primary-color;
                            
                            span.total {
                                float: right;
                                color: $color-dark-gray;
                                
                                a {
                                    color: $color-dark-gray;    
                                }
                                a:hover {
                                    cursor: pointer;
                                }
                            }
                            span.total:before {
                                content: "(";
                            }
                            span.total:after {
                                content: ")";
                            }
                        }
                    }
                    
                    h5 {
                        font-size: 15px;
                        color: $primary-color;
                        font-weight: $font-weight-bold;
                        margin-top: 20px;
                    }
                    
                    .download {
                        font-size: 14px;
                        color: $color-golden-rod;
                    }
                }
                
                
            }
        }
    }
    
    .filter-form-main {
        .panel:last-child {border-bottom: none!important;}
    }
    
    ul {
        padding-left: 0;

        li {
            list-style: none;

            a {
                color: $color-dark;
                line-height: 35px;
                display: block;
                text-decoration: none!important;
            }
            
            a:hover {
                opacity: 0.7;
                filter: alpha(opacity=70);
                -moz-opacity: 0.7;
                -khtml-opacity: 0.7;
            }
            
            a:before {
                content: ">";
                padding-right: 5px;
            }
            
            a.info {
                font-size: 12px;
                color: $color-dark-gray;
            }
            a.info:before {
                content: none!important;
            }
        }
    }
    
}

.accordion-inner {
    ul {
        padding-left: 20px!important;
        
        li {
            list-style: initial;
        }
    }
}

.thumbnail:hover a>img {
    opacity: 0.35;
    filter: alpha(opacity=35);
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;     
    -o-transition: all 1.5s ease;     
    -ms-transition: all 1.5s ease;     
    transition: all 1.5s ease;
}

.thumbnail a:hover {
    text-decoration: none;
}


#Products {
    .thumbnail {padding: 0px;}
}

.wrapper-bg {background-color: $thumbnail-wrapper-bg-color;}

.thumbnail-wrapper {
    background-color: $thumbnail-wrapper-bg-color;
    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0e0e0;
    
    .col-md-5.right-wrap {
        /*margin-top: 20px!important;*/
        
        .col-md-12.messaging {
            border-top-left-radius: 5px!important;
            border-top-right-radius: 5px!important;

            h4 {
                padding-left: 15px!important;
                margin: 16px 0px!important;
                font-size: 18px!important;
            }
        }
        
       
        .col-md-12.description {
            background-color: $color-white;
            border: 1px solid $color-silver;
            margin-top: -1px;
            border-bottom-left-radius: 5px!important;
            border-bottom-right-radius: 5px!important;


            .row {
                padding-top: 25px;
                padding-bottom: 15px;


                .col-md-12 {

                    p {

                        strong {
                            margin-bottom: 15px;
                            display: block;
                            font-size: 15px;
                        }
                    }

                    .SeeMore {
                        font-size: 12px;
                        color: #c5892f;
                        text-transform: uppercase;
                        font-weight: 600;
                        padding: 10px 0px 35px;
                        display: block;
                    }


                    .control-group {
                        .controls {
                            select {
                                -moz-appearance: none !important;
                                -webkit-appearance: none !important;
                                appearance: none !important;
                                background-image: url("../images/arrow-2.png");
                                background-repeat: no-repeat;
                                background-position: right 15px top;
                                background-position-y: 20px;
                                width: 100%;
                                font-size: 12px;
                                height: 50px;
                                line-height: 50px;
                                font-weight: bold;
                                border-radius: 4px;
                                border: 1px solid $color-silver;
                                color: #555555;
                                padding: 0px 10px;
                                margin-bottom: 10px;
                                font-weight: normal;
                            }
                        }
                    }

                    .control-group:last-child {
                        padding-bottom: 170px;

                    }
                }
            }
        }

        .col-md-12.description.main-btn-group {
            .row {
                padding-top: 0px;

                p {
                    margin: 5px 0px!important;
                }

                .control-group:last-child {
                    padding-top: 30px;
                    padding-bottom: 15px;
                }
            }
        }


        .main-btn-group {
            p {
                margin: 20px 0px;
                font-family: "Open Sans";
            }

            button#search {
                background-color: #c5892f;
                color: $color-white;
                border: 1px solid #ab7729;
                min-width: 130px;
                height: 50px;
                width: 100%;
                font-weight: bold;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            button#search:hover {
                opacity: 0.8
            }
        }
        
    }
}

#map {margin-bottom: 13px;}



h2 {font-size: 30px}
.carousel-wrapper.experience {border-bottom: none!important}
.carousel-wrapper {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 20px;
    
    .slideshow {margin-bottom: 100px;}
    
    .skidder-viewport .skidder-pager .skidder-pager-dot:hover, .skidder-viewport .skidder-pager .skidder-pager-dot.active {
        background-color: #c5892f!important;
        border: 2px solid #c5892f!important;
        box-shadow: none!important;
    }
    
    .skidder-viewport .skidder-wrapper .skidder-slide.active, .skidder-viewport .skidder-wrapper .skidder-slide.disengage {
        box-shadow: 0 0 15px 2px #f9f9f9!important;
    }
    
    .skidder-viewport .skidder-pager .skidder-pager-dot {
        border: 2px solid #e0e0e0!important;
        background-color: #e0e0e0!important;
        box-shadow: none!important;
    }
    
    .slide.skidder-slide {
        height: 93%!important;
        
        img {
            height: 100%!important;
        }
    }
    
    .skidder-viewport .skidder-pager {
        top: 96%!important;
    }
    
    
    
    .carouseltwo {
        .carousel-inner{
            margin: 40px 0px 100px 0px !important;

            .active.left {left: -25%;}
            .next {left:  25%;}
            .prev {left: -25%;}
        }
        
        .carousel-control{
            opacity: 1!important;
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            width: 4%;
            
            .glyphicon.glyphicon-menu-left, .glyphicon.glyphicon-menu-right {
                background-color: $color-golden-rod!important;
                border-radius: 20px!important;
                height: 40px!important;
                width: 40px!important;
                padding-top: 10px!important;
                position: absolute;
                top: 35%!important;
            }
            .glyphicon.glyphicon-menu-left {
                margin-left: 0px;
            }
            .glyphicon.glyphicon-menu-right{
                margin-left: 15px;
            }
            
        }
        
        .carousel-control.left {margin-left: -40px;background-image:none;}
        .carousel-control.right {margin-right:15px;background-image:none;} 
    }

    
    
}


.jssorb01 {
    position: absolute;
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
}

.jssorb01 div {background-color: #e0e0e0;border-radius:  10px;}
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #c5892f; }
.jssorb01 .av { background-color: #c5892f; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #c5892f; }

.jssora13l {
    display: block;
    position: absolute;
    cursor: pointer;
    background: url('../images/slide_left.png') no-repeat;
    background-position: 0% 0%!important;
    background-size: 31px 31px!important;
    overflow: hidden;
}

.jssora13r {
    display: block;
    position: absolute;
    cursor: pointer;
    background: url('../images/slide_right.png') no-repeat;
    background-position: 0% 0%!important;
    background-size: 31px 31px!important;
    overflow: hidden;
}


.jssora13l {left: 85px!important;}
.jssora13r {right: 85px!important;}

.slide-item {
    min-height: 1%!important;
    height: 100%!important;
    max-height: 365px!important;
    background-color: #f9f9f9;
    
    div>div.row {
        margin: 0px 8px!important;
    }
    
    div {
        background-color: #f9f9f9;
    }
    
    
    
    img {
        width: 100%!important;
        
    }
    
    h3 {
        font-size: 20px;
        color: #ffffff;
    }
    
    p {
        font-size: 11px;
        color: #ffffff;
    }
    
    a {
        font-size: 11px;
            background-color: #c5892f;
            color: #ffffff !important;
            border: 1px solid #ab7729;
            height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 20px;
            width: 100%;
            max-width: 150px;
    }
    
    a:hover {
        opacity: 0.8;
        background-color: #c5892f;
        border-color: #ab7729;
    }
    
    .row>div {
        padding: 0px 15px;
    }
}



.booking>.container {margin-bottom: 100px!important; padding-bottom: 0px!important;}
.booking {
    padding-top: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    
    .container {
        background-color: #ffffff;
        padding-bottom: 50px;
        
        .carousel-inner .item img {
            width: auto!important;
        }
        
        h1 {
            font-size: 30px;
        }
        
        p {
            font-size: 16px;
            color: #555555;
        }
        
        h4 {
            margin: 16px 0px !important;
            font-size: 18px !important;
            font-weight: bold;
        }
        
        h5 {
            margin: 16px 0px !important;
            font-size: 15px !important;
            font-weight: bold;
            color: #000000;
        }
        
        .row {
            
            p{
                font-size: 15px !important;
                color: #666666;
            }
            
            span {
                
            }
            
            big.pull-right {
                font-size: 18px !important;
                color: #555555;
                font-weight: bold;
            }
            
            p.small {
                font-size: 13px !important;
                color: #000000;
                
                a {
                    text-transform: lowercase;
                    font-size: 13px !important;
                }
            }
        }
    }
    
}


.help {
    background-image:   url('../images/icon.png');
    background-repeat: no-repeat;
    background-position: 50% 0px;
    position: relative;
    top: -45px;
    margin-bottom: 80px;
    padding: 80px 0px 0px 0px;
    
    h3 {
        font-size: 24px;
        color: $primary-color;
        font-weight: $font-weight-bold;;
        margin: 40px 0px;
    }
    
    p {
        font-size: 14px;
        color: $color-dark;
        font-weight: $font-weight-bold;
    }
    
    p.text-center.btn-main {
        margin: 40px 0px 60px 0px;
        
        .btn-primary {
            background-color: $color-golden-rod;
            color: $color-white;
            border: 1px solid $color-dark-golden-rod;
            min-width: 300px;
            height: 50px;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            line-height: 35px;
            margin: 3px 10px;
            
        }
        
        .btn-primary:hover {
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.8;
        }
    }
}



.messaging {
    border: 1px solid $color-silver;
    padding: 0px;
    background-image: url('../images/bg-messaging.png');
    
    .container {
        background-image: url('../images/icon-2.png');
        background-repeat: no-repeat;
        background-position: 50% 0px;
        position: relative;
        top: -50px;
        
        .messaging-wrapper {padding: 110px 0px 0px 0px;}    
        
            h4 {
                font-size: 18px!important;
                color: $primary-color;
                font-weight: $font-weight-bold;
                margin: 20px 0px 30px;
            }

            .form-messaging {
                .controls {
                    input, select {
                        width: 100%;
                        font-size: 14px;
                        height: $form-fild-height;
                        line-height: $form-fild-height;
                        font-weight: $font-weight-bold;
                        border-radius: 4px;
                        border: 1px solid $color-silver;
                        color: $color-dark;
                        padding: $padding-null 10px;
                        margin-bottom: 10px;
                    }
                    
                    select {
                        -moz-appearance: none!important;
                        -webkit-appearance: none!important;
                        appearance: none!important;
                        background-image:   url('../images/arrow-2.png');
                        background-repeat: no-repeat;
                        background-position: right 15px top;
                        background-position-y: 20px;
                    }

                    ::-webkit-input-placeholder {color: $color-dark!important;}
                    ::-moz-placeholder          {color: $color-dark!important;}/* Firefox 19+ */
                    :-moz-placeholder           {color: $color-dark!important;}/* Firefox 18- */
                    :-ms-input-placeholder      {color: $color-dark!important;}

                    .submit {
                        background-color: $color-golden-rod;
                        color: $color-white;
                        border: 1px solid $color-dark-golden-rod;
                        min-width: 130px;
                        height: $form-fild-height;
                        font-weight: $font-weight-bold;
                        text-transform: $text-transform-upper;
                    }

                    .submit:hover {
                        opacity: 0.8;
                        filter: alpha(opacity=80);
                        -moz-opacity: 0.8;
                        -khtml-opacity: 0.8;
                    }
                }
            }
    }
}





.breadcrumb {
    background-color: $color-transparent;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 15px 0px;
    
    li {
        a {
            font-weight: $font-weight-bold;  
            font-size: 12px;
            color: $color-dark;
        }
    }
}

li.picker-switch.accordion-toggle {
    display: none!important;
}


.footer {
    padding: 55px 0px;
    
    address {
        font-size: 12px;
        line-height: 20px;
        color: $color-dark;
        
        strong {
            font-size: 13px;
            color: $primary-color;
            display: block;
            padding-bottom: 10px;
            font-weight: $font-weight-bold;
            text-transform: $text-transform-upper;
        }
        
        strong>a {
            font-size: 13px;
            color: $primary-color;
            display: block;
            font-weight: $font-weight-bold;
            text-transform: $text-transform-upper;
        }
        
        a {
            font-size: 12px;
            line-height: 20px;
            color: $color-dark;
        }
        
        abbr {
            color: $color-golden-rod;
            text-transform: $text-transform-upper;
            padding-top: 10px;
            display: block;
            border-bottom: none;
        }
        
        abbr>a {
            color: $color-golden-rod;
            text-transform: $text-transform-upper;
            display: block;
            border-bottom: none;
        }
    }
    
    .col-md-4:nth-child(2) {
        padding-left: 85px;
        background-image:   url('../images/icon-3.png');
        background-repeat: no-repeat;
        background-position: 0% 0px;
    }
    .col-md-4:nth-child(3) {
        padding-left: 85px;
        background-image:   url('../images/icon-4.png');
        background-repeat: no-repeat;
        background-position: 0% 0px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-nav > li > a {line-height: 26px!important;}
    
    /*.navbar-nav>li:hover .dropdown-menu {position: absolute!important;}*/
}


@media (max-width: 991px) {
    .navbar .navbar-nav li > a {
        padding: 10px 10px;
    }
    
    .navbar-default .navbar-brand {
        line-height: 80px;
    }
    
    .header-block {
        
        .col-md-12 {
            padding: 0px;
            
            .navbar-default .navbar-brand {
                margin-left: 15px;
            }
            
            .navbar .navbar-toggle {
                margin-right: 15px;
            }
            
            .navbar-nav li .dropdown-menu {
                /*position: relative;*/
                /*width: 100%;*/
            }
            
            .navbar-nav li .dropdown-menu:hover {
                display: block;
            }
            
            .navbar-nav li .dropdown-menu {            
                li a {
                    padding-left: 25px;
                }
            }
        }
        
    }
}



@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: $padding-null;
		padding-bottom: $padding-null;
		line-height: $height-menu-item;
	}
}

@media (max-width: 768px) {
    .header-block .col-md-12 .navbar-nav li .dropdown-menu {width: 100%; }
    
    .text-right-main {text-align: left;}
    
    .footer {
        .col-md-4:nth-child(2), .col-md-4:nth-child(3) {
            padding-left: 100px!important;
            background-position: 3% 0px!important;
        }
    }
}

@media (max-width: 280px) {
    .navbar .navbar-toggle {
        float: none;  
        margin: 0 auto 10px!important;
        display: block;
    }
    
    .navbar-default .navbar-brand {
        line-height: 60px;
    }
    
    .navbar-default .navbar-brand {
        height: 60px;
        display: block;
        float: none;
        text-align: center;
    }
}


