<!--@MasterPageFile(master/master.html)-->
<!--@Layout.Title(Forside)-->
<!--@Layout.Description(Slider top/Nyheder/Spots)-->
<div class="slider-bg">
    <div class="page-width">
        <div id="slideshow" class="dwcontent bxslider" title="Slideshow forside" data-settings="sort:1;template:Designs/Soegaard_Bootstrap_r_s_m/forside/Paragraph/slideshow.html"></div>
    </div>
</div>
<div class="container page-bg">    
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div id="front-activities" class="dwcontent" title="Aktiviteter" settings="sort2;template:Designs/Soegaard_Bootstrap_r_s_m/forside/Paragraph/activities.html"></div>
            </article>
            <div class="row">
                <section class="col-md-6 col-sm-12">
                    <div id="front-news" class="dwcontent" title="Nyheder" settings="sort3;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/BilledTop.html"></div>
                </section>
                <section class="col-md-6 col-sm-12">
                    <div id="front-spots" class="dwcontent row" title="Spots" settings="default:true;sort4;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/spot.html"></div>
                </section>
            </div>
        </div>
    </div>
</div>