<!--@MasterPageFile(master/master.html)-->
<!--@Layout.Title(Underside)-->
<!--@Layout.Description(Venstremenu/højre kolonne)-->
<div class="container page-bg">
    <div class="container">
        <aside class="col-md-3 hidden-xs hidden-sm">
            <nav class="navbar navbar-default navbar-inverse" style="z-index:99;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#leftmenu">
                      <span class="sr-only">Toggle navigation</span>
                      <img src="images/icon_menu.png">
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="leftmenu">
                    <ul id="leftmenu" class="dwnavigation nav nav-pills nav-stacked" settings="startlevel:2;endlevel:5;template:LeftMenu.xslt;expandmode:Path;"></ul>
                    <!--@If Defined(Item.Area.VenstreFastSide_ID)-->
                    <!--@Global:Page.Content(<!--@Item.Area.VenstreFastSide_ID-->)-->
                    <!--@EndIf(Item.Area.VenstreFastSide_ID)-->
                    <!--@Global:Page.Content(199)-->
                </div>
            </nav>
        </aside>
        <aside class="holder col-md-9 col-sm-12">
            <article class="col-md-12 col-sm-12">
                <div id="ContentFull" class="dwcontent" title="Fuld bredde" settings="sort1;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/BilledTop.html">Fuld</div>
            </article>
            <article class="col-md-8 col-sm-12">
                <div id="ContentArea" class="dwcontent" title="Fuld bredde med h&#248;jre kolonne" settings="default:true;sort3;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/BilledTop.html">Med h&#248;jre kolonne</div>
                <div class="col-md-12 share hidden-sm">
                    <!--@Translate(DelSiden, "Del siden", Global)-->
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style">
                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                    </div>
                    <script type="text/javascript">
                        var addthis_config = {
                            "data_track_addressbar": false
                        };
                    </script>
                    <script type="text/javascript" defer="defer" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-510987153624a430"></script>
                    <!-- AddThis Button END -->
                </div>
            </article>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div id="RightColoumn" class="dwcontent" title="H&#248;jre kolonne" settings="sort:4;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/spot.html">H&#248;jre kolonne</div>
                    <div class="RightColoumn">
                        <!--@If Defined(Item.Area.HoejreFastSide_ID)-->
                        <!--@Global:Page.Content(<!--@Item.Area.HoejreFastSide_ID-->)-->
                        <!--@EndIf(Item.Area.HoejreFastSide_ID)-->
                        <!--@Global:Page.Content(198)-->
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-md-12 share hidden-xs hidden-md hidden-lg">
            <!--@Translate(DelSiden, "Del siden", Global)-->
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <script type="text/javascript">
                var addthis_config = {
                    "data_track_addressbar": false
                };
            </script>
            <script type="text/javascript" defer="defer" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-510987153624a430"></script>
            <!-- AddThis Button END -->
        </div>
    </div>
</div>