<!--@MasterPageFile(master/master.html)-->
<!--@Layout.Title(Underside med kort)-->
<!--@Layout.Description(Fuld bredde)-->

<div class="container page-bg">
    <div class="map-heading"><h1>Levendehistorie i landskabet</h1></div>
    <div class="map-filter">
        <div style="float: left;">Hvad er du på udkig efter?</div>
        <div class="see-more-map">
            <span class="active"><a href="javascript: void toggleGroup('venue');" id="venueFilter" title="Vis/skjul alle besøgssteder"><img src="images/icon_venue.png" style="vertical-align: text-top;" alt="Vis/skjul alle besøgssteder">&nbsp; Besøgssteder</a></span>
            <span class="active"><a href="javascript: void toggleGroup('nature');" id="natureFilter" title="Vis/skjul alt natur"><img src="images/icon_nature.png" alt="Vis/skjul alt natur" style="vertical-align: text-top;">&nbsp; Natur</a></span>
            <span class="active"><a href="javascript: void toggleGroup('historic');" id="historicFilter" title="Vis/skjul alle historiske steder"><img src="images/icon_historic.png" alt="Vis/skjul alle historiske steder" style="vertical-align: text-top;">&nbsp; Historisk sted</a></span>
        </div>
    </div>
    <div id="ContentMap" class="dwcontent" title="Kort"></div>
    <div style="position: relative;">
        <div id="map"></div>
        <div id="mapInfoWindow">
            <img src="" height="200" width="298" id="mapInfoWindowImage"/>
            <div id="mapInfoWindowFlag"></div>
            <div id="mapInfoWindowTitle"></div>
            <div id="mapInfoWindowContent"></div>
            <div id="mapInfoWindowClose"><span class="glyphicon glyphicon-remove" title="Luk" aria-hidden="true"></span></div>
        </div>
    </div>
    <script>
            var markerGroups = {
                "venue": [],
                "nature": [],
                "historic": []
            };

            function initMap() {
                var uluru = { lat: 56.018181, lng: 8.479 };
                var json = "/besøgssteder-kort";
                var iconBase = "/Files/Templates/Designs/Soegaard_Bootstrap_r_s_m/images/";

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: uluru,
                    styles: [{"featureType":"administrative","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":"50"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"lightness":"30"}]},{"featureType":"road.local","elementType":"all","stylers":[{"lightness":"40"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]},{"featureType":"water","elementType":"labels","stylers":[{"lightness":-25},{"saturation":-100}]}]
                });

                var markers = [];
                $.getJSON(json, function(json1) {
                    $.each(json1, function (key, data) {
                        var latLng = new google.maps.LatLng(data.lat, data.lng);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: makePin(data.type),
                            vmDefaultIcon: makePin(data.type),
                            animation: google.maps.Animation.DROP,
                            title: data.name,
                            type: data.type
                        });
                        markers.push(marker);

                        if (!markerGroups[data.type]) markerGroups[data.type] = [];
                        markerGroups[data.type].push(marker);

                        var details = "<p>" + data.address1 + "<br>" + data.postalCode + " " + data.city;
                        var addrUrl = data.postalCode + " " + data.city + " " + data.address1;

                        if(data.email ||data.phone) {
                            details += "<br>"
                            if(data.email) {
                                details += "E: <a href=\"mailto: " + data.email + "\">" + data.email + "</a><br>";
                            }
                            if(data.phone) {
                                details += "T: <a href=\"tel: +45 " + data.phone + "\">+45 " + data.phone + "</a>";
                            }
                        }
                        details += "</p>"
                        if(data.url) {
                            details += "<div style=\"margin-top: 20px;\"><div class=\"see-more\" style=\"float: left; width: inherit;\"><span><a href=\"" + data.url + "\" title=\"Mere info om " + data.name + "\">Mere info</a></span></div><div class=\"see-more\" style=\"float: right; width: inherit;\"><span><a href=\"https://maps.google.com?saddr=Current+Location&daddr=" + addrUrl + "\" target=\"_blank\">Rutevejledning</a></span></div></div>";
                        }

                        google.maps.event.addListener(marker, 'click', function () {
                            $.each(markers,function(key,marker){
                                marker.setIcon(marker.vmDefaultIcon);
                            })

                            $("#mapInfoWindowTitle").html(data.name);
                            $("#mapInfoWindowContent").html("<p style=\"max-height: 65px; overflow: hidden;\">" + data.intro + "</p>" + details);
                            $("#mapInfoWindowImage").attr("src", data.img);
                            $("#mapInfoWindow").fadeIn("fast");
                            $("#mapInfoWindowFlag").css("background-image", "url('" + iconBase + "flag_" + data.type + ".png')");

                            marker.setIcon(
                                new google.maps.MarkerImage(iconBase + "pin_" + data.type + "_active.png",
                                        new google.maps.Size(36, 40),
                                        new google.maps.Point(0, 0),
                                        new google.maps.Point(0, 36))
                            );
                        });
                    });
                });

                google.maps.event.addListener(map, 'click', function () {
                    $("#mapInfoWindow").fadeOut("fast");
                });

                $("#mapInfoWindowClose").click(function(){
                    $("#mapInfoWindow").fadeOut("fast");
                });

                function makePin(datatype) {
                    var icon = iconBase + 'pin_' + datatype + '.png';

                    return markerImage = new google.maps.MarkerImage(icon,
                                    new google.maps.Size(36, 40),
                                    new google.maps.Point(0, 0),
                                    new google.maps.Point(0, 36));

                }

            }
            function toggleGroup(type) {
                var visible = new Boolean(true);

                for (var i = 0; i < markerGroups[type].length; i++) {
                    var marker = markerGroups[type][i];
                    if (!marker.getVisible()) {
                        marker.setVisible(true);
                    } else {
                        marker.setVisible(false);
                        visible = false;
                    }
                }
                if(visible) {
                    $("#" + type + "Filter").parent().addClass("active");
                } else {
                    $("#" + type + "Filter").parent().removeClass("active");
                }
            }

            //$(document).ready(function() {
            $(window).load(function() {
                toggleGroup('nature');
                toggleGroup('historic');
            });
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTNWmJV42CBzIecE7bDhArYEPpzDLHeoc&language=da&callback=initMap">
          </script>

    <div class="container">
        <aside class="holder col-md-12 col-sm-12">
            <article class="col-md-12 col-sm-12">
                <div id="ContentFull" class="dwcontent" title="Fuld bredde" settings="sort1;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/BilledTop.html">Fuld</div>
            </article>
        </aside>
        <div class="col-md-12 share hidden-xs hidden-md hidden-lg">
            <!--@Translate(DelSiden, "Del siden", Global)-->
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <script type="text/javascript">
                var addthis_config = {
                    "data_track_addressbar": false
                };
            </script>
            <script type="text/javascript" defer="defer" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-510987153624a430"></script>
            <!-- AddThis Button END -->
        </div>
    </div>
</div>