<!--@MasterPageFile(master/master.html)-->
<!--@Layout.Title(Besøgssted)-->
<!--@Layout.Description(Banner/slider top/Venstremenu/Højre kolonne)-->
<div class="page-width">
    <div class="row section">
        <div class="bxslider" id="section-top">
            <!--@Global:Page.Content(<!--@Item.Area.SlideshowTop.Value-->)-->
        </div>
        <div class="banner-text">
            <div class="container">
                <a href="/Default.aspx?ID=<!--@Global:Page.Top.ID-->">
                    <!--@Item.Area.Bes_gsstedsNavn-->
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container page-bg mobile-page-wrapper">
    <div class="container12">
        <div class="row page-bg">
            <aside class="col-md-3 col-sm-12 xs-nav-secondary">
                <nav class="navbar navbar-default navbar-inverse section-menu">
                    <div class="navbar-header">
                        <div class="page-name hidden-md hidden-lg">
                            <!--@DwTopPageName-->
                        </div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#leftmenu">
                          <span class="sr-only">Toggle navigation</span>
                          <img src="images/arrow_down.png">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="leftmenu">
                        <ul id="leftmenu" class="dwnavigation nav nav-pills nav-stacked section-menu" settings="startlevel:1;endlevel:5;template:LeftMenu.xslt;expandmode:All;"></ul>
                    </div>
                </nav>
                <!--@If Defined(Item.Area.VenstreFastSide_ID)-->
                <div class="hidden-xs hidden-sm">
                    <!--@Global:Page.Content(<!--@Item.Area.VenstreFastSide_ID-->)-->
                </div>
                <!--@EndIf(Item.Area.VenstreFastSide_ID)-->
                <!--@Global:Page.Content(199)-->
            </aside>
            <aside class="col-md-9 col-sm-12">
                <article class="col-md-12 col-sm-12">
                    <div id="ContentFull" class="dwcontent" title="Fuld bredde" settings="sort1;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/BilledTop.html">Fuld</div>
                </article>
                <article class="col-md-8 col-sm-12">
                    <div id="ContentArea" class="dwcontent" title="Fuld bredde med h&#248;jre kolonne" settings="default:true;sort3;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/BilledTop.html">Med h&#248;jre kolonne</div>
                    <div class="col-md-12 share hidden-xs hidden-sm">
                        <!--@Translate(DelSiden, "Del siden", Global)-->
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style">
                            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                        </div>
                        <script type="text/javascript">
                            var addthis_config = {
                                "data_track_addressbar": false
                            };
                        </script>
                        <script type="text/javascript" defer="defer" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-510987153624a430"></script>
                        <!-- AddThis Button END -->
                    </div>
                </article>
                <div class="col-md-4 col-sm-12">
                    <div class="row">
                        <div id="hoejre" class="dwcontent" title="H&#248;jre kolonne" settings="sort:4;template:Designs/Soegaard_Bootstrap_r_s_m/Paragraph/spot.html"></div>
                        <div class="">
                            <!--@If Defined(Item.Area.HoejreFastSide_ID)-->
                            <!--@Global:Page.Content(<!--@Item.Area.HoejreFastSide_ID-->)-->
                            <!--@EndIf(Item.Area.HoejreFastSide_ID)-->
                            <!--@Global:Page.Content(198)-->
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>